﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/master.xhtml">

<ui:define name="title">#{msg['main.title']} - #{msg['user.trans']}</ui:define>


<ui:define name="pageTitle">
	#{msg['user.trans']}
</ui:define>	

<ui:define name="content">

<p:growl id="growl" showDetail="false" globalOnly="false" autoUpdate="true"/>	

<h:form id="transform">
	
	<p:panel id="searchPanel">
	
			<f:facet name="header">
				<h:outputText value="#{msg['trace.SubscriptionHistoryTitle']}" styleClass="tableHeader" />
			</f:facet>
				
		<table style="width: 100%;">

			<tr>		
				<td>#{msg['trans.transDate']} : #{msg['general.from1']}</td>
				<td>
					<p:calendar id="transFrom" value="#{subscriptionHistoryController.searchFrom}" showOn="button" required="true" requiredMessage="#{msg['report.prompt.start_date']}" binding="#{startDate}"/>
				</td>
				<td>#{msg['general.to1']}</td>
				<td>				
					<p:calendar id="transTo" value="#{subscriptionHistoryController.searchTo}"  showOn="button" required="true" requiredMessage="#{msg['report.prompt.end_date']}" validator="SubscriptionPageDateValidator" >
					        <f:attribute name="startDate" value="#{startDate}" />
					</p:calendar>					 
				</td>	
															
			</tr>

			<tr>
				<td>
					#{msg['trace.MSISDN']} 
				</td>
				<td colspan="3">									
					<p:inputText value="#{subscriptionHistoryController.MSISDN}" required="true" requiredMessage="#{msg['report.prompt.phone_number']}" validator="PhoneValidator" />						
				</td>				
			</tr>

			<tr>	
				<td colspan="4" align="left">
				#{msg['trace.search_3_mth_Limit']}
				</td>
			</tr>
									
			<tr>	
				<td colspan="4" align="left">
					<p:commandButton value="#{msg['trace.searchTransactions']}" actionListener="#{subscriptionHistoryController.traceTransactions}" ajax="false" /> 
				</td>
			</tr>
			
		</table>
	</p:panel>


		<h:panelGroup id="dataPanel" layout="block">
		
		<p:dataTable id="SubscriptionHistoryTable" var="SubscriptionHistoryvar" value="#{subscriptionHistoryController.autorenewdeletions}"  styleClass="customHeader" 
				rendered="#{subscriptionHistoryController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="false" rows="50"
				paginatorPosition="bottom"
				sortBy="#{SubscriptionHistoryvar.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['trace.SubscriptionHistoryTitle']}</f:facet>

		 <p:column>
		     <f:facet name="header">#{msg['trace.SubscriptionHistoryActiveBundle']}</f:facet>		     
		    <h:outputText  value="#{SubscriptionHistoryvar.active_bundle}" />
		 </p:column> 
		 		 
		 <p:column>
		     <f:facet name="header">#{msg['trace.SubscriptionHistoryBundleName']}</f:facet>
		    <h:outputText  value="#{SubscriptionHistoryvar.bundle_name}" />
		 </p:column> 									           

		 <p:column>
		     <f:facet name="header">#{msg['trace.SubscriptionHistoryBundleType']}</f:facet>
		    <h:outputText  value="#{SubscriptionHistoryvar.bundle_type}" />
		 </p:column> 									           

		 <p:column>
		     <f:facet name="header">#{msg['trace.SubscriptionHistoryBundleSNCode']}</f:facet>		      
		    <h:outputText  value="#{SubscriptionHistoryvar.bundle_sncode}" />
		 </p:column> 									           
		 
		 <p:column >
		     <f:facet name="header">#{msg['trace.SubscriptionHistoryPurchaseDate']}</f:facet>
		       <h:outputText  value="#{SubscriptionHistoryvar.purchase_date}" />
		 </p:column>
		 
		 <p:column >
		     	<f:facet name="header">#{msg['trace.SubscriptionHistorySubscriptionDate']}</f:facet>		      
		       <h:outputText  value="#{SubscriptionHistoryvar.subscription_date}" />
		 </p:column>

		 <p:column >
		     	<f:facet name="header">#{msg['trace.SubscriptionHistoryUnsubscribeDate']}</f:facet>		      
		       <h:outputText  value="#{SubscriptionHistoryvar.delete_date}" />
		 </p:column>
		 
       <p:column >
             <f:facet name="header">#{msg['trace.SubscriptionHistoryExpiryDate']}</f:facet>
               <h:outputText  value="#{SubscriptionHistoryvar.expiry_date}" />
         </p:column>

       <p:column >
             <f:facet name="header">#{msg['trace.SubscriptionHistoryNextActionDate']}</f:facet>
               <h:outputText  value="#{SubscriptionHistoryvar.next_action_date}" />
         </p:column>
                   
         <p:column >
             <f:facet name="header">#{msg['trace.SubscriptionHistoryAutoRenew']}</f:facet>
               <h:outputText  value="#{SubscriptionHistoryvar.auto_renew}" />
         </p:column>

         <p:column>
             <f:facet name="header">#{msg['trace.SubscriptionHistoryRenewalState']}</f:facet>
               <h:outputText  value="#{SubscriptionHistoryvar.renewal_state}" />
         </p:column>
         
         <p:column>
             <f:facet name="header">#{msg['trace.SubscriptionHistoryProcessingState']}</f:facet>
               <h:outputText  value="#{SubscriptionHistoryvar.processing_state}" />
         </p:column>

         <p:column>
             <f:facet name="header">#{msg['trace.SubscriptionHistoryStatusCode']}</f:facet>
               <h:outputText  value="#{SubscriptionHistoryvar.status_code}" />
         </p:column>
         
         <p:column>
             <f:facet name="header">#{msg['trace.SubscriptionHistoryFreeCount']}</f:facet>
               <h:outputText  value="#{SubscriptionHistoryvar.free_count}" />
         </p:column>                 

		</p:dataTable>				
		
	</h:panelGroup>


<script type="text/javascript">

			PrimeFaces.widget.DataTable.prototype.bindExpansionEvents= function() {			
        var $this = this,
        togglerSelector = '> tr > td > div.ui-row-toggler';   
        this.tbody.off('click.datatable-expansion', togglerSelector)
                    .on('click.datatable-expansion', togglerSelector, null, function() {
                        $this.toggleExpansion($(this));
                    });
    		};
    		
</script>
			
</h:form>

</ui:define>

</ui:composition>
</html>