<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.dateAxisRenderer.js"></script>
<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.cursor.min.js"></script>