<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Smp">
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/" source-path="/WebContent"/>
        <dependent-module archiveName="SnmpProxyEngine.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/SnmpProxyEngine/SnmpProxyEngine">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="console-login-module.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/console-login-module/console-login-module">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/resource/LicenseCommon/LicenseCommon">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module deploy-path="/WEB-INF/lib" handle="module:/resource/Common/Common">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/Smp/build/classes"/>
        <property name="context-root" value="smp"/>
    </wb-module>
</project-modules>
