<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:parts="http://java.sun.com/jsf/composite/parts"
	template="/templates/master.xhtml">

	<ui:define name="title"> 
	#{msg['main.title']} - #{msg['alarm.title']}          
</ui:define>

	<ui:define name="pageTitle">
	#{msg['alarm.title']}
</ui:define>

	<ui:define name="content">
		<style type="text/css">
.expanded_content {
	padding: 0.7em 0.7em 0.7em 0.7em;
}

.detail_grid {
	min-width: 90%;
}

th.light-color {
	background: #97AC8F !important;
}

.ui-datatable .ui-state-highlight {
	color: blue;
}

.ui-datatable .ui-state-hover {
	background: transparent;
	color: blue;
}
</style>

		<h:form id="alarmForm">
			<p:growl id="growl" globalOnly="false" autoUpdate="true" />

			<h:panelGroup id="pollers">
				<p:poll id="poller"
					autoStart="#{!alarmManagementController.stopPoll}"
					stop="#{alarmManagementController.stopPoll}"
					update=":alarmForm:pnlAlarm"
					interval="#{alarmManagementController.pollInterval}" />
			</h:panelGroup>

			<p:panel id="pnlBrowse">
				<f:facet name="header">
					<h:outputText value="#{msg['alarm.title']} > #{msg['general.summary']}" />
				</f:facet>
				<parts:entitySelector />
			</p:panel>

			<p:layout style="height:750px; margin-right: 2px;" id="layout">
				<p:layoutUnit position="west" collapsible="true"
					header="#{msg['alarm.search.option.title']}"
					styleClass="transparent">

					<p:panel id="pnlSearchOption">
						<p:panel>
							<p:panelGrid columns="2" style="width: 100%">
								<f:facet name="header">  
					        	#{msg['alarm.header.firstOccurred']}
					    	</f:facet>

								<h:outputLabel value="#{msg['general.from']}" />
								<p:calendar
									value="#{alarmManagementController.firstOccurredFrom}"
									pattern="#{sessionBean.webDateFormat}">
								</p:calendar>
								<h:outputLabel value="#{msg['general.to']}" />
								<p:calendar value="#{alarmManagementController.firstOccurredTo}"
									pattern="#{sessionBean.webDateFormat}">
								</p:calendar>
							</p:panelGrid>

							<p:panelGrid columns="2" style="width: 100%">
								<f:facet name="header">  
					        	#{msg['alarm.header.lastOccurred']}
					    	</f:facet>

								<h:outputLabel value="#{msg['general.from']}" />
								<p:calendar
									value="#{alarmManagementController.lastOccurredFrom}"
									pattern="#{sessionBean.webDateFormat}">
								</p:calendar>
								<h:outputLabel value="#{msg['general.to']}" />
								<p:calendar value="#{alarmManagementController.lastOccurredTo}"
									pattern="#{sessionBean.webDateFormat}">
								</p:calendar>
							</p:panelGrid>

							<p:panelGrid columns="2" style="width: 100%">
								<f:facet name="header">  
					        	#{msg['alarm.header.resolved']}
					    	</f:facet>

								<h:outputLabel value="#{msg['general.from']}" />
								<p:calendar value="#{alarmManagementController.resolvedFrom}"
									pattern="#{sessionBean.webDateFormat}">
								</p:calendar>
								<h:outputLabel value="#{msg['general.to']}" />
								<p:calendar value="#{alarmManagementController.resolvedTo}"
									pattern="#{sessionBean.webDateFormat}">
								</p:calendar>
							</p:panelGrid>

							<p:panel style="width: 46%; float: left;">
								<f:facet name="header">
									<div style="text-align: center;">#{msg['alarm.status']}</div>
								</f:facet>
								<p:selectManyCheckbox
									value="#{alarmManagementController.statusFilters}"
									layout="pageDirection">
									<f:selectItems value="#{alarmManagementController.statusList}"
										var="alarmStatus" itemLabel="#{alarmStatus.name}"
										itemValue="#{alarmStatus.name}" />
								</p:selectManyCheckbox>
							</p:panel>

							<p:panel style="width: 46%; float: right;">
								<f:facet name="header">
									<div style="text-align: center;">#{msg['alarm.header.alarmlevel']}</div>
								</f:facet>
								<p:selectManyCheckbox
									value="#{alarmManagementController.levelFilters}"
									layout="pageDirection">
									<f:selectItems
										value="#{alarmManagementController.warningLevelList}" />
								</p:selectManyCheckbox>
							</p:panel>

							<div style="clear: both"></div>

							<f:facet name="footer">
								<p:commandButton type="submit" value="#{msg['general.search']}"
									icon="ui-icon-check" style="margin:0"
									action="#{alarmManagementController.search}"
									process="pnlBrowse" update="tblAlarm" />
								<p:commandButton type="submit" value="#{msg['general.reset']}"
									icon="ui-icon-arrowrefresh-1-s"
									style="margin:0 position:absolute right:0px"
									action="alarmMgmt?faces-redirect=true" />
							</f:facet>
						</p:panel>
					</p:panel>
				</p:layoutUnit>

				<p:layoutUnit position="center" styleClass="transparent">
					<p:panel id="pnlAlarm">

						<f:facet name="header">
							<h:outputText value="#{msg['alarm.records']}" />

							<div style="float: right;">
								<h:panelGroup id="pollswitches">
									<p:commandButton
										style="float:right;height:22px;margin-left:2px;" id="startBtn"
										update="@form" icon="ui-icon-play"
										action="#{alarmManagementController.setStopPoll(false)}"
										rendered="#{alarmManagementController.stopPoll}" />
									<p:commandButton
										style="float:right;height:22px;margin-left:2px;" id="stopBtn"
										update="@form" icon="ui-icon-pause"
										action="#{alarmManagementController.setStopPoll(true)}"
										rendered="#{!alarmManagementController.stopPoll}" />
								</h:panelGroup>
								<p:selectOneMenu
									style="float:right; margin-left:2px;"
									value="#{alarmManagementController.pollInterval}">
									<p:ajax update="@form" />
									<f:selectItem itemLabel="5s" itemValue="5" />
									<f:selectItem itemLabel="10s" itemValue="10" />
									<f:selectItem itemLabel="30s" itemValue="30" />
									<f:selectItem itemLabel="60s" itemValue="60" />
								</p:selectOneMenu>
							</div>

							<div style="float: right; margin-left: 2px; margin-right: 2px;">
								<p:commandButton id="downloadLink"
									style="width:25px;height:22px;"
									title="#{msg['alarm.header.downAsXls']}" ajax="false"
									icon="ui-icon-arrowthick-1-s">
									<p:fileDownload value="#{alarmManagementController.file}" />
								</p:commandButton>
							</div>

							<div style="float: right; margin-right:2px;">
								<p:selectOneMenu id="selectionStatus_id"
									value="#{alarmManagementController.status}"
									rendered="#{UserBean.accessLevel=='WRITE'}">
									<f:selectItems value="#{alarmManagementController.statusList}"
										var="alarmStatus" itemLabel="#{alarmStatus.name}"
										itemValue="#{alarmStatus.name}" />
								</p:selectOneMenu>
								<p:commandButton value="" icon="ui-icon ui-icon-pencil"
									title="#{msg['alarm.header.changeStatus']}"
									style="width:25px; height:22px; margin-left:2px; vertical-align:top;"
									action="#{alarmManagementController.editStatus}"
									process="@this, tblAlarm, selectionStatus_id" update="tblAlarm"
									rendered="#{UserBean.accessLevel=='WRITE'}" />
							</div>

						</f:facet>

						<p:dataTable id="tblAlarm" widgetVar="alarmTable"
							sortBy="#{entity.lastOccurred}" sortOrder="DESCENDING"
							value="#{alarmManagementController.lazyDataModel}" var="entity"
							emptyMessage="#{msg['alarm.empty.record']}" paginator="true"
							rows="#{alarmManagementController.rowNumber}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="20,50,100" draggableColumns="false"
							lazy="true" editable="false" paginatorAlwaysVisible="false"
							selection="#{alarmManagementController.selectedAlarms}">
							<p:ajax event="rowEdit"
								listener="#{alarmManagementController.onEdit}"
								update=":alarmForm:growl" />

							<p:column selectionMode="multiple" styleClass="alarm-white"
								style="width:18px" exportable="false" />
							<p:column headerText="#{msg['alarm.status']}"
								styleClass="alarm-white" sortBy="#{entity.status}"
								filterBy="#{entity.status}"
								filterOptions="#{alarmManagementController.statusSelectItems}"
								style="width:42px">
								<h:outputText value="#{entity.status}"
									styleClass="#{alarmManagementController.getStatusColor(entity.status)}" />
							</p:column>
							<p:column sortBy="#{entity.lastOccurred}"
								styleClass="alarm-white">
								<f:facet name="header">#{msg['alarm.header.when']}</f:facet>
								<h:outputText value="#{entity.lastOccurred}">
									<f:convertDateTime pattern="#{sessionBean.webDateFormat}" />
								</h:outputText>
							</p:column>
							<p:column styleClass="alarm-white" filterBy="#{entity.ownerId}">
								<f:facet name="header">#{msg['alarm.header.owner']}</f:facet>
								<h:outputText value="#{entity.ownerId}" />
							</p:column>
							<p:column filterBy="#{entity.source}" styleClass="alarm-white">
								<f:facet name="header">#{msg['alarm.header.source']}</f:facet>
								<h:outputText value="#{entity.displayableSource}" />
							</p:column>
							<p:column sortBy="#{entity.level}">
								<f:facet name="header">#{msg['alarm.header.severity']}</f:facet>
								<h:outputText value="#{entity.level}"
									styleClass="#{alarmManagementController.getStatusColor(entity.status)}" />
							</p:column>
							<p:column filterBy="#{entity.name}" styleClass="alarm-white"
								sortBy="#{entity.name}">
								<f:facet name="header">#{msg['alarm.code']}</f:facet>
								<h:outputText value="#{entity.name}" />
							</p:column>
							<p:column sortBy="#{entity.occurrence}" styleClass="alarm-white"
								style="white-space:nowrap">
								<f:facet name="header">#{msg['alarm.header.occurrence']}</f:facet>
								<h:outputText value="#{entity.occurrence}" />
							</p:column>
							<p:column styleClass="alarm-white" style="width:57px"
								exportable="false">
								<f:facet name="header">#{msg['alarm.header.details']}</f:facet>
								<p:rowToggler />
							</p:column>

							<p:rowExpansion style="background-color:white;">
								<h:panelGrid columns="2">
									<h:outputText value="#{msg['alarm.header.cause']}" />
									<h:outputText value="#{entity.cause}" />
									<h:outputText value="#{msg['alarm.header.desc']}" />
									<h:outputText value="#{entity.description}" />
									<h:outputText value="#{msg['alarm.header.firstOccurred']}" />
									<h:outputText value="#{entity.firstOccurred}">
										<f:convertDateTime pattern="#{sessionBean.webDateFormat}" />
									</h:outputText>
									<h:outputText value="#{msg['alarm.header.resolver']}" />
									<h:outputText value="#{entity.resolverId}" />
									<h:outputText value="#{msg['alarm.header.resolved']}" />
									<h:outputText value="#{entity.getResolved()}">
										<f:convertDateTime pattern="#{sessionBean.webDateFormat}" />
									</h:outputText>
								</h:panelGrid>
							</p:rowExpansion>
						</p:dataTable>
					</p:panel>
				</p:layoutUnit>
			</p:layout>
		</h:form>
	</ui:define>
</ui:composition>