<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"	
	template="/templates/master.xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['appkpi.title']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msg['appkpi.title']}
	</ui:define>

	<ui:define name="content">	
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.dateAxisRenderer.js"></script>
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
		
		<style type="text/css">			
			.col1-class {
				width:140px;
			}
			.col2-class {
				width:190px;
			}
			.expanded_content {
				padding: 0.7em 0.7em 0.7em 0.7em;
			}
			th.twoedit {
				width: 53px;
			}
			th.light-color {
				background: #97AC8F !important;
			}
			.checkbox_grid {
				vertical-align:top;
				width:200px;
			}
		</style>	
		<h:form id="mainForm">
			<p:growl id="growl" showDetail="true" globalOnly="false" autoUpdate="true"/>	
	    	<p:outputPanel id="pnl_holder"> 	
		    	<p:panel id="detail_pnl" header="#{msg['appstat.pnl.header']}">
		    		<p:panelGrid columns="2">
		    			<ui:remove>		    			  	
				    	<p:outputLabel for="template_name" value="#{msg['general.title']}"/>
				    	<p:inputText id="template_name" value="#{historicalStatisticsViewer.template.name}" required="true">
				    		<p:ajax update=":mainForm:graph_holder" />
				    	</p:inputText>
				    	</ui:remove>				    	
				    	<p:outputLabel for="template_vlabel" value="#{msg['template.vlabel']}"/>
				    	<p:inputText id="template_vlabel" value="#{historicalStatisticsViewer.template.verticalLabel}" required="true">
				    		<p:ajax update=":mainForm:graph_holder" />
				    	</p:inputText>	
				    	<p:outputLabel for="template_from" value="#{msg['general.from']}"/>  
					    <p:calendar id="template_from" value="#{historicalStatisticsViewer.from}" pattern="#{sessionBean.webDateFormat}" showButtonPanel="true" required="true">
					    	<p:ajax update=":mainForm:graph_holder" />
					    </p:calendar>
			            <p:outputLabel for="template_to" value="#{msg['general.to']}"/>  
					    <p:calendar id="template_to" value="#{historicalStatisticsViewer.to}" pattern="#{sessionBean.webDateFormat}" showButtonPanel="true" required="true">
		           			<p:ajax update=":mainForm:graph_holder" />
		           		</p:calendar>			    		
				    </p:panelGrid>
				    <p/>
				    <p:outputPanel id="checkbox_holder">
			 			<h:panelGrid columns="3" columnClasses="checkbox_grid,checkbox_grid,checkbox_grid">
			 				<p:panel header="#{msg['rrd.def']}">
			 					<p:selectManyMenu showCheckbox="true" value="#{historicalStatisticsViewer.selectedDef}"  rendered="#{! empty historicalStatisticsViewer.defList}" style="width:250px"
						            layout="pageDirection">  
						            <f:selectItems value="#{historicalStatisticsViewer.defList}" />
						            <p:ajax update="checkbox_holder" />  
						        </p:selectManyMenu>
			 				</p:panel>
			 				<p:panel header="#{msg['rrd.ds']}" >
			 					<h:outputText value="#{msg['template.selectDefPrompt']}" rendered="#{empty historicalStatisticsViewer.dsList}"/>
			 					<p:selectManyMenu showCheckbox="true" value="#{historicalStatisticsViewer.selectedDs}"  rendered="#{! empty historicalStatisticsViewer.dsList}" style="width:280px"
						            layout="pageDirection">  
						            <f:selectItems value="#{historicalStatisticsViewer.dsList}" />
						            <p:ajax />  
						        </p:selectManyMenu>				 				
			 				</p:panel>
			 				<p:panel header="#{msg['rrd.archive']}" >
			 					<h:outputText value="#{msg['template.selectDefPrompt']}" rendered="#{empty historicalStatisticsViewer.archiveList}"/>
			 					<p:selectManyMenu showCheckbox="true" value="#{historicalStatisticsViewer.selectedArchive}"  rendered="#{! empty historicalStatisticsViewer.archiveList}" style="width:300px"
						            layout="pageDirection">  
						            <f:selectItems value="#{historicalStatisticsViewer.archiveList}" />
						            <p:ajax />  
						        </p:selectManyMenu>
			 				</p:panel>					        
			 			</h:panelGrid>			 		
			 		</p:outputPanel>			 		
					<p:commandButton id="previewBtn" icon="ui-icon-search"
						value="#{msg['template.preview']}" onclick="submit" action="#{historicalStatisticsViewer.preview()}"
						process="@this, detail_pnl"
						update="detail_pnl, graph_holder, export_btn_id" />
					<p:commandButton id="export_btn_id" icon="ui-icon-extlink" onclick="exportChart()" value="#{msg['statistics.viewAsPng']}"
					disabled="#{! historicalStatisticsViewer.showGraph}"/>	
					<p:outputPanel id="graph_holder">
						<h:outputText value="#{msg['template.data.unavailable']}" rendered="#{historicalStatisticsViewer.showGraph and historicalStatisticsViewer.graph.series.size()==0}" />
						
						<p:lineChart id="custom_graph"
							value="#{historicalStatisticsViewer.graph}" legendPosition="e"
							title="#{msg['template.customView']}" style="height:300px; width:80%" extender="#{historicalStatisticsViewer.template.extender}" showMarkers="false" shadow="false" zoom="true"
							widgetVar="custom_graph_wv"
							rendered="#{historicalStatisticsViewer.showGraph and historicalStatisticsViewer.graph.series.size()>0}">
						</p:lineChart>
						<ui:include src="/resources/scripts/customChart.xhtml">
							<ui:param name="title" value="#{msg['template.customView']}"/>
							<ui:param name="extender" value="#{historicalStatisticsViewer.template.extender}"/>
							<ui:param name="start" value="#{historicalStatisticsViewer.start}"/>
							<ui:param name="vLabel" value="#{historicalStatisticsViewer.template.verticalLabel}"/>
						</ui:include>
						<script type="text/javascript">						
						function exportChart() {  
						    //export image  
						    // var j = jQuery.noConflict();
						    $('#mainForm\\:chart_output').append(custom_graph_wv.exportAsImage());  
						   //  image_export_dlg.initPosition();
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>						
					</p:outputPanel>
					<p:dialog widgetVar="image_export_dlg" showEffect="fade" hideEffect="fade" header="#{msg['statistics.viewAsPng']}">  
					     <p:outputPanel id="chart_output" layout="block" style="height:320px; width:1200px;" /> 
					</p:dialog>														
				</p:panel>			   
			</p:outputPanel> 				 			
		</h:form>
	</ui:define>
</ui:composition>