<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:parts="http://java.sun.com/jsf/composite/parts"
	template="/templates/master.xhtml">

	<ui:define name="title"> 
	#{msg['main.title']} - #{msg['history.title']}          
</ui:define>

	<ui:define name="pageTitle">
	#{msg['history.title']}
</ui:define>

	<ui:define name="content">
		<style type="text/css">
.expanded_content {
	padding: 0.7em 0.7em 0.7em 0.7em;
}

.detail_grid {
	min-width: 90%;
}

th.light-color {
	background: #97AC8F !important;
}

.ui-datatable .ui-state-highlight {
	color: blue;
}

.ui-datatable .ui-state-hover {
	background: transparent;
	color: blue;
}
</style>

		<h:form id="historyForm">
			<p:growl id="growl" globalOnly="false" />

			<p:panel>
				<f:facet name="header">
					<h:outputText
						value="#{msg['alarm.title']} > #{msg['general.summary']}" />
				</f:facet>
				<parts:entitySelector />
			</p:panel>

			<p:layout style="height:750px;margin-right: 2px;" id="layout">
				<p:layoutUnit position="west" collapsible="true"
					header="#{msg['history.search.title']}" styleClass="transparent">

					<p:panel id="pnlSearchOption">
						<p:panel>
							<p:panelGrid columns="2" style="width: 100%">
								<f:facet name="header">  
					        	#{msg['history.header.time']}
					    	</f:facet>

								<h:outputLabel value="#{msg['general.from']}" />
								<p:calendar value="#{historyController.searchFrom}"
									pattern="#{sessionBean.webDateFormat}">
								</p:calendar>
								<h:outputLabel value="#{msg['general.to']}" />
								<p:calendar value="#{historyController.searchTo}"
									pattern="#{sessionBean.webDateFormat}">
								</p:calendar>
							</p:panelGrid>

							<p:panel style="width: 100%; float: right;">
								<f:facet name="header">
									<div style="text-align: center;">#{msg['alarm.header.alarmlevel']}</div>
								</f:facet>
								<p:selectManyCheckbox value="#{historyController.levelFilters}"
									layout="pageDirection">
									<f:selectItems value="#{historyController.warningLevelList}" />
								</p:selectManyCheckbox>
							</p:panel>

							<div style="clear: both"></div>

							<f:facet name="footer">
								<p:commandButton type="submit" value="#{msg['general.search']}"
									icon="ui-icon-check" style="margin:0"
									action="#{historyController.search}" process="pnlSearchOption"
									update="tvData" />
								<p:commandButton type="submit" value="#{msg['general.reset']}"
									icon="ui-icon-arrowrefresh-1-s"
									style="margin:0 position:absolute right:0px"
									action="history?faces-redirect=true" />
							</f:facet>
						</p:panel>
					</p:panel>
				</p:layoutUnit>

				<p:layoutUnit position="center" header="#{msg['history.title']}"
					styleClass="transparent" size="2000px">
					<p:panel>
						<p:tabView id="tvData" dynamic="true"
							activeIndex="#{historyController.activeTab}">

							<p:tab id="tabEvtLog" title="#{msg['history.eventLog']}">
								<p:dataTable id="tbEvtLog" widgetVar="eventTable"
									sortBy="#{entity.eventTime}" sortOrder="DESCENDING"
									value="#{historyController.eventDataModel}" var="entity"
									emptyMessage="#{msg['general.nodata']}"
									rowStyleClass="#{historyController.getRowStyleClass(entity)}"
									rows="#{historyController.numRows}" paginator="true"
									rowsPerPageTemplate="20,50,100" draggableColumns="false"
									lazy="true" paginatorAlwaysVisible="false"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
									<ui:remove>
										<f:facet name="header">
											<p:commandButton value="export" process="@this"
												style="float:left" ajax="false">
												<p:dataExporter type="csv" target="tbEvtLog" fileName="cars" />
											</p:commandButton>
										</f:facet>
									</ui:remove>
									<p:column headerText="#{msg['history.eventLog.name']}"
										sortBy="#{entity.eventName}" filterBy="#{entity.eventName}"
										styleClass="alarm-white" style="white-space:nowrap">
										<h:outputText value="#{entity.eventName}" />
									</p:column>
									<p:column headerText="#{msg['history.header.severity']}"
										sortBy="#{entity.level}" filterBy="#{entity.level}">
										<h:outputText value="#{entity.level}" />
									</p:column>
									<p:column headerText="#{msg['history.header.source']}"
										filterBy="#{entity.source}" styleClass="alarm-white"
										style="white-space:nowrap">
										<h:outputText value="#{entity.displayableSource}" />
									</p:column>
									<p:column headerText="#{msg['history.header.time']}"
										sortBy="#{entity.eventTime}" styleClass="alarm-white"
										style="white-space:nowrap">
										<h:outputText value="#{entity.eventTime}">
											<f:convertDateTime pattern="#{sessionBean.webDateFormat}" />
										</h:outputText>
									</p:column>
									<p:column headerText="#{msg['history.header.details']}"
										styleClass="alarm-white">
										<h:outputText value="#{entity.details}" />
									</p:column>
								</p:dataTable>
							</p:tab>

							<p:tab id="tabTrap" title="#{msg['history.snmpTrap']}">
								<p:dataTable id="tbTrap" widgetVar="trapTable"
									sortBy="#{entity.time}" sortOrder="DESCENDING"
									value="#{historyController.trapDataModel}" var="entity"
									emptyMessage="#{msg['general.nodata']}"
									rowStyleClass="#{historyController.getRowStyleClass(entity)}"
									rows="#{historyController.numRows}" paginator="true"
									rowsPerPageTemplate="20,50,100" draggableColumns="false"
									lazy="true"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
									<ui:remove>
										<f:facet name="header">
											<p:commandButton value="export" process="@this"
												style="float:left" ajax="false">
												<p:dataExporter type="csv" target="tbTrap" fileName="cars" />
											</p:commandButton>
										</f:facet>
									</ui:remove>
									<p:column styleClass="alarm-white" style="width:23px">
										<p:rowToggler rendered="true" />
									</p:column>
									<p:column sortBy="#{entity.time}" styleClass="alarm-white"
										style="white-space:nowrap">
										<f:facet name="header">#{msg['alarm.header.time']}</f:facet>
										<h:outputText value="#{entity.time}">
											<f:convertDateTime pattern="#{sessionBean.webDateFormat}" />
										</h:outputText>
									</p:column>
									<p:column filterBy="#{entity.source}" styleClass="alarm-white">
										<f:facet name="header">#{msg['alarm.header.source']}</f:facet>
										<h:outputText value="#{entity.displayableSource}" />
									</p:column>
									<p:column sortBy="#{entity.trapAlarmLevel}"
										filterBy="#{entity.trapAlarmLevel}">
										<f:facet name="header">#{msg['alarm.header.alarmlevel']}</f:facet>
										<h:outputText value="#{entity.trapAlarmLevel}" />
									</p:column>
									<!--<p:column styleClass="alarm-white">
								<f:facet name="header">#{msg['alarm.header.alarmid']}</f:facet>
								<h:outputText value="#{entity.trapAlarmId}" />
							</p:column> -->
									<p:column sortBy="#{entity.direction}"
										filterBy="#{entity.direction}"
										filterOptions="#{historyController.directionOptions}"
										styleClass="alarm-white">
										<f:facet name="header">#{msg['alarm.header.direction']}</f:facet>
										<h:outputText value="#{entity.direction}" />
									</p:column>
									<p:column filterBy="#{entity.trapName}"
										styleClass="alarm-white">
										<f:facet name="header">#{msg['alarm.header.trapname']}</f:facet>
										<h:outputText id="trapName" value="#{entity.trapName}" />
										<p:tooltip for="trapName" value="#{entity.oid}">
											<p:panelGrid columns="2">
												<h:outputLabel value="#{msg['oid.dlg.oid']}" />
												<h:outputText value="#{entity.oid}" />
												<h:outputLabel value="#{msg['general.desc']}" />
												<h:outputText value="#{entity.trapDescription}" />
											</p:panelGrid>
										</p:tooltip>
									</p:column>
									<p:column filterBy="#{entity.trapAppName}"
										styleClass="alarm-white">
										<f:facet name="header">#{msg['alarm.header.appname']}</f:facet>
										<h:outputText value="#{entity.trapAppName}" />
									</p:column>
									<p:column styleClass="alarm-white">
										<f:facet name="header">#{msg['alarm.header.alarmdesc']}</f:facet>
										<h:outputText value="#{entity.alarmDescription}" />
									</p:column>
									<p:rowExpansion style="background-color:white;">
										<p:dataTable styleClass="expanded_content" id="variableTbl"
											value="#{entity.listVariables}" var="variable">
											<p:column styleClass="light-color">
												<f:facet name="header">#{msg['alarm.header.originalOid']}</f:facet>
												<h:outputText value="#{variable.oid}" />
											</p:column>
											<p:column styleClass="light-color">
												<f:facet name="header">#{msg['alarm.header.mappedTrapName']}</f:facet>
												<h:outputText value="#{variable.mappedOid}" />
											</p:column>
											<p:column styleClass="light-color">
												<f:facet name="header">#{msg['alarm.header.value']}</f:facet>
												<h:outputText value="#{variable.value}" />
											</p:column>
										</p:dataTable>
									</p:rowExpansion>

								</p:dataTable>
							</p:tab>
						</p:tabView>
					</p:panel>
				</p:layoutUnit>
			</p:layout>
		</h:form>
	</ui:define>
</ui:composition>