<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/master.xhtml">

	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['live.title']}          
 	</ui:define>

	<ui:define name="pageTitle">
		#{msg['live.title']}
	</ui:define>	
  
	<f:metadata>
		<f:viewParam name="selectedSystem" value="#{liveChartController.selectedSystem}" />
		<f:viewParam name="selectedHost" value="#{liveChartController.selectedHost}" />
	</f:metadata>

	<ui:define name="content">
	  	<style type="text/css">
	  		.ui-dashboard-column {
	  			width:48%;
	  			float: left;
				padding: 5px 1% 50px 1%;
	  		}
			.text-red {
				color: red;
			}
			.text-green {
				color: green;
			}
			.text-orange {
				color: orange;
			}	
			.align-center {
				margin-left:auto;
				margin-right:auto;
			}
	  	</style>
	  	
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.dateAxisRenderer.js"></script>
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
		<h:form id="mainForm" >
  			<p:growl id="growl" redisplay="false" autoUpdate="true" for="alerts"/>

 			<p:poll interval="#{liveChartController.pollInterval}" listener="#{liveChartController.onPoll}" update=":mainForm:cpu, :mainForm:memory, :mainForm:inet, :mainForm:disk" />
  	
			<p:dashboard model="#{liveChartController.model}">
				<p:panel id="cpu" header="#{msg['live.cpu.chart.header']}" rendered="#{liveChartController.displayCpu()}" style="overflow:hidden;">	
					<p:lineChart id="cpu_linear" value="#{liveChartController.cpuLinearModel}" legendPosition="e"
						title="#{liveChartController.cpuChartName}" style="height:300px;" extender="ext_cpu" showMarkers="false"
						rendered="#{liveChartController.cpuLinearModel.series.size()>0}"
						minY="0" maxY="100" shadow="false"/>
												
					<script type="text/javascript">
					   function ext_cpu() {
					      this.cfg.axes = {
					          xaxis:{
					        	  	label:'Time',
					        	  	renderer:$.jqplot.DateAxisRenderer,
					   				min: #{liveChartController.cpuStart},
					        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
					                tickOptions:{ formatString:'%X', fontSize:'8pt' }
					         	},	
					         	yaxis:{
					        	  	label:'Percentage (%)',
					        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
					        	  	min : 0
					         	}
					      };
					      this.cfg.seriesDefaults = {						          
						          lineWidth: 1, // Width of the line in pixels.
						          shadow: false,   // show shadow or not.
						  };
					   }
					</script>
					
					<p/>
										
					<p:dataTable value="#{liveChartController.currentCpuData}" var="data">
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['live.cpu.datatable.subject.header']}" />
							</f:facet>
							<h:outputText value="#{data.subject}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['live.cpu.datatable.time.header']}" />
							</f:facet>
							<h:outputText value="#{data.timestamp}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['live.cpu.datatable.data.header']}" />
							</f:facet>
							<h:outputText value="#{data.value}" >
								<f:convertNumber maxFractionDigits="3" />
							</h:outputText>	
						</p:column>
					</p:dataTable>
				</p:panel>
				
				<p:panel id="memory" header="#{msg['live.memory.chart.header']}" rendered="#{liveChartController.displayMem()}" style="overflow:hidden;">
					<p:lineChart id="memory_linear" value="#{liveChartController.memoryLinearModel}" legendPosition="e"
						title="#{liveChartController.cpuChartName}" style="height:300px;" extender="ext_memory" showMarkers="false"
						rendered="#{liveChartController.memoryLinearModel.series.size()>0}"
						minY="0" maxY="100" shadow="false"/>
					
					<script type="text/javascript">
					   function ext_memory() {
					      this.cfg.axes = {
					          xaxis:{
					        	    label:'Time',
					        	  	renderer:$.jqplot.DateAxisRenderer,
					   				min: #{liveChartController.memoryStart},
					        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
					                tickOptions:{ formatString:'%X', fontSize:'8pt' }
					         	},	
					         	yaxis:{
					        	  	label:'Percentage (%)',
					        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
					        	  	min : 0
					         	}
					      }; 
					      this.cfg.seriesDefaults = {						          
						          lineWidth: 1, // Width of the line in pixels.
						          shadow: false,   // show shadow or not.
						  };
					   }
					</script>
					
					<p/>
					
					<p:dataTable value="#{liveChartController.currentMemData}" var="data">
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['live.memory.datatable.subject.header']}" />
							</f:facet>
							<h:outputText value="#{data.subject}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['live.memory.datatable.time.header']}" />
							</f:facet>
							<h:outputText value="#{data.timestamp}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['live.memory.datatable.data.header']}" />
							</f:facet>
							<h:outputText value="#{data.value}" >
								<f:convertNumber maxFractionDigits="3" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</p:panel>
				<p:panel id="inet" header="#{msg['live.inet.performance']}" rendered="#{liveChartController.displayInet()}">					
					<p:dataTable value="#{liveChartController.currentInetData}" var="inc">
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['inet.category']}" />
							</f:facet>
							<h:outputText value="#{inc.getInetCategory(liveChartController.host).name}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['inet.displayedName']}" />
							</f:facet>
							<h:outputText value="#{inc.getDisplayName(liveChartController.host)}" />
						</p:column>						
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['live.inet.traffic.in']}" />
							</f:facet>
							<h:outputText value="#{inc.inOctet}">
								<f:convertNumber maxFractionDigits="3" groupingUsed="false" />
							</h:outputText>
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['live.inet.traffic.out']}" />
							</f:facet>
							<h:outputText value="#{inc.outOctet}">
								<f:convertNumber maxFractionDigits="3" groupingUsed="false" />
							</h:outputText>
						</p:column>
						<p:column styleClass="#{liveChartController.getStatusCssClass(inc.statusText)}, align-center">
							<f:facet name="header">
								<h:outputText value="#{msg['system.status']}" />
							</f:facet>
							<h:graphicImage library="images" name="greenball.png" rendered="#{inc.status=='0'}" styleClass="align-center"/>
							<h:graphicImage library="images" name="redball.png" rendered="#{inc.status!='0'}" styleClass="align-center"/>							
						</p:column>
					</p:dataTable>
				</p:panel>
				<p:panel id="disk" header="#{msg['live.disk.usage']}" rendered="#{liveChartController.displayDisk()}">					
					<p:dataTable value="#{liveChartController.currentDiskData}" var="data">
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['live.disk.fs']}" />
							</f:facet>
							<h:outputText value="#{data.fs}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['live.disk.mount']}" />
							</f:facet>
							<h:outputText value="#{data.mount}" />
						</p:column>
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['live.disk.used']}" />
							</f:facet>
							<h:outputText value="#{data.use}" />
						</p:column>						
					</p:dataTable>
				</p:panel>
			</p:dashboard>
				
		</h:form>
	</ui:define>

</ui:composition>