<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"	
	template="/templates/master.xhtml">
	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['statistics.title']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msg['statistics.title']}
	</ui:define>

	<ui:define name="content">
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.dateAxisRenderer.js"></script>
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
		<script>
			$ = jQuery;
		</script>
		
		
		<h:form id="mainForm">			
			<p:layout style="height:750px;margin-right: 2px;" id="layout">				
				<p:layoutUnit position="west" collapsible="true"
					header="#{msg['history.search.option.title']}"
					styleClass="transparent">					
					<p:panel id="pnlBrowse">
						<p:treeTable id="tblSys" widgetVar="systemTable"
							value="#{statisticsViewer.entityRoot}" var="entity"
							selectionMode="multiple"
							selection="#{statisticsViewer.selectedNodes}">
							<p:ajax event="select"
								listener="#{statisticsViewer.onEntitySelect}"
								update=":mainForm:panel_holder" process="@this, @parent" />
							<p:column>
								<f:facet name="header">#{msg['entityselector.name']}</f:facet>
								<h:outputText value="#{entity.name}" />
							</p:column>
							<p:column>
								<f:facet name="header">#{msg['entityselector.type']}</f:facet>
								<h:outputText value="#{entity.entityType}" />
							</p:column>
						</p:treeTable>
						<p:separator id="separator" />
						<p:panelGrid columns="2" style="width: 100%"
							id="calendar_input_grid">
							<f:facet name="header">#{msg['history.search.title']}</f:facet>
							<h:outputText value="#{msg['general.from']}" />
							<p:calendar id="calendar_from" value="#{statisticsViewer.searchFrom}"
								pattern="yyyy/MM/dd HH:mm:ss">
								<p:ajax event="dateSelect" update=":mainForm:panel_holder" process="@this, calendar_from" listener="#{statisticsViewer.onDateSelect}" />
							</p:calendar>
							<h:outputText value="#{msg['general.to']}" />
							<p:calendar id="calendar_to" value="#{statisticsViewer.searchTo}"
								pattern="yyyy/MM/dd HH:mm:ss">
								<p:ajax event="dateSelect" update=":mainForm:panel_holder" process="@this, calendar_to" listener="#{statisticsViewer.onDateSelect}" />
							</p:calendar>
							<f:facet name="footer">
								<p:commandButton value="#{msg['general.search']}"
									action="#{statisticsViewer.searchStat}"
									process="calendar_input_grid, @this"
									update=":mainForm:panel_holder"
									 />
								<p:commandButton value="#{msg['general.refresh']}"
									update=":mainForm:panel_holder" />
							</f:facet>
						</p:panelGrid>						
					</p:panel>
				</p:layoutUnit>
				
				<p:layoutUnit position="center" styleClass="transparent">
					<p:panel>
					<ui:remove>
						<p:tabView id="dataTabView"
							activeIndex="#{statisticsViewer.activeTab}" dynamic="false">
							<p:ajax event="tabChange" update=":mainForm:panel_holder, :mainForm:dataTabView" 
							process="@this, @parent"/>
							<p:tab title="CPU">
								<h:outputText value="Select hosts to view their stats"
									rendered="#{!statisticsViewer.statAvailable}" />							
							</p:tab>
							<p:tab title="Memory">
								<h:outputText value="Select hosts to view their stats"
									rendered="#{!statisticsViewer.statAvailable}" />							
							</p:tab>
							<p:tab title="Disk">
								<h:outputText value="Select hosts to view their stats"
									rendered="#{!statisticsViewer.statAvailable}" />
								<h:outputText value="Selected host(s) currently have no available statistics"
									rendered="#{statisticsViewer.statAvailable and !statisticsViewer.diskModelDisplayable}" />								
							</p:tab>
<!-- 							
							<p:tab title="Network Interface">
								<h:outputText value="Select hosts to view their stats"
									rendered="#{!statisticsViewer.statAvailable}" />
								<h:outputText value="Selected host(s) currently have no available statistics"
									rendered="#{statisticsViewer.statAvailable and !statisticsViewer.inetModelDisplayable}"/>							
							</p:tab>
 -->							
						</p:tabView>
					</ui:remove>
					<p:selectOneButton id="dataSelectButton" value="#{statisticsViewer.activeTab}">  
						<p:ajax update=":mainForm:panel_holder" 
						process="@this"/>
			            <f:selectItem itemLabel="CPU" itemValue="0" />  
			            <f:selectItem itemLabel="Memory" itemValue="1" />  
			            <f:selectItem itemLabel="Disk" itemValue="2" />  
<!-- 							
			            <f:selectItem itemLabel="Network Interface" itemValue="3" />  
 -->							
			        </p:selectOneButton> 
					
					<p:outputPanel id="panel_holder" autoUpdate="true">
						<div style="margin-top:10px;">
							<h:inputHidden id="slider_input" value="#{statisticsViewer.sliderNumber}" /> 
							<p:panelGrid columns="1" style="margin-bottom:10px">  
						        <h:panelGroup>  
						            <h:outputText value="#{msg['statistics.viewPeriodType']}: "/>  
						            <h:outputText id="output" value="#{statisticsViewer.sliderText}"/>  
						        </h:panelGroup>
						         
						        <p:slider for="slider_input" minValue="0" maxValue="4" style="width:200px"> 
						        	<p:ajax update="panel_holder" process="@this, slider_input"/>
						        </p:slider> 
						    </p:panelGrid>
					    </div>

					    <p:commandButton id="downloadLink" title="#{msg['statistics.downAsXls']}" ajax="false" rendered="#{statisticsViewer.nonEmptyHost}"
						        icon="ui-icon-arrowthick-1-s">  
						    <p:fileDownload value="#{statisticsViewer.file}" />  
						</p:commandButton>
												
						<p:commandButton icon="ui-icon-extlink" onclick="exportCpuHourChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==0 and statisticsViewer.sliderNumber==0}"/>  
						<p:commandButton icon="ui-icon-extlink" onclick="exportCpuDayChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==0 and statisticsViewer.sliderNumber==1}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportCpuWeekChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==0 and statisticsViewer.sliderNumber==2}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportCpuMonthChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==0 and statisticsViewer.sliderNumber==3}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportCpuCustomChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.hostSelected and statisticsViewer.activeTab==0 and statisticsViewer.sliderNumber==4}"/>
						
						<p:commandButton icon="ui-icon-extlink" onclick="exportMemHourChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==1 and statisticsViewer.sliderNumber==0}"/>  
						<p:commandButton icon="ui-icon-extlink" onclick="exportMemDayChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==1 and statisticsViewer.sliderNumber==1}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportMemWeekChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==1 and statisticsViewer.sliderNumber==2}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportMemMonthChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==1 and statisticsViewer.sliderNumber==3}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportMemCustomChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.hostSelected and statisticsViewer.activeTab==1 and statisticsViewer.sliderNumber==4}"/>
						
						<p:commandButton icon="ui-icon-extlink" onclick="exportDiskHourChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.customDiskModelDisplayable and statisticsViewer.activeTab==2 and statisticsViewer.sliderNumber==0}"/>  
						<p:commandButton icon="ui-icon-extlink" onclick="exportDiskDayChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.customDiskModelDisplayable and statisticsViewer.activeTab==2 and statisticsViewer.sliderNumber==1}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportDiskWeekChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.customDiskModelDisplayable and statisticsViewer.activeTab==2 and statisticsViewer.sliderNumber==2}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportDiskMonthChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.customDiskModelDisplayable and statisticsViewer.activeTab==2 and statisticsViewer.sliderNumber==3}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportDiskCustomChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.hostSelected and statisticsViewer.customDiskModelDisplayable and statisticsViewer.activeTab==2 and statisticsViewer.sliderNumber==4}"/>
						
						<p:commandButton icon="ui-icon-extlink" onclick="exportInetHourChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.inetModelDisplayable and statisticsViewer.activeTab==3 and statisticsViewer.sliderNumber==0}"/>  
						<p:commandButton icon="ui-icon-extlink" onclick="exportInetDayChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.inetModelDisplayable and statisticsViewer.activeTab==3 and statisticsViewer.sliderNumber==1}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportInetWeekChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.inetModelDisplayable and statisticsViewer.activeTab==3 and statisticsViewer.sliderNumber==2}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportInetMonthChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.statAvailable and statisticsViewer.inetModelDisplayable and statisticsViewer.activeTab==3 and statisticsViewer.sliderNumber==3}"/>
						<p:commandButton icon="ui-icon-extlink" onclick="exportInetCustomChart()" title="#{msg['statistics.viewAsPng']}"
						rendered="#{statisticsViewer.hostSelected and statisticsViewer.customInetModelDisplayable and statisticsViewer.activeTab==3 and statisticsViewer.sliderNumber==4}"/>
					
									
						<p:lineChart id="cpu_hour"
							value="#{statisticsViewer.cpuModel.hour}" legendPosition="e" minY="0" maxY="100"
							title="Hourly Statistics" style="height:300px;width:90%;" extender="ext_cpu_hour" showMarkers="false" zoom="true"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==0 and statisticsViewer.sliderNumber==0 and statisticsViewer.cpuModel.hour.series.size()>0}"
							widgetVar="cpuHourChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_cpu_hour() {								      
							this.cfg.axes = {
					    		  xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.hourStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%X', fontSize:'8pt' }
						         		},	
						          yaxis:{
						        	  	label:'Percentage (%)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      }
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportCpuHourChart() {  
						    //export image  
						    // var j = jQuery.noConflict();
						    $('#mainForm\\:chart_output').empty().append(cpuHourChart.exportAsImage());  
						    image_export_dlg.initPosition();
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>								
							
						<p:lineChart id="cpu_day"
							value="#{statisticsViewer.cpuModel.day}" legendPosition="e"
							title="Daily Statistics" style="height:300px;width:90%;" extender="ext_cpu_day" showMarkers="false" zoom="true"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==0 and statisticsViewer.sliderNumber==1 and statisticsViewer.cpuModel.day.series.size()>0}"
							widgetVar="cpuDayChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_cpu_day() {								      
							this.cfg.axes = {
					    		  xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.dayStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%X', fontSize:'8pt' }
						         		},	
						          yaxis:{
						        	  	label:'Percentage (%)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      }
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportCpuDayChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(cpuDayChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						
						<p:lineChart id="cpu_week"
							value="#{statisticsViewer.cpuModel.week}" legendPosition="e"
							title="Weekly Statistics" style="height:300px;width:90%;" extender="ext_cpu_week" showMarkers="false" zoom="true"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==0 and statisticsViewer.sliderNumber==2 and statisticsViewer.cpuModel.week.series.size()>0}"
							widgetVar="cpuWeekChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_cpu_week() {								      
							this.cfg.axes = {
					    		  xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.weekStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
						         		},	
						          yaxis:{
						        	  	label:'Percentage (%)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      }
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportCpuWeekChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(cpuWeekChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="cpu_month"
							value="#{statisticsViewer.cpuModel.month}" legendPosition="e"
							title="Monthly Statistics" style="height:300px;width:90%;" extender="ext_cpu_month" showMarkers="false" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==0 and statisticsViewer.sliderNumber==3 and statisticsViewer.cpuModel.month.series.size()>0}"
							widgetVar="cpuMonthChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_cpu_month() {								      
							this.cfg.axes = {
					    		  xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.monthStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
						         		},	
						          yaxis:{
						        	  	label:'Percentage (%)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      }
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportCpuMonthChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(cpuMonthChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="cpu_custom"
							value="#{statisticsViewer.cpuModel.custom}" legendPosition="e"
							title="Custom Statistics" style="height:300px;width:90%;" extender="ext_cpu_custom" showMarkers="false" zoom="true" shadow="false"
							rendered="#{statisticsViewer.hostSelected and statisticsViewer.activeTab==0 and statisticsViewer.sliderNumber==4 and statisticsViewer.cpuModel.custom.series.size()>0}"
							widgetVar="cpuCustomChart">
						</p:lineChart>
						<script type="text/javascript">
							function ext_cpu_custom() {
							      this.cfg.axes = {
						    		  xaxis:{
							        	  	label:'Time',
							        	  	renderer:$.jqplot.DateAxisRenderer,
							        	  	min: #{statisticsViewer.customStart},
							        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
							                tickOptions:{ formatString:'%m/%d %H:%M', fontSize:'8pt' }
							         		},	
							          yaxis:{
							        	  	label:'Percentage (%)',
							        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
							        	  	min : 0
							         	}
							      };	
							      this.cfg.seriesDefaults = {						          
								          lineWidth: 1, // Width of the line in pixels.
								          shadow: false,   // show shadow or not.
								  };						      
							   }
							function exportCpuCustomChart() {  
							    //export image  
							    $('#mainForm\\:chart_output').empty().append(cpuCustomChart.exportAsImage());  
							    //show the dialog  
							    image_export_dlg.show();  
							}
						</script>	
						<p:lineChart id="mem_hour"
							value="#{statisticsViewer.memModel.hour}" legendPosition="e"
							title="Hourly Statistics" style="height:300px;width:90%;" extender="ext_mem_hour" showMarkers="false" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==1 and statisticsViewer.sliderNumber==0 and statisticsViewer.memModel.hour.series.size()>0}"
							widgetVar="memHourChart">
						</p:lineChart>
						<script type="text/javascript">
							function ext_mem_hour() {
							      this.cfg.axes = {
						    		  xaxis:{
							        	  	label:'Time',
							        	  	renderer:$.jqplot.DateAxisRenderer,
							        	  	min: #{statisticsViewer.hourStart},
							        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
							                tickOptions:{ formatString:'%X', fontSize:'8pt' }
							         		},	
							          yaxis:{
							        	  	label:'Percentage (%)',
							        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
							        	  	min : 0
							         	}
							      };
							      this.cfg.seriesDefaults = {						          
								          lineWidth: 1, // Width of the line in pixels.
								          shadow: false,   // show shadow or not.
								  };					      
							   }
							function exportMemHourChart() {  
							    //export image  
							    $('#mainForm\\:chart_output').empty().append(memHourChart.exportAsImage());  
							    //show the dialog  
							    image_export_dlg.show();  
							}
						</script>
						<p:lineChart id="mem_day"
							value="#{statisticsViewer.memModel.day}" legendPosition="e"
							title="Daily Statistics" style="height:300px;width:90%;" showMarkers="false" extender="ext_mem_day" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==1 and statisticsViewer.sliderNumber==1 and statisticsViewer.memModel.day.series.size()>0}"
							widgetVar="memDayChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_mem_day() {
						      this.cfg.axes = {
						          xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.dayStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%X', fontSize:'8pt' }
						         	},	
						         	yaxis:{
						        	  	label:'Percentage (%)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportMemDayChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(memDayChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="mem_week"
							value="#{statisticsViewer.memModel.week}" legendPosition="e"
							title="Weekly Statistics" style="height:300px;width:90%;" showMarkers="false" extender="ext_mem_week" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==1 and statisticsViewer.sliderNumber==2 and statisticsViewer.memModel.week.series.size()>0}"
							widgetVar="memWeekChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_mem_week() {
						      this.cfg.axes = {
						          xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.weekStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
						         	},	
						         	yaxis:{
						        	  	label:'Percentage (%)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportMemWeekChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(memWeekChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="mem_month"
							value="#{statisticsViewer.memModel.month}" legendPosition="e" extender="ext_mem_month"
							title="Monthly Statistics" style="height:300px;width:90%;" showMarkers="false" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.activeTab==1 and statisticsViewer.sliderNumber==3 and statisticsViewer.memModel.month.series.size()>0}"
							widgetVar="memMonthChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_mem_month() {
						      this.cfg.axes = {
						          xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.monthStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
						         	},	
						         	yaxis:{
						        	  	label:'Percentage (%)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportMemMonthChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(memMonthChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="mem_custom"
							value="#{statisticsViewer.memModel.custom}" legendPosition="e"
							title="Custom Statistics" style="height:300px;width:90%;" extender="ext_mem_custom" showMarkers="false" zoom="true" shadow="false"
							rendered="#{statisticsViewer.hostSelected and statisticsViewer.activeTab==1 and statisticsViewer.sliderNumber==4 and statisticsViewer.memModel.custom.series.size()>0}"
							widgetVar="memCustomChart">
						</p:lineChart>
						<script type="text/javascript">
							function ext_mem_custom() {
							      this.cfg.axes = {
							          xaxis:{
							        	  	label:'Time',
							        	  	renderer:$.jqplot.DateAxisRenderer,
							        	  	min: #{statisticsViewer.customStart},
							        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
							                tickOptions:{ formatString:'%m/%d %H:%M', fontSize:'8pt' }
							         	},	
							         	yaxis:{
							        	  	label:'Percentage (%)',
							        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
							        	  	min : 0
							         	}
							      };
							      this.cfg.seriesDefaults = {						          
								          lineWidth: 1, // Width of the line in pixels.
								          shadow: false,   // show shadow or not.
								  };
							   }
							function exportMemCustomChart() {  
							    //export image  
							    $('#mainForm\\:chart_output').empty().append(memCustomChart.exportAsImage());  
							    //show the dialog  
							    image_export_dlg.show();  
							}
							</script>
						<p:lineChart id="disk_hour"
							value="#{statisticsViewer.diskModel.hour}" legendPosition="e" zoom="true" shadow="false"
							title="Hourly Statistics" style="height:300px;width:90%;" showMarkers="false" extender="ext_disk_hour"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.diskModelDisplayable and statisticsViewer.activeTab==2 and statisticsViewer.sliderNumber==0 and statisticsViewer.diskModel.hour.series.size()>0}"
							widgetVar="diskHourChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_disk_hour() {
						      this.cfg.axes = {
					    		  xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.hourStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%X', fontSize:'8pt' }
						         		},	
						          yaxis:{
						        	  	label:'Percentage (%)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportDiskHourChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(diskHourChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="disk_day"
							value="#{statisticsViewer.diskModel.day}" legendPosition="e"
							title="Daily Statistics" style="height:300px;width:90%;" showMarkers="false" extender="ext_disk_day" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.diskModelDisplayable and statisticsViewer.activeTab==2 and statisticsViewer.sliderNumber==1 and statisticsViewer.diskModel.day.series.size()>0}"
							widgetVar="diskDayChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_disk_day() {
						      this.cfg.axes = {
						          xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.dayStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%X', fontSize:'8pt' }
						         	},	
						         	yaxis:{
						        	  	label:'Percentage (%)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportDiskDayChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(diskDayChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="disk_week"
							value="#{statisticsViewer.diskModel.week}" legendPosition="e"
							title="Weekly Statistics" style="height:300px;width:90%;" showMarkers="false" extender="ext_disk_week" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.diskModelDisplayable and statisticsViewer.activeTab==2 and statisticsViewer.sliderNumber==2 and statisticsViewer.diskModel.week.series.size()>0}"
							widgetVar="diskWeekChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_disk_week() {
						      this.cfg.axes = {
						          xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.weekStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
						         	},	
						         	yaxis:{
						        	  	label:'Percentage (%)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportDiskWeekChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(diskWeekChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="disk_month"
							value="#{statisticsViewer.diskModel.month}" legendPosition="e"
							title="Monthly Statistics" style="height:300px;width:90%;" showMarkers="false" extender="ext_disk_month" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.diskModelDisplayable and statisticsViewer.activeTab==2 and statisticsViewer.sliderNumber==3 and statisticsViewer.diskModel.month.series.size()>0}"
							widgetVar="diskMonthChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_disk_month() {
						      this.cfg.axes = {
						          xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.monthStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
						         	},	
						         	yaxis:{
						        	  	label:'Percentage (%)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportDiskMonthChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(diskMonthChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="disk_custom"
							value="#{statisticsViewer.diskModel.custom}" legendPosition="e" zoom="true"
							title="Custom Statistics" style="height:300px;width:90%;" showMarkers="false" extender="ext_disk_custom" shadow="false"
							rendered="#{statisticsViewer.hostSelected and statisticsViewer.customDiskModelDisplayable and statisticsViewer.activeTab==2 and statisticsViewer.sliderNumber==4 and statisticsViewer.diskModel.custom.series.size()>0}"
							widgetVar="diskCustomChart">
						</p:lineChart>
						<script type="text/javascript">
							function ext_disk_custom() {
							      this.cfg.axes = {
							          xaxis:{
							        	  	label:'Time',
							        	  	renderer:$.jqplot.DateAxisRenderer,
							        	  	min: #{statisticsViewer.customStart},
							        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
							                tickOptions:{ formatString:'%m/%d %H:%M', fontSize:'8pt' }
							         	},	
							         	yaxis:{
							        	  	label:'Percentage (%)',
							        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
							        	  	min : 0
							         	}
							      };
							      this.cfg.seriesDefaults = {						          
								          lineWidth: 1, // Width of the line in pixels.
								          shadow: false,   // show shadow or not.
								  };
							   }
							function exportDiskCustomChart() {  
							    //export image  
							    $('#mainForm\\:chart_output').empty().append(diskCustomChart.exportAsImage());  
							    //show the dialog  
							    image_export_dlg.show();  
							}
						</script>
						<p:lineChart id="inet_hour" 
							value="#{statisticsViewer.inetModel.hour}" legendPosition="e" showMarkers="false" extender="ext_inet_hour"
							title="Hourly Statistics" style="height:300px;width:90%;" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.inetModelDisplayable and statisticsViewer.activeTab==3 and statisticsViewer.sliderNumber==0 and statisticsViewer.inetModel.hour.series.size()>0}"
							widgetVar="inetHourChart" >
						</p:lineChart>
						<script type="text/javascript">
						function ext_inet_hour() {
						      this.cfg.axes = {
					    		  xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						   				min: #{statisticsViewer.hourStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%X', fontSize:'8pt' }
						         		},	
						          yaxis:{
						        	  	label:'Traffic (kb/s)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportInetHourChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(inetHourChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="inet_day"
							value="#{statisticsViewer.inetModel.day}" legendPosition="e" showMarkers="false" extender="ext_inet_day"
							title="Daily Statistics" style="height:300px;width:90%;" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.inetModelDisplayable and statisticsViewer.activeTab==3 and statisticsViewer.sliderNumber==1 and statisticsViewer.inetModel.day.series.size()>0}"
							widgetVar="inetDayChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_inet_day() {
						      this.cfg.axes = {
						          xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.dayStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%X', fontSize:'8pt' }
						         	},	
						         	yaxis:{
						        	  	label:'Traffic (kb/s)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportInetDayChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(inetDayChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="inet_week"
							value="#{statisticsViewer.inetModel.week}" legendPosition="e" showMarkers="false" extender="ext_inet_week"
							title="Weekly Statistics" style="height:300px;width:90%;" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.inetModelDisplayable and statisticsViewer.activeTab==3 and statisticsViewer.sliderNumber==2 and statisticsViewer.inetModel.week.series.size()>0}"
							widgetVar="inetWeekChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_inet_week() {
						      this.cfg.axes = {
						          xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.weekStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
						         	},	
						         	yaxis:{
						        	  	label:'Traffic (kb/s)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportInetWeekChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(inetWeekChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="inet_month"
							value="#{statisticsViewer.inetModel.month}" legendPosition="e" showMarkers="false"
							title="Monthly Statistics" style="height:300px;width:90%;" extender="ext_inet_month" zoom="true" shadow="false"
							rendered="#{statisticsViewer.statAvailable and statisticsViewer.inetModelDisplayable and statisticsViewer.activeTab==3 and statisticsViewer.sliderNumber==3 and statisticsViewer.inetModel.month.series.size()>0}"
							widgetVar="inetMonthChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_inet_month() {
						      this.cfg.axes = {
						          xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.monthStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
						         	},	
						         	yaxis:{
						        	  	label:'Traffic (kb/s)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportInetMonthChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(inetMonthChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>
						<p:lineChart id="inet_custom"
							value="#{statisticsViewer.inetModel.custom}" legendPosition="e" extender="ext_inet_custom"
							title="Custom Statistics" style="height:300px;width:90%;" showMarkers="false" zoom="true" shadow="false"
							rendered="#{statisticsViewer.hostSelected and statisticsViewer.customInetModelDisplayable and statisticsViewer.activeTab==3 and statisticsViewer.sliderNumber==4 and statisticsViewer.inetModel.custom.series.size()>0}"
							widgetVar="inetCustomChart">
						</p:lineChart>
						<script type="text/javascript">
						function ext_inet_custom() {
						      this.cfg.axes = {
						          xaxis:{
						        	  	label:'Time',
						        	  	renderer:$.jqplot.DateAxisRenderer,
						        	  	min: #{statisticsViewer.customStart},
						        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
						                tickOptions:{ formatString:'%m/%d %H:%M', fontSize:'8pt' }
						         	},	
						         	yaxis:{
						        	  	label:'Traffic (kb/s)',
						        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer,
						        	  	min : 0
						         	}
						      };
						      this.cfg.seriesDefaults = {						          
							          lineWidth: 1, // Width of the line in pixels.
							          shadow: false,   // show shadow or not.
							  };
						   }
						function exportInetCustomChart() {  
						    //export image  
						    $('#mainForm\\:chart_output').empty().append(inetCustomChart.exportAsImage());  
						    //show the dialog  
						    image_export_dlg.show();  
						}
						</script>						
					</p:outputPanel>	
					</p:panel>
				</p:layoutUnit>
			</p:layout>
			<p:outputPanel id="dlg_holder" style="width:100%">	
								
			</p:outputPanel>
			<p:dialog widgetVar="image_export_dlg" showEffect="fade" hideEffect="fade" header="#{msg['statistics.viewAsPng']}">  
			     <p:outputPanel id="chart_output" layout="block" style="height:320px; width:1200px;" /> 
			</p:dialog>			
		</h:form>
	</ui:define>
</ui:composition>