		.ui-menu .ui-menu-parent .ui-menu-child {
			width: 200px;
		}
		.ui-layout-unit-content {
			background: transparent;
		}
		.ui-layout-pane {
   			border: 0;
		}
		.ui-panel .ui-panel-content {
			border: 0;
			background: none;
			padding: 0.2em 0.2em;
			overflow: auto;
		}
		.ui-dashboard .ui-panel .ui-panel-content {
			border: 0;
			background: none;
			padding: 0.2em 0.2em;
			overflow: hidden;
		}
		.ui-treetable th div.ui-tt-c, .ui-treetable .ui-treetable-data td div.ui-tt-c, .ui-treetable tfoot td div.ui-tt-c {
			padding: 1px 2px;
			overflow: hidden;
			position: relative;
		}
		.ui-tabs .ui-tabs-panel {
			border-width: 0;
			padding: 0.2em 0.2em;
			background: none;
		}
		.ui-datatable th div.ui-dt-c, .ui-datatable .ui-datatable-data td div.ui-dt-c, .ui-datatable .ui-datatable-data-empty td div.ui-dt-c, .ui-datatable tfoot td div.ui-dt-c {
			padding: 1px 4px;
			overflow: hidden;
		}
		.ui-column-dnd-top, .ui-column-dnd-bottom {
		   display: none;
		   position: absolute;
		}
		
		.ui-datatable-tablewrapper {
			overflow: auto;
			padding-bottom: 1px;
		}
		.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
			padding: 2px 4px;
			overflow: hidden;
			white-space: nowrap;
			border-width: 1px;
			border-style: solid;
		}
		.expanded_content {
			padding: 0.2em;
		}
		.ui-treetable thead th, .ui-treetable tbody td, .ui-treetable tfoot td {
			padding: 2px 5px;
			overflow: hidden;
			/* white-space: nowrap; */
			border-width: 1px;
			border-style: solid;
		}
		.ui-treetable .ui-treetable-indent {
			width: 6px;
			height: 16px;
			float: left;
		}		
	  	.ui-panel .ui-panel-titlebar {
			padding: 0.2em 0.2em 0.2em;
		}
		.tableHeader {
			float: left;
			margin: 0.5em 0.5em;
		}
		.ui-tree .ui-treenode-children {
			margin: 0;
			padding: 0 0 0 10px;
		}