/*  global begin */

.tableHeader {
	float:left;
}
.tableHeaderButton {
	float:left;
}
.transparent {
	background: transparent;
}
.status-green {
	color: #00FF00;
}
.status-red {
	color: #FF0000;
}
.status-gray {
	color: #666666;
}
.status-orange {
	color: orange;
}
.text-red {
	color: red;
}
.text-green {
	color: green;
}
.text-orange {
	color: orange;
}
.text-aqua {
	color: aqua;
}
.text-blue {
	color: blue;
}
.text-violet {
	color: darkViolet;
}
.text-yellow {
	color: yellow;
}
.alarm-red {
	background: red;
}
.alarm-white {
	background: white;
}
.alarm-orange {
	background: orange;
}	

.ACTIVE {
	color: #00FF00;
}
.INACTIVE {
	color: #FF0000;
}

html,body {
	font-family: "Arial", "Verdana", "Helvetica";
	font-size: 10px;
	margin: 0;
	padding: 0;
	border: 0 none;
	overflow: auto;
	height: 100%;
}

a,a:visited {
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

.locale-menu {
	float: right;
}

.align-center {
	margin: 0px auto 0px auto;
}

.section_title {
	font-family: Tahoma, Verdana, Arial;
	font-size: 32px;
	color: #a6a6ff;
	font-weight: normal;
}

.section_title_2 {
	font-family: Tahoma, Verdana, Arial;
	font-size: 24px;
	color: #96b41b;
	/*color: #ff9933;*/
	/*color: #ccccff;*/
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.centered_section_title_2 {
	font-family: Tahoma, Verdana, Arial;
	font-size: 24px;
	color: #96b41b;
	/*color: #ff9933;*/
	/*color: #ccccff;*/
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

.service_title {
	font-family: Tahoma, Verdana, Arial;
	font-size: 15px;
	line-height: 18px;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
	color: blue;
}

.page_title {
	font-family: Tahoma, Verdana, Arial;
	font-size: 15px;
	line-height: 18px;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #222266;
}

div.leftPanel {
	float: left;
	width: 25%;
}

div.rightPanel {
	float: right;
	width: 70%;
}

/*  global end */

/*  jsf global start */
.errMsg {
	color:red;margin:8px;
}
.ui-widget-overlay {
    filter:alpha(opacity=10);  /* works in IE 7 */
    opacity: 0.1;  /* works in Firefox */
}
/*  jsf global end */

/* masterLayout begin */
.header {
	padding: 0px 0px 0px 0px;
	min-height: 20px;
}

.container {
	min-width: 720px;
	margin: auto;
}
		
.content {
	padding: 0px 30px 0px 30px;
	min-width: 500px;
	padding-bottom: 128px;
}

.footer {
	background: #FFFFFF url("#{resource['images:footer.png']}") repeat-x;
	height: 50px;
	padding-top: 38px;
	text-align: center;
	font-size: 12px;
	color: #333;
	position: relative;
	clear: both;
}

.footer a {
	color: #333;
	text-decoration: underline;
}
/* masterLayout end */

/* signup.xhtml Begin */

.canvas {
	color: #999;
	width: 98%;
	margin: 0 auto;
	position: relative;
}

.content-wrap {
	margin: 0 auto 24px auto;
	position: relative;
}

.content-wrap .banner-wrap {
	height:548px;
	margin:0 auto;
	position: relative;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {	height: 1%; }
.clearfix {	display: block; }
/* End hide from IE-mac */

.inline-block {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.colAddBtn {
	width:16px;
}

.borderlessGrid tr, .borderlessGrid td {
    border: none;
}
