.customTitle {
    background-color:  #00eeee !important;
    background-image: none;
    color: black !important;
}

.customHeader .ui-datatable-header {
    background-color:  #59ACff ;
    background-image: none ;
    color: black ;
}

.customHeader th{
		color: black;
    background-color:  #a6d2ff;
    background-image: none;
}

.customHeader td{
		color: black;
    background-color:  #e1f0ff;
    background-image: none;
}

.customHeader2 .ui-datatable-header {
    background-color:  #00ec76 !important;
    background-image: none !important;
    color: black !important;
}
.customHeader2 th{
		color: black !important;
    background-color:  #66ffb3  !important;
    background-image: none  !important;
}

.customHeader2 td{
		color: black;
    background-color:  #9dffce !important;
    background-image: none !important;
}


.customHeader3 .ui-datatable-header {
    background-color:  #be7e7e !important;
    background-image: none !important;
    color: black !important;
}
.customHeader3 th{
		color: black !important;
    background-color:  #c99292 !important;
    background-image: none  !important;
}

.customHeader3 td{
		color: black;
    background-color:  #ffc4c4 !important;
    background-image: none !important;
}

.customHeader4 .ui-datatable-header {
    background-color:  #ff9e3e !important;
    background-image: none !important;
    color: black !important;
}
.customHeader4 th{
		color: black !important;
    background-color:  #ffc488 !important;
    background-image: none  !important;
}

.customHeader4 td{
		color: black;
    background-color:  #ffd7ae !important;
    background-image: none !important;
}


.customHeader5 .ui-datatable-header {
    background-color:  #fffd3e !important;
    background-image: none !important;
    color: black !important;
}
.customHeader5 th{
		color: black !important;
    background-color:  #fff980 !important;
    background-image: none  !important;
}

.customHeader5 td{
		color: black;
    background-color:  #fffba4 !important;
    background-image: none !important;
}

