<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CrsmsChannelProfileCreateDlg" widgetVar="CrsmsChannelProfileCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{manage.CreateCrsmsChannelProfileTitle}" closeOnEscape="true">

            <h:form id="CrsmsChannelProfileCreateForm">

                <h:panelGroup id="display" rendered="#{crsmsChannelProfileController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{manage.CreateCrsmsChannelProfileLabel_channel}" for="channel" />
                        <p:inputText id="channel" value="#{crsmsChannelProfileController.selected.channel}" title="#{manage.CreateCrsmsChannelProfileTitle_channel}" required="true" requiredMessage="#{manage.CreateCrsmsChannelProfileRequiredMessage_channel}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{manage.CreateCrsmsChannelProfileLabel_userid}" for="userid" />
                        <p:inputText id="userid" value="#{crsmsChannelProfileController.selected.userid}" title="#{manage.CreateCrsmsChannelProfileTitle_userid}" required="true" requiredMessage="#{manage.CreateCrsmsChannelProfileRequiredMessage_userid}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{manage.CreateCrsmsChannelProfileLabel_pwd}" for="pwd" />
                        <p:inputText id="pwd" value="#{crsmsChannelProfileController.selected.pwd}" title="#{manage.CreateCrsmsChannelProfileTitle_pwd}" required="true" requiredMessage="#{manage.CreateCrsmsChannelProfileRequiredMessage_pwd}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{manage.CreateCrsmsChannelProfileLabel_priority}" for="priority" />
                        <p:inputText id="priority" value="#{crsmsChannelProfileController.selected.priority}" title="#{manage.CreateCrsmsChannelProfileTitle_priority}" required="true" requiredMessage="#{manage.CreateCrsmsChannelProfileRequiredMessage_priority}"/>

                        <p:outputLabel value="#{manage.CreateCrsmsChannelProfileLabel_status}" for="status" />
                        <p:inputText id="status" value="#{crsmsChannelProfileController.selected.status}" title="#{manage.CreateCrsmsChannelProfileTitle_status}" required="true" requiredMessage="#{manage.CreateCrsmsChannelProfileRequiredMessage_status}" size="6" maxlength="6"/>

                        <p:outputLabel value="#{manage.CreateCrsmsChannelProfileLabel_createDate}" for="createDate" />
                        <p:calendar id="createDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{crsmsChannelProfileController.selected.createDate}" title="#{manage.CreateCrsmsChannelProfileTitle_createDate}"  showOn="button"/>

                        <p:outputLabel value="#{manage.CreateCrsmsChannelProfileLabel_lastUpdateDate}" for="lastUpdateDate" />
                        <p:calendar id="lastUpdateDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{crsmsChannelProfileController.selected.lastUpdateDate}" title="#{manage.CreateCrsmsChannelProfileTitle_lastUpdateDate}"  showOn="button"/>

                        <p:outputLabel value="#{manage.CreateCrsmsChannelProfileLabel_updatedBy}" for="updatedBy" />
                        <p:inputText id="updatedBy" value="#{crsmsChannelProfileController.selected.updatedBy}" title="#{manage.CreateCrsmsChannelProfileTitle_updatedBy}" size="45" maxlength="45"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{crsmsChannelProfileController.saveNew}" value="#{manage.Save}" update="display,:CrsmsChannelProfileListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,CrsmsChannelProfileCreateDialog);">
                        <p:confirm header="#{manage.ConfirmationHeader}" message="#{manage.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{manage.Cancel}" oncomplete="CrsmsChannelProfileCreateDialog.hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
