<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="CrsmsChannelProfileEditDlg" widgetVar="CrsmsChannelProfileEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{manage.EditCrsmsChannelProfileTitle}" closeOnEscape="true">

            <h:form id="CrsmsChannelProfileEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{crsmsChannelProfileController.selected != null}">


                        <h:outputLabel value="#{manage.EditCrsmsChannelProfileLabel_channelId}" for="channelId" />
                        <h:outputText id="channelId" value="#{crsmsChannelProfileController.selected.channelId}" />

                        <p:outputLabel value="#{manage.EditCrsmsChannelProfileLabel_channel}" for="channel" />
                        <p:inputText id="channel" value="#{crsmsChannelProfileController.selected.channel}" title="#{manage.EditCrsmsChannelProfileTitle_channel}" required="true" requiredMessage="#{manage.EditCrsmsChannelProfileRequiredMessage_channel}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{manage.EditCrsmsChannelProfileLabel_userid}" for="userid" />
                        <p:inputText id="userid" value="#{crsmsChannelProfileController.selected.userid}" title="#{manage.EditCrsmsChannelProfileTitle_userid}" required="true" requiredMessage="#{manage.EditCrsmsChannelProfileRequiredMessage_userid}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{manage.EditCrsmsChannelProfileLabel_pwd}" for="pwd" />
                        <p:inputText id="pwd" value="#{crsmsChannelProfileController.selected.pwd}" title="#{manage.EditCrsmsChannelProfileTitle_pwd}" required="true" requiredMessage="#{manage.EditCrsmsChannelProfileRequiredMessage_pwd}" size="45" maxlength="45"/>

                        <p:outputLabel value="#{manage.EditCrsmsChannelProfileLabel_priority}" for="priority" />
                        <p:inputText id="priority" value="#{crsmsChannelProfileController.selected.priority}" title="#{manage.EditCrsmsChannelProfileTitle_priority}" required="true" requiredMessage="#{manage.EditCrsmsChannelProfileRequiredMessage_priority}"/>

                        <p:outputLabel value="#{manage.EditCrsmsChannelProfileLabel_status}" for="status" />
                        <p:inputText id="status" value="#{crsmsChannelProfileController.selected.status}" title="#{manage.EditCrsmsChannelProfileTitle_status}" required="true" requiredMessage="#{manage.EditCrsmsChannelProfileRequiredMessage_status}" size="6" maxlength="6"/>

                        <p:outputLabel value="#{manage.EditCrsmsChannelProfileLabel_createDate}" for="createDate" />
                        <p:calendar id="createDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{crsmsChannelProfileController.selected.createDate}" title="#{manage.EditCrsmsChannelProfileTitle_createDate}"  showOn="button"/>

                        <p:outputLabel value="#{manage.EditCrsmsChannelProfileLabel_lastUpdateDate}" for="lastUpdateDate" />
                        <p:calendar id="lastUpdateDate" pattern="MM/dd/yyyy HH:mm:ss" value="#{crsmsChannelProfileController.selected.lastUpdateDate}" title="#{manage.EditCrsmsChannelProfileTitle_lastUpdateDate}"  showOn="button"/>

                        <p:outputLabel value="#{manage.EditCrsmsChannelProfileLabel_updatedBy}" for="updatedBy" />
                        <p:inputText id="updatedBy" value="#{crsmsChannelProfileController.selected.updatedBy}" title="#{manage.EditCrsmsChannelProfileTitle_updatedBy}" size="45" maxlength="45"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{crsmsChannelProfileController.save}" value="#{manage.Save}" update="display,:CrsmsChannelProfileListForm:datalist,:CrsmsChannelProfileListForm:CrsmsChannelProfileDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,CrsmsChannelProfileEditDialog);">
                        <p:confirm header="#{manage.ConfirmationHeader}" message="#{manage.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{manage.Cancel}" oncomplete="CrsmsChannelProfileEditDialog.hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
