<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="CrsmsChannelProfileListForm">

        <p:panel header="#{manage.ListCrsmsChannelProfileTitle}">
            <p:contextMenu id="CrsmsChannelProfileDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{manage.Create}" onclick="document.getElementById('CrsmsChannelProfileListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{manage.View}" onclick="document.getElementById('CrsmsChannelProfileListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{manage.Edit}" onclick="document.getElementById('CrsmsChannelProfileListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{manage.Delete}" onclick="document.getElementById('CrsmsChannelProfileListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{manage.CrsmsChannelProfileMenuItem_errorprofilemessageCollection}" icon="ui-icon-search"  action="#{crsmsChannelProfileController.navigateErrorprofilemessageCollection}" disabled="#{crsmsChannelProfileController.isErrorprofilemessageCollectionEmpty}" ajax="false"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{crsmsChannelProfileController.items}"
                         lazy="false"
                         rowKey="#{item.channelId}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{crsmsChannelProfileController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{crsmsChannelProfileController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.channelId}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:CrsmsChannelProfileDataTableContextMenu"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:CrsmsChannelProfileDataTableContextMenu"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('CrsmsChannelProfileListForm:viewButton').click();"/>

                <p:column sortBy="#{item.channelId}" filterBy="#{item.channelId}">
                    <f:facet name="header">
                        <h:outputText value="#{manage.ListCrsmsChannelProfileTitle_channelId}"/>
                    </f:facet>
                    <h:outputText value="#{item.channelId}"/>
                </p:column>


                <p:column sortBy="#{item.channel}" filterBy="#{item.channel}">
                    <f:facet name="header">
                        <h:outputText value="#{manage.ListCrsmsChannelProfileTitle_channel}"/>
                    </f:facet>
                    <h:outputText value="#{item.channel}"/>
                </p:column>


                <p:column sortBy="#{item.userid}" filterBy="#{item.userid}">
                    <f:facet name="header">
                        <h:outputText value="#{manage.ListCrsmsChannelProfileTitle_userid}"/>
                    </f:facet>
                    <h:outputText value="#{item.userid}"/>
                </p:column>


                <p:column sortBy="#{item.pwd}" filterBy="#{item.pwd}">
                    <f:facet name="header">
                        <h:outputText value="#{manage.ListCrsmsChannelProfileTitle_pwd}"/>
                    </f:facet>
                    <h:outputText value="#{item.pwd}"/>
                </p:column>


                <p:column sortBy="#{item.priority}" filterBy="#{item.priority}">
                    <f:facet name="header">
                        <h:outputText value="#{manage.ListCrsmsChannelProfileTitle_priority}"/>
                    </f:facet>
                    <h:outputText value="#{item.priority}"/>
                </p:column>


                <p:column sortBy="#{item.status}" filterBy="#{item.status}">
                    <f:facet name="header">
                        <h:outputText value="#{manage.ListCrsmsChannelProfileTitle_status}"/>
                    </f:facet>
                    <h:outputText value="#{item.status}"/>
                </p:column>

                <ui:remove>
                    <p:column sortBy="#{item.createDate}" filterBy="#{item.createDate}">
                        <f:facet name="header">
                            <h:outputText value="#{manage.ListCrsmsChannelProfileTitle_createDate}"/>
                        </f:facet>
                        <h:outputText value="#{item.createDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.lastUpdateDate}" filterBy="#{item.lastUpdateDate}">
                        <f:facet name="header">
                            <h:outputText value="#{manage.ListCrsmsChannelProfileTitle_lastUpdateDate}"/>
                        </f:facet>
                        <h:outputText value="#{item.lastUpdateDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>
                    </p:column>
                </ui:remove>
                <ui:remove>
                    <p:column sortBy="#{item.updatedBy}" filterBy="#{item.updatedBy}">
                        <f:facet name="header">
                            <h:outputText value="#{manage.ListCrsmsChannelProfileTitle_updatedBy}"/>
                        </f:facet>
                        <h:outputText value="#{item.updatedBy}"/>
                    </p:column>
                </ui:remove>

            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{manage.Create}" actionListener="#{crsmsChannelProfileController.prepareCreate}" update=":CrsmsChannelProfileCreateForm" oncomplete="CrsmsChannelProfileCreateDialog.show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{manage.View}" update=":CrsmsChannelProfileViewForm" oncomplete="CrsmsChannelProfileViewDialog.show()" disabled="#{empty crsmsChannelProfileController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{manage.Edit}" update=":CrsmsChannelProfileEditForm" oncomplete="CrsmsChannelProfileEditDialog.show()" disabled="#{empty crsmsChannelProfileController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{manage.Delete}" actionListener="#{crsmsChannelProfileController.delete}" update=":growl,datalist" disabled="#{empty crsmsChannelProfileController.selected}">
                <p:confirm header="#{manage.ConfirmationHeader}" message="#{manage.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>