<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="CrsmsChannelProfileViewDlg" widgetVar="CrsmsChannelProfileViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{manage.ViewCrsmsChannelProfileTitle}" closeOnEscape="true">

            <h:form id="CrsmsChannelProfileViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{crsmsChannelProfileController.selected != null}">

                        <h:outputText value="#{manage.ViewCrsmsChannelProfileLabel_channelId}"/>
                        <h:outputText value="#{crsmsChannelProfileController.selected.channelId}" title="#{manage.ViewCrsmsChannelProfileTitle_channelId}"/>

                        <h:outputText value="#{manage.ViewCrsmsChannelProfileLabel_channel}"/>
                        <h:outputText value="#{crsmsChannelProfileController.selected.channel}" title="#{manage.ViewCrsmsChannelProfileTitle_channel}"/>

                        <h:outputText value="#{manage.ViewCrsmsChannelProfileLabel_userid}"/>
                        <h:outputText value="#{crsmsChannelProfileController.selected.userid}" title="#{manage.ViewCrsmsChannelProfileTitle_userid}"/>

                        <h:outputText value="#{manage.ViewCrsmsChannelProfileLabel_pwd}"/>
                        <h:outputText value="#{crsmsChannelProfileController.selected.pwd}" title="#{manage.ViewCrsmsChannelProfileTitle_pwd}"/>

                        <h:outputText value="#{manage.ViewCrsmsChannelProfileLabel_priority}"/>
                        <h:outputText value="#{crsmsChannelProfileController.selected.priority}" title="#{manage.ViewCrsmsChannelProfileTitle_priority}"/>

                        <h:outputText value="#{manage.ViewCrsmsChannelProfileLabel_status}"/>
                        <h:outputText value="#{crsmsChannelProfileController.selected.status}" title="#{manage.ViewCrsmsChannelProfileTitle_status}"/>

                        <h:outputText value="#{manage.ViewCrsmsChannelProfileLabel_createDate}"/>
                        <h:outputText value="#{crsmsChannelProfileController.selected.createDate}" title="#{manage.ViewCrsmsChannelProfileTitle_createDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{manage.ViewCrsmsChannelProfileLabel_lastUpdateDate}"/>
                        <h:outputText value="#{crsmsChannelProfileController.selected.lastUpdateDate}" title="#{manage.ViewCrsmsChannelProfileTitle_lastUpdateDate}">
                            <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                        </h:outputText>

                        <h:outputText value="#{manage.ViewCrsmsChannelProfileLabel_updatedBy}"/>
                        <h:outputText value="#{crsmsChannelProfileController.selected.updatedBy}" title="#{manage.ViewCrsmsChannelProfileTitle_updatedBy}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{manage.Close}" onclick="CrsmsChannelProfileViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
