<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ErrorprofilemessageCreateDlg" widgetVar="ErrorprofilemessageCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{manage.CreateErrorprofilemessageTitle}" closeOnEscape="true">

            <h:form id="ErrorprofilemessageCreateForm">

                <h:panelGroup id="display" rendered="#{errorprofilemessageController.selected != null}">
                    <p:panelGrid columns="2" columnClasses="column">

                        <p:outputLabel value="#{manage.CreateErrorprofilemessageLabel_errorcode}" for="errorcode" />
                        <p:inputText id="errorcode" value="#{errorprofilemessageController.selected.errorcode}" title="#{manage.CreateErrorprofilemessageTitle_errorcode}" required="true" requiredMessage="#{manage.CreateErrorprofilemessageRequiredMessage_errorcode}"/>

                        <p:outputLabel value="#{manage.CreateErrorprofilemessageLabel_langid}" for="langid" />
                        <p:inputText id="langid" value="#{errorprofilemessageController.selected.langid}" title="#{manage.CreateErrorprofilemessageTitle_langid}" required="true" requiredMessage="#{manage.CreateErrorprofilemessageRequiredMessage_langid}"/>

                        <p:outputLabel value="#{manage.CreateErrorprofilemessageLabel_message}" for="message" />
                        <p:inputText id="message" value="#{errorprofilemessageController.selected.message}" title="#{manage.CreateErrorprofilemessageTitle_message}" required="true" requiredMessage="#{manage.CreateErrorprofilemessageRequiredMessage_message}" size="255" maxlength="255"/>

                        <p:outputLabel value="#{manage.CreateErrorprofilemessageLabel_channelId}" for="channelId" />
                        <p:selectOneMenu id="channelId" value="#{errorprofilemessageController.selected.channelId}"  converter="crsmsChannelProfileConverter">
                            <f:selectItem itemLabel="#{manage.SelectOneMessage}"/>
                            <f:selectItems value="#{crsmsChannelProfileController.items}"
                                           var="channelIdItem"
                                           itemValue="#{channelIdItem}"
                                           itemLabel="#{channelIdItem.channelId.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{errorprofilemessageController.saveNew}" value="#{manage.Save}" update="display,:ErrorprofilemessageListForm:datalist,:growl" oncomplete="handleSubmit(xhr,status,args,ErrorprofilemessageCreateDialog);">
                        <p:confirm header="#{manage.ConfirmationHeader}" message="#{manage.ConfirmCreateMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>

                    <p:commandButton value="#{manage.Cancel}" oncomplete="ErrorprofilemessageCreateDialog.hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
