<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>
        <p:dialog id="ErrorprofilemessageEditDlg" widgetVar="ErrorprofilemessageEditDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{manage.EditErrorprofilemessageTitle}" closeOnEscape="true">

            <h:form id="ErrorprofilemessageEditForm">

                <h:panelGroup id="display">
                    <p:panelGrid  columns="2" columnClasses="column" rendered="#{errorprofilemessageController.selected != null}">


                        <h:outputLabel value="#{manage.EditErrorprofilemessageLabel_id}" for="id" />
                        <h:outputText id="id" value="#{errorprofilemessageController.selected.id}" />

                        <p:outputLabel value="#{manage.EditErrorprofilemessageLabel_errorcode}" for="errorcode" />
                        <p:inputText id="errorcode" value="#{errorprofilemessageController.selected.errorcode}" title="#{manage.EditErrorprofilemessageTitle_errorcode}" required="true" requiredMessage="#{manage.EditErrorprofilemessageRequiredMessage_errorcode}"/>

                        <p:outputLabel value="#{manage.EditErrorprofilemessageLabel_langid}" for="langid" />
                        <p:inputText id="langid" value="#{errorprofilemessageController.selected.langid}" title="#{manage.EditErrorprofilemessageTitle_langid}" required="true" requiredMessage="#{manage.EditErrorprofilemessageRequiredMessage_langid}"/>

                        <p:outputLabel value="#{manage.EditErrorprofilemessageLabel_message}" for="message" />
                        <p:inputText id="message" value="#{errorprofilemessageController.selected.message}" title="#{manage.EditErrorprofilemessageTitle_message}" required="true" requiredMessage="#{manage.EditErrorprofilemessageRequiredMessage_message}" size="255" maxlength="255"/>

                        <p:outputLabel value="#{manage.EditErrorprofilemessageLabel_channelId}" for="channelId" />
                        <p:selectOneMenu id="channelId" value="#{errorprofilemessageController.selected.channelId}"  converter="crsmsChannelProfileConverter">
                            <f:selectItem itemLabel="#{manage.SelectOneMessage}"/>
                            <f:selectItems value="#{crsmsChannelProfileController.items}"
                                           var="channelIdItem"
                                           itemValue="#{channelIdItem}"
                                           itemLabel="#{channelIdItem.channelId.toString()}"
                                           />

                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{errorprofilemessageController.save}" value="#{manage.Save}" update="display,:ErrorprofilemessageListForm:datalist,:ErrorprofilemessageListForm:ErrorprofilemessageDataTableContextMenu,:growl" oncomplete="handleSubmit(xhr,status,args,ErrorprofilemessageEditDialog);">
                        <p:confirm header="#{manage.ConfirmationHeader}" message="#{manage.ConfirmEditMessage}" icon="ui-icon-alert"/>
                    </p:commandButton>
                    <p:commandButton value="#{manage.Cancel}" oncomplete="ErrorprofilemessageEditDialog.hide()" update="display" process="@this" immediate="true" resetValues="true"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
