<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <h:form id="ErrorprofilemessageListForm">

        <p:panel header="#{manage.ListErrorprofilemessageTitle}">
            <p:contextMenu id="ErrorprofilemessageDataTableContextMenu" for="datalist">  
                <p:menuitem value="#{manage.Create}" onclick="document.getElementById('ErrorprofilemessageListForm:createButton').click();" icon="ui-icon-plus"/>
                <p:menuitem value="#{manage.View}" onclick="document.getElementById('ErrorprofilemessageListForm:viewButton').click();" icon="ui-icon-search"/>
                <p:menuitem value="#{manage.Edit}" onclick="document.getElementById('ErrorprofilemessageListForm:editButton').click();" icon="ui-icon-pencil"/>
                <p:menuitem value="#{manage.Delete}" onclick="document.getElementById('ErrorprofilemessageListForm:deleteButton').click();" icon="ui-icon-trash"/>
                <p:separator/>
                <p:menuitem value="#{manage.ErrorprofilemessageMenuItem_channelId}" icon="ui-icon-search"  actionListener="#{errorprofilemessageController.prepareChannelId}" update=":CrsmsChannelProfileViewForm" oncomplete="CrsmsChannelProfileViewDialog.show()" disabled="#{empty errorprofilemessageController.selected.channelId}"/>  
            </p:contextMenu>
            <p:dataTable id="datalist"
                         value="#{errorprofilemessageController.items}"
                         lazy="false"
                         rowKey="#{item.id}"
                         var="item"
                         paginator="true"
                         rows="10"
                         rowsPerPageTemplate="10,20,30,40,50"
                         selectionMode="single"
                         selection="#{errorprofilemessageController.selected}">
                <!--
                         To enable Lazy Loading, please copy/replace the following lines above,
                         and be sure to replace the word HASH with the # symbol:
                
                         value="HASH{errorprofilemessageController.lazyItems}"
                         lazy="true"
                         rowKey="HASH{item.id}"  <<< Remove this line
                -->


                <p:ajax event="rowSelect"   update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ErrorprofilemessageDataTableContextMenu" listener="#{errorprofilemessageController.resetParents}"/>
                <p:ajax event="rowUnselect" update="@form:createButton,@form:viewButton,@form:editButton,@form:deleteButton,@form:ErrorprofilemessageDataTableContextMenu" listener="#{errorprofilemessageController.resetParents}"/>
                <p:ajax event="contextMenu" update="@form:createButton @form:viewButton @form:editButton @form:deleteButton" listener="#{errorprofilemessageController.resetParents}"/>
                <p:ajax event="rowDblselect" onsuccess="document.getElementById('ErrorprofilemessageListForm:viewButton').click();"/>

                <p:column sortBy="#{item.id}" filterBy="#{item.id}">
                    <f:facet name="header">
                        <h:outputText value="#{manage.ListErrorprofilemessageTitle_id}"/>
                    </f:facet>
                    <h:outputText value="#{item.id}"/>
                </p:column>


                <p:column sortBy="#{item.errorcode}" filterBy="#{item.errorcode}">
                    <f:facet name="header">
                        <h:outputText value="#{manage.ListErrorprofilemessageTitle_errorcode}"/>
                    </f:facet>
                    <h:outputText value="#{item.errorcode}"/>
                </p:column>


                <p:column sortBy="#{item.langid}" filterBy="#{item.langid}">
                    <f:facet name="header">
                        <h:outputText value="#{manage.ListErrorprofilemessageTitle_langid}"/>
                    </f:facet>
                    <h:outputText value="#{item.langid}"/>
                </p:column>


                <p:column sortBy="#{item.message}" filterBy="#{item.message}">
                    <f:facet name="header">
                        <h:outputText value="#{manage.ListErrorprofilemessageTitle_message}"/>
                    </f:facet>
                    <h:outputText value="#{item.message}"/>
                </p:column>


                <p:column sortBy="#{item.channelId.channelId}" filterBy="#{item.channelId.channelId}">
                    <f:facet name="header">
                        <h:outputText value="#{manage.ListErrorprofilemessageTitle_channelId}"/>
                    </f:facet>
                    <h:outputText value="#{item.channelId.channelId}"/>
                </p:column>


            </p:dataTable>

            <p:commandButton id="createButton"                             icon="ui-icon-plus"   value="#{manage.Create}" actionListener="#{errorprofilemessageController.prepareCreate}" update=":ErrorprofilemessageCreateForm" oncomplete="ErrorprofilemessageCreateDialog.show()"/>
            <p:commandButton id="viewButton"   style="visibility: hidden;" icon="ui-icon-search" value="#{manage.View}" update=":ErrorprofilemessageViewForm" oncomplete="ErrorprofilemessageViewDialog.show()" disabled="#{empty errorprofilemessageController.selected}"/>
            <p:commandButton id="editButton"   style="visibility: hidden;" icon="ui-icon-pencil" value="#{manage.Edit}" update=":ErrorprofilemessageEditForm" oncomplete="ErrorprofilemessageEditDialog.show()" disabled="#{empty errorprofilemessageController.selected}"/>
            <p:commandButton id="deleteButton" style="visibility: hidden;" icon="ui-icon-trash"  value="#{manage.Delete}" actionListener="#{errorprofilemessageController.delete}" update=":growl,datalist" disabled="#{empty errorprofilemessageController.selected}">
                <p:confirm header="#{manage.ConfirmationHeader}" message="#{manage.ConfirmDeleteMessage}" icon="ui-icon-alert"/>
            </p:commandButton>

        </p:panel>
        <ui:include src="/WEB-INF/include/confirmation.xhtml"/>
    </h:form>

</ui:composition>