<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ErrorprofilemessageViewDlg" widgetVar="ErrorprofilemessageViewDialog" modal="true" resizable="false"  appendTo="@(body)" header="#{manage.ViewErrorprofilemessageTitle}" closeOnEscape="true">

            <h:form id="ErrorprofilemessageViewForm">

                <h:panelGroup id="display">
                    <p:panelGrid columns="2" columnClasses="column" rendered="#{errorprofilemessageController.selected != null}">

                        <h:outputText value="#{manage.ViewErrorprofilemessageLabel_id}"/>
                        <h:outputText value="#{errorprofilemessageController.selected.id}" title="#{manage.ViewErrorprofilemessageTitle_id}"/>

                        <h:outputText value="#{manage.ViewErrorprofilemessageLabel_errorcode}"/>
                        <h:outputText value="#{errorprofilemessageController.selected.errorcode}" title="#{manage.ViewErrorprofilemessageTitle_errorcode}"/>

                        <h:outputText value="#{manage.ViewErrorprofilemessageLabel_langid}"/>
                        <h:outputText value="#{errorprofilemessageController.selected.langid}" title="#{manage.ViewErrorprofilemessageTitle_langid}"/>

                        <h:outputText value="#{manage.ViewErrorprofilemessageLabel_message}"/>
                        <h:outputText value="#{errorprofilemessageController.selected.message}" title="#{manage.ViewErrorprofilemessageTitle_message}"/>

                        <h:outputText value="#{manage.ViewErrorprofilemessageLabel_channelId}"/>
                        <h:outputText value="#{errorprofilemessageController.selected.channelId.channelId}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{manage.Close}" onclick="ErrorprofilemessageViewDialog.hide()"/>
                </h:panelGroup>

            </h:form>

        </p:dialog>

    </ui:composition>

</html>
