<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<composite:interface>
		<composite:attribute name="update" default="@(.smp-config-host)" />
		<composite:attribute name="scriptGotoMonitorTab" default="configTabView.select(3)"/>
		<composite:attribute name="scriptGotoTriggerTab" default="configTabView.select(4)"/>
	</composite:interface>

	<composite:implementation>

		<h:form id="hostForm" styleClass="smp-config-host">

			<br />
			<table>
				<tr>
					<td><p:outputLabel for="select-site" value="#{msg['header.menu.configuration.site_config.site']}: " /></td>
					<td><p:selectOneMenu id="select-site" value="#{configSiteController.model.paramName}">
							<f:selectItems value="#{configSiteController.selectItems}" />
							<p:ajax update="@form" event="change" listener="#{configHostController.reload}" />
						</p:selectOneMenu>
					</td>
					<td><p:outputLabel for="select-system" value="#{msg['header.menu.configuration.site_config.system']}: " /></td>
					<td><p:selectOneMenu id="select-system" value="#{configSystemController.model.paramName}">
							<f:selectItems value="#{configSystemController.selectItems}" />
							<p:ajax update="@form" event="change" listener="#{configHostController.reload}" />
						</p:selectOneMenu>
					</td>
					<td><p:outputLabel for="select-host" value="Host: " /></td>
					<td><p:selectOneMenu id="select-host" value="#{configHostController.model.paramName}">
							<!-- replace selectItems variable to method,  20/10/2015 by jimmy.so ' -->
							<f:selectItems value="#{configHostController.getAllSelectItems()}" />
							<!-- <f:selectItems value="#{configHostController.selectItems}" /> -->
							<p:ajax update="@form" event="change" listener="#{configHostController.reload}" />
						</p:selectOneMenu>
					</td>
				</tr>
			</table>

			<table style="width: 100%;">
				<tr>
					<td style="min-width: 300px; vertical-align: top">
						<p:panel>
							<f:facet name="header">
								<h:outputText
									value="#{msg['header.menu.configuration']} > #{msg['header.menu.configuration.site_config']} > Hosts" />
							</f:facet>

							<p:dataTable var="host" value="#{configHostController.hosts}"
								paginatorPosition="bottom" paginator="true" rows="10"
								rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false">

								<p:column styleClass="colAddBtn">
									<f:facet name="header">
										<p:commandLink style="float:right"
											title="#{msg['general.add']} #{msg['system.host']}"
											styleClass="ui-icon ui-icon-plusthick"
											action="#{configHostController.setHost(null)}"
											process="@this" update="@(.smp-config-host-add)"
											oncomplete="addNode_Dlg.show(); return false;"
											rendered="#{UserBean.accessLevel == 'WRITE'}" />
									</f:facet>
								</p:column>

								<p:column style="white-space:nowrap;">
									<f:facet name="header">Host Name</f:facet>
									<h:outputText value="#{host.name}" />
								</p:column>

								<p:column style="white-space:nowrap;">
									<f:facet name="header">Description</f:facet>
									<h:outputText value="#{host.description}" />
								</p:column>

								<p:column style="white-space:nowrap;">
									<f:facet name="header">Status</f:facet>
									<p:outputLabel value="#{configHostController.monitored(host).status}" 
									rendered="#{host.type == 'SCRIPT'|| host.type == 'BOTH'}"
									styleClass="#{systemEditer.getStatusCssClass(configHostController.monitored(host).statusText)}" />
								</p:column>

								<p:column style="white-space:nowrap;">
									<f:facet name="header">IP</f:facet>
									<h:outputText value="#{host.ipAddr}" />
								</p:column>

								<p:column style="white-space:nowrap;">
									<f:facet name="header">Monitor type</f:facet>
									<h:outputText value="#{host.type}" />
								</p:column>

								<p:column style="white-space:nowrap;">
									<f:facet name="header">Port</f:facet>
									<h:outputText value="#{host.agentJmxPort}" />
								</p:column>

								<p:column>
									<f:facet name="header">Items</f:facet>
									<p:commandLink style="color: blue" value="#{host.monitorConfig.size()} Monitor items" 
										process="@this"
										action="#{configHostController.select(host)}"
										oncomplete="#{cc.attrs.scriptGotoMonitorTab}"/>
								</p:column>

								<p:column>
									<f:facet name="header">Triggers</f:facet>
									<p:commandLink style="color: blue" value="#{configHostController.countTrigger(host)} Triggers" 
										process="@this"
										action="#{configHostController.select(host)}"
										oncomplete="#{cc.attrs.scriptGotoTriggerTab}"/>
								</p:column>

								<p:column style="white-space:nowrap;">
									<f:facet name="header">Enabled</f:facet>
									<h:graphicImage library="images" name="tick.png"
										rendered="#{host.enabled}" />
									<h:graphicImage library="images" name="cross.png"
										rendered="#{!host.enabled}" />
								</p:column>

								<p:column styleClass="threeedit">
									<f:facet name="header">
										<h:outputText value="Action" />
									</f:facet>
									<p:commandLink style="float:left"
										title="#{msg['general.edit']}"
										styleClass="ui-icon ui-icon-pencil" process="@this"
										action="#{configHostController.setHost(host)}"
										update="@form @(.smp-config-host-edit)"
										oncomplete="editHost_dlg.show(); return false;"
										rendered="#{UserBean.accessLevel == 'WRITE'}" />
									<p:commandLink style="float:left"
										title="#{msg['general.delete']}"
										styleClass="ui-icon ui-icon-trash" process="@this"
										action="#{configHostController.setHost(host)}"
										update="@form @(.smp-config-host-delete)"
										oncomplete="delHost_dlg.show()"
										rendered="#{UserBean.accessLevel == 'WRITE'}" />
								</p:column>
							</p:dataTable>
						</p:panel>
					</td>
				</tr>
			</table>

		<!-- NEW -->
		<h:panelGroup rendered="#{configHostController.hosts.size() == 1}">
			<ui:param name="tempHost" value="#{configHostController.hosts[0]}" />
			<!-- Set the value of systemEditer.selectedHost -->
			#{systemEditer.setSelectedHost(configHostController.hosts[0])}			
			<p:dataTable id="hostSnmpConfigsTbl" var="entity" styleClass="host-snmp-configs-tbl"
							value="#{tempHost.snmpConfigsAsList}"
							loadingMessage="... now loading ..."
							style="clear: both; margin-top: 10px;"
							rendered="#{tempHost != null}">
				<f:facet name="header">#{msg['snmp.config']}</f:facet>
				<p:column styleClass="colAddBtn" >
					<f:facet name="header">
						<p:commandLink style="float:right" title="#{msg['general.add']}"
									styleClass="ui-icon ui-icon-plus"
									process="@this" update="@(.smp-config-snmp-add)"
									oncomplete="addSnmp_dlg.show(); return false;" 
									rendered="#{UserBean.accessLevel == 'WRITE'}" />
					</f:facet>		
				</p:column>
				<p:column style="width:100px">
					<f:facet name="header">#{msg['snmp.type']}</f:facet>
					<h:outputText value="#{entity.targetType}" />
				</p:column>
				<p:column>
					<f:facet name="header">#{msg['general.name']}</f:facet>
					<h:outputText value="#{entity.name}" />
				</p:column>		
				<p:column style="width:100px">
					<f:facet name="header">#{msg['snmp.port']}</f:facet>
					<h:outputText value="#{entity.port}" />
				</p:column>	
				<p:column style="width:100px">
					<f:facet name="header">#{msg['snmp.version']}</f:facet>
					<h:outputText value="#{entity.version}" />
				</p:column>						
				<p:column styleClass="twoedit" rendered="#{UserBean.accessLevel == 'WRITE'}">							
					<p:commandLink style="float:right" title="#{msg['general.delete']}" id="deleteSnmpCommandLink_id"
									styleClass="ui-icon ui-icon-trash"
									update="@(.host-snmp-configs-tbl)"
									process="@this"
									oncomplete="delSNMPConfig_dlg.show()" />
					<p:commandLink style="float:right" title="#{msg['general.edit']}" id="editSnmpCommandLink_id"
									styleClass="ui-icon ui-icon-pencil"
									update="@(.smp-config-snmp-edit)"
									action="#{systemEditer.setDummySnmpConfig(entity)}"
									process="@this"
									oncomplete="editSnmp_dlg.show(); return false;" />	
				</p:column>								
			</p:dataTable>
		
			<p:confirmDialog id="delSNMPConfigConfirmDlg"
							message="#{msg['snmp.agent.delete.confirm']}"
							header="#{msg['general.delete']} '#{entity.name}'" severity="alert" widgetVar="delSNMPConfig_dlg">
				<p:commandButton value="#{msg['general.yes']}" update="@(.host-snmp-configs-tbl)"
								oncomplete="delSNMPConfig_dlg.hide()" process="delSNMPConfigConfirmDlg"
								action="#{systemEditer.deleteSnmp(entity)}" />
				<p:commandButton value="#{msg['general.no']}"
								onclick="delSNMPConfig_dlg.hide()" type="button" />
			</p:confirmDialog>
		
			<p:dataTable id="hostInetTbl" var="entity" styleClass="host-inet-tbl"
							value="#{tempHost.inetCategoriesAsList}"
							loadingMessage="... now loading ..."
							style="clear: both; margin-top: 10px;"
							rendered="#{tempHost != null}">
				<f:facet name="header">#{msg['inet.category']}</f:facet>
				<p:column styleClass="colAddBtn" >
					<f:facet name="header">
						<p:commandLink style="float:right" title="#{msg['general.add']}"
									styleClass="ui-icon ui-icon-plus"
									update="@(.smp-config-inet-category-add)"
									action="#{systemEditer.resetInetCategory()}"
									process="@this"
									oncomplete="addInetCategory_dlg.show(); return false;" />
					</f:facet>		
				</p:column>
				<p:column style="width:100px">
					<f:facet name="header">#{msg['general.details']}</f:facet>
					<p:rowToggler />
				</p:column>
				<p:column>
					<f:facet name="header">#{msg['general.name']}</f:facet>
					<h:outputText value="#{entity.name}" />
				</p:column>		
				<p:column>
					<f:facet name="header">#{msg['inet.category.inetCount']}</f:facet>
					<h:outputText value="#{entity.inetCount}" />
				</p:column>							
				<p:column styleClass="twoedit" rendered="#{UserBean.accessLevel == 'WRITE'}">							
					<p:commandLink style="float:right" title="#{msg['general.delete']}" id="deleteInetCategoryCommandLink_id"
									styleClass="ui-icon ui-icon-trash"
									update="@(.host-inet-tbl)"
									process="@this"
									oncomplete="delInetCat_dlg.show()" />
					<p:commandLink style="float:right" title="#{msg['general.edit']}" id="editInetCategoryCommandLink_id"
									styleClass="ui-icon ui-icon-pencil"
									update="@(.smp-config-inet-category-edit)"
									action="#{systemEditer.setDummyInetCategory(entity)}"
									process="@this"
									oncomplete="editInetCategory_dlg.show(); return false;" />	
				</p:column>
		
				<p:rowExpansion style="background-color:white;">
					<p:dataTable styleClass="expanded_content" id="inetTbl"
									value="#{entity.inetsAsList}" var="inet">
						<p:column styleClass="colAddBtn">										
							<f:facet name="header">
								<p:commandLink id="addInetCommandLink_id" style="float:right" title="#{msg['general.add']}"
												styleClass="ui-icon ui-icon-plus"
												update="@(.smp-config-inet-add)"
												action="#{systemEditer.setInetCategory(entity)}"
												oncomplete="addInet_dlg.show(); return false;"
												process="addInetCommandLink_id, @this"/>
							</f:facet>
						</p:column>
						<p:column styleClass="light-color target" >
							<f:facet name="header">#{msg['inet.defaultName']}</f:facet>
							<h:outputText value="#{inet.defaultName}" />
						</p:column>
						<p:column styleClass="light-color watermark">
							<f:facet name="header">#{msg['inet.displayedName']}</f:facet>
							<h:outputText value="#{inet.label}"/>
						</p:column>										
						<p:column styleClass="twoedit" rendered="#{UserBean.accessLevel == 'WRITE'}">
							<p:commandLink id="deleteInetCommandLink_id" style="float:right" title="#{msg['general.delete']}"
											styleClass="ui-icon ui-icon-trash"
											update="inetTbl"
											action="#{systemEditer.deleteInet(inet)}"
											process="deleteInetCommandLink_id, @this"/>
							<p:commandLink id="editInetCommandLink_id" style="float:right" title="#{msg['general.edit']}"
											styleClass="ui-icon ui-icon-pencil"
											update="@(.smp-config-inet-edit)"
											action="#{systemEditer.setDummyInet(inet)}"
											oncomplete="editInet_dlg.show(); return false;"
											process="editInetCommandLink_id, @this" />
						</p:column>
					</p:dataTable>
				</p:rowExpansion>
			</p:dataTable>
		
			<p:confirmDialog id="delInetCatConfirmDlg"
							message="#{msg['general.confirmPrompt']}"
							header="#{msg['general.delete']} '#{entity.name}'" severity="alert" widgetVar="delInetCat_dlg">
				<p:commandButton value="#{msg['general.yes']}" update="@(.host-inet-tbl)"
								oncomplete="delInetCat_dlg.hide()" process="delInetCatConfirmDlg"
								action="#{systemEditer.deleteInetCategory(entity)}" />
				<p:commandButton value="#{msg['general.no']}"
								onclick="delInetCat_dlg.hide()" type="button" />
			</p:confirmDialog>				
		
		</h:panelGroup>
		
			
			
		</h:form>

		<p:dialog header="#{msg['general.add']} #{msg['system.host']}"
			widgetVar="addNode_Dlg" resizable="false" modal="true">
			<h:form id="newNode_form" styleClass="smp-config-host-add">
				<p:panel id="newHostPanel_id">
					<p:outputPanel id="newHost_holder_upper">
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class"
							style="margin-bottom:10px">

							<p:outputLabel for="host_name" value="#{msg['general.name']}" />
							<p:inputText id="host_name"
								value="#{configHostController.host.name}" required="true"
								requiredMessage="#{msg['general.namePrompt']}">
								<f:validator validatorId="NameValidator" />
							</p:inputText>

							<p:outputLabel for="host_desc" value="#{msg['general.desc']}" />
							<p:inputText id="host_desc"
								value="#{configHostController.host.description}" required="true"
								requiredMessage="#{msg['general.descPrompt']}" />

							<p:outputLabel for="host_ip" value="#{msg['system.host.ip']}" />
							<p:inputText id="host_ip"
								value="#{configHostController.host.ipAddr}" required="true"
								requiredMessage="#{msg['system.host.ipPrompt']}">
								<f:validator validatorId="IPValidator" />
							</p:inputText>
							
							<p:outputLabel for="host_site" value="#{msg['system.host.site']}" />
							<p:selectOneMenu id="host_site" value="#{configSiteController.model.paramName}">
								<f:selectItems value="#{configSiteController.allSelectItems}" />
							</p:selectOneMenu>	

							<p:outputLabel for="host_system" value="System" />
							<p:selectOneMenu id="host_system" value="#{configSystemController.model.paramName}">
								<f:selectItems value="#{configSystemController.allSelectItems}" />
							</p:selectOneMenu>

							<p:outputLabel for="host_monitor_type"
								value="#{msg['system.host.type']}" />
							<p:selectOneMenu id="host_monitor_type"
								value="#{configHostController.host.type}">
								<f:selectItem itemLabel="#{msg['system.host.type.agent']}"
									itemValue="SCRIPT" />
								<f:selectItem itemLabel="#{msg['system.host.type.snmp']}"
									itemValue="SNMP" />
								<f:selectItem itemLabel="#{msg['system.host.type.both']}"
									itemValue="BOTH" />
								<p:ajax update="newHost_holder_middle" />
							</p:selectOneMenu>

							<p:outputLabel for="host_role" value="#{msg['system.host.role']}" />
							<p:selectOneMenu id="host_role"
								value="#{configHostController.host.role}">
								<f:selectItem itemLabel="ACTIVE" itemValue="ACTIVE" />
								<f:selectItem itemLabel="STANDBY" itemValue="STANDBY" />
							</p:selectOneMenu>

							<p:outputLabel for="host_enabled"
								value="#{msg['system.enabled']}" />
							<p:selectBooleanCheckbox id="host_enabled"
								value="#{configHostController.host.enabled}" />
						</h:panelGrid>
					</p:outputPanel>
					<p:outputPanel id="newHost_holder_middle">
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class"
							style="margin-bottom:10px">
							<p:outputLabel for="host_jmx_port"
								value="#{msg['system.host.agent.port']}"
								rendered="#{configHostController.host.type!='SNMP'}" />
							<p:inputText id="host_jmx_port"
								value="#{configHostController.host.agentJmxPort}"
								required="true" requiredMessage="#{msg['general.portPrompt']}"
								rendered="#{configHostController.host.type!='SNMP'}">
								<f:validator validatorId="PortValidator" />
							</p:inputText>
						</h:panelGrid>
					</p:outputPanel>
					<p:commandButton id="hostSubmitBtn" value="#{msg['general.save']}"
						action="#{configHostController.add()}"
						oncomplete="handleAddNodeRequest(xhr, status, args);"
						update="@form #{cc.attrs.update}"
						/>
						
				</p:panel>
				<script type="text/javascript">  
					    function handleAddNodeRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	addNode_Dlg.show();
					        } else {  
					        	addNode_Dlg.hide();
					        }  
					    }  
					</script>
			</h:form>
		</p:dialog>

		<p:dialog header="#{msg['general.edit']} #{msg['system.host']}"
			id="editHost_dlg_id" widgetVar="editHost_dlg" resizable="false"
			modal="true">
			<h:form id="editHost_form" styleClass="smp-config-host-edit">
				<p:panel>
					<p:outputPanel id="editHost_holder_upper">
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class"
							style="margin-bottom:10px">
							<p:outputLabel for="editHost_name" value="#{msg['general.name']}" />
							<p:inputText id="editHost_name"
								value="#{configHostController.host.name}" required="true"
								requiredMessage="#{msg['general.namePrompt']}">
								<f:validator validatorId="NameValidator" />
							</p:inputText>
							<p:outputLabel for="editHost_desc" value="#{msg['general.desc']}" />
							<p:inputText id="editHost_desc"
								value="#{configHostController.host.description}" required="true"
								requiredMessage="#{msg['general.descPrompt']}" />
							<p:outputLabel for="editHost_ip" value="#{msg['system.host.ip']}" />
							<p:inputText id="editHost_ip"
								value="#{configHostController.host.ipAddr}" required="true"
								requiredMessage="#{msg['system.host.ipPrompt']}">
								<f:validator validatorId="IPValidator" />
							</p:inputText>
							<p:outputLabel for="editHost_site"
								value="#{msg['system.host.site']}" />
							<p:selectOneMenu id="editHost_site" value="#{configSiteController.model.paramName}">
								<f:selectItems value="#{configSiteController.allSelectItems}"/>
							</p:selectOneMenu>
							<p:outputLabel for="editHost_system"
								value="System" />
							<p:selectOneMenu id="editHost_system" value="#{configSystemController.model.paramName}">
								<f:selectItems value="#{configSystemController.allSelectItems}"/>
							</p:selectOneMenu>
							<p:outputLabel for="editHost_monitor_type"
								value="#{msg['system.host.type']}" />
							<p:selectOneMenu id="editHost_monitor_type"
								value="#{configHostController.host.type}">
								<p:ajax update="editHost_holder_lower, editHost_holder_middle" />
								<f:selectItem itemLabel="#{msg['system.host.type.agent']}"
									itemValue="SCRIPT" />
								<f:selectItem itemLabel="#{msg['system.host.type.snmp']}"
									itemValue="SNMP" />
								<f:selectItem itemLabel="#{msg['system.host.type.both']}"
									itemValue="BOTH" />
							</p:selectOneMenu>
							<p:outputLabel for="editHost_role"
								value="#{msg['system.host.role']}" />
							<p:selectOneMenu id="editHost_role"
								value="#{configHostController.host.role}">
								<f:selectItem itemLabel="ACTIVE" itemValue="ACTIVE" />
								<f:selectItem itemLabel="STANDBY" itemValue="STANDBY" />
							</p:selectOneMenu>

							<p:outputLabel for="editHost_enabled"
								value="#{msg['system.enabled']}" />
							<p:selectBooleanCheckbox id="editHost_enabled"
								value="#{configHostController.host.enabled}" />
						</h:panelGrid>
					</p:outputPanel>
					<p:outputPanel id="editHost_holder_middle">
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class"
							style="margin-bottom:10px">
							<p:outputLabel for="editHost_jmx_port"
								value="#{msg['system.host.agent.port']}"
								rendered="#{configHostController.host.type != 'SNMP'}" />
							<p:inputText id="editHost_jmx_port"
								value="#{configHostController.host.agentJmxPort}"
								rendered="#{configHostController.host.type != 'SNMP'}">
								<f:validator validatorId="PortValidator" />
							</p:inputText>
						</h:panelGrid>
					</p:outputPanel>
					<p:outputPanel id="editHost_holder_lower">

					</p:outputPanel>
					<p:commandButton id="editHostCfmBtn" icon="ui-icon-check"
						value="#{msg['general.save']}" onclick="submit"
						action="#{configHostController.edit()}"
						update="@form #{cc.attrs.update}"
						oncomplete="handleEditHostRequest(xhr, status, args)" />
					<p:commandButton id="editHostCancelBtn" icon="ui-icon-close"
						value="#{msg['general.cancel']}"
						onclick="editHost_dlg.hide(); return false;" type="button"
						/>
				</p:panel>
				<script type="text/javascript">  
					    function handleEditHostRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editHost_dlg.show();
					        } else {  
					        	editHost_dlg.hide();
					        }  
					    }  
					</script>
			</h:form>
		</p:dialog>

		<p:confirmDialog id="delHostConfirmDlg"
			message="#{msg['general.confirmPrompt']}"
			header="#{msg['general.delete']} #{msg['system.host']}"
			severity="alert" widgetVar="delHost_dlg">
			<h:form id="deleteHost_form" styleClass="smp-config-host-delete">
				<p:commandButton id="delHost_confirm" value="#{msg['general.yes']}"
					oncomplete="delHost_dlg.hide()"
					action="#{configHostController.delete()}"
					update="@form #{cc.attrs.update}" />
				<p:commandButton id="delHost_decline" value="#{msg['general.no']}"
					onclick="delHost_dlg.hide()" type="button" />
			</h:form>
		</p:confirmDialog>

		
		<p:dialog header="#{msg['general.add']} #{msg['snmp.config']}" id="addSnmp_dlg_id"
			widgetVar="addSnmp_dlg" resizable="false" modal="true">
			<h:form id="addSnmp_form"  styleClass="smp-config-snmp-add">
				<p:panel rendered="#{tempHost != null}">
					<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">	
						<p:outputLabel for="addSnmp_name" value="#{msg['general.name']}" />
						<p:inputText id="addSnmp_name" value="#{systemEditer.snmpConfig.name}" required="true"
						requiredMessage="#{msg['general.namePrompt']}" />
						<p:outputLabel for="addSnmp_port" value="#{msg['snmp.port']}"/>
						<p:inputText id="addSnmp_port"
							value="#{systemEditer.snmpConfig.port}"  required="true"
						requiredMessage="#{msg['snmp.portPrompt']}">
							<f:validator validatorId="PortValidator" />
						</p:inputText>
						<p:outputLabel for="addSnmp_targetType" value="#{msg['snmp.type']}" />
						<p:selectOneMenu id="addSnmp_targetType"
							value="#{systemEditer.snmpConfig.targetType}" >
							<f:selectItem itemLabel="HOST" itemValue="HOST" />
							<f:selectItem itemLabel="APP" itemValue="APP" />
						</p:selectOneMenu>	
						<p:outputLabel for="addSnmp_version" value="#{msg['snmp.version']}" />
						<p:selectOneMenu id="addSnmp_version"
							value="#{systemEditer.snmpConfig.version}">
							<p:ajax update="addSnmp_bottom_pnl"/>
							<f:selectItem itemLabel="SNMPV1" itemValue="SNMPV1" />
							<f:selectItem itemLabel="SNMPV2" itemValue="SNMPV2" />
							<f:selectItem itemLabel="SNMPV3" itemValue="SNMPV3" />
						</p:selectOneMenu>	
						<p:outputLabel for="addSnmp_mibNames" value="#{msg['snmp.mib']}" />
						<p:selectCheckboxMenu id="addSnmp_mibNames"
							value="#{systemEditer.selectedMibNames}">
							<f:selectItems value="#{systemEditer.mibNameList}" />
						</p:selectCheckboxMenu>					
					</h:panelGrid>
					<p:outputPanel id="addSnmp_bottom_pnl">
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">	
							<p:outputLabel for="addSnmp_community_get" value="#{msg['snmp.community.get']}"
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV2' or systemEditer.snmpConfig.version == 'SNMPV1'}" />
							<p:inputText id="addSnmp_community_get"
								value="#{systemEditer.snmpConfig.communityGet}"
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV2' or systemEditer.snmpConfig.version == 'SNMPV1'}">
							</p:inputText>
							<!--  TODO take the outputPanel out when Community(SET) is needed again -->
							<p:outputPanel rendered="false">
 								<p:outputLabel for="addSnmp_community_set" value="#{msg['snmp.community.set']}"
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV2' or systemEditer.snmpConfig.version == 'SNMPV1'}" />
								<p:inputText id="addSnmp_community_set"
									value="#{systemEditer.snmpConfig.communitySet}"
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV2' or systemEditer.snmpConfig.version == 'SNMPV1'}">
								</p:inputText>
							</p:outputPanel>
							<p:outputLabel for="addSnmp_engineId" value="#{msg['snmp.engineId']}" 
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}"/>
							<p:inputText id="addSnmp_engineId"
								value="#{systemEditer.snmpConfig.engineId}"
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
							</p:inputText>
							<p:outputLabel for="addSnmp_username" value="#{msg['snmp.username']}" 
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}"/>
							<p:inputText id="addSnmp_username"
								value="#{systemEditer.snmpConfig.username}"
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
							</p:inputText>
							<p:outputLabel for="addSnmp_authPassword" value="#{msg['snmp.auth.password']}" 
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}"/>
							<p:password id="addSnmp_authPassword"
								value="#{systemEditer.snmpConfig.authPassword}"
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
							</p:password>
							<p:outputLabel for="addSnmp_authProtocol" value="#{msg['snmp.auth.protocol']}" 
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}"/>
							<p:selectOneMenu id="addSnmp_authProtocol"
								value="#{systemEditer.snmpConfig.auth}"
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
								<f:selectItem itemLabel="" itemValue="NONE" />
								<f:selectItem itemLabel="MD5" itemValue="MD5" />
								<f:selectItem itemLabel="SHA" itemValue="SHA" />
							</p:selectOneMenu>							
							<p:outputLabel for="addSnmp_privPassword" value="#{msg['snmp.priv.password']}" 
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}" />
							<p:password id="addSnmp_privPassword"
								value="#{systemEditer.snmpConfig.privPassword}"
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
							</p:password>
							<p:outputLabel for="addSnmp_privProtocol" value="#{msg['snmp.priv.protocol']}"  
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}"/>
							<p:selectOneMenu id="addSnmp_privProtocol"
								value="#{systemEditer.snmpConfig.priv}"
								rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
								<f:selectItem itemLabel="" itemValue="NONE" />
								<f:selectItem itemLabel="DES" itemValue="DES" />
								<f:selectItem itemLabel="3DES" itemValue="TRIPLE_DES" />
								<f:selectItem itemLabel="AES128" itemValue="AES128" />
								<f:selectItem itemLabel="AES192" itemValue="AES192" />
								<f:selectItem itemLabel="AES256" itemValue="AES256" />
							</p:selectOneMenu>								
						</h:panelGrid>
					</p:outputPanel>
					
					<p:commandButton id="addSnmpCfmBtn" icon="ui-icon-check"
						value="#{msg['general.save']}" onclick="submit" action="#{systemEditer.addSnmp}"
						oncomplete="handleAddSNMPRequest(xhr, status, args)"
						update="@form #{cc.attrs.update}" />		
						
					<p:commandButton id="addSnmpCancelBtn" icon="ui-icon-close" type="button"
						value="#{msg['general.cancel']}" onclick="addSnmp_dlg.hide(); return false;"/>
				</p:panel>				
				<script type="text/javascript">  
				    function handleAddSNMPRequest(xhr, status, args) { 
				        if(args.validationFailed) {
				        	addSnmp_dlg.show();
				        } else {  
				        	addSnmp_dlg.hide();
				        }  
				    }  
				</script>
			</h:form>
		</p:dialog>
		
		<p:dialog header="#{msg['general.edit']} #{msg['snmp.config']}" id="editSnmp_dlg_id"
			widgetVar="editSnmp_dlg" resizable="false"  modal="true">
			<h:form id="editSnmp_form" styleClass="smp-config-snmp-edit">
				<p:panel rendered="#{tempHost != null}">
					<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">	
						<p:outputLabel for="editSnmp_name" value="#{msg['general.name']}" />
						<p:inputText id="editSnmp_name" value="#{systemEditer.dummySnmpConfig.name}" required="true"
						requiredMessage="#{msg['general.namePrompt']}" />
						<p:outputLabel for="editSnmp_port" value="#{msg['snmp.port']}" />
						<p:inputText id="editSnmp_port"
							value="#{systemEditer.dummySnmpConfig.port}" required="true"
							requiredMessage="#{msg['snmp.portPrompt']}">
							<f:validator validatorId="PortValidator" />
						</p:inputText>
						<p:outputLabel for="editSnmp_targetType" value="#{msg['snmp.type']}" />
						<p:selectOneMenu id="editSnmp_targetType"
							value="#{systemEditer.dummySnmpConfig.targetType}" disabled="true">
							<f:selectItem itemLabel="HOST" itemValue="HOST" />
							<f:selectItem itemLabel="APP" itemValue="APP" />
						</p:selectOneMenu>	
						<p:outputLabel for="editSnmp_version" value="#{msg['snmp.version']}" />
						<p:selectOneMenu id="editSnmp_version"
							value="#{systemEditer.dummySnmpConfig.version}">
							<p:ajax update="editSnmp_bottom_pnl"/>
							<f:selectItem itemLabel="SNMPV1" itemValue="SNMPV1" />
							<f:selectItem itemLabel="SNMPV2" itemValue="SNMPV2" />
							<f:selectItem itemLabel="SNMPV3" itemValue="SNMPV3" />
						</p:selectOneMenu>
						<p:outputLabel for="editSnmp_mibNames" value="#{msg['snmp.mib']}" />
						<p:selectCheckboxMenu id="editSnmp_mibNames"
							value="#{systemEditer.selectedMibNames}">
							<f:selectItems value="#{systemEditer.mibNameList}" />
						</p:selectCheckboxMenu>						
					</h:panelGrid>
					<p:outputPanel id="editSnmp_bottom_pnl">
					<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">	
						<p:outputLabel for="editSnmp_community_get" value="#{msg['snmp.community.get']}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV2' or systemEditer.dummySnmpConfig.version == 'SNMPV1'}" />
						<p:inputText id="editSnmp_community_get"
							value="#{systemEditer.dummySnmpConfig.communityGet}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV2' or systemEditer.dummySnmpConfig.version == 'SNMPV1'}">
						</p:inputText>
						<!--  TODO take the outputPanel out when Community(SET) is needed again -->
						<p:outputPanel rendered="false">
							<p:outputLabel for="editSnmp_community_set" value="#{msg['snmp.community.set']}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV2' or systemEditer.dummySnmpConfig.version == 'SNMPV1'}" />
							<p:inputText id="editSnmp_community_set"
								value="#{systemEditer.dummySnmpConfig.communitySet}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV2' or systemEditer.dummySnmpConfig.version == 'SNMPV1'}">
							</p:inputText>
						</p:outputPanel>
						<p:outputLabel for="editSnmp_engineId" value="#{msg['snmp.engineId']}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}"/>
						<p:inputText id="editSnmp_engineId"
							value="#{systemEditer.dummySnmpConfig.engineId}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
						</p:inputText>
						<p:outputLabel for="editSnmp_username" value="#{msg['snmp.username']}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}"/>
						<p:inputText id="editSnmp_username"
							value="#{systemEditer.dummySnmpConfig.username}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
						</p:inputText>
						<p:outputLabel for="editSnmp_authPassword" value="#{msg['snmp.auth.password']}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}"/>
						<p:password id="editSnmp_authPassword" redisplay="true"
							value="#{systemEditer.dummySnmpConfig.authPassword}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
						</p:password>
						<p:outputLabel for="editSnmp_authProtocol" value="#{msg['snmp.auth.protocol']}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}"/>
						<p:selectOneMenu id="editSnmp_authProtocol"
							value="#{systemEditer.dummySnmpConfig.auth}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
							<f:selectItem itemLabel="" itemValue="NONE" />
							<f:selectItem itemLabel="MD5" itemValue="MD5" />
							<f:selectItem itemLabel="SHA" itemValue="SHA" />
						</p:selectOneMenu>							
						<p:outputLabel for="editSnmp_privPassword" value="#{msg['snmp.priv.password']}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}" />
						<p:password id="editSnmp_privPassword" redisplay="true"
							value="#{systemEditer.dummySnmpConfig.privPassword}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
						</p:password>
						<p:outputLabel for="editSnmp_privProtocol" value="#{msg['snmp.priv.protocol']}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}"/>
						<p:selectOneMenu id="editSnmp_privProtocol"
							value="#{systemEditer.dummySnmpConfig.priv}"
							rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
							<f:selectItem itemLabel="" itemValue="NONE" />
							<f:selectItem itemLabel="DES" itemValue="DES" />
							<f:selectItem itemLabel="3DES" itemValue="TRIPLE_DES" />
							<f:selectItem itemLabel="AES128" itemValue="AES128" />
							<f:selectItem itemLabel="AES192" itemValue="AES192" />
							<f:selectItem itemLabel="AES256" itemValue="AES256" />
						</p:selectOneMenu>								
					</h:panelGrid>
					</p:outputPanel>
					<p:commandButton id="editSnmpCfmBtn" icon="ui-icon-check"
						value="#{msg['general.save']}" onclick="submit" action="#{systemEditer.editSnmp}"
						oncomplete="handleEditSNMPRequest(xhr, status, args)"
						update="@form #{cc.attrs.update}" />
					<p:commandButton id="editSnmpCancelBtn" icon="ui-icon-close" type="button"
						value="#{msg['general.cancel']}" onclick="editSnmp_dlg.hide(); return false;"/>
				</p:panel>	
				<script type="text/javascript">  
				    function handleEditSNMPRequest(xhr, status, args) { 
				        if(args.validationFailed) {
				        	editSnmp_dlg.show();
				        } else {  
				        	editSnmp_dlg.hide();
				        }  
				    }  
				</script>	
			</h:form>			
		</p:dialog>
			
		<p:dialog header="#{msg['general.add']} #{msg['inet.category']}" id="addInetCategory_dlg_id"
			widgetVar="addInetCategory_dlg" resizable="false"  modal="true"	>
			<h:form id="addInetCategory_form" styleClass="smp-config-inet-category-add">
				<p:panel rendered="#{tempHost != null}">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<p:outputLabel for="addInetCategory_name" value="#{msg['general.name']}" />
						<p:inputText id="addInetCategory_name"
							value="#{systemEditer.inetCategory.name}" required="true"
							requiredMessage="#{msg['general.namePrompt']}" />							
					</h:panelGrid>
					<p:commandButton id="addInetCategoryCfmBtn" icon="ui-icon-check"
						value="#{msg['general.save']}"  onclick="submit" action="#{systemEditer.addInetCategory}"
						oncomplete="addInetCategory_dlg.hide(); return false;"
						update="@form #{cc.attrs.update}" />
					<p:commandButton id="addInetCategoryCancelBtn" icon="ui-icon-close" type="button"
						value="#{msg['general.cancel']}"  onclick="addInetCategory_dlg.hide(); return false;"/>
				</p:panel>
			</h:form>
		</p:dialog>
		
		<p:dialog header="#{msg['general.edit']} #{msg['inet.category']}" id="editInetCategory_dlg_id"
			widgetVar="editInetCategory_dlg" resizable="false" modal="true"	>
			<h:form id="editInetCategory_form" styleClass="smp-config-inet-category-edit">
				<p:panel rendered="#{tempHost != null}">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<p:outputLabel for="editInetCategory_name" value="#{msg['general.name']}"  />
						<p:inputText id="editInetCategory_name"
							value="#{systemEditer.dummyInetCategory.name}" required="true"
							requiredMessage="#{msg['general.namePrompt']}"  />							
					</h:panelGrid>
					<p:commandButton id="editInetCategoryCfmBtn" icon="ui-icon-check"
						value="#{msg['general.save']}"  onclick="submit" action="#{systemEditer.editInetCategory}"
						oncomplete="editInetCategory_dlg.hide(); return false;"
						update="@form #{cc.attrs.update}" />
					<p:commandButton id="editInetCategoryCancelBtn" icon="ui-icon-close" type="button"
						value="#{msg['general.cancel']}"  onclick="editInetCategory_dlg.hide(); return false;"/>
				</p:panel>
			</h:form>	
		</p:dialog>			
		
		<p:dialog header="#{msg['general.add']} #{msg['inet.inet']}" id="addInet_dlg_id"
			widgetVar="addInet_dlg" resizable="false" modal="true">
			<h:form id="addInet_form" styleClass="smp-config-inet-add">
				<p:panel rendered="#{tempHost != null}">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<p:outputLabel for="addInet_defaultName" value="#{msg['inet.defaultName']}" />
						<p:inputText id="addInet_defaultName"
							value="#{systemEditer.inet.defaultName}" required="true"
							requiredMessage="#{msg['inet.defaultNamePrompt']}" />	
						<p:outputLabel for="addInet_label" value="#{msg['inet.displayedName']}" />
						<p:inputText id="addInet_label"
							value="#{systemEditer.inet.label}" required="true"
							requiredMessage="#{msg['inet.displayedNamePrompt']}" />								
					</h:panelGrid>
					<p:commandButton id="addInetCfmBtn" icon="ui-icon-check"
						value="#{msg['general.save']}" onclick="submit" action="#{systemEditer.addInet}"	
						oncomplete="addInet_dlg.hide(); return false;"						
						update="@form #{cc.attrs.update}" />
					<p:commandButton id="addInetCancelBtn" icon="ui-icon-close" type="button"
						value="#{msg['general.cancel']}" onclick="addInet_dlg.hide(); return false;"/>
				</p:panel>
			</h:form>
		</p:dialog>			
				
	
		<p:dialog header="#{msg['general.edit']} #{msg['inet.inet']}" id="editInet_dlg_id"
			widgetVar="editInet_dlg" resizable="false"  modal="true">
			<h:form id="editInet_form" styleClass="smp-config-inet-edit">
				<p:panel rendered="#{tempHost != null}">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<p:outputLabel for="editInet_defaultName" value="#{msg['inet.defaultName']}" />
						<p:inputText id="editInet_defaultName"
							value="#{systemEditer.dummyInet.defaultName}" required="true"
							requiredMessage="#{msg['inet.defaultNamePrompt']}" />	
						<p:outputLabel for="editInet_label" value="#{msg['inet.displayedName']}" />
						<p:inputText id="editInet_label"
							value="#{systemEditer.dummyInet.label}" required="true"
							requiredMessage="#{msg['inet.displayedNamePrompt']}" />								
					</h:panelGrid>
					<p:commandButton id="editInetCfmBtn" icon="ui-icon-check"
						value="#{msg['general.save']}" onclick="submit" action="#{systemEditer.editInet}"
						oncomplete="editInet_dlg.hide(); return false;"										
						update="@form #{cc.attrs.update}" />
					<p:commandButton id="editInetCancelBtn" icon="ui-icon-close" type="button"
						value="#{msg['general.cancel']}" onclick="editInet_dlg.hide(); return false;"/>
				</p:panel>
			</h:form>
		</p:dialog>	

	
	</composite:implementation>
</h:body>
</html>