<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<composite:interface>
		<composite:attribute name="update" default="@(.smp-config-monitor)" />
		<composite:attribute name="scriptGotoTriggerTab" default="configTabView.select(4)"/>
	</composite:interface>

	<composite:implementation>
	
		<h:form id="monitorForm" styleClass="smp-config-monitor">
			
			<br/>
			<table>
				<tr>
					<td><p:outputLabel for="select-site" value="#{msg['header.menu.configuration.site_config.site']}: " /></td>
					<td><p:selectOneMenu id="select-site" value="#{configSiteController.model.paramName}">
							<f:selectItems value="#{configSiteController.selectItems}" />
							<p:ajax update="@form" event="change" listener="#{configMonitorController.reload}" />
						</p:selectOneMenu>
					</td>
					<td><p:outputLabel for="select-system" value="#{msg['header.menu.configuration.site_config.system']}: " /></td>
					<td><p:selectOneMenu id="select-system" value="#{configSystemController.model.paramName}">
							<f:selectItems value="#{configSystemController.selectItems}" />
							<p:ajax update="@form" event="change" listener="#{configMonitorController.reload}" />
						</p:selectOneMenu>
					</td>
					<td><p:outputLabel for="select-host" value="Host: " /></td>
					<td><p:selectOneMenu id="select-host" value="#{configHostController.model.paramName}">
							<!-- change 'ALL' to 'select all 20/10/2015 by jimmy.so ' -->
							<f:selectItems value="#{configHostController.getEmptySelectItems()}" />
							<!-- <f:selectItems value="#{configHostController.selectItems}" />-->
							<p:ajax update="@form" event="change" listener="#{configMonitorController.reload}" />
						</p:selectOneMenu>
					</td>
					<td><p:outputLabel for="select-monitor" value="Monitor: " /></td>
					<td><p:selectOneMenu id="select-monitor" value="#{configMonitorController.selectedName}">
							<f:selectItems value="#{configMonitorController.selectItems}" />
							<p:ajax update="@form" event="change" listener="#{configMonitorController.reload}" />
						</p:selectOneMenu>
					</td>
				</tr>
			</table>

			<table style="width: 100%;">
				<tr>
					<td style="min-width: 300px; vertical-align: top">
						<p:panel>
							<f:facet name="header">
								<h:outputText
									value="#{msg['header.menu.configuration']} > #{msg['header.menu.configuration.site_config']} > Monitors" />
							</f:facet>

							<p:dataTable var="item" value="#{configMonitorController.monitors}"
								paginatorPosition="bottom" paginator="true" rows="10"
								rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false"
								emptyMessage="No Host selected.">
								
								<ui:remove>
								<p:column styleClass="colAddBtn">
									<f:facet name="header">
										<p:commandLink style="float:right"
											title="#{msg['general.add']} Monitor Items"
											styleClass="ui-icon ui-icon-plusthick" process="@this"
											action="#{configMonitorController.setMonitor(null)}"
											update="@(.smp-config-monitor-add)" 
											oncomplete="addMonitor_dlg.show(); return false;"
											rendered="#{UserBean.accessLevel == 'WRITE' and configHostController.selectedHost != null}" />
									</f:facet>
								</p:column>
								</ui:remove>
									 
								<p:column style="white-space:nowrap;">
									<f:facet name="header">Item Name</f:facet>
									<h:outputText value="#{item.name.name()}" />
								</p:column>
																
								<p:column style="white-space:nowrap;">
									<f:facet name="header">Interval</f:facet>
									<h:outputText value="#{item.monitorInterval}" />
								</p:column>																																				

								<p:column>
									<f:facet name="header">Triggers</f:facet>
									<p:commandLink style="color: blue" value="#{item.thresholdConfig.size()} Triggers" 
										process="@this"
										action="#{configMonitorController.select(item)}"
										oncomplete="#{cc.attrs.scriptGotoTriggerTab}"/>
								</p:column>

								<p:column style="white-space:nowrap;">
									<f:facet name="header">Enabled</f:facet>
									<h:graphicImage library="images" name="tick.png"
										rendered="#{item.enabled}" />
									<h:graphicImage library="images" name="cross.png"
										rendered="#{!item.enabled}" />
								</p:column>

								<p:column styleClass="threeedit">
									<f:facet name="header">
										<h:outputText value="Action" />
									</f:facet>
									<p:commandLink style="float:left"
										title="#{msg['general.edit']}"
										styleClass="ui-icon ui-icon-pencil" process="@this"
										action="#{configMonitorController.setMonitor(item)}"
										update="@form @(.smp-config-monitor-edit)"
										oncomplete="editHostMonitor_dlg.show(); return false;"
										rendered="#{UserBean.accessLevel == 'WRITE'}" />
									<ui:remove>
									<p:commandLink style="float:left"
										title="#{msg['general.delete']}"
										styleClass="ui-icon ui-icon-trash" process="@this"
										action="#{configMonitorController.setMonitor(item)}"
										update="@form @(.smp-config-monitor-delete)"
										oncomplete="delMonitor_dlg.show()"
										rendered="#{UserBean.accessLevel == 'WRITE'}" />
									</ui:remove>
								</p:column>							
							
							</p:dataTable>

						</p:panel>
					</td>
				</tr>
			</table>
		</h:form>
		
		<ui:remove>
			<p:dialog header="#{msg['general.add']} monitor items"
				id="addMonitor_id" widgetVar="addMonitor_dlg"
				rendered="#{UserBean.accessLevel == 'WRITE'}" modal="true"
				resizable="false">
				<h:form id="addMonitor_form">
					<h:panelGrid columns="2">

						<p:outputLabel for="addMonitor_monitorName"
							value="Monitor Item Name" />
						<p:inputText id="addMonitor_monitorName"
							value="#{siteController.site.siteName}" required="true"
							requiredMessage="#{msg['site.dlg.siteName']}" />

						<p:outputLabel for="addMonitor_dataDefinition"
							value="Data definition" />
						<p:selectOneMenu id="addMonitor_dataDefinition"
							value="dataDefinition">
							<f:selectItem itemValue="CPU1_data" itemLabel="CPU1_data" />
							<f:selectItem itemValue="MEM1_data" itemLabel="MEM1_data" />
						</p:selectOneMenu>

						<p:outputLabel for="addMonitor_interval" value="Interval" />
						<p:inputText id="addMonitor_interval" value="" required="true"
							requiredMessage="#{msg['site.dlg.location']}" />

						<p:outputLabel for="addMonitor_enabled"
							value="#{msg['system.enabled']}" />
						<p:selectBooleanCheckbox id="addMonitor_enabled"
							value="#{systemManageController.system.enabled}" />

					</h:panelGrid>
					<p:commandButton id="addMonitorSubmitBtn"
						value="#{msg['general.save']}"
						action="#{siteController.addMonitor()}"
						oncomplete="handleAddRequest(xhr, status, args);" onclick="submit" />
					<script type="text/javascript">
						function handleAddRequest(xhr, status, args) {
							if (args.validationFailed) {
								addMonitor_dlg.show();
							} else {
								addMonitor_dlg.hide();
							}
						}
					</script>

				</h:form>
			</p:dialog>
		</ui:remove>

		<p:dialog header="#{msg['general.edit']} monitor items"
			id="editHostMonitor_id" widgetVar="editHostMonitor_dlg"
			resizable="false" modal="true">
			<h:form id="editMonitor_form" styleClass="smp-config-monitor-edit">
				<h:panelGrid columns="2" style="margin-bottom:10px">
					<ui:remove>
						<p:outputLabel for="editHostMonitor_interval"
							value="#{msg['system.monitor.intervalInSec']}" />
						<p:inputText id="editHostMonitor_interval"
							value="#{configMonitorController.monitor.monitorInterval}" />
					</ui:remove>
					<p:outputLabel for="editHostMonitor_enabled"
						value="#{msg['system.enabled']}" />
					<p:selectBooleanCheckbox id="editHostMonitor_enabled"
						value="#{configMonitorController.monitor.enabled}" />
				</h:panelGrid>
				<p:commandButton id="editHostMonitorCfmBtn" icon="ui-icon-check"
					value="#{msg['general.save']}" onclick="submit"
					action="#{configMonitorController.edit()}"
					update="@form #{cc.attrs.update}" 
					oncomplete="handleEditHostMonitorRequest(xhr, status, args)" />
				<p:commandButton id="editHostMonitorCancelBtn" icon="ui-icon-close"
					value="#{msg['general.cancel']}"
					onclick="editHostMonitor_dlg.hide(); return false;" type="button" />
				<script type="text/javascript">
					function handleEditHostMonitorRequest(xhr, status, args) {
						if (args.validationFailed) {
							editHostMonitor_dlg.show();
						} else {
							editHostMonitor_dlg.hide();
						}
					}
				</script>
			</h:form>
		</p:dialog>
		
		<p:confirmDialog id="delMonitorConfirmDlg"
			message="#{msg['general.confirmPrompt']}"
			header="#{msg['general.delete']} Monitor item"
			severity="alert" widgetVar="delMonitor_dlg">
			<h:form id="deleteMonitor_form" styleClass="smp-config-monitor-delete">
				<p:commandButton id="delMonitor_confirm" value="#{msg['general.yes']}"
					oncomplete="delMonitor_dlg.hide()"
					action="#{configMonitorController.delete()}"
					update="@form #{cc.attrs.update}" />
				<p:commandButton id="delMonitor_decline" value="#{msg['general.no']}"
					onclick="delMonitor_dlg.hide()" type="button" />
			</h:form>
		</p:confirmDialog>

	</composite:implementation>
</h:body>
</html>