<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<composite:interface>
		<composite:attribute name="update" default="@(.smp-config-site)" />
		<composite:attribute name="scriptGotoHostTab" default="configTabView.select(2)"/>
	</composite:interface>

	<composite:implementation>

		<h:form id="siteForm" styleClass="smp-config-site">
			
			<br/>
			<table>
				<tr>
					<td><p:outputLabel for="select-site" value="#{msg['header.menu.configuration.site_config.site']}: "/></td>
					<td>
						<p:selectOneMenu id="select-site" value="#{configSiteController.model.paramName}">
							<f:selectItems value="#{configSiteController.selectItems}" />
							<p:ajax update="@form" event="change" listener="#{configSiteController.reload}"/>
						</p:selectOneMenu>
					</td>
				</tr>
			</table>

			<table style="width: 100%;">
				<tr>
					<td style="min-width: 300px; vertical-align: top">
						<p:panel>
							<f:facet name="header">
								<h:outputText
									value="#{msg['header.menu.configuration']} > #{msg['header.menu.configuration.site_config']} > #{msg['header.menu.configuration.site_config.site']}" />
							</f:facet>

							<p:dataTable var="site" value="#{configSiteController.sites}"
								paginatorPosition="bottom" paginator="true" rows="10"
								rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false">

								<p:column styleClass="colAddBtn">
									<f:facet name="header">
										<p:commandLink style="float:right"
											title="#{msg['general.add']}"
											styleClass="ui-icon ui-icon-plusthick" process="@this"
											action="#{configSiteController.setSite(null)}"
											update="@(.smp-config-site-add)" oncomplete="addSite_dlg.show()"
											rendered="#{UserBean.accessLevel == 'WRITE'}" />
									</f:facet>
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['site.siteName']}" />
									</f:facet>
									<h:outputText value="#{site.siteName}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['site.location']}" />
									</f:facet>
									<h:outputText value="#{site.location}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['site.contact_person']}" />
									</f:facet>
									<h:outputText value="#{site.contactPerson}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['site.phone']}" />
									</f:facet>
									<h:outputText value="#{site.phone}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['site.email']}" />
									</f:facet>
									<h:outputText value="#{site.email}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['site.host_count']}" />
									</f:facet>
									<p:commandLink style="color: blue" value="#{site.hostCount} hosts" 
										process="@this"
										action="#{configSiteController.select(site)}"
										oncomplete="#{cc.attrs.scriptGotoHostTab}"/>
								</p:column>
								<p:column styleClass="threeedit">
									<f:facet name="header">
										<h:outputText value="Action" />
									</f:facet>
									<p:commandLink style="float:left"
										title="#{msg['general.edit']}"
										styleClass="ui-icon ui-icon-pencil" process="@this"
										action="#{configSiteController.setSite(site)}"
										update="@(.smp-config-site-edit)"
										oncomplete="editSite_dlg.show(); return false;"
										rendered="#{UserBean.accessLevel == 'WRITE'}" />
									<p:commandLink style="float:left"
										title="#{msg['general.delete']}"
										styleClass="ui-icon ui-icon-trash" process="@this"
										action="#{configSiteController.setSite(site)}"
										update="@(.smp-config-site-delete)"
										oncomplete="delSite_dlg.show(); return false;"
										rendered="#{UserBean.accessLevel == 'WRITE'}"/>
									<!-- disabled="#{site.hostCount!=0}" -->

								</p:column>
							</p:dataTable>
						</p:panel>
					</td>
				</tr>
			</table>
		</h:form>

		<p:dialog header="#{msg['general.add']} #{msg['site.title']}"
			id="addSite_id" widgetVar="addSite_dlg"
			rendered="#{UserBean.accessLevel == 'WRITE'}" modal="true"
			resizable="false">
			<!-- visible="#{configSiteController.sitesEmpty}" -->
			<h:form id="addSite_form" styleClass="smp-config-site-add">
				<h:panelGrid columns="2">
					<p:outputLabel for="addSite_siteName"
						value="#{msg['site.siteName']}" />
					<p:inputText id="addSite_siteName"
						value="#{configSiteController.site.siteName}" required="true"
						requiredMessage="#{msg['site.dlg.siteName']}" />
					<p:outputLabel for="addSite_location"
						value="#{msg['site.location']}" />
					<p:inputText id="addSite_location"
						value="#{configSiteController.site.location}" required="true"
						requiredMessage="#{msg['site.dlg.location']}" />
					<p:outputLabel for="addSite_contactPerson"
						value="#{msg['site.contact_person']}" />
					<p:inputText id="addSite_contactPerson"
						value="#{configSiteController.site.contactPerson}" />
					<p:outputLabel for="addSite_phone" value="#{msg['site.phone']}" />
					<p:inputText id="addSite_phone"
						value="#{configSiteController.site.phone}" />
					<p:outputLabel for="addSite_email" value="#{msg['site.email']}" />
					<p:inputText id="addSite_email"
						value="#{configSiteController.site.email}">
						<f:validator validatorId="EmailValidator" />
					</p:inputText>
				</h:panelGrid>
				<p:commandButton id="addSiteSubmitBtn"
					value="#{msg['general.save']}" action="#{configSiteController.add()}"
					update="@form #{cc.attrs.update}"
					oncomplete="handleAddRequestSite(xhr, status, args);"
					onclick="submit" />
				<script type="text/javascript">  
					    function handleAddRequestSite(xhr, status, args) { 
					        if(args.validationFailed) {
					        	addSite_dlg.show();
					        } else {  
					        	addSite_dlg.hide();
					        }  
					    }  
					</script>
			</h:form>
		</p:dialog>

		<p:dialog header="#{msg['general.edit']} #{msg['site.title']}"
			id="editSite_id" widgetVar="editSite_dlg" modal="true"
			resizable="false">
			<h:form id="editSite_form" styleClass="smp-config-site-edit">
				<h:panelGrid columns="2">
					<p:outputLabel for="editSite_siteName"
						value="#{msg['site.siteName']}" />
					<p:inputText id="editSite_siteName"
						value="#{configSiteController.site.siteName}" required="true"
						requiredMessage="#{msg['site.dlg.siteName']}" />
					<p:outputLabel for="editSite_location"
						value="#{msg['site.location']}" />
					<p:inputText id="editSite_location"
						value="#{configSiteController.site.location}" required="true"
						requiredMessage="#{msg['site.dlg.location']}" />
					<p:outputLabel for="editSite_contactPerson"
						value="#{msg['site.contact_person']}" />
					<p:inputText id="editSite_contactPerson"
						value="#{configSiteController.site.contactPerson}" />
					<p:outputLabel for="editSite_phone" value="#{msg['site.phone']}" />
					<p:inputText id="editSite_phone"
						value="#{configSiteController.site.phone}" />
					<p:outputLabel for="editSite_email" value="#{msg['site.email']}" />
					<p:inputText id="editSite_email"
						value="#{configSiteController.site.email}">
						<f:validator validatorId="EmailValidator" />
					</p:inputText>
				</h:panelGrid>
				<p:commandButton id="editSiteSubmitBtn"
					value="#{msg['general.save']}"
					action="#{configSiteController.edit()}" update="@form #{cc.attrs.update}"
					oncomplete="handleEditRequestSite(xhr, status, args);"
					onclick="submit" />
				<script type="text/javascript">  
					    function handleEditRequestSite(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editSite_dlg.show();
					        } else {  
					        	editSite_dlg.hide();
					        }  
					    }  
					</script>
			</h:form>
		</p:dialog>
		
		<p:confirmDialog id="delSiteConfirmDlg"
			message="#{msg['general.confirmPrompt']}"
			header="#{msg['general.delete']} Site"
			severity="alert" widgetVar="delSite_dlg">
			<h:form id="deleteSite_form" styleClass="smp-config-site-delete">
				<p:commandButton id="delSite_confirm" value="#{msg['general.yes']}"
					oncomplete="delSite_dlg.hide()"
					action="#{configSiteController.delete()}"
					update="@form #{cc.attrs.update}" />
				<p:commandButton id="delSite_decline" value="#{msg['general.no']}"
					onclick="delSite_dlg.hide()" type="button" />
			</h:form>
		</p:confirmDialog>

	</composite:implementation>
</h:body>
</html>