<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<composite:interface>
		<composite:attribute name="update" default="@(.smp-config-system)" />
		<composite:attribute name="scriptGotoHostTab" default="configTabView.select(2)"/>
	</composite:interface>

	<composite:implementation>

		<h:form id="systemForm" styleClass="smp-config-system">

			<br />
			<table>
				<tr>
					<td><p:outputLabel for="select-system" value="#{msg['header.menu.configuration.site_config.system']}: "/></td>
					<td>
						<p:selectOneMenu id="select-system" value="#{configSystemController.model.paramName}">
							<f:selectItems value="#{configSystemController.selectItems}" />
							<p:ajax update="@form" event="change" listener="#{configSystemController.reload}"/>
						</p:selectOneMenu>
					</td>
				</tr>
			</table>

			<table style="width: 100%;">
				<tr>
					<td style="min-width: 300px; vertical-align: top">
						<p:panel>
							<f:facet name="header">
								<h:outputText
									value="#{msg['header.menu.configuration']} > #{msg['header.menu.configuration.site_config']} > #{msg['header.menu.configuration.site_config.system']}" />
							</f:facet>
							
							<p:dataTable var="system" value="#{configSystemController.systems}"
								paginatorPosition="bottom" paginator="true" rows="10"
								rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false">
								
								<p:column styleClass="colAddBtn">
									<f:facet name="header">
										<p:commandLink style="float:right"
											title="#{msg['general.add']} #{msg['system.system']}"
											styleClass="ui-icon ui-icon-plusthick" 
											action="#{configSystemController.setSystem(null)}"
											process="@this"
											update="@(.smp-config-system-add)" oncomplete="addSystem_Dlg.show()"
											rendered="#{UserBean.accessLevel == 'WRITE'}" />
									</f:facet>
								</p:column>
								
								<p:column style="white-space:nowrap;">
									<f:facet name="header">System name</f:facet>
									<h:outputText value="#{system.name}" />
								</p:column>

								<p:column style="white-space:nowrap;">
									<f:facet name="header">Description</f:facet>
									<h:outputText value="#{system.description}" />
								</p:column>
								
								<p:column>
									<f:facet name="header">
										<h:outputText value="Hosts" />
									</f:facet>
									<p:commandLink style="color: blue" value="#{system.hosts.size()} hosts" 
										process="@this"
										action="#{configSystemController.select(system)}"
										oncomplete="#{cc.attrs.scriptGotoHostTab}"/>
								</p:column>
								
								<p:column style="white-space:nowrap;">
									<f:facet name="header">Enabled</f:facet>
									<h:graphicImage library="images" name="tick.png" rendered="#{system.enabled}"/>
									<h:graphicImage library="images" name="cross.png" rendered="#{!system.enabled}"/>
								</p:column>
								
								<p:column styleClass="threeedit">
									<f:facet name="header">
										<h:outputText value="Action" />
									</f:facet>
									<p:commandLink style="float:left"
										title="#{msg['general.edit']}"
										styleClass="ui-icon ui-icon-pencil" process="@this"
										action="#{configSystemController.setSystem(system)}"
										update="@(.smp-config-system-edit)"
										oncomplete="editSystem_dlg.show(); return false;"
										rendered="#{UserBean.accessLevel == 'WRITE'}" />
									<p:commandLink style="float:left"
										title="#{msg['general.delete']}"
										styleClass="ui-icon ui-icon-trash" process="@this"
										action="#{configSystemController.setSystem(system)}"
										update="@(.smp-config-system-delete)"
										oncomplete="delSystem_dlg.show(); return false;"
										rendered="#{UserBean.accessLevel == 'WRITE'}" />
								</p:column>
							</p:dataTable>
						</p:panel>
					</td>
				</tr>
			</table>
		</h:form>

		<p:dialog header="#{msg['general.add']} #{msg['system.system']}"
			widgetVar="addSystem_Dlg" resizable="false" modal="true">
			<!-- visible="#{systemEditer.systemTreeEmpty}" -->
			<h:form id="addSystem_form" styleClass="smp-config-system-add">
				<p:panel id="newSystemPanel_id">
					<h:panelGrid columns="2" style="margin-bottom:10px">

						<p:outputLabel for="system_name" value="#{msg['general.name']}" />
						<p:inputText id="system_name"
							value="#{configSystemController.system.name}" required="#{true}"
							requiredMessage="#{msg['general.namePrompt']}">
							<f:validator validatorId="NameValidator" />
						</p:inputText>

						<p:outputLabel for="system_desc" value="#{msg['general.desc']}" />
						<p:inputText id="system_desc"
							value="#{configSystemController.system.description}"
							required="#{true}" requiredMessage="#{msg['general.descPrompt']}" />

						<p:outputLabel for="system_enabled"
							value="#{msg['system.enabled']}" />
						<p:selectBooleanCheckbox id="system_enabled"
							value="#{configSystemController.system.enabled}" />

					</h:panelGrid>
					<p:commandButton id="systemSubmitBtn"
						value="#{msg['general.save']}" action="#{configSystemController.add()}"
						update="@form #{cc.attrs.update}"
						oncomplete="handleAddSystemRequest(xhr, status, args);" />
				</p:panel>
				<script type="text/javascript">
					function handleAddSystemRequest(xhr, status, args) {
						if (args.validationFailed) {
							addSystem_Dlg.show();
						} else {
							addSystem_Dlg.hide();
						}
					}
				</script>
			</h:form>
		</p:dialog>

		<p:dialog header="#{msg['general.edit']} #{msg['system.system']}"
			id="editSystem_dlg_id" widgetVar="editSystem_dlg" resizable="false">
			<h:form id="editSystem_form" styleClass="smp-config-system-edit">
				<p:panel>
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<p:outputLabel for="editSystem_name"
							value="#{msg['general.name']}" />
						<p:inputText id="editSystem_name"
							value="#{configSystemController.system.name}" required="true"
							requiredMessage="#{msg['general.namePrompt']}">
							<f:validator validatorId="NameValidator" />
						</p:inputText>
						<p:outputLabel for="editSystem_desc"
							value="#{msg['general.desc']}" />
						<p:inputText id="editSystem_desc"
							value="#{configSystemController.system.description}" required="true"
							requiredMessage="#{msg['general.descPrompt']}" />
						<p:outputLabel for="editSystem_enabled"
							value="#{msg['system.enabled']}" />
						<p:selectBooleanCheckbox id="editSystem_enabled"
							value="#{configSystemController.system.enabled}" />
					</h:panelGrid>
					<p:commandButton id="editSystemCfmBtn" icon="ui-icon-check"
						value="#{msg['general.save']}" onclick="submit"
						action="#{configSystemController.edit()}"
						update="@form #{cc.attrs.update}"
						oncomplete="handleEditSystemRequest(xhr, status, args)" />
					<p:commandButton id="editSystemCancelBtn" icon="ui-icon-close"
						value="#{msg['general.cancel']}"
						onclick="editSystem_dlg.hide(); return false;" type="button" />
				</p:panel>
				<script type="text/javascript">
					function handleEditSystemRequest(xhr, status, args) {
						if (args.validationFailed) {
							editSystem_dlg.show();
						} else {
							editSystem_dlg.hide();
						}
					}
				</script>
			</h:form>
		</p:dialog>
		
		<p:confirmDialog id="delSystemConfirmDlg"
			message="#{msg['general.confirmPrompt']}"
			header="#{msg['general.delete']} System"
			severity="alert" widgetVar="delSystem_dlg">
			<h:form id="deleteSystem_form" styleClass="smp-config-system-delete">
				<p:commandButton id="delSystem_confirm" value="#{msg['general.yes']}"
					oncomplete="delSystem_dlg.hide()"
					action="#{configSystemController.delete()}"
					update="@form #{cc.attrs.update}" />
				<p:commandButton id="delSystem_decline" value="#{msg['general.no']}"
					onclick="delSystem_dlg.hide()" type="button" />
			</h:form>
		</p:confirmDialog>

	</composite:implementation>
</h:body>
</html>