<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:body>
	<composite:interface>
		<composite:attribute name="update" default="@(.smp-config-trigger)" />
	</composite:interface>

	<composite:implementation>
	
		<h:form id="triggerForm" styleClass="smp-config-trigger">
			
			<br/>
			<table>
				<tr>
					<td><p:outputLabel for="select-site" value="#{msg['header.menu.configuration.site_config.site']}: " /></td>
					<td><p:selectOneMenu id="select-site" value="#{configSiteController.model.paramName}">
							<f:selectItems value="#{configSiteController.selectItems}" />
							<p:ajax update="@form" event="change" listener="#{configTriggerController.reload}" />
						</p:selectOneMenu>
					</td>
					<td><p:outputLabel for="select-system" value="#{msg['header.menu.configuration.site_config.system']}: " /></td>
					<td><p:selectOneMenu id="select-system" value="#{configSystemController.model.paramName}">
							<f:selectItems value="#{configSystemController.selectItems}" />
							<p:ajax update="@form" event="change" listener="#{configTriggerController.reload}" />
						</p:selectOneMenu>
					</td>
					<td><p:outputLabel for="select-host" value="Host: " /></td>
					<td><p:selectOneMenu id="select-host" value="#{configHostController.model.paramName}">
							<!-- change 'ALL' to 'select all 20/10/2015 by jimmy.so ' -->
							<f:selectItems value="#{configHostController.getEmptySelectItems()}" />
							<!-- <f:selectItems value="#{configHostController.selectItems}" />-->
							<p:ajax update="@form" event="change" listener="#{configTriggerController.reload}" />
						</p:selectOneMenu>
					</td>
					<td><p:outputLabel for="select-monitor" value="Monitor: " /></td>
					<td><p:selectOneMenu id="select-monitor" value="#{configMonitorController.selectedName}">
							<f:selectItems value="#{configMonitorController.selectItems}" />
							<p:ajax update="@form" event="change" listener="#{configTriggerController.reload}" />
						</p:selectOneMenu>
					</td>
					<ui:remove>
					<td><p:outputLabel for="select-trigger" value="Trigger: " /></td>
					<td><p:selectOneMenu id="select-trigger" value="#{configTriggerController.selectedName}">
							<f:selectItems value="#{configTriggerController.selectItems}" />
							<p:ajax update="@form" event="change" listener="#{configTriggerController.reload}" />
						</p:selectOneMenu>
					</td>
					</ui:remove>
				</tr>
			</table>

			<table style="width: 100%;">
				<tr>
					<td style="min-width: 300px; vertical-align: top">
						<p:panel>
							<f:facet name="header">
								<h:outputText
									value="#{msg['header.menu.configuration']} > #{msg['header.menu.configuration.site_config']} > Triggers" />
							</f:facet>
							
							<p:dataTable var="trigger" value="#{configTriggerController.triggers}"
								paginatorPosition="bottom" paginator="true" rows="10"
								rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false"
								emptyMessage="No Host selected.">
 	                            
 	                            <!-- remove add trigger button , 20/10/2015 by jimmy.so -->
								<!-- <p:column styleClass="colAddBtn">
									<f:facet name="header">
										<p:commandLink style="float:right"
											title="#{msg['general.add']}"
											styleClass="ui-icon ui-icon-plusthick" process="@this"
											action="#{configTriggerController.setTrigger(null)}"
											update="@(.smp-config-trigger-add)" oncomplete="addTrigger_dlg.show()"
											rendered="#{UserBean.accessLevel == 'WRITE' and configMonitorController.selectedMonitor != null}" />
									</f:facet>
								</p:column> -->
								
								<ui:remove>
								<p:column style="white-space:nowrap;">
									<f:facet name="header">Trigger Name</f:facet>
									<h:outputText value="#{configTriggerController.buildName(trigger)}" />
								</p:column>
								</ui:remove>
								
								<p:column style="white-space:nowrap;">
									<f:facet name="header">Monitor</f:facet>
									<h:outputText value="#{trigger.hostMonitorConfig.name.name()}" />
								</p:column>
								
								<p:column style="white-space:nowrap;">
									<f:facet name="header">Target</f:facet>
									<h:outputText value="#{trigger.target}" />
								</p:column>		
																
								<p:column style="white-space:nowrap;">
									<f:facet name="header">Watermark</f:facet>
									<h:outputText value="#{trigger.watermark}">
										<f:convertNumber pattern="#0.0" />
									</h:outputText>
								</p:column>																																				

								<p:column>
									<f:facet name="header">Severity</f:facet>
									<h:outputText  value="#{trigger.level}" />
								</p:column>

								<p:column styleClass="threeedit">
									<f:facet name="header">
										<h:outputText value="Action" />
									</f:facet>
									<p:commandLink style="float:left"
										title="#{msg['general.edit']}"
										styleClass="ui-icon ui-icon-pencil" process="@this"
										action="#{configTriggerController.setTrigger(trigger)}"
										update="@form @(.smp-config-trigger-edit)"
										oncomplete="editMonitorThreshold_dlg.show(); return false;"
										rendered="#{UserBean.accessLevel == 'WRITE'}" />
									<!--  remove delete trigger button , 20/10/2015 by jimmy.so -->
									<!--  
									<p:commandLink style="float:left"
										title="#{msg['general.delete']}"
										styleClass="ui-icon ui-icon-trash" process="@this"
										action="#{configTriggerController.setTrigger(trigger)}"
										update="@form @(.smp-config-trigger-delete)"
										oncomplete="delTrigger_dlg.show()"
										rendered="#{UserBean.accessLevel == 'WRITE'}" />
									 -->
								</p:column>						
							
							</p:dataTable>
							
						</p:panel>
					</td>
				</tr>
			</table>
		</h:form>

		<p:dialog header="#{msg['general.add']} Trigger"
			id="addTrigger_id" widgetVar="addTrigger_dlg"
			rendered="#{UserBean.accessLevel == 'WRITE'}" modal="true"
			resizable="false">
			<h:form id="addTrigger_form" styleClass="smp-config-trigger-add">
				<h:panelGrid columns="2">

					<p:outputLabel for="addTrigger_Target" value="Target" />
					<p:inputText id="addTrigger_Target"
						value="#{configTriggerController.trigger.target}" required="true"
						requiredMessage="Target is required" />

					<p:outputLabel for="addTrigger_watermark" value="Watermark" />
					<p:inputText id="addTrigger_watermark" 
						value="#{configTriggerController.trigger.watermark}" required="true"
						requiredMessage="Watermark is required" />

					<p:outputLabel for="addTrigger_severity" value="Severity" />
					<p:selectOneMenu id="addTrigger_severity" value="#{configTriggerController.trigger.level}">
						<f:selectItems value="#{configTriggerController.warningLevels}" />
					</p:selectOneMenu>

				</h:panelGrid>
				
				<!-- remove add trigger button , 20/10/2015 by jimmy.so -->
				<!--   
				<p:commandButton id="addTriggerSubmitBtn"
					value="#{msg['general.save']}"
					action="#{configTriggerController.add()}"
					update="@form #{cc.attrs.update}"
					oncomplete="handleAddRequest(xhr, status, args);" 
					onclick="submit" />
				<script type="text/javascript">  
					    function handleAddRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	addTrigger_dlg.show();
					        } else {  
					        	addTrigger_dlg.hide();
					        }  
					    }  
					</script>
					-->
			</h:form>
		</p:dialog>

		<p:dialog
			header="#{msg['general.edit']} Trigger"
			id="editMonitorThreshold_id" widgetVar="editMonitorThreshold_dlg"
			resizable="false" modal="true">
			<h:form id="editMonitorThreshold_form" styleClass="smp-config-trigger-edit">
				<h:panelGrid columns="2">

					<p:outputLabel for="editTrigger_Target" value="Target" />
					<p:inputText id="editTrigger_Target"
						value="#{configTriggerController.trigger.target}" required="true"
						requiredMessage="Target is required" />

					<p:outputLabel for="editTrigger_watermark" value="Watermark" />
					<p:inputText id="editTrigger_watermark" 
						value="#{configTriggerController.trigger.watermark}" required="true"
						requiredMessage="Watermark is required" />

					<p:outputLabel for="editTrigger_severity" value="Severity" />
					<p:selectOneMenu id="editTrigger_severity" value="#{configTriggerController.trigger.level}">
						<f:selectItems value="#{configTriggerController.warningLevels}" />
					</p:selectOneMenu>

				</h:panelGrid>
				<p:commandButton id="editMonitorThresholdCfmBtn"
					icon="ui-icon-check" value="#{msg['general.save']}"
					onclick="submit"
					action="#{configTriggerController.edit()}"
					update="@form #{cc.attrs.update}"
					oncomplete="editMonitorThreshold_dlg.hide(); return false;" />
				<p:commandButton id="editMonitorThresholdCancelBtn"
					icon="ui-icon-close" value="#{msg['general.cancel']}" type="button"
					onclick="editMonitorThreshold_dlg.hide(); return false;" />
			</h:form>
		</p:dialog>
		
		<!--  remove delete trigger confirmation dialog, 20/10/2015 by jimmy.so -->
		<!--  
		<p:confirmDialog id="delTriggerConfirmDlg"
			message="#{msg['general.confirmPrompt']}"
			header="#{msg['general.delete']} Trigger"
			severity="alert" widgetVar="delTrigger_dlg">
			<h:form id="deleteTrigger_form" styleClass="smp-config-trigger-delete">
				<p:commandButton id="delTrigger_confirm" value="#{msg['general.yes']}"
					oncomplete="delTrigger_dlg.hide()"
					action="#{configTriggerController.delete()}"
					update="@form #{cc.attrs.update}" />
				<p:commandButton id="delTrigger_decline" value="#{msg['general.no']}"
					onclick="delTrigger_dlg.hide()" type="button" />
			</h:form>
		</p:confirmDialog>
 		-->
	</composite:implementation>
</h:body>
</html>