<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>

<h:body>
	<composite:interface>
		<composite:attribute name="showStatus" type="Boolean" />
	</composite:interface>

	<composite:implementation>
		<p:treeTable id="tblSys" widgetVar="systemTable"
			value="#{entitySelectorController.entityRoot}" var="entity"
			selectionMode="single"
			selection="#{entitySelectorController.selectedNode}">
			<p:ajax event="select"
				listener="#{entitySelectorController.onEntitySelect}" update="@form"
				process="@this" />

			<p:column>
				<f:facet name="header">#{msg['entityselector.name']}</f:facet>
				<h:outputText value="#{entity.name}" />
			</p:column>
			<p:column>
				<f:facet name="header">#{msg['entityselector.type']}</f:facet>
				<h:outputText value="#{entity.entityType}" />
			</p:column>
			<p:column>
				<f:facet name="header">#{msg['entityselector.status']}</f:facet>
				<h:outputText value="#{entity.statusText}"
					styleClass="#{entitySelectorController.getStatusCssClass(entity.statusText)}" />
			</p:column>
			<p:column style="white-space:nowrap;">
				<f:facet name="header">Critical</f:facet>
				<h:outputText value="#{alarmSummaryView.countCritical(entity)}" />
			</p:column>
			<p:column style="white-space:nowrap;">
				<f:facet name="header">Pending</f:facet>
				<h:outputText value="#{alarmSummaryView.countPending(entity)}" />
			</p:column>
			<p:column style="white-space:nowrap;">
				<f:facet name="header">Last hour alarm #</f:facet>
				<h:outputText value="#{alarmSummaryView.countLastHour(entity)}" />
			</p:column>
			<p:column style="white-space:nowrap;">
				<f:facet name="header">Last hour manual handled #</f:facet>
				<h:outputText value="#{alarmSummaryView.countLastHourHandled(entity)}" />
			</p:column>
		</p:treeTable>

	</composite:implementation>

</h:body>
</html>