<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/master.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<ui:define name="title">
		#{msg['main.title']} - #{packageTitle}
	</ui:define>

	<ui:define name="pageTitle">
		#{packageTitle}
	</ui:define>

	<ui:define name="content">
		<p:growl id="growl" showDetail="false" globalOnly="false" autoUpdate="true" />
		
		<h:form id="packForm" styleClass="packForm">
			<p:panel>
				<f:facet name="header">
					<h:outputText value="#{packageTitle}" styleClass="tableHeader" />
				</f:facet>
				<p:dataTable var="pack"
					value="#{ctrl.listModel}" paginatorPosition="bottom"
					paginator="true" rows="10" rowsPerPageTemplate="10,20,50"
					paginatorAlwaysVisible="false">

					<p:column styleClass="colAddBtn">
						<f:facet name="header">
							<p:commandLink title="#{msg['general.add']}"
								styleClass="ui-icon ui-icon-plusthick"
								action="#{ctrl.setModel(null)}"
								process="@this" update="@(.packDialog)"
								oncomplete="packDialog.show();"
								rendered="#{UserBean.accessLevel == 'WRITE'}">
								<f:setPropertyActionListener target="#{ctrl.readOnly}" value="#{false}" />
							</p:commandLink>
						</f:facet>
					</p:column>

					<p:column headerText="Name"
						filterBy="#{pack.name}" filterMatchMode="contains">
						<p:commandLink value="#{pack.name}" style="color:blue;"
							action="#{ctrl.setModel(pack)}"
							process="@this" update="@(.packDialog)"
							oncomplete="packDialog.show();">
							<f:setPropertyActionListener target="#{ctrl.readOnly}" value="#{true}" />
						</p:commandLink>
					</p:column>
					
					<ui:insert name="packageInfo"></ui:insert>
					
					<p:column headerText="Active" style="width:50px; white-space:nowrap;">
						<h:graphicImage library="images" name="tick.png" rendered="#{pack.active}" style="float:right; padding-right:10px;"/>
						<h:graphicImage library="images" name="cross.png" rendered="#{!pack.active}" style="float:right; padding-right:10px;"/>
					</p:column>
					
					<p:column headerText="Action" style="width:60px;"
						rendered="#{UserBean.getAccessLevel() == 'WRITE'}">
						<h:panelGroup>
						
							<p:commandLink style="float:right"
								styleClass="ui-icon ui-icon-trash"
								action="#{ctrl.setModel(pack)}"
								process="@this" update="@(.packDialog)"
								oncomplete="packDelDialog.show()"
								title="#{msg['general.delete']}"
								disabled="#{pack.active}" />
								
							<p:commandLink style="float:right"
								styleClass="ui-icon ui-icon-pencil"
								action="#{ctrl.setModel(pack)}"
								process="@this" update="@(.packDialog)"
								oncomplete="packDialog.show();" 
								title="#{msg['general.edit']}">
								<f:setPropertyActionListener target="#{ctrl.readOnly}" value="#{false}" />
							</p:commandLink>
							
							<p:commandLink style="float:right"
								styleClass="ui-icon ui-icon-search"
								action="#{ctrl.setModel(pack)}"
								process="@this" update="@(.packDialog)"
								oncomplete="packDialog.show();" 
								title="#{msg['general.details']}">
								<f:setPropertyActionListener target="#{ctrl.readOnly}" value="#{true}" />
							</p:commandLink>
							
						</h:panelGroup>
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>

		<h:form id="packDelDialogForm" styleClass="packDialog">
			<p:confirmDialog id="packDelDialog" widgetVar="packDelDialog"
				header="#{msg['general.delete']} #{packageTitle} : #{ctrl.model.name}"
				modal="true"
				message="#{msg['general.confirmPrompt']}">
				<p:commandButton value="#{msg['general.yes']}"
					action="#{ctrl.delete()}"
					update="@form @(.packForm)"
					oncomplete="packDelDialog.hide()"/>
				<p:commandButton value="#{msg['general.no']}"
					oncomplete="packDelDialog.hide()" />
			</p:confirmDialog>
		</h:form>

		<h:form id="packDialogForm" styleClass="packDialog">
			<p:dialog id="packDialog" widgetVar="packDialog"
				header="#{ctrl.readOnly ? msg['general.details'] : (ctrl.model.id == null ? msg['general.add'] : msg['general.edit'])} #{packageTitle} : #{ctrl.model.name}"
				modal="true" resizable="false">
				<h:panelGrid columns="#{dialogPanelColumns}">
				
					<p:outputLabel for="pack_name" value="Package Name:" />
					<p:inputText id="pack_name" value="#{ctrl.model.name}"
						required="true" requiredMessage="Package Name is required" 
						rendered="#{not ctrl.readOnly}"/>
					<h:outputText value="#{ctrl.model.name}" rendered="#{ctrl.readOnly}"/>
	
					<ui:insert name="packageDetail"></ui:insert>

					<p:outputLabel for="pack_active" value="Activated:"/>
					<p:selectBooleanCheckbox id="pack_active" value="#{ctrl.model.active}" 
						rendered="#{not ctrl.readOnly}"/>
					<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.active}" />
					<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.active}" />

				</h:panelGrid>
				<br />
				<p:commandButton value="#{msg['general.save']}"
					action="#{ctrl.save()}" 
					update="@form @(.packForm)"
					oncomplete="handleAddEditRequest(xhr, status, args)" 
					rendered="#{not ctrl.readOnly}"/>
			</p:dialog>
		</h:form>

		<script type="text/javascript">
			function handleAddEditRequest(xhr, status, args) {
				if (args.validationFailed) {
					packDialog.show();
				} else {
					packDialog.hide();
				}
			}
		</script>

	</ui:define>

</ui:composition>
