<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="base.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:param name="ctrl" value="#{blackberryPackController}"/>
	
	<ui:param name="packageTitle" value="BlackBerry Package"/>
	
	<ui:param name="dialogPanelColumns" value="4"/>

	<ui:define name="packageInfo">
	
		<p:column headerText="RIM Data SNCODE"
			filterBy="#{pack.rimDataSncode}" filterMatchMode="contains">
			<h:outputText value="#{pack.rimDataSncode}" />
		</p:column>
		
		<p:column headerText="Free Data SNCODE"
			filterBy="#{pack.freeDataSncode}" filterMatchMode="contains">
			<h:outputText value="#{pack.freeDataSncode}" />
		</p:column>
		
		<p:column headerText="Charging Name"
			filterBy="#{pack.chargingName}" filterMatchMode="contains">
			<h:outputText value="#{pack.chargingName}" />
		</p:column>
		
		<p:column headerText="Display Label"
			filterBy="#{pack.displayLabel}" filterMatchMode="contains">
			<h:outputText value="#{pack.displayLabel}" />
		</p:column>
		
		<p:column headerText="Price Code"
			filterBy="#{pack.priceCode}" filterMatchMode="contains">
			<h:outputText value="#{pack.priceCode}" />
		</p:column>
		
		<p:column headerText="Price">
			<h:outputText value="#{pack.price}" />
		</p:column>
		
		<p:column headerText="Validity">
			<h:outputText value="#{pack.validity}" />
		</p:column>

	</ui:define>
	
	<ui:define name="packageDetail">

		<p:outputLabel for="pack_validity" value="Validity:" />
		<p:inputText id="pack_validity" value="#{ctrl.model.validity}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.validity}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_purchaseable" value="Purchaseable:" />
		<p:selectBooleanCheckbox id="pack_purchaseable" value="#{ctrl.model.purchaseable}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.purchaseable}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.purchaseable}" />

		<p:outputLabel for="pack_priceCode" value="Price Code:" />
		<p:inputText id="pack_priceCode" value="#{ctrl.model.priceCode}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.priceCode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_price" value="Price:" />
		<p:inputText id="pack_price" value="#{ctrl.model.price}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.price}" rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_displayLabel" value="Display Label:" />
		<p:inputText id="pack_displayLabel" value="#{ctrl.model.displayLabel}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.displayLabel}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_subscriberType" value="Subscriber Type:" />
		<p:inputText id="pack_subscriberType"
			value="#{ctrl.model.subscriberType}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.subscriberType}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_bundleSncode"
			value="Bundle SNCODE:" />
		<p:inputText id="pack_bundleSncode"
			value="#{ctrl.model.bundleSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bundleSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_autoRenew" value="Auto Renew:" />
		<p:selectBooleanCheckbox id="pack_autoRenew" value="#{ctrl.model.autoRenew}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.autoRenew}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.autoRenew}" />

		<p:outputLabel for="pack_autoRenewRetry" value="Auto Renew Retries:" />
		<p:inputText id="pack_autoRenewRetry"
			value="#{ctrl.model.autoRenewRetry}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.autoRenewRetry}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_rimDataSncode" value="RIM Data SNCODE:" />
		<p:inputText id="pack_rimDataSncode"
			value="#{ctrl.model.rimDataSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.rimDataSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_rimDataSpcode" value="RIM Data SPCODE:" />
		<p:inputText id="pack_rimDataSpcode"
			value="#{ctrl.model.rimDataSpcode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.rimDataSpcode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_freeDataSncode" value="Free Data SNCODE:" />
		<p:inputText id="pack_freeDataSncode"
			value="#{ctrl.model.freeDataSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freeDataSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_freeDataSpcode" value="Free Data SPCODE:" />
		<p:inputText id="pack_freeDataSpcode"
			value="#{ctrl.model.freeDataSpcode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freeDataSpcode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_freeDataUsageLimit"
			value="Free Data Usage Limit:" />
		<p:inputText id="pack_freeDataUsageLimit"
			value="#{ctrl.model.freeDataUsageLimit}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freeDataUsageLimit}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_additionAutorenewDataPackSncode"
			value="Additional Autorenewal Data Package SNCODE:" />
		<p:selectBooleanCheckbox id="pack_additionAutorenewDataPackSncode" value="#{ctrl.model.additionAutorenewDataPackSncode}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.additionAutorenewDataPackSncode}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.additionAutorenewDataPackSncode}" />

		<p:outputLabel for="pack_additionAutorenewDataPackUsageLimit"
			value="Additional Autorenewal Data Package Usage Limit:" />
		<p:inputText id="pack_additionAutorenewDataPackUsageLimit"
			value="#{ctrl.model.additionAutorenewDataPackUsageLimit}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText
			value="#{ctrl.model.additionAutorenewDataPackUsageLimit}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_dailyAutoRenew"
			value="Daily Auto Renewal (DAR):" />
		<p:selectBooleanCheckbox id="pack_dailyAutoRenew" value="#{ctrl.model.dailyAutoRenew}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.dailyAutoRenew}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.dailyAutoRenew}" />

		<p:outputLabel for="pack_dayBundlePackSncode"
			value="Day Bundle Package SNCODE:" />
		<p:inputText id="pack_dayBundlePackSncode"
			value="#{ctrl.model.dayBundlePackSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.dayBundlePackSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_dayPackFreeDataSncode"
			value="Day Package Free Data SNCODE:" />
		<p:inputText id="pack_dayPackFreeDataSncode"
			value="#{ctrl.model.dayPackFreeDataSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.dayPackFreeDataSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_entityTypeKey" value="Entity Type Key:" />
		<p:inputText id="pack_entityTypeKey"
			value="#{ctrl.model.entityTypeKey}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.entityTypeKey}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_chargingName" value="Charging Name:" />
		<p:inputText id="pack_chargingName" value="#{ctrl.model.chargingName}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.chargingName}"
			rendered="#{ctrl.readOnly}" />

	</ui:define>

</ui:composition>
