<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="base.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:param name="ctrl" value="#{boosterPackController}"/>
	
	<ui:param name="packageTitle" value="Booster Package"/>
	
	<ui:param name="dialogPanelColumns" value="2"/>

	<ui:define name="packageInfo">
	
		<p:column headerText="Bundle SNCODE"
			filterBy="#{pack.bundleSncode}" filterMatchMode="contains">
			<h:outputText value="#{pack.bundleSncode}" />
		</p:column>
		
		<p:column headerText="Date Package SNCODE"
			filterBy="#{pack.dataPackSncode}" filterMatchMode="contains">
			<h:outputText value="#{pack.dataPackSncode}" />
		</p:column>
		
		<p:column headerText="Date Package SPCODE"
			filterBy="#{pack.dataPackSpcode}" filterMatchMode="contains">
			<h:outputText value="#{pack.dataPackSpcode}" />
		</p:column>
		
		<p:column headerText="Charging Name"
			filterBy="#{pack.chargingName}" filterMatchMode="contains">
			<h:outputText value="#{pack.chargingName}" />
		</p:column>
		
		<p:column headerText="Display Label"
			filterBy="#{pack.displayLabel}" filterMatchMode="contains">
			<h:outputText value="#{pack.displayLabel}" />
		</p:column>
		
		<p:column headerText="Price Code"
			filterBy="#{pack.priceCode}" filterMatchMode="contains">
			<h:outputText value="#{pack.priceCode}" />
		</p:column>
		
		<p:column headerText="Price">
			<h:outputText value="#{pack.price}" />
		</p:column>
		
		<p:column headerText="Validity">
			<h:outputText value="#{pack.validity}" />
		</p:column>

	</ui:define>
	
	<ui:define name="packageDetail">

		<p:outputLabel for="pack_validity" value="Validity:" />
		<p:inputText id="pack_validity" value="#{ctrl.model.validity}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.validity}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_priceCode" value="Price Code:" />
		<p:inputText id="pack_priceCode" value="#{ctrl.model.priceCode}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.priceCode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_price" value="Price:" />
		<p:inputText id="pack_price" value="#{ctrl.model.price}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.price}" rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_bundleSncode"
			value="Bundle SNCODE:" />
		<p:inputText id="pack_bundleSncode"
			value="#{ctrl.model.bundleSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bundleSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_dataPackSncode" value="Data Package SNCODE:" />
		<p:inputText id="pack_dataPackSncode"
			value="#{ctrl.model.dataPackSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.dataPackSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_dataPackSpcode" value="Data Package SPCODE:" />
		<p:inputText id="pack_dataPackSpcode"
			value="#{ctrl.model.dataPackSpcode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.dataPackSpcode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_chargingName" value="Charging Name:" />
		<p:inputText id="pack_chargingName" value="#{ctrl.model.chargingName}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.chargingName}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_displayLabel" value="Display Label:" />
		<p:inputText id="pack_displayLabel" value="#{ctrl.model.displayLabel}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.displayLabel}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_planName" value="Plan Name:" />
		<p:inputText id="pack_planName" value="#{ctrl.model.planName}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.planName}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_subscriberType" value="Subscriber Type:" />
		<p:inputText id="pack_subscriberType"
			value="#{ctrl.model.subscriberType}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.subscriberType}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_size" value="Size:" />
		<p:inputText id="pack_size" value="#{ctrl.model.size}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.size}" rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_accumulatorId" value="Accumulator ID:" />
		<p:inputText id="pack_accumulatorId"
			value="#{ctrl.model.accumulatorId}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.accumulatorId}"
			rendered="#{ctrl.readOnly}" />

	</ui:define>

</ui:composition>
