<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="base.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:param name="ctrl" value="#{broadbandPackController}"/>
	
	<ui:param name="packageTitle" value="Broadband Package"/>
	
	<ui:param name="dialogPanelColumns" value="4"/>

	<ui:define name="packageInfo">
	
		<p:column headerText="Bundle SNCODE"
			filterBy="#{pack.bundleSncode}" filterMatchMode="contains">
			<h:outputText value="#{pack.bundleSncode}" />
		</p:column>
		
		<p:column headerText="Bundle SPCODE"
			filterBy="#{pack.bundleSpcode}" filterMatchMode="contains">
			<h:outputText value="#{pack.bundleSpcode}" />
		</p:column>
		
		<p:column headerText="Charging Name"
			filterBy="#{pack.chargingName}" filterMatchMode="contains">
			<h:outputText value="#{pack.chargingName}" />
		</p:column>
		
		<p:column headerText="Display Label"
			filterBy="#{pack.displayLabel}" filterMatchMode="contains">
			<h:outputText value="#{pack.displayLabel}" />
		</p:column>
		
		<p:column headerText="Price Code"
			filterBy="#{pack.priceCode}" filterMatchMode="contains">
			<h:outputText value="#{pack.priceCode}" />
		</p:column>
		
		<p:column headerText="Price">
			<h:outputText value="#{pack.price}" />
		</p:column>
		
		<p:column headerText="Validity">
			<h:outputText value="#{pack.validity}" />
		</p:column>

	</ui:define>
	
	<ui:define name="packageDetail">

		<p:outputLabel for="pack_validity" value="Validity:" />
		<p:inputText id="pack_validity" value="#{ctrl.model.validity}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.validity}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_price" value="Price:" />
		<p:inputText id="pack_price" value="#{ctrl.model.price}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.price}" rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_priceCode" value="Price Code:" />
		<p:inputText id="pack_priceCode" value="#{ctrl.model.priceCode}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.priceCode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_packSize" value="Package Size:" />
		<p:inputText id="pack_packSize" value="#{ctrl.model.packSize}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.packSize}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_bonusPackSize" value="Bonus Package Size:" />
		<p:inputText id="pack_bonusPackSize"
			value="#{ctrl.model.bonusPackSize}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bonusPackSize}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_chargingName" value="Charging Name:" />
		<p:inputText id="pack_chargingName" value="#{ctrl.model.chargingName}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.chargingName}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_bundleSncode" value="Bundle SNCODE:" />
		<p:inputText id="pack_bundleSncode" value="#{ctrl.model.bundleSncode}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bundleSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_bundleSpcode" value="Bundle SPCODE:" />
		<p:inputText id="pack_bundleSpcode" value="#{ctrl.model.bundleSpcode}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bundleSpcode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_subscriberType" value="Subscriber Type:" />
		<p:inputText id="pack_subscriberType"
			value="#{ctrl.model.subscriberType}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.subscriberType}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_dataPackSncode" value="DATA Package SNCODE:" />
		<p:inputText id="pack_dataPackSncode"
			value="#{ctrl.model.dataPackSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.dataPackSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_dataPackSpcode" value="DATA Package SPCODE:" />
		<p:inputText id="pack_dataPackSpcode"
			value="#{ctrl.model.dataPackSpcode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.dataPackSpcode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_bonusBundleSncode"
			value="Bonus Bundle SNCODE:" />
		<p:inputText id="pack_bonusBundleSncode"
			value="#{ctrl.model.bonusBundleSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bonusBundleSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_bonusDataPackSncode"
			value="Bonus Data Package SNCODE:" />
		<p:inputText id="pack_bonusDataPackSncode"
			value="#{ctrl.model.bonusDataPackSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bonusDataPackSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_bonusDataPackSpcode"
			value="Bonus Data Package SPCODE:" />
		<p:inputText id="pack_bonusDataPackSpcode"
			value="#{ctrl.model.bonusDataPackSpcode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bonusDataPackSpcode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_freeAutoRenewCount"
			value="Free Auto Renew Count:" />
		<p:inputText id="pack_freeAutoRenewCount"
			value="#{ctrl.model.freeAutoRenewCount}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freeAutoRenewCount}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_displayLabel" value="Display Label:" />
		<p:inputText id="pack_displayLabel" value="#{ctrl.model.displayLabel}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.displayLabel}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_retryRules"
			value="Retry Rules for Auto Renew:" />
		<p:inputText id="pack_retryRules" value="#{ctrl.model.retryRules}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.retryRules}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_charging" value="Charging:" />
		<p:selectBooleanCheckbox id="pack_charging" value="#{ctrl.model.charging}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.charging}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.charging}" />

		<p:outputLabel for="pack_immediateStop" value="Immediate Stop:" />
		<p:selectBooleanCheckbox id="pack_immediateStop" value="#{ctrl.model.immediateStop}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.immediateStop}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.immediateStop}" />

		<p:outputLabel for="pack_promoPack" value="Promo Package:" />
		<p:selectBooleanCheckbox id="pack_promoPack" value="#{ctrl.model.promoPack}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.promoPack}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.promoPack}" />

		<p:outputLabel for="pack_sendSms" value="Send SMS:" />
		<p:selectBooleanCheckbox id="pack_sendSms" value="#{ctrl.model.sendSms}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.sendSms}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.sendSms}" />

		<p:outputLabel for="pack_autoRenew" value="Auto Renew:" />
		<p:selectBooleanCheckbox id="pack_autoRenew" value="#{ctrl.model.autoRenew}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.autoRenew}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.autoRenew}" />

		<p:outputLabel for="pack_basePlan" value="Base Plan:" />
		<p:inputText id="pack_basePlan" value="#{ctrl.model.basePlan}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.basePlan}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_freebiesIdx" value="Freebies IDX:" />
		<p:inputText id="pack_freebiesIdx" value="#{ctrl.model.freebiesIdx}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freebiesIdx}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_freeUsageOfferid" value="Free Usage OfferID:" />
		<p:inputText id="pack_freeUsageOfferid"
			value="#{ctrl.model.freeUsageOfferid}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freeUsageOfferid}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_entityTypeKey" value="Entity Type Key:" />
		<p:inputText id="pack_entityTypeKey"
			value="#{ctrl.model.entityTypeKey}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.entityTypeKey}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_entityCategory" value="Entity Category:" />
		<p:inputText id="pack_entityCategory"
			value="#{ctrl.model.entityCategory}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.entityCategory}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_freeDataPackSncode"
			value="Free Data Package SNCODE:" />
		<p:inputText id="pack_freeDataPackSncode"
			value="#{ctrl.model.freeDataPackSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freeDataPackSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_supervisionExtendPeriod"
			value="Supervision Extend Period:" />
		<p:inputText id="pack_supervisionExtendPeriod"
			value="#{ctrl.model.supervisionExtendPeriod}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.supervisionExtendPeriod}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_serviceFeeExtendPeriod"
			value="Service Fee Extend Period:" />
		<p:inputText id="pack_serviceFeeExtendPeriod"
			value="#{ctrl.model.serviceFeeExtendPeriod}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.serviceFeeExtendPeriod}"
			rendered="#{ctrl.readOnly}" />

	</ui:define>

</ui:composition>
