<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="base.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:param name="ctrl" value="#{umiPackController}"/>
	
	<ui:param name="packageTitle" value="UMI Package"/>
	
	<ui:param name="dialogPanelColumns" value="4"/>

	<ui:define name="packageInfo">
	
		<p:column headerText="Bundle SNCODE"
			filterBy="#{pack.bundleSncode}" filterMatchMode="contains">
			<h:outputText value="#{pack.bundleSncode}" />
		</p:column>
		
		<p:column headerText="Bundle SPCODE"
			filterBy="#{pack.bundleSpcode}" filterMatchMode="contains">
			<h:outputText value="#{pack.bundleSpcode}" />
		</p:column>
		
		<p:column headerText="Charging Name"
			filterBy="#{pack.chargingName}" filterMatchMode="contains">
			<h:outputText value="#{pack.chargingName}" />
		</p:column>
		
		<p:column headerText="Display Label"
			filterBy="#{pack.displayLabel}" filterMatchMode="contains">
			<h:outputText value="#{pack.displayLabel}" />
		</p:column>
		
		<p:column headerText="Price Code"
			filterBy="#{pack.priceCode}" filterMatchMode="contains">
			<h:outputText value="#{pack.priceCode}" />
		</p:column>
		
		<p:column headerText="Price">
			<h:outputText value="#{pack.price}" />
		</p:column>
		
		<p:column headerText="Validity">
			<h:outputText value="#{pack.validity}" />
		</p:column>

	</ui:define>
	
	<ui:define name="packageDetail">

		<p:outputLabel for="pack_validity" value="Validity:" />
		<p:inputText id="pack_validity" value="#{ctrl.model.validity}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.validity}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_price" value="Price:" />
		<p:inputText id="pack_price" value="#{ctrl.model.price}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.price}" rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_priceCode" value="Price Code:" />
		<p:inputText id="pack_priceCode" value="#{ctrl.model.priceCode}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.priceCode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_chargingName" value="Charging Name:" />
		<p:inputText id="pack_chargingName" value="#{ctrl.model.chargingName}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.chargingName}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_bundleSncode" value="Bundle SNCODE:" />
		<p:inputText id="pack_bundleSncode" value="#{ctrl.model.bundleSncode}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bundleSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_bundleSpcode" value="Bundle SPCODE:" />
		<p:inputText id="pack_bundleSpcode" value="#{ctrl.model.bundleSpcode}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bundleSpcode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_entityTypeKeySms"
			value="Entity Type Key (SMS):" />
		<p:inputText id="pack_entityTypeKeySms"
			value="#{ctrl.model.entityTypeKeySms}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.entityTypeKeySms}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_entityTypeKeyVoice"
			value="Entity Type Key (Voice):" />
		<p:inputText id="pack_entityTypeKeyVoice"
			value="#{ctrl.model.entityTypeKeyVoice}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.entityTypeKeyVoice}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_entityTypeKeyData"
			value="Entity Type Key (Data):" />
		<p:inputText id="pack_entityTypeKeyData"
			value="#{ctrl.model.entityTypeKeyData}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.entityTypeKeyData}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_autoRenew" value="Auto Renew:" />
		<p:selectBooleanCheckbox id="pack_autoRenew" value="#{ctrl.model.autoRenew}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.autoRenew}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.autoRenew}" />

		<p:outputLabel for="pack_dataPackSncode" value="DATA Package SNCODE:" />
		<p:inputText id="pack_dataPackSncode"
			value="#{ctrl.model.dataPackSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.dataPackSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_dataPackSpcode" value="DATA Package SPCODE:" />
		<p:inputText id="pack_dataPackSpcode"
			value="#{ctrl.model.dataPackSpcode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.dataPackSpcode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_displayLabel" value="Display Label:" />
		<p:inputText id="pack_displayLabel" value="#{ctrl.model.displayLabel}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.displayLabel}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_retryRules"
			value="Retry Rules for Auto Renew:" />
		<p:inputText id="pack_retryRules" value="#{ctrl.model.retryRules}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.retryRules}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_charging" value="Charging:" />
		<p:selectBooleanCheckbox id="pack_charging" value="#{ctrl.model.charging}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.charging}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.charging}" />

		<p:outputLabel for="pack_immediateStop" value="Immediate Stop:" />
		<p:selectBooleanCheckbox id="pack_immediateStop" value="#{ctrl.model.immediateStop}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.immediateStop}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.immediateStop}" />

		<p:outputLabel for="pack_smsQuota" value="SMS Quota:" />
		<p:inputText id="pack_smsQuota" value="#{ctrl.model.smsQuota}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.smsQuota}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_voiceQuota" value="Voice Quota:" />
		<p:inputText id="pack_voiceQuota" value="#{ctrl.model.voiceQuota}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.voiceQuota}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_smsQuotaLimit" value="SMS Quota Limit:" />
		<p:inputText id="pack_smsQuotaLimit"
			value="#{ctrl.model.smsQuotaLimit}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.smsQuotaLimit}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_voiceQuotaLimit" value="Voice Quota Limit:" />
		<p:inputText id="pack_voiceQuotaLimit"
			value="#{ctrl.model.voiceQuotaLimit}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.voiceQuotaLimit}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_dataQuotaGb" value="Data Package Quota (GB):" />
		<p:inputText id="pack_dataQuotaGb" value="#{ctrl.model.dataQuotaGb}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.dataQuotaGb}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_freePromoDataSncode"
			value="Free Promo Data SNCODE:" />
		<p:inputText id="pack_freePromoDataSncode"
			value="#{ctrl.model.freePromoDataSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freePromoDataSncode}"
			rendered="#{ctrl.readOnly}"/>

		<p:outputLabel for="pack_freePromoStartDate"
			value="Free Promo Start Date:" />
		<p:calendar id="pack_freePromoStartDate" value="#{ctrl.model.freePromoStartDate}"
			pattern="yyyy-MM-dd" readonlyInput="true" navigator="true"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freePromoStartDate}"
			rendered="#{ctrl.readOnly}">
			<f:convertDateTime pattern="yyyy-MM-dd" />
		</h:outputText>

		<p:outputLabel for="pack_freePromoEndDate"
			value="Free Promo End Date:" />
		<p:calendar id="pack_freePromoEndDate" value="#{ctrl.model.freePromoEndDate}"
			pattern="yyyy-MM-dd" readonlyInput="true" navigator="true"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freePromoEndDate}"
			rendered="#{ctrl.readOnly}">
			<f:convertDateTime pattern="yyyy-MM-dd" />
		</h:outputText>

		<p:outputLabel for="pack_freePromoDataQuotaGb"
			value="Free Promo Data Package Quota (GB):" />
		<p:inputText id="pack_freePromoDataQuotaGb"
			value="#{ctrl.model.freePromoDataQuotaGb}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freePromoDataQuotaGb}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_renewPromoDataSncode"
			value="Renew Promo Data SNCODE:" />
		<p:inputText id="pack_renewPromoDataSncode"
			value="#{ctrl.model.renewPromoDataSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.renewPromoDataSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_renewPromoStartDate"
			value="Renew Promo Start Date:" />
		<p:calendar id="pack_renewPromoStartDate" value="#{ctrl.model.renewPromoStartDate}"
			pattern="yyyy-MM-dd" readonlyInput="true" navigator="true"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.renewPromoStartDate}"
			rendered="#{ctrl.readOnly}">
			<f:convertDateTime pattern="yyyy-MM-dd" />
		</h:outputText>

		<p:outputLabel for="pack_renewPromoEndDate"
			value="Renew Promo End Date:" />
		<p:calendar id="pack_renewPromoEndDate" value="#{ctrl.model.renewPromoEndDate}"
			pattern="yyyy-MM-dd" readonlyInput="true" navigator="true"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.renewPromoEndDate}"
			rendered="#{ctrl.readOnly}">
			<f:convertDateTime pattern="yyyy-MM-dd" />
		</h:outputText>

		<p:outputLabel for="pack_renewPromoDataQuotaMb"
			value="Renew Promo Data Package Quota (MB):" />
		<p:inputText id="pack_renewPromoDataQuotaMb"
			value="#{ctrl.model.renewPromoDataQuotaMb}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.renewPromoDataQuotaMb}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_renewPromoDataValidity"
			value="Renew Promo Data Package Validity:" />
		<p:inputText id="pack_renewPromoDataValidity"
			value="#{ctrl.model.renewPromoDataValidity}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.renewPromoDataValidity}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_freebiesIdx" value="Freebiex IDX:" />
		<p:inputText id="pack_freebiesIdx" value="#{ctrl.model.freebiesIdx}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.freebiesIdx}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_dataBonusSncode" value="Data Bonus SNCODE:" />
		<p:inputText id="pack_dataBonusSncode"
			value="#{ctrl.model.dataBonusSncode}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.dataBonusSncode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_dataBonusQuotaMb"
			value="Data Bonus Quota (MB):" />
		<p:inputText id="pack_dataBonusQuotaMb"
			value="#{ctrl.model.dataBonusQuotaMb}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.dataBonusQuotaMb}"
			rendered="#{ctrl.readOnly}" />
			
		<p:outputLabel for="pack_entityCategory" value="Entity Category:" />
		<p:inputText id="pack_entityCategory"
			value="#{ctrl.model.entityCategory}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.entityCategory}"
			rendered="#{ctrl.readOnly}" />

	</ui:define>

</ui:composition>
