<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="base.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:param name="ctrl" value="#{vpPackController}"/>
	
	<ui:param name="packageTitle" value="Voice Package"/>
	
	<ui:param name="dialogPanelColumns" value="2"/>

	<ui:define name="packageInfo">
	
		<p:column headerText="Bundle SNCODE"
			filterBy="#{pack.bundleSncode}" filterMatchMode="contains">
			<h:outputText value="#{pack.bundleSncode}" />
		</p:column>
		
		<p:column headerText="Bundle SPCODE"
			filterBy="#{pack.bundleSpcode}" filterMatchMode="contains">
			<h:outputText value="#{pack.bundleSpcode}" />
		</p:column>
		
		<p:column headerText="Charging Name"
			filterBy="#{pack.chargingName}" filterMatchMode="contains">
			<h:outputText value="#{pack.chargingName}" />
		</p:column>
		
		<p:column headerText="Display Label"
			filterBy="#{pack.displayLabel}" filterMatchMode="contains">
			<h:outputText value="#{pack.displayLabel}" />
		</p:column>
		
		<p:column headerText="Price Code"
			filterBy="#{pack.priceCode}" filterMatchMode="contains">
			<h:outputText value="#{pack.priceCode}" />
		</p:column>
		
		<p:column headerText="Price">
			<h:outputText value="#{pack.price}" />
		</p:column>
		
		<p:column headerText="Validity">
			<h:outputText value="#{pack.validity}" />
		</p:column>

	</ui:define>
	
	<ui:define name="packageDetail">

		<p:outputLabel for="pack_validity" value="Validity:" />
		<p:inputText id="pack_validity" value="#{ctrl.model.validity}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.validity}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_price" value="Price:" />
		<p:inputText id="pack_price" value="#{ctrl.model.price}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.price}" rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_priceCode" value="Price Code:" />
		<p:inputText id="pack_priceCode" value="#{ctrl.model.priceCode}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.priceCode}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_chargingName" value="Charging Name:" />
		<p:inputText id="pack_chargingName" value="#{ctrl.model.chargingName}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.chargingName}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_sncode" value="Bundle SNCODE:" />
		<p:inputText id="pack_sncode" value="#{ctrl.model.bundleSncode}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bundleSncode}" rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_spcode" value="Bundle SPCODE:" />
		<p:inputText id="pack_spcode" value="#{ctrl.model.bundleSpcode}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.bundleSpcode}" rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_autoRenew" value="Auto Renew:" />
		<p:selectBooleanCheckbox id="pack_autoRenew" value="#{ctrl.model.autoRenew}" 
			rendered="#{not ctrl.readOnly}"/>
		<h:graphicImage library="images" name="tick.png" rendered="#{ctrl.readOnly and ctrl.model.autoRenew}" />
		<h:graphicImage library="images" name="cross.png" rendered="#{ctrl.readOnly and not ctrl.model.autoRenew}" />

		<p:outputLabel for="pack_displayLabel" value="Display Label:" />
		<p:inputText id="pack_displayLabel" value="#{ctrl.model.displayLabel}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.displayLabel}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_packAmount" value="Package Amount:" />
		<p:inputText id="pack_packAmount" value="#{ctrl.model.packAmount}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.packAmount}"
			rendered="#{ctrl.readOnly}" />

		<p:outputLabel for="pack_unit" value="Unit:" />
		<p:inputText id="pack_unit" value="#{ctrl.model.unit}"
			required="false" rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.unit}" rendered="#{ctrl.readOnly}" />
		
		<p:outputLabel for="pack_entityCategory" value="Entity Category:" />
		<p:inputText id="pack_entityCategory"
			value="#{ctrl.model.entityCategory}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.entityCategory}"
			rendered="#{ctrl.readOnly}" />
			
		<p:outputLabel for="pack_entityTypeKeyOnnet" value="Entity Type Key ONNET:" />
		<p:inputText id="pack_entityTypeKeyOnnet"
			value="#{ctrl.model.entityTypeKeyOnnet}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.entityTypeKeyOnnet}"
			rendered="#{ctrl.readOnly}" />
			
		<p:outputLabel for="pack_entityTypeKeyOffnet" value="Entity Type Key OFFNET:" />
		<p:inputText id="pack_entityTypeKeyOffnet"
			value="#{ctrl.model.entityTypeKeyOffnet}" required="false"
			rendered="#{not ctrl.readOnly}" />
		<h:outputText value="#{ctrl.model.entityTypeKeyOffnet}"
			rendered="#{ctrl.readOnly}" />

	</ui:define>

</ui:composition>
