<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<style>
		#centerPanel {z-index:1 !important; }
		#leftPanel {z-index:2 !important; }
		#topPanel {z-index:3 !important; }
		#topPanel div{overflow:visible;} 
	</style>

	<p:layout fullPage="true">
		<p:layoutUnit position="north" size="50" id="topPanel">
		    <div class="header">
			    <ui:include src="/sections/shared/header.xhtml"/>
		    </div> 
		</p:layoutUnit>
		<p:layoutUnit position="south" size="100">
			<div class="footer">
			    <ui:include src="/sections/shared/footer.xhtml"/>
			</div>
		</p:layoutUnit>
		<p:layoutUnit position="west" size="206" id="leftPanel">
			    <ui:include src="/sections/shared/left_menu.xhtml"/>
		</p:layoutUnit>
		<p:layoutUnit header="Info" position="east" size="200">
			<h:outputText value="Right Content" />
		</p:layoutUnit>
		<p:layoutUnit header="Content" position="center" id="centerPanel" >
			<h:outputText value="Center Content" />
		</p:layoutUnit>
	</p:layout>

</ui:composition>