<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/master.xhtml">

<ui:define name="title">#{msg['main.title']} - #{msg['user.trans']}</ui:define>


<ui:define name="pageTitle">
	#{msg['user.trans']}
</ui:define>	

<ui:define name="content">
<p:growl id="growl" showDetail="false" globalOnly="false"
			autoUpdate="true" />
<h:form id="transform">
	
	<p:panel id="searchPanel">
	
			<f:facet name="header">
				<h:outputText value="#{msg['blc_ext_int.title']}" styleClass="tableHeader" />
			</f:facet>
				
		<table style="width: 100%;">

			<tr>							
				<td>#{msg['trans.transDate']} : #{msg['general.from1']}</td>
				<td><p:calendar id="searchFrom" showOn="button"
								required="true"
								requiredMessage="#{msg['report.prompt.start_date']}"
								binding="#{startDate}" /></td>
						<td>#{msg['general.to1']}</td>
						<td><p:calendar id="searchTo" showOn="button" required="true"
								requiredMessage="#{msg['report.prompt.end_date']}"
								validator="DateValidator">
								<f:attribute name="startDate" value="#{startDate}" />
							</p:calendar></td>			
			</tr>

			<tr>
				<td>
					<h:outputText value="Report mode: " /> 
				</td>
				<td colspan="3">									
					<p:selectOneMenu id="reportMode">
					<f:selectItem itemValue="H" itemLabel="Hourly" />
					<f:selectItem itemValue="D" itemLabel="Daily" />
					<f:selectItem itemValue="W" itemLabel="Weekly" />
					<f:selectItem itemValue="M" itemLabel="Monthly" />
					</p:selectOneMenu>							
				</td>				
			</tr>
									
			<tr>	
				<td colspan="1" align="left">
					<p:commandButton value="#{msg['trans.showOverallTransactionStat']}" actionListener="#{bLCExtInterfaceController.searchTransactions}" ajax="false" /> <!-- update="@form"   -->
				</td>
				
				<td colspan="3" align="left">
					<p:commandButton value="#{msg['blc_ext_int.showTransactionStatByApi']}" actionListener="#{bLCExtInterfaceByApiNameController.searchTransactions}" ajax="false" /> <!--  update="@form" -->  
				</td>

			</tr>
		</table>
	</p:panel>

	<h:panelGroup id="dataPanel" layout="block">
		<p:dataTable id="BLCExtInterfaceTable" var="BLCExtInterface" value="#{bLCExtInterfaceController.BLCExtInterface}" 
				rendered="#{bLCExtInterfaceController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="true" rows="5"
				paginatorPosition="bottom"
				sortBy="#{BLCExtInterface.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15,100,200"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['blc_ext_int.datatable.title']}</f:facet>
			
			<p:column sortBy="#{BLCExtInterface.start_date}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.Date']}</f:facet>
				<h:outputText value="#{BLCExtInterface.start_date}">					
				</h:outputText>
			</p:column>

			<p:column sortBy="#{BLCExtInterface.total_trans}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.totalTrans']}</f:facet>
				<h:outputText value="#{BLCExtInterface.total_trans}"></h:outputText>
			</p:column>

			<p:column>
				<f:facet name="header">#{msg['trans.totalSuccess']}</f:facet>
				<h:outputText value="#{BLCExtInterface.total_success}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.totalFail']}</f:facet>
				<h:outputText value="#{BLCExtInterface.total_fail}"></h:outputText>
			</p:column>
			
			<p:column >
				<f:facet name="header">#{msg['trans.successPct']}</f:facet>
				<h:outputText value="#{BLCExtInterface.success_pct}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.failPct']}</f:facet>
				<h:outputText value="#{BLCExtInterface.fail_pct}"></h:outputText>
			</p:column>
						
			<p:column >
				<f:facet name="header">#{msg['trans.avgDuration']}</f:facet>
				<h:outputText value="#{BLCExtInterface.avg_dur}"></h:outputText> 
			</p:column>
			
			<p:column >
				<f:facet name="header">#{msg['trans.maxDuration']}</f:facet>
				<h:outputText value="#{BLCExtInterface.max_dur}"></h:outputText>
			</p:column>			
			
			<p:column >
				<f:facet name="header">#{msg['trans.minDuration']}</f:facet>
				<h:outputText value="#{BLCExtInterface.min_dur}"></h:outputText>
			</p:column>
			
		</p:dataTable>
		
		
				<p:commandButton rendered="#{bLCExtInterfaceController.resultsVisible}"
					value="Export as Csv" ajax="false"
					action="#{export2Csv.exportHtmlTableToExcel(bLCExtInterfaceController.cvsFilePrefix, bLCExtInterfaceController.reportStr)}">
				</p:commandButton>


		
	<p:dataTable id="BLCExtInterfaceByApiNameTable" var="BLCExtInterfaceByApiName" value="#{bLCExtInterfaceByApiNameController.BLCExtInterface}" 
				rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="true" rows="5"
				paginatorPosition="bottom"
				sortBy="#{BLCExtInterfaceByApiName.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15,100,200"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['trans.transactionStat']}</f:facet>
			
			<p:column sortBy="#{BLCExtInterfaceByApiName.start_date}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.Date']}</f:facet>
				<h:outputText value="#{BLCExtInterfaceByApiName.start_date}">					
				</h:outputText>
			</p:column>

			<p:column sortBy="#{BLCExtInterfaceByApiName.api_name}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.API']}</f:facet>
				<h:outputText value="#{BLCExtInterfaceByApiName.api_name}"></h:outputText>
			</p:column>

			<p:column sortBy="#{BLCExtInterfaceByApiName.channel}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['channel.channel']}</f:facet>
				<h:outputText value="#{BLCExtInterfaceByApiName.channel}"></h:outputText>
			</p:column>
			
			<p:column sortBy="#{BLCExtInterfaceByApiName.total_trans}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.totalTrans']}</f:facet>
				<h:outputText value="#{BLCExtInterfaceByApiName.total_trans}"></h:outputText>
			</p:column>

			<p:column>
				<f:facet name="header">#{msg['trans.totalSuccess']}</f:facet>
				<h:outputText value="#{BLCExtInterfaceByApiName.total_success}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.totalFail']}</f:facet>
				<h:outputText value="#{BLCExtInterfaceByApiName.total_fail}"></h:outputText>
			</p:column>
			
			<p:column >
				<f:facet name="header">#{msg['trans.successPct']}</f:facet>
				<h:outputText value="#{BLCExtInterfaceByApiName.success_pct}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.failPct']}</f:facet>
				<h:outputText value="#{BLCExtInterfaceByApiName.fail_pct}"></h:outputText>
			</p:column>
						
			<p:column >
				<f:facet name="header">#{msg['trans.avgDuration']}</f:facet>
				<h:outputText value="#{BLCExtInterfaceByApiName.avg_dur}"></h:outputText> 
			</p:column>
			
			<p:column >
				<f:facet name="header">#{msg['trans.maxDuration']}</f:facet>
				<h:outputText value="#{BLCExtInterfaceByApiName.max_dur}"></h:outputText>
			</p:column>			
			
			<p:column >
				<f:facet name="header">#{msg['trans.minDuration']}</f:facet>
				<h:outputText value="#{BLCExtInterfaceByApiName.min_dur}"></h:outputText>
			</p:column>
			
		</p:dataTable>
		
		
				<p:commandButton rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}"
					value="Export as Csv" ajax="false"
					action="#{export2Csv.exportHtmlTableToExcel(bLCExtInterfaceByApiNameController.cvsFilePrefix, bLCExtInterfaceByApiNameController.reportStr)}">
				</p:commandButton>

						
	</h:panelGroup>
	
	<table>
	<tr>
	<td>
		<p:lineChart rendered="#{bLCExtInterfaceController.resultsVisible}" value="#{BLCExtInterfaceChart.UpdateTotalTranChartData()}" legendPosition="ne" title="Transaction Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart1"  />
		<p:commandButton rendered="#{bLCExtInterfaceController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart1')"/>					
	</td>
	</tr>		
	
	<tr>
	<td>
		<p:barChart rendered="#{bLCExtInterfaceController.resultsVisible}" value="#{BLCExtInterfaceChart.UpdateTranPctChartData()}" legendPosition="ne" title="Transaction Percentage" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart2" orientation="vertical" />
		<p:commandButton rendered="#{bLCExtInterfaceController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart2')"/>					
	</td>	
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCExtInterfaceController.resultsVisible}" value="#{BLCExtInterfaceChart.UpdateDurationChartData()}" legendPosition="ne" title="Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart3"  />
		<p:commandButton rendered="#{bLCExtInterfaceController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart3')"/>					 
	</td>
	</tr>	
	
	</table>

<!--
	<table>
	<tr>
	<td>
		<p:lineChart rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" value="#{BLCExtInterfaceAPIChart.UpdateTotalTranChartData()}" legendPosition="ne" title="Total Transaction Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart4"  />
		<p:commandButton rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart4')"/>					
	</td>
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" value="#{BLCExtInterfaceAPIChart.UpdateTotalTranChartDataSuccess()}" legendPosition="ne" title="Success Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart5"  />
		<p:commandButton rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart5')"/>					
	</td>
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" value="#{BLCExtInterfaceAPIChart.UpdateTotalTranChartDataFail()}" legendPosition="ne" title="Fail Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart6"  />
		<p:commandButton rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart6')"/>					
	</td>	
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" value="#{BLCExtInterfaceAPIChart.UpdateDurationChartData()}" legendPosition="ne" title="Average Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart7"  />
		<p:commandButton rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart7')"/>					
	</td>
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" value="#{BLCExtInterfaceAPIChart.UpdateDurationChartDataMax()}" legendPosition="ne" title="Max Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart8"  />
		<p:commandButton rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart8')"/>					
	</td>		
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" value="#{BLCExtInterfaceAPIChart.UpdateDurationChartDataMin()}" legendPosition="ne" title="Min Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart9"  />
		<p:commandButton rendered="#{bLCExtInterfaceByApiNameController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart9')"/>					
	</td>
	</tr>	
		
	</table>
	-->
	
		<p:dialog widgetVar="dlg" showEffect="fade" modal="true" header="Chart as an Image" resizable="false">
		    <p:outputPanel id="output" layout="block" style="width:1000px;height:480px"/>
		</p:dialog>
		
		<script type="text/javascript">
		
		function exportChart(chartVarName) {
				
	    //export image
	    if (chartVarName == "chart1")
	    	$('#transform\\:output').empty().append(chart1.exportAsImage());
	    else if (chartVarName == "chart2")
	    	$('#transform\\:output').empty().append(chart2.exportAsImage());
	    else if (chartVarName == "chart3")
	    	$('#transform\\:output').empty().append(chart3.exportAsImage());
	    else if (chartVarName == "chart4")
	    	$('#transform\\:output').empty().append(chart4.exportAsImage());
	    else if (chartVarName == "chart5")
	    	$('#transform\\:output').empty().append(chart5.exportAsImage());
	    else if (chartVarName == "chart6")
	    	$('#transform\\:output').empty().append(chart6.exportAsImage());
	    else if (chartVarName == "chart7")
	    	$('#transform\\:output').empty().append(chart7.exportAsImage());
	    else if (chartVarName == "chart8")
	    	$('#transform\\:output').empty().append(chart8.exportAsImage());
	    else if (chartVarName == "chart9")
	    	$('#transform\\:output').empty().append(chart9.exportAsImage());

	    	    		    		    							 
	    //show the dialog
	    dlg.show();
	    
	  }
		</script>
			
</h:form>

</ui:define>

</ui:composition>
</html>