<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/master.xhtml">

	<ui:define name="title">#{msg['main.title']} - #{msg['user.trans']}</ui:define>


	<ui:define name="pageTitle">
	#{msg['user.trans']}
</ui:define>

	<ui:define name="content">
		<p:growl id="growl" showDetail="false" globalOnly="false"
			autoUpdate="true" />
		<h:form id="transform">

			<p:panel id="searchPanel">

			<f:facet name="header">
				<h:outputText value="#{msg['blc_ext_int_by_reason_code.title']}" styleClass="tableHeader" />
			</f:facet>

				<table style="width: 100%;">

					<tr>
						<td>#{msg['trans.transDate']} : #{msg['general.from1']}</td>
						<td><p:calendar id="searchFrom" showOn="button"
								required="true"
								requiredMessage="#{msg['report.prompt.start_date']}"
								binding="#{startDate}">
								<p:ajax event="dateSelect"
									listener="#{bLCExtInterfaceByReasonCodeController.getAllApi}"
									update=":transform:reportApi" />
								<f:ajax event="change"
									listener="#{bLCExtInterfaceByReasonCodeController.getAllApi}"
									execute="@this" render=":transform:reportApi" />
							</p:calendar></td>
						<td>#{msg['general.to1']}</td>
						<td><p:calendar id="searchTo" showOn="button" required="true"
								requiredMessage="#{msg['report.prompt.end_date']}"
								validator="DateValidator">
								<p:ajax event="dateSelect"
									listener="#{bLCExtInterfaceByReasonCodeController.getAllApi}"
									update=":transform:reportApi" />
								<f:ajax event="change"
									listener="#{bLCExtInterfaceByReasonCodeController.getAllApi}"
									execute="@this" render=":transform:reportApi" />
								<f:attribute name="startDate" value="#{startDate}" />
							</p:calendar></td>
					</tr>

					<tr>
						<td><h:outputText value="Report mode: " /></td>
						<td colspan="3"><p:selectOneMenu id="reportMode">
								<f:selectItem itemValue="H" itemLabel="Hourly" />
								<f:selectItem itemValue="D" itemLabel="Daily" />
								<f:selectItem itemValue="W" itemLabel="Weekly" />
								<f:selectItem itemValue="M" itemLabel="Monthly" />
							</p:selectOneMenu></td>
					</tr>

					<tr>
						<td><h:outputText value="API: " /></td>
						<td colspan="3"><p:selectOneMenu id="reportApi"
								value="#{bLCExtInterfaceByReasonCodeController.selectItem}"
								required="true" requiredMessage="#{msg['report.prompt.API']}">
								<f:selectItems
									value="#{bLCExtInterfaceByReasonCodeController.apiSelectItems}"
									var="test" itemValue="test.api_name" />
							</p:selectOneMenu></td>
					</tr>

					<tr>
						<td colspan="1" align="left"><p:commandButton
								value="#{msg['blc_ext_int.showTransactionStatByReasonCode']}"
								actionListener="#{bLCExtInterfaceByReasonCodeController.searchTransactions}"
								ajax="false" /> <!-- update="@form"   --></td>
					</tr>
				</table>
			</p:panel>

			<h:panelGroup id="dataPanel" layout="block">
				<p:dataTable id="BLCExtInterfaceByReasonCodeTable"
					var="BLCExtInterfaceByReasonCode"
					value="#{bLCExtInterfaceByReasonCodeController.BLCExtInterface}"
					rendered="#{bLCExtInterfaceByReasonCodeController.resultsVisible}"
					dynamic="true" lazy="true" paginator="true" rows="5"
					paginatorPosition="bottom"
					sortBy="#{BLCExtInterfaceByReasonCode.start_date}"
					sortOrder="ASCENDING"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,100,200" loadingMessage="... now loading ..."
					style="clear: both; margin-top: 10px;">

					<f:facet name="header">#{msg['blc_ext_int_by_reason_code.datatable.title']}</f:facet>

					<p:column sortBy="#{BLCExtInterfaceByReasonCode.start_date}"
						sortOrder="DESCENDING">
						<f:facet name="header">#{msg['trans.Date']}</f:facet>
						<h:outputText value="#{BLCExtInterfaceByReasonCode.start_date}">
						</h:outputText>
					</p:column>

					<p:column sortBy="#{BLCExtInterfaceByReasonCode.api_name}"
						sortOrder="DESCENDING">
						<f:facet name="header">#{msg['trans.API']}</f:facet>
						<h:outputText value="#{BLCExtInterfaceByReasonCode.api_name}"></h:outputText>
					</p:column>

					<p:column sortBy="#{BLCExtInterfaceByReasonCode.reason_code}"
						sortOrder="DESCENDING">
						<f:facet name="header">#{msg['trans.ReasonCode']}</f:facet>
						<h:outputText value="#{BLCExtInterfaceByReasonCode.reason_code}"></h:outputText>
					</p:column>

					<p:column sortBy="#{BLCExtInterfaceByReasonCode.total_count}"
						sortOrder="DESCENDING">
						<f:facet name="header">#{msg['trans.totalTrans']}</f:facet>
						<h:outputText value="#{BLCExtInterfaceByReasonCode.total_count}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">#{msg['trans.Pct']}</f:facet>
						<h:outputText value="#{BLCExtInterfaceByReasonCode.percentage}"></h:outputText>
					</p:column>

				</p:dataTable>

				<p:commandButton
					rendered="#{bLCExtInterfaceByReasonCodeController.resultsVisible}"
					value="Export as Csv" ajax="false"
					action="#{export2Csv.exportHtmlTableToExcel(bLCExtInterfaceByReasonCodeController.cvsFilePrefix, bLCExtInterfaceByReasonCodeController.reportStr)}">
				</p:commandButton>

			</h:panelGroup>

			<table>
				<tr>
					<td><p:lineChart
							rendered="#{bLCExtInterfaceByReasonCodeController.resultsVisible}"
							value="#{BLCExtInterfaceByReasonCodeChart.UpdateTotalTranChartData()}"
							legendPosition="ne" title="Total Transaction Statistics"
							xaxisAngle="75" style="width:800px;height:480px"
							widgetVar="chart1" /> <p:commandButton
							rendered="#{bLCExtInterfaceByReasonCodeController.resultsVisible}"
							type="button" value="Export chart" icon="ui-icon-extlink"
							onclick="exportChart('chart1')" /></td>
							
				</tr>		
	
				<tr>			
					<td><p:lineChart
							rendered="#{bLCExtInterfaceByReasonCodeController.resultsVisible}"
							value="#{BLCExtInterfaceByReasonCodeChart.UpdateTranPctChartData()}"
							legendPosition="ne" title="Transaction Percentage"
							xaxisAngle="75" style="width:800px;height:480px"
							widgetVar="chart2" orientation="vertical" /> <p:commandButton
							rendered="#{bLCExtInterfaceByReasonCodeController.resultsVisible}"
							type="button" value="Export chart" icon="ui-icon-extlink"
							onclick="exportChart('chart2')" /></td>
				</tr>


			</table>


					<p:dialog widgetVar="dlg" showEffect="fade" modal="true" header="Chart as an Image" resizable="false">
					    <p:outputPanel id="output" layout="block" style="width:1000px;height:480px"/>
					</p:dialog>

			<script type="text/javascript">
						function exportChart(chartVarName) {

					    //export image
					    if (chartVarName == "chart1")
					    	$('#transform\\:output').empty().append(chart1.exportAsImage());
					    else if (chartVarName == "chart2")
					    	$('#transform\\:output').empty().append(chart2.exportAsImage());

					    //show the dialog
					    dlg.show();

					  }
			</script>

		</h:form>

	</ui:define>

</ui:composition>
</html>