﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/master.xhtml">

<ui:define name="title">#{msg['main.title']} - #{msg['user.trans']}</ui:define>


<ui:define name="pageTitle">
	#{msg['user.trans']}
</ui:define>	

<ui:define name="content">

<p:growl id="growl" showDetail="false" globalOnly="false" autoUpdate="true"/>	

<h:form id="transform">
	
	<p:panel id="searchPanel">

			<f:facet name="header">
				<h:outputText value="#{msg['blc_txn_trans.title']}" styleClass="tableHeader" />
			</f:facet>
				
		<table style="width: 100%;">

			<tr>						
				<td>#{msg['trans.transDate']} : #{msg['general.from1']}</td>
				<td>
					<p:calendar id="transFrom"  showOn="button" required="true" requiredMessage="#{msg['report.prompt.start_date']}" binding="#{startDate}"/>
				</td>
				<td>#{msg['general.to1']}</td>
				<td>				
					<p:calendar id="transTo"  showOn="button" required="true" requiredMessage="#{msg['report.prompt.end_date']}" validator="DateValidator" >
					        <f:attribute name="startDate" value="#{startDate}" />
					</p:calendar>					 
				</td>				
								
			</tr>

			<tr>
				<td>
					<h:outputText value="Report mode: " /> 
				</td>
				<td colspan="3">									
					<p:selectOneMenu id="reportMode">
					<f:selectItem itemValue="H" itemLabel="Hourly" />
					<f:selectItem itemValue="D" itemLabel="Daily" />
					<f:selectItem itemValue="W" itemLabel="Weekly" />
					<f:selectItem itemValue="M" itemLabel="Monthly" />
					</p:selectOneMenu>							
				</td>				
			</tr>
									

			<!--
			<tr>
				<td>
					<h:outputText value="API: " /> 
				</td>
				<td colspan="3">									
					<p:selectOneMenu value="#{bLCTransactionTypeController.api}">
					<f:selectItem itemValue="All" itemLabel="All" />
					<f:selectItem itemValue="api1" itemLabel="API1" />
					<f:selectItem itemValue="api2" itemLabel="API2" />
					<f:selectItem itemValue="api3" itemLabel="API3" />
					</p:selectOneMenu>							
				</td>				
			</tr>
			-->
			
			<tr>	
				<td colspan="1" align="left">
					<p:commandButton value="#{msg['trans.showOverallTransactionStat']}" actionListener="#{bLCTransactionTypeController.searchTransactions}" ajax="false" /> <!-- update="@form"   -->
				</td>
				
				<td colspan="3" align="left">
					<p:commandButton value="#{msg['blc_txn_trans.showTransactionStatByTransType']}" actionListener="#{bLCTransactionTypeByTransTypeController.searchTransactions}" ajax="false" /> <!-- update="@form"   -->
				</td>

			</tr>
		</table>
	</p:panel>

	<h:panelGroup id="dataPanel" layout="block">
		<p:dataTable id="BLCTransactionTypeTable" var="BLCTransactionType" value="#{bLCTransactionTypeController.BLCTransactionTypes}" 
				rendered="#{bLCTransactionTypeController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="true" rows="5"
				paginatorPosition="bottom"
				sortBy="#{BLCTransactionType.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15,100,200"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['blc_txn_trans.datatable.title']}</f:facet>
			
			<p:column sortBy="#{BLCTransactionType.start_date}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.Date']}</f:facet>
				<h:outputText value="#{BLCTransactionType.start_date}">					
				</h:outputText>
			</p:column>

			<p:column sortBy="#{BLCTransactionType.total_trans}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.totalTrans']}</f:facet>
				<h:outputText value="#{BLCTransactionType.total_trans}"></h:outputText>
			</p:column>

			<p:column>
				<f:facet name="header">#{msg['trans.totalSuccess']}</f:facet>
				<h:outputText value="#{BLCTransactionType.total_success}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.totalFail']}</f:facet>
				<h:outputText value="#{BLCTransactionType.total_fail}"></h:outputText>
			</p:column>
			
			<p:column >
				<f:facet name="header">#{msg['trans.successPct']}</f:facet>
				<h:outputText value="#{BLCTransactionType.success_pct}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.failPct']}</f:facet>
				<h:outputText value="#{BLCTransactionType.fail_pct}"></h:outputText>
			</p:column>
						
			<p:column >
				<f:facet name="header">#{msg['trans.avgDuration']}</f:facet>
				<h:outputText value="#{BLCTransactionType.avg_dur}"></h:outputText> 
			</p:column>
			
			<p:column >
				<f:facet name="header">#{msg['trans.maxDuration']}</f:facet>
				<h:outputText value="#{BLCTransactionType.max_dur}"></h:outputText>
			</p:column>			
			
			<p:column >
				<f:facet name="header">#{msg['trans.minDuration']}</f:facet>
				<h:outputText value="#{BLCTransactionType.min_dur}"></h:outputText>
			</p:column>
			
		</p:dataTable>
		
		<p:commandButton rendered="#{bLCTransactionTypeController.resultsVisible}" value="Export as Csv" ajax="false" action="#{export2Csv.exportHtmlTableToExcel(bLCTransactionTypeController.cvsFilePrefix, bLCTransactionTypeController.reportStr)}">
		</p:commandButton>	
				

		
	<p:dataTable id="BLCTransactionTypeByTransTypeTable" var="BLCTransactionTypeByTransType" value="#{bLCTransactionTypeByTransTypeController.BLCTransactionTypes}" 
				rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="true" rows="5"
				paginatorPosition="bottom"
				sortBy="#{BLCTransactionTypeByTransType.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15,100,200"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['trans.transactionStat']}</f:facet>
			
			<p:column sortBy="#{BLCTransactionTypeByTransType.start_date}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.Date']}</f:facet>
				<h:outputText value="#{BLCTransactionTypeByTransType.start_date}">					
				</h:outputText>
			</p:column>

			<p:column sortBy="#{BLCTransactionTypeByTransType.trans_type}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['blc_txn_trans.transType']}</f:facet>
				<h:outputText value="#{BLCTransactionTypeByTransType.trans_type}"></h:outputText>
			</p:column>

			<p:column sortBy="#{BLCTransactionTypeByTransType.total_trans}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.totalTrans']}</f:facet>
				<h:outputText value="#{BLCTransactionTypeByTransType.total_trans}"></h:outputText>
			</p:column>

			<p:column>
				<f:facet name="header">#{msg['trans.totalSuccess']}</f:facet>
				<h:outputText value="#{BLCTransactionTypeByTransType.total_success}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.totalFail']}</f:facet>
				<h:outputText value="#{BLCTransactionTypeByTransType.total_fail}"></h:outputText>
			</p:column>
			
			<p:column >
				<f:facet name="header">#{msg['trans.successPct']}</f:facet>
				<h:outputText value="#{BLCTransactionTypeByTransType.success_pct}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.failPct']}</f:facet>
				<h:outputText value="#{BLCTransactionTypeByTransType.fail_pct}"></h:outputText>
			</p:column>
						
			<p:column >
				<f:facet name="header">#{msg['trans.avgDuration']}</f:facet>
				<h:outputText value="#{BLCTransactionTypeByTransType.avg_dur}"></h:outputText> 
			</p:column>
			
			<p:column >
				<f:facet name="header">#{msg['trans.maxDuration']}</f:facet>
				<h:outputText value="#{BLCTransactionTypeByTransType.max_dur}"></h:outputText>
			</p:column>			
			
			<p:column >
				<f:facet name="header">#{msg['trans.minDuration']}</f:facet>
				<h:outputText value="#{BLCTransactionTypeByTransType.min_dur}"></h:outputText>
			</p:column>
			
		</p:dataTable>

		<p:commandButton rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" value="Export as Csv" ajax="false" action="#{export2Csv.exportHtmlTableToExcel(bLCTransactionTypeByTransTypeController.cvsFilePrefix, bLCTransactionTypeByTransTypeController.reportStr)}">
		</p:commandButton>	
						
	</h:panelGroup>
	
	<table>
	<tr>
	<td>
		<p:lineChart rendered="#{bLCTransactionTypeController.resultsVisible}" value="#{BLCTransactionTypeChart.UpdateTotalTranChartData()}" legendPosition="ne" title="Transaction Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart1"  />
		<p:commandButton rendered="#{bLCTransactionTypeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart1')"/>					
	</td>
	</tr>
	
		<tr>
	<td>
		<p:barChart rendered="#{bLCTransactionTypeController.resultsVisible}" value="#{BLCTransactionTypeChart.UpdateTranPctChartData()}" legendPosition="ne" title="Transaction Percentage" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart2" orientation="vertical" />
		<p:commandButton rendered="#{bLCTransactionTypeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart2')"/>					
	</td>	
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCTransactionTypeController.resultsVisible}" value="#{BLCTransactionTypeChart.UpdateDurationChartData()}" legendPosition="ne" title="Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart3"  />
		<p:commandButton rendered="#{bLCTransactionTypeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart3')"/>					 
	</td>
	</tr>	

	</table>

	
<!--
<table>
	<tr>
	<td>
		<p:lineChart rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" value="#{BLCTransactionTypeByTransTypeChart.UpdateTotalTranChartData()}" legendPosition="ne" title="Total Transaction Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart4"  />
		<p:commandButton rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart4')"/>					
	</td>
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" value="#{BLCTransactionTypeByTransTypeChart.UpdateTotalTranChartDataSuccess()}" legendPosition="ne" title="Success Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart5"  />
		<p:commandButton rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart5')"/>					
	</td>
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" value="#{BLCTransactionTypeByTransTypeChart.UpdateTotalTranChartDataFail()}" legendPosition="ne" title="Fail Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart6"  />
		<p:commandButton rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart6')"/>					
	</td>	
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" value="#{BLCTransactionTypeByTransTypeChart.UpdateDurationChartData()}" legendPosition="ne" title="Average Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart7"  />
		<p:commandButton rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart7')"/>					
	</td>
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" value="#{BLCTransactionTypeByTransTypeChart.UpdateDurationChartDataMax()}" legendPosition="ne" title="Max Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart8"  />
		<p:commandButton rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart8')"/>					
	</td>		
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" value="#{BLCTransactionTypeByTransTypeChart.UpdateDurationChartDataMin()}" legendPosition="ne" title="Min Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart9"  />
		<p:commandButton rendered="#{bLCTransactionTypeByTransTypeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart9')"/>					
	</td>
	</tr>	
		
	</table>
-->
		
	
		<p:dialog widgetVar="dlg" showEffect="fade" modal="true" header="Chart as an Image" resizable="false">
		    <p:outputPanel id="output" layout="block" style="width:1000px;height:480px"/>
		</p:dialog>
		
		<script type="text/javascript">
		
		function exportChart(chartVarName) {
				
	    //export image
	    if (chartVarName == "chart1")
	    	$('#transform\\:output').empty().append(chart1.exportAsImage());
	    else if (chartVarName == "chart2")
	    	$('#transform\\:output').empty().append(chart2.exportAsImage());
	    else if (chartVarName == "chart3")
	    	$('#transform\\:output').empty().append(chart3.exportAsImage());
	    else if (chartVarName == "chart4")
	    	$('#transform\\:output').empty().append(chart4.exportAsImage());
	    else if (chartVarName == "chart5")
	    	$('#transform\\:output').empty().append(chart5.exportAsImage());
	    else if (chartVarName == "chart6")
	    	$('#transform\\:output').empty().append(chart6.exportAsImage());
	    else if (chartVarName == "chart7")
	    	$('#transform\\:output').empty().append(chart7.exportAsImage());
	    else if (chartVarName == "chart8")
	    	$('#transform\\:output').empty().append(chart8.exportAsImage());
	    else if (chartVarName == "chart9")
	    	$('#transform\\:output').empty().append(chart9.exportAsImage());

	    	    		    		    							 
	    //show the dialog
	    dlg.show();
	    
	  }
		</script>
			
</h:form>

</ui:define>

</ui:composition>
</html>