<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/master.xhtml">

<ui:define name="title">#{msg['main.title']} - #{msg['user.trans']}</ui:define>


<ui:define name="pageTitle">
	#{msg['user.trans']}
</ui:define>	

<ui:define name="content">

<p:growl id="growl" showDetail="false" globalOnly="false" autoUpdate="true"/>	

<h:form id="transform">
	
	<p:panel id="searchPanel">

			<f:facet name="header">
				<h:outputText value="#{msg['channel.title']}" styleClass="tableHeader" />
			</f:facet>
			
		<table style="width: 100%;">

			<tr>							
				<td>#{msg['trans.transDate']} : #{msg['general.from1']}</td>
				<td>
					<p:calendar id="transFrom"  showOn="button" required="true" requiredMessage="#{msg['report.prompt.start_date']}" binding="#{startDate}"/>
				</td>
				<td>#{msg['general.to1']}</td>
				<td>
					<p:calendar id="transTo"  showOn="button" required="true" requiredMessage="#{msg['report.prompt.end_date']}" validator="DateValidator" >
					        <f:attribute name="startDate" value="#{startDate}" />
					</p:calendar>					 
				</td>				
			</tr>

			<tr>
				<td>
					<h:outputText value="Report mode: " /> 
				</td>
				<td colspan="3">									
					<p:selectOneMenu id="reportMode">
					<f:selectItem itemValue="H" itemLabel="Hourly" />
					<f:selectItem itemValue="D" itemLabel="Daily" />
					<f:selectItem itemValue="W" itemLabel="Weekly" />
					<f:selectItem itemValue="M" itemLabel="Monthly" />
					</p:selectOneMenu>							
				</td>				
			</tr>
									

			<!--
			<tr>
				<td>
					<h:outputText value="API: " /> 
				</td>
				<td colspan="3">									
					<p:selectOneMenu value="#{channelController.api}">
					<f:selectItem itemValue="All" itemLabel="All" />
					<f:selectItem itemValue="api1" itemLabel="API1" />
					<f:selectItem itemValue="api2" itemLabel="API2" />
					<f:selectItem itemValue="api3" itemLabel="API3" />
					</p:selectOneMenu>							
				</td>				
			</tr>
			-->
			
			<tr>	
				<td colspan="1" align="left">
					<p:commandButton value="#{msg['trans.showOverallTransactionStat']}" actionListener="#{uMBChannelController.searchTransactions}" ajax="false" /> <!-- update="@form"   -->
				</td>
				<td colspan="3" align="left">
					<p:commandButton value="#{msg['channel.showTransactionStatByChannel']}" actionListener="#{uMBChannelByChannelController.searchTransactions}" ajax="false" /> <!-- update="@form"   -->
				</td>
								
			</tr>
		</table>
	</p:panel>

	<h:panelGroup id="dataPanel" layout="block">
        	
		<p:dataTable id="UMBChannelTable" var="UMBChannel" value="#{uMBChannelController.UMBChannels}" 
				rendered="#{uMBChannelController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="true" rows="5"
				paginatorPosition="bottom"
				sortBy="#{UMBChannel.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15,100,200"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['channel.datatable.title']}</f:facet>

			<p:column sortBy="#{UMBChannel.start_date}" sortOrder="DESCENDING">				
			<f:facet name="header">	<h:outputText value="#{msg['trans.Date']}" /></f:facet>
				<h:outputText value="#{UMBChannel.start_date}">	</h:outputText>
			</p:column>

			<p:column sortBy="#{UMBChannel.total_trans}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.totalTrans']}</f:facet>
				<h:outputText value="#{UMBChannel.total_trans}"></h:outputText>
			</p:column>

		</p:dataTable>

		<p:commandButton rendered="#{uMBChannelController.resultsVisible}" value="Export as Csv" ajax="false" action="#{export2Csv.exportHtmlTableToExcel(uMBChannelController.cvsFilePrefix, uMBChannelController.reportStr)}">
		</p:commandButton>	
						
			<p:dataTable id="UMBChannelByChannelTable" var="UMBChannelByChannel" value="#{uMBChannelByChannelController.UMBChannels}" 
				rendered="#{uMBChannelByChannelController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="true" rows="5"
				paginatorPosition="bottom"
				sortBy="#{UMBChannelByChannel.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15,100,200"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['trans.transactionStat']}</f:facet>

			<p:column sortBy="#{UMBChannelByChannel.start_date}" sortOrder="DESCENDING">				
			<f:facet name="header">	<h:outputText value="#{msg['trans.Date']}" /></f:facet>
				<h:outputText value="#{UMBChannelByChannel.start_date}">	</h:outputText>
			</p:column>

			<p:column sortBy="#{UMBChannelByChannel.channel_name}" sortOrder="DESCENDING">				
			<f:facet name="header">	<h:outputText value="#{msg['channel.channel']}" /></f:facet>
				<h:outputText value="#{UMBChannelByChannel.channel_name}">	</h:outputText>
			</p:column>

			<p:column sortBy="#{UMBChannelByChannel.total_trans}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.totalTrans']}</f:facet>
				<h:outputText value="#{UMBChannelByChannel.total_trans}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">	<h:outputText value="#{msg['trans.Pct']}" /></f:facet>
				<h:outputText value="#{UMBChannelByChannel.percentage}"></h:outputText> 
			</p:column>

		</p:dataTable>
											
		<p:commandButton rendered="#{uMBChannelByChannelController.resultsVisible}" value="Export as Csv" ajax="false" action="#{export2Csv.exportHtmlTableToExcel(uMBChannelByChannelController.cvsFilePrefix, uMBChannelByChannelController.reportStr)}">
		</p:commandButton>		
														
	</h:panelGroup>

	<table>
	<tr>
	<td>
		<p:lineChart rendered="#{uMBChannelController.resultsVisible}" value="#{UMBChannelChart.UpdateTotalTranChartData()}" legendPosition="ne" title="Transaction Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart1"  />
		<p:commandButton rendered="#{uMBChannelController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart1')"/>					
	</td>
	</tr>		
	
	</table>
	

	<table>
	<tr>
	<td>
		<p:lineChart rendered="#{uMBChannelByChannelController.resultsVisible}" value="#{UMBChannelByChannelChart.UpdateTotalTranChartData()}" legendPosition="ne" title="Total Transaction Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart4"  />
		<p:commandButton rendered="#{uMBChannelByChannelController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart4')"/>					
	</td>
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{uMBChannelByChannelController.resultsVisible}" value="#{UMBChannelByChannelChart.UpdatePercentageChartData()}" legendPosition="ne" title="Percentage Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart7"  />
		<p:commandButton rendered="#{uMBChannelByChannelController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart7')"/>					
	</td>
	</tr>					

	</table>
			
		<p:dialog widgetVar="dlg" showEffect="fade" modal="true" header="Chart as an Image" resizable="false">
		    <p:outputPanel id="output" layout="block" style="width:1000px;height:480px"/>
		</p:dialog>
		
		<script type="text/javascript">
		
		function exportChart(chartVarName) {
				
	    //export image
	    if (chartVarName == "chart1")
	    	$('#transform\\:output').empty().append(chart1.exportAsImage());
	    else if (chartVarName == "chart2")
	    	$('#transform\\:output').empty().append(chart2.exportAsImage());
	    else if (chartVarName == "chart3")
	    	$('#transform\\:output').empty().append(chart3.exportAsImage());
	    else if (chartVarName == "chart4")
	    	$('#transform\\:output').empty().append(chart4.exportAsImage());
	    else if (chartVarName == "chart5")
	    	$('#transform\\:output').empty().append(chart5.exportAsImage());
	    else if (chartVarName == "chart6")
	    	$('#transform\\:output').empty().append(chart6.exportAsImage());
	    else if (chartVarName == "chart7")
	    	$('#transform\\:output').empty().append(chart7.exportAsImage());
	    else if (chartVarName == "chart8")
	    	$('#transform\\:output').empty().append(chart8.exportAsImage());
	    else if (chartVarName == "chart9")
	    	$('#transform\\:output').empty().append(chart9.exportAsImage());

	    	    		    		    							 
	    //show the dialog
	    dlg.show();
	    
	  }
		</script>

			
</h:form>

</ui:define>

</ui:composition>
</html>