<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/master.xhtml">

	<ui:define name="title">#{msg['main.title']} - #{msg['user.trans']}</ui:define>


	<ui:define name="pageTitle">
	#{msg['user.trans']}
</ui:define>

	<ui:define name="content">
		<p:growl id="growl" showDetail="false" globalOnly="false"
			autoUpdate="true" />

		<h:form id="transform">

			<p:panel id="searchPanel">

			<f:facet name="header">
				<h:outputText value="#{msg['sms_out.title']}" styleClass="tableHeader" />
			</f:facet>
			
				<table style="width: 100%;">

					<tr>
						<td>#{msg['trans.transDate']} : #{msg['general.from1']}</td>
						<td><p:calendar id="searchFrom" showOn="button"
								required="true"
								requiredMessage="#{msg['report.prompt.start_date']}"
								binding="#{startDate}" /></td>
						<td>#{msg['general.to1']}</td>
						<td><p:calendar id="searchTo" showOn="button" required="true"
								requiredMessage="#{msg['report.prompt.end_date']}"
								validator="DateValidator">
								<f:attribute name="startDate" value="#{startDate}" />
							</p:calendar></td>
					</tr>

					<tr>
						<td><h:outputText value="Report mode: " /></td>
						<td colspan="3"><p:selectOneMenu id="reportMode">
								<f:selectItem itemValue="H" itemLabel="Hourly" />
								<f:selectItem itemValue="D" itemLabel="Daily" />
								<f:selectItem itemValue="W" itemLabel="Weekly" />
								<f:selectItem itemValue="M" itemLabel="Monthly" />
							</p:selectOneMenu></td>
					</tr>
					<tr>
						<td colspan="1" align="left"><p:commandButton
								value="#{msg['trans.showOverallTransactionStat']}"
								actionListener="#{smsOutController.searchTransactions}"
								ajax="false" /> <!-- update="@form"   --></td>
								
								
					<td colspan="3" align="left">
					<p:commandButton value="#{msg['smsout.showTransactionStatBySmppId']}" actionListener="#{smsOutBySmppIdController.searchTransactions}" ajax="false" /> <!-- update="@form"   -->					
					
				</td>
				
					</tr>
				</table>
			</p:panel>

			<h:panelGroup id="dataPanel" layout="block">
				<p:dataTable id="SmsOutTable" var="SmsOut"
					value="#{smsOutController.smsOut}"
					rendered="#{smsOutController.resultsVisible}" dynamic="true"
					lazy="true" paginator="true" rows="5" paginatorPosition="bottom"
					sortBy="#{SmsOut.start_date}" sortOrder="ASCENDING"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,100,200" loadingMessage="... now loading ..."
					style="clear: both; margin-top: 10px;">

					<f:facet name="header">#{msg['sms_out.datatable.title']}</f:facet>

					<p:column sortBy="#{SmsOut.start_date}" sortOrder="DESCENDING">
						<f:facet name="header">#{msg['trans.Date']}</f:facet>
						<h:outputText value="#{SmsOut.start_date}">
						</h:outputText>
					</p:column>

					<p:column sortBy="#{SmsOut.total_traffic}" sortOrder="DESCENDING">
						<f:facet name="header">#{msg['trans.totalTraffic']}</f:facet>
						<h:outputText value="#{SmsOut.total_traffic}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">#{msg['trans.totalSuccess']}</f:facet>
						<h:outputText value="#{SmsOut.total_success}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">#{msg['trans.totalFail']}</f:facet>
						<h:outputText value="#{SmsOut.total_fail}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">#{msg['trans.successPct']}</f:facet>
						<h:outputText value="#{SmsOut.success_pct}"></h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">#{msg['trans.failPct']}</f:facet>
						<h:outputText value="#{SmsOut.fail_pct}"></h:outputText>
					</p:column>
				</p:dataTable>

				<p:commandButton rendered="#{smsOutController.resultsVisible}"
					value="Export as Csv" ajax="false"
					action="#{export2Csv.exportHtmlTableToExcel(smsOutController.cvsFilePrefix, smsOutController.reportStr)}">
				</p:commandButton>



				<p:dataTable id="SmsOutBySmppIdTable" var="SmsOutBySmppId"
					value="#{smsOutBySmppIdController.smsOutBySmppIds}"
					rendered="#{smsOutBySmppIdController.resultsVisible}" dynamic="true"
					lazy="true" paginator="true" rows="5" paginatorPosition="bottom"
					sortBy="#{SmsOutBySmppId.start_date}" sortOrder="ASCENDING"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,100,200" loadingMessage="... now loading ..."
					style="clear: both; margin-top: 10px;">

					<f:facet name="header">#{msg['sms_out_by_smppId.datatable.title']}</f:facet>

					<p:column sortBy="#{SmsOutBySmppId.start_date}" sortOrder="DESCENDING">
						<f:facet name="header">#{msg['trans.Date']}</f:facet>
						<h:outputText value="#{SmsOutBySmppId.start_date}">
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">#{msg['smsout_by_smppid.smppId']}</f:facet>
						<h:outputText value="#{SmsOutBySmppId.mdr_prefix}"></h:outputText>
					</p:column>

					<p:column sortBy="#{SmsOutBySmppId.total_tx}" sortOrder="DESCENDING">
						<f:facet name="header">#{msg['trans.totalTraffic']}</f:facet>
						<h:outputText value="#{SmsOutBySmppId.total_tx}"></h:outputText>
					</p:column>

				</p:dataTable>

				<p:commandButton rendered="#{smsOutBySmppIdController.resultsVisible}"
					value="Export as Csv" ajax="false"
					action="#{export2Csv.exportHtmlTableToExcel(smsOutBySmppIdController.cvsFilePrefix, smsOutBySmppIdController.reportStr)}">
				</p:commandButton>				


			</h:panelGroup>

			<table>
				<tr>
					<td><p:lineChart rendered="#{smsOutController.resultsVisible}"
							value="#{SmsOutChart.UpdateTotalTranChartData()}"
							legendPosition="e" title="Transaction Statistics"
							xaxisAngle="75" style="width:800px;height:480px"
							widgetVar="chart1" /> <p:commandButton
							rendered="#{smsOutController.resultsVisible}" type="button"
							value="Export chart" icon="ui-icon-extlink"
							onclick="exportChart('chart1')" /></td>
				</tr>
				<tr>				
					<td><p:barChart rendered="#{smsOutController.resultsVisible}"
							value="#{SmsOutChart.UpdateTranPctChartData()}"
							legendPosition="e" title="Transaction Percentage"
							xaxisAngle="75" style="width:800px;height:480px"
							widgetVar="chart2" orientation="vertical" /> <p:commandButton
							rendered="#{smsOutController.resultsVisible}" type="button"
							value="Export chart" icon="ui-icon-extlink"
							onclick="exportChart('chart2')" /></td>
				</tr>
			</table>

			<table>
				<tr>
					<td><p:lineChart rendered="#{smsOutBySmppIdController.resultsVisible}"
							value="#{SmsOutBySmppIdChart.UpdateTotalTranChartData()}"
							legendPosition="ne" title="Transaction Statistics"
							xaxisAngle="75" style="width:800px;height:480px"
							widgetVar="chart3" /> <p:commandButton
							rendered="#{smsOutBySmppIdController.resultsVisible}" type="button"
							value="Export chart" icon="ui-icon-extlink"
							onclick="exportChart('chart3')" /></td>
						</tr>
			</table>
			
			<p:dialog widgetVar="dlg" showEffect="fade" modal="true"
				header="Chart as an Image" resizable="false">
				<p:outputPanel id="output" layout="block"
					style="width:1000px;height:480px" />
			</p:dialog>

			<script type="text/javascript">
				function exportChart(chartVarName) {

					//export image
					if (chartVarName == "chart1")
						$('#transform\\:output').empty().append(
								chart1.exportAsImage());
					else if (chartVarName == "chart2")
						$('#transform\\:output').empty().append(
								chart2.exportAsImage());
					else if (chartVarName == "chart3")
						$('#transform\\:output').empty().append(
								chart3.exportAsImage())
																
					//show the dialog
					dlg.show();

				}
				
				//var legend = $('table.jqplot-table-legend')[0];
				//legend.setAttribute('style', 'position: absolute; z-index: 3; right: -100px; top: 25px;');

			</script>

		</h:form>

	</ui:define>

</ui:composition>
</html>