<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/master.xhtml">

<ui:define name="title">#{msg['main.title']} - #{msg['user.trans']}</ui:define>


<ui:define name="pageTitle">
	#{msg['user.trans']}
</ui:define>	

<ui:define name="content">
<h:form id="transform">
	
	<p:panel id="searchPanel">
		<table style="width: 100%;">

			<tr>							
				<td>#{msg['trans.transDate']} : #{msg['general.from1']}</td>
				<td>
					<p:calendar id="calFrom" value="#{transactionStatController.searchFrom}" showOn="button" />
				</td>
				<td>#{msg['general.to1']}</td>
				<td>
					<p:calendar id="calTo" value="#{transactionStatController.searchTo}" showOn="button" />
				</td>				
			</tr>
			<tr>
				<td>
					<h:outputText value="Report mode: " /> 
				</td>
				<td colspan="3">									
					<p:selectOneMenu value="#{transactionStatController.reportmode}">
					<f:selectItem itemValue="H" itemLabel="Hourly" />
					<f:selectItem itemValue="D" itemLabel="Daily" />
					<f:selectItem itemValue="W" itemLabel="Weekly" />
					<f:selectItem itemValue="M" itemLabel="Monthly" />
					</p:selectOneMenu>							
				</td>				
			</tr>

			<tr>
				<td>
					<h:outputText value="API: " /> 
				</td>
				<td colspan="3">									
					<p:selectOneMenu value="#{transactionStatController.api}">
					<f:selectItem itemValue="All" itemLabel="All" />
					<f:selectItem itemValue="api1" itemLabel="API1" />
					<f:selectItem itemValue="api2" itemLabel="API2" />
					<f:selectItem itemValue="api3" itemLabel="API3" />
					</p:selectOneMenu>							
				</td>				
			</tr>
			
			<tr>	
				<td colspan="4" align="left">
					<p:commandButton value="#{msg['trans.showTransactionStat']}" actionListener="#{transactionStatController.searchTransactions}" ajax="false" /> <!-- update="@form"   -->
				</td>
			</tr>
		</table>
	</p:panel>

	<h:panelGroup id="dataPanel" layout="block">
		<p:dataTable id="transactionSummaryTable" var="transSummary" value="#{transactionStatController.transactionSummaries1}" 
				rendered="#{transactionStatController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="true" rows="5"
				paginatorPosition="bottom"
				sortBy="#{transSummary.txdate}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['trans.transactionStat']}</f:facet>
			
			<p:column sortBy="#{transSummary.txdate}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.Date']}</f:facet>
				<h:outputText value="#{transSummary.txdate}">					
				</h:outputText>
			</p:column>

			<p:column sortBy="#{transSummary.total_trans}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.totalTrans']}</f:facet>
				<h:outputText value="#{transSummary.total_trans}"></h:outputText>
			</p:column>

			<p:column>
				<f:facet name="header">#{msg['trans.totalSuccess']}</f:facet>
				<h:outputText value="#{transSummary.total_success}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.totalFail']}</f:facet>
				<h:outputText value="#{transSummary.total_fail}"></h:outputText>
			</p:column>
			
			<p:column >
				<f:facet name="header">#{msg['trans.successPct']}</f:facet>
				<h:outputText value="#{transSummary.success_pct}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.failPct']}</f:facet>
				<h:outputText value="#{transSummary.fail_pct}"></h:outputText>
			</p:column>
						
			<p:column >
				<f:facet name="header">#{msg['trans.avgDuration']}</f:facet>
				<h:outputText value="#{transSummary.avg_duration}"></h:outputText> <!-- <f:convertDateTime pattern="HH:mm:ss" /> -->
			</p:column>
			
			<p:column >
				<f:facet name="header">#{msg['trans.maxDuration']}</f:facet>
				<h:outputText value="#{transSummary.max_duration}"></h:outputText>
			</p:column>			
			
			<p:column >
				<f:facet name="header">#{msg['trans.minDuration']}</f:facet>
				<h:outputText value="#{transSummary.min_duration}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.iqrDuration']}</f:facet>
				<h:outputText value="#{transSummary.iqr_dur}"></h:outputText>
			</p:column>
			
		</p:dataTable>
		
		<p:commandButton value="Export as Excel" ajax="false" rendered="#{transactionStatController.resultsVisible}">
		<p:dataExporter type="xls" target="transactionSummaryTable" fileName="TransactionStat.xls"/>
		</p:commandButton>

		<!--
		<p:commandButton value="Export as PDF" ajax="false">
		<p:dataExporter type="pdf" target="transactionSummaryTable" fileName="TransactionStat.pdf"/>
		</p:commandButton>
		-->
		
		<p:commandButton value="Export as CSV" ajax="false" rendered="#{transactionStatController.resultsVisible}">
		<p:dataExporter type="csv" target="transactionSummaryTable" fileName="TransactionStat.csv"/>
		</p:commandButton>

		
	</h:panelGroup>
	
	<table>
	<tr><td>
		<p:lineChart rendered="#{transactionStatController.resultsVisible}" value="#{TransactionChart.UpdateTotalTranChartData()}" legendPosition="ne" title="Transaction Statistics" xaxisAngle="75" style="width:500px;height:300px" widgetVar="chart1"  />
		<p:commandButton rendered="#{transactionStatController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart1')"/>					
	</td>
	<td>
		<p:barChart rendered="#{transactionStatController.resultsVisible}" value="#{TransactionChart.UpdateTranPctChartData()}" legendPosition="ne" title="Transaction Percentage" xaxisAngle="75" style="width:500px;height:300px" widgetVar="chart2" orientation="vertical" />
		<p:commandButton rendered="#{transactionStatController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart2')"/>					
	</td>	
	</tr>
	<tr><td>
		<p:lineChart rendered="#{transactionStatController.resultsVisible}" value="#{TransactionChart.UpdateDurationChartData()}" legendPosition="ne" title="Duration Statistics" xaxisAngle="75" style="width:500px;height:300px" widgetVar="chart3"  />
		<p:commandButton rendered="#{transactionStatController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart3')"/>					 
	</td>
	<td>
		<p:lineChart rendered="#{transactionStatController.resultsVisible}" value="#{TransactionChart.UpdateIQRDurationChartData()}" legendPosition="ne" title="IQR Duration" xaxisAngle="75" style="width:500px;height:300px" widgetVar="chart4"  />
		<p:commandButton rendered="#{transactionStatController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart4')"/>					 
	</td>	
	</tr>	
	
	</table>
	
		<p:dialog widgetVar="dlg" showEffect="fade" modal="true" header="Chart as an Image" resizable="false">
		    <p:outputPanel id="output" layout="block" style="width:500px;height:300px"/>
		</p:dialog>
		
		<script type="text/javascript">
		
		function exportChart(chartVarName) {
				
	    //export image
	    if (chartVarName == "chart1")
	    	$('#transform\\:output').empty().append(chart1.exportAsImage());
	    else if (chartVarName == "chart2")
	    	$('#transform\\:output').empty().append(chart2.exportAsImage());
	    else if (chartVarName == "chart3")
	    	$('#transform\\:output').empty().append(chart3.exportAsImage());
	    else if (chartVarName == "chart4")
	    	$('#transform\\:output').empty().append(chart4.exportAsImage());
	    	    		    		    							 
	    //show the dialog
	    dlg.show();
	    
	  }
		</script>
			
</h:form>

</ui:define>

</ui:composition>
</html>