<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/master.xhtml">

<ui:define name="title">#{msg['main.title']} - #{msg['user.trans']}</ui:define>


<ui:define name="pageTitle">
	#{msg['user.trans']}
</ui:define>	

<ui:define name="content">

<p:growl id="growl" showDetail="false" globalOnly="false" autoUpdate="true"/>	

<h:form id="transform">
	
	<p:panel id="searchPanel">

			<f:facet name="header">
				<h:outputText value="#{msg['umb_session.title']}" styleClass="tableHeader" />
			</f:facet>

		<table style="width: 100%;">

			<tr>							
				<td>#{msg['trans.transDate']} : #{msg['general.from1']}</td>
				<td>
					<p:calendar id="transFrom"  showOn="button" required="true" requiredMessage="#{msg['report.prompt.start_date']}" binding="#{startDate}"/>
				</td>
				<td>#{msg['general.to1']}</td>
				<td>
					<!--<p:calendar id="transTo"  showOn="button" required="true" requiredMessage="#{msg['report.prompt.end_date']}" />-->
					<p:calendar id="transTo"  showOn="button" required="true" requiredMessage="#{msg['report.prompt.end_date']}" validator="DateValidator" >
					        <f:attribute name="startDate" value="#{startDate}" />
					</p:calendar>					 
				</td>				
			</tr>

			<tr>
				<td>
					<h:outputText value="Report mode: " /> 
				</td>
				<td colspan="3">									
					<p:selectOneMenu id="reportMode">
					<f:selectItem itemValue="H" itemLabel="Hourly" />
					<f:selectItem itemValue="D" itemLabel="Daily" />
					<f:selectItem itemValue="W" itemLabel="Weekly" />
					<f:selectItem itemValue="M" itemLabel="Monthly" />
					</p:selectOneMenu>							
				</td>				
			</tr>
									

			<!--
			<tr>
				<td>
					<h:outputText value="API: " /> 
				</td>
				<td colspan="3">									
					<p:selectOneMenu value="#{uMBSessionController.api}">
					<f:selectItem itemValue="All" itemLabel="All" />
					<f:selectItem itemValue="api1" itemLabel="API1" />
					<f:selectItem itemValue="api2" itemLabel="API2" />
					<f:selectItem itemValue="api3" itemLabel="API3" />
					</p:selectOneMenu>							
				</td>				
			</tr>
			-->
			
			<tr>	
				<td colspan="1" align="left">
					<p:commandButton value="#{msg['trans.showOverallTransactionStat']}" actionListener="#{uMBSessionController.searchTransactions}" ajax="false" /> <!-- update="@form"   -->
				</td>
				<td colspan="3" align="left">
					<p:commandButton value="#{msg['umb_session.showTransactionStatByShortCode']}" actionListener="#{uMBSessionByShortCodeController.searchTransactions}" ajax="false" /> <!-- update="@form"   -->
				</td>
			</tr>
		</table>
	</p:panel>

	<h:panelGroup id="dataPanel" layout="block">
        	
		<p:dataTable id="UMBSessionTable" var="UMBSession" value="#{uMBSessionController.UMBSessions}" 
				rendered="#{uMBSessionController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="true" rows="5"
				paginatorPosition="bottom"
				sortBy="#{UMBSession.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15,100,200"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['umb_session.datatable.title']}</f:facet>

			<p:column sortBy="#{UMBSession.start_date}" sortOrder="DESCENDING">				
			<f:facet name="header">	<h:outputText value="#{msg['trans.Date']}" /></f:facet>
				<h:outputText value="#{UMBSession.start_date}">	</h:outputText>
			</p:column>

			<p:column sortBy="#{UMBSession.total_trans}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.totalTrans']}</f:facet>
				<h:outputText value="#{UMBSession.total_trans}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">	<h:outputText value="#{msg['trans.avgDuration']}" /></f:facet>
				<h:outputText value="#{UMBSession.avg_dur}"></h:outputText> 
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.maxDuration']}</f:facet>
				<h:outputText value="#{UMBSession.max_dur}"></h:outputText>
			</p:column>			

			<p:column >
				<f:facet name="header">#{msg['trans.minDuration']}</f:facet>
				<h:outputText value="#{UMBSession.min_dur}"></h:outputText>
			</p:column>

		</p:dataTable>
											
		<p:commandButton rendered="#{uMBSessionController.resultsVisible}" value="Export as Csv" ajax="false" action="#{export2Csv.exportHtmlTableToExcel(uMBSessionController.cvsFilePrefix, uMBSessionController.reportStr)}">
		</p:commandButton>		

		<p:dataTable id="UMBSessionByShortCodeTable" var="UMBSessionByShortCode" value="#{uMBSessionByShortCodeController.UMBSessions}" 
				rendered="#{uMBSessionByShortCodeController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="true" rows="5"
				paginatorPosition="bottom"
				sortBy="#{UMBSessionByShortCode.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15,100,200"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['trans.transactionStat']}</f:facet>

			<p:column sortBy="#{UMBSessionByShortCode.start_date}" sortOrder="DESCENDING">				
			<f:facet name="header">	<h:outputText value="#{msg['trans.Date']}" /></f:facet>
				<h:outputText value="#{UMBSessionByShortCode.start_date}">	</h:outputText>
			</p:column>

			<p:column sortBy="#{UMBSessionByShortCode.short_code}" sortOrder="DESCENDING">				
			<f:facet name="header">	<h:outputText value="#{msg['umb_session.shortCode']}" /></f:facet>
				<h:outputText value="#{UMBSessionByShortCode.short_code}">	</h:outputText>
			</p:column>

			<p:column sortBy="#{UMBSessionByShortCode.total_trans}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['trans.totalTrans']}</f:facet>
				<h:outputText value="#{UMBSessionByShortCode.total_trans}"></h:outputText>
			</p:column>

			<p:column >
				<f:facet name="header">	<h:outputText value="#{msg['trans.avgDuration']}" /></f:facet>
				<h:outputText value="#{UMBSessionByShortCode.avg_dur}"></h:outputText> 
			</p:column>

			<p:column >
				<f:facet name="header">#{msg['trans.maxDuration']}</f:facet>
				<h:outputText value="#{UMBSessionByShortCode.max_dur}"></h:outputText>
			</p:column>			

			<p:column >
				<f:facet name="header">#{msg['trans.minDuration']}</f:facet>
				<h:outputText value="#{UMBSessionByShortCode.min_dur}"></h:outputText>
			</p:column>

		</p:dataTable>
											
		<p:commandButton rendered="#{uMBSessionByShortCodeController.resultsVisible}" value="Export as Csv" ajax="false" action="#{export2Csv.exportHtmlTableToExcel(uMBSessionByShortCodeController.cvsFilePrefix, uMBSessionByShortCodeController.reportStr)}">
		</p:commandButton>		
										
	</h:panelGroup>
	
	<table>
	<tr>
	<td>
		<p:lineChart rendered="#{uMBSessionController.resultsVisible}" value="#{UMBSessionChart.UpdateTotalTranChartData()}" legendPosition="ne" title="Transaction Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart1"  />
		<p:commandButton rendered="#{uMBSessionController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart1')"/>					
	</td>
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{uMBSessionController.resultsVisible}" value="#{UMBSessionChart.UpdateDurationChartData()}" legendPosition="ne" title="Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart3"  />
		<p:commandButton rendered="#{uMBSessionController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart3')"/>					 
	</td>
	</tr>

	</table>
	
	<table>
	<tr>
	<td>
		<p:lineChart rendered="#{uMBSessionByShortCodeController.resultsVisible}" value="#{UMBSessionByShortCodeChart.UpdateTotalTranChartData()}" legendPosition="ne" title="Total Transaction Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart4"  />
		<p:commandButton rendered="#{uMBSessionByShortCodeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart4')"/>					
	</td>
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{uMBSessionByShortCodeController.resultsVisible}" value="#{UMBSessionByShortCodeChart.UpdateDurationChartData()}" legendPosition="ne" title="Average Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart7"  />
		<p:commandButton rendered="#{uMBSessionByShortCodeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart7')"/>					
	</td>
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{uMBSessionByShortCodeController.resultsVisible}" value="#{UMBSessionByShortCodeChart.UpdateDurationChartDataMax()}" legendPosition="ne" title="Max Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart8"  />
		<p:commandButton rendered="#{uMBSessionByShortCodeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart8')"/>					
	</td>		
	</tr>		
	
	<tr>
	<td>
		<p:lineChart rendered="#{uMBSessionByShortCodeController.resultsVisible}" value="#{UMBSessionByShortCodeChart.UpdateDurationChartDataMin()}" legendPosition="ne" title="Min Duration Statistics" xaxisAngle="75" style="width:800px;height:480px" widgetVar="chart9"  />
		<p:commandButton rendered="#{uMBSessionByShortCodeController.resultsVisible}" type="button" value="Export chart" icon="ui-icon-extlink" onclick="exportChart('chart9')"/>					
	</td>
	</tr>	
		
	</table>
		
		<p:dialog widgetVar="dlg" showEffect="fade" modal="true" header="Chart as an Image" resizable="false">
		    <p:outputPanel id="output" layout="block" style="width:1000px;height:480px"/>
		</p:dialog>
		
		<script type="text/javascript">
		
		function exportChart(chartVarName) {
				
	    //export image
	    if (chartVarName == "chart1")
	    	$('#transform\\:output').empty().append(chart1.exportAsImage());
	    else if (chartVarName == "chart2")
	    	$('#transform\\:output').empty().append(chart2.exportAsImage());
	    else if (chartVarName == "chart3")
	    	$('#transform\\:output').empty().append(chart3.exportAsImage());
	    else if (chartVarName == "chart4")
	    	$('#transform\\:output').empty().append(chart4.exportAsImage());
	    else if (chartVarName == "chart5")
	    	$('#transform\\:output').empty().append(chart5.exportAsImage());
	    else if (chartVarName == "chart6")
	    	$('#transform\\:output').empty().append(chart6.exportAsImage());
	    else if (chartVarName == "chart7")
	    	$('#transform\\:output').empty().append(chart7.exportAsImage());
	    else if (chartVarName == "chart8")
	    	$('#transform\\:output').empty().append(chart8.exportAsImage());
	    else if (chartVarName == "chart9")
	    	$('#transform\\:output').empty().append(chart9.exportAsImage());

	    	    		    		    							 
	    //show the dialog
	    dlg.show();
	    
	  }
		</script>
			
</h:form>

</ui:define>

</ui:composition>
</html>