<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      template="/templates/master.xhtml">
      
<ui:define name="meta">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
</ui:define>

<ui:define name="title">#{msg['main.title']} - #{msg['login.login']}</ui:define>
<ui:define name="content">
	<f:metadata>
		<f:viewParam name="reason" value="#{UserBean.reason}" />
	</f:metadata>
<!-- 		<h:form>
		<div style="margin: 20px auto; width: 50%;">
			<p:commandButton style="margin-left: auto; margin-right: auto;" value="Debug Login" 
			onclick="document.getElementById('j_username').value='SYS_DEFAULT';document.getElementById('j_password').value='abc123';document.getElementById('login').action='j_security_check';document.getElementById('login').submit();" 
			type="button"
			/>
			
		</div>	
	</h:form> -->
	<h:form id="login" prependId="false" onsubmit="document.getElementById('login').action='j_security_check';">
		<p:growl id="messages" />
		<div style="margin: 20px auto; width: 50%;">
			<table>
				<tr>
					<td>#{msg['login.userId']}:</td>
					<td>
						<p:inputText id="j_username" value="#{UserBean.userId}" required="true" label="User name"/>
						<h:message for="j_username" styleClass="error" />
					</td>
				</tr>
				<tr>
					<td>#{msg['login.password']}:</td>
					<td>
						<p:password id="j_password" value="#{UserBean.password}" required="true" label="Password" feedback="false" />
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<p:commandButton value="#{msg['login.login']}" ajax="false" />						
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<h:panelGroup layout="block" rendered="#{! empty UserBean.reason}" styleClass="text-red">
							<h:outputText value="#{msg['err.login.expired']}" rendered="#{UserBean.reason == 'expired'}" />
							<h:outputText value="#{msg['err.login.multilogin']}" rendered="#{UserBean.reason == 'multilogin'}" />
							<h:outputText value="#{msg['err.login.invalid']}" rendered="#{UserBean.reason == 'invalid'}" />
							<!-- <h:outputText value="#{UserBean.reason}"/> -->
						</h:panelGroup>						
						<h:messages globalOnly="true" styleClass="text-red" />
					</td>
				</tr>
			</table>
		</div>		
	</h:form>

	
	
	<ui:remove>
	
	<form action="j_security_check" method="post">
	    <h:outputLabel for="j_username" value="Username" />
	    <h:inputText id="j_username" value="#{UserBean.userId}"/>
	    <br />
	    <h:outputLabel for="j_password" value="Password" />
	    <h:inputSecret id="j_password" value="#{UserBean.password}"/>
	    <br />
	    <h:commandButton value="Login"/>
	</form>	
	</ui:remove>
	<!-- 
	
	 -->
</ui:define>
</ui:composition>