<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/master.xhtml">

<ui:define name="title">#{msg['main.title']} - #{msg['user.audit']}</ui:define>


<ui:define name="pageTitle">
	#{msg['user.audit']}
</ui:define>	

<ui:define name="content">
<h:form>
	<p:panel id="searchPanel">
		<table style="width: 100%;">
			<tr>
				<td>#{msg['general.from']}</td>
				<td>
					<p:calendar id="calFrom" value="#{auditController.searchFrom}" showOn="button" />
					<!-- 
					<p:inputMask id="tbFrom" mask="9999-99-99 99:99:99"
							value="#{auditController.searchFrom}"
							converterMessage="Invalid date">
						<f:convertDateTime pattern="#{appConstants.dateFormat}" timeZone="#{appConstants.timeZone}" />
					</p:inputMask>
					<h:message for="tbFrom" styleClass="error" />
					 -->
				</td>
				<td>#{msg['general.to']}</td>
				<td>
					<p:calendar id="calTo" value="#{auditController.searchTo}" showOn="button" />
					<!-- 
					<p:inputMask id="tbTo" mask="9999-99-99 99:99:99"
							value="#{auditController.searchTo}"
							converterMessage="Invalid date">
						<f:convertDateTime pattern="#{appConstants.dateFormat}" timeZone="#{appConstants.timeZone}" />
					</p:inputMask>
					<h:message for="tbTo" styleClass="error" />
					 -->
				</td>
				<td align="right">
					<p:commandButton value="#{msg['audit.showAuditTrail']}" actionListener="#{auditController.searchAuditTrails}" ajax="false"/>
				</td>
			</tr>
		</table>
	</p:panel>
	
	<h:panelGroup id="dataPanel" layout="block">
		<p:dataTable id="auditTrailsTable" var="atLog" value="#{auditController.auditTrails}" 
				rendered="#{auditController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="true" rows="10"
				paginatorPosition="bottom"
				sortBy="#{atLog.actionTime}" sortOrder="DESCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['audit.auditTrailLogs']}</f:facet>
			
			<p:column>
				<f:facet name="header">#{msg['general.details']}</f:facet>
				<p:rowToggler />
			</p:column>
			<p:column sortBy="#{atLog.actionTime}" sortOrder="DESCENDING">
				<f:facet name="header">#{msg['audit.eventTime']}</f:facet>
				<h:outputText value="#{atLog.actionTime}">
					<f:convertDateTime pattern="#{sessionBean.webDateFormat}" />
				</h:outputText>
			</p:column>
			<p:column sortBy="#{atLog.actorName}" filterBy="#{atLog.actorName}">
				<f:facet name="header">#{msg['audit.actor']}</f:facet>
				<h:outputText value="#{atLog.actorName}"></h:outputText>
			</p:column>
			<!-- 
			<p:column>
				<f:facet name="header">User IP</f:facet>
				<h:outputText value="#{atLog.userIp}"></h:outputText>
			</p:column>
			 -->
			<p:column sortBy="#{atLog.screenType}" filterBy="#{atLog.screenType}" 
					filterOptions="#{auditController.screenTypes}">
				<f:facet name="header">#{msg['audit.pageCategory']}</f:facet>
				<h:outputText value="#{atLog.screenType}"></h:outputText>
			</p:column>
			<!-- 
			<p:column sortBy="#{atLog.screenId}" filterBy="#{atLog.screenId}">
				<f:facet name="header">Page</f:facet>
				<h:outputText value="#{atLog.screenId}"></h:outputText>
			</p:column>
			
			<p:column>
				<f:facet name="header">Page URL</f:facet>
				<h:outputText value="#{atLog.pageUrl}"></h:outputText>
			</p:column>
			 -->
			<p:column sortBy="#{atLog.actionType}" filterBy="#{atLog.actionType}"
					filterOptions="#{auditController.actionTypes}">
				<f:facet name="header">#{msg['audit.actionType']}</f:facet>
				<h:outputText value="#{atLog.actionType}"></h:outputText>
			</p:column>
			<p:column filterBy="#{atLog.summary}">
				<f:facet name="header">#{msg['audit.summary']}</f:facet>
				<h:outputText value="#{atLog.summary}"></h:outputText>
			</p:column>
			<!-- 
			<p:column>
				<f:facet name="header">Details</f:facet>
				<h:outputText value="#{atLog.details}"></h:outputText>
			</p:column>
			 -->
			 
			 <p:rowExpansion>
			 	<table>
			 		<tr>
			 			<td>#{msg['audit.userIp']}</td>
			 			<td><h:outputText value="#{atLog.actorIp}" /></td>
			 		</tr>
			 		<tr>
			 			<td>#{msg['audit.pageUrl']}</td>
			 			<td><h:outputText value="#{atLog.screenId}" /></td>
			 		</tr>
			 		<tr>
			 			<td>#{msg['general.details']}</td>
			 			<td><h:outputText value="#{atLog.details}" /></td>
			 		</tr>
			 	</table>
			 </p:rowExpansion>
		</p:dataTable>
	</h:panelGroup>
</h:form>
</ui:define>

</ui:composition>
</html>