<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/master.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<f:metadata>
		<f:viewParam name="selectedGroupId" value="#{userGroupController.selectedGroupId}" />
		<f:viewParam name="showAddDialog" value="#{userGroupController.showAddDialog}" />
	</f:metadata>

	<ui:define name="title">
		#{msg['main.title']} - #{msg['privilege.usergroups']}
	</ui:define>

	<ui:define name="pageTitle">
		#{msg['privilege.usergroups']}
	</ui:define>

	<ui:define name="content">
		<p:growl id="messages" showDetail="false" autoUpdate="true" globalOnly="false" />

		<h:form id="groupForm">
			<p:panel>
				<f:facet name="header">
					<h:outputText value="#{msg['privilege.usergroups']}" styleClass="tableHeader" />
				</f:facet>
				<p:dataTable var="userGroup" value="#{userGroupController.userGroups}" paginatorPosition="bottom" paginator="true" rows="10"
					rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false" rowKey="#{userGroup.groupId}" selectionMode="single"
					selection="#{userGroupController.selectedGroup}">

					<p:ajax event="rowSelect" update=":groupForm" />

					<p:column styleClass="colAddBtn">
						<f:facet name="header">
							<p:commandLink title="#{msg['general.add']}" styleClass="ui-icon ui-icon-plusthick" process="@this"
								action="#{userGroupController.addGroup}" update=":editForm" oncomplete="editDialog.show();"
								rendered="#{UserBean.accessLevel == 'WRITE'}" />
						</f:facet>
					</p:column>
					<p:column style="width:500px" headerText="#{msg['privilege.groupid']}" styleClass="groupSearchColumn">
						<h:outputText value="#{userGroup.groupId}" />
					</p:column>
					<p:column headerText="#{msg['privilege.groupname']}" styleClass="groupSearchColumn">
						<h:outputText value="#{userGroup.groupName}" />
					</p:column>
					<p:column style="width:70px" headerText="#{msg['privilege.usercount']}" styleClass="groupSearchColumn">
						<h:outputText value="#{userGroup.userCount}" />
					</p:column>
					<p:column style="width:60px" headerText="#{msg['privilege.actions']}">
						<h:panelGroup>
							<h:panelGroup rendered="#{UserBean.getAccessLevel() == 'WRITE'}">
								<p:commandLink style="float:right" styleClass="ui-icon ui-icon-trash" action="#{userGroupController.selectGroup(userGroup)}"
									onclick="confirmDelete.show()" title="#{msg['general.delete']}" disabled="#{! userGroupController.isGroupDeletable(userGroup)}" />
								<p:commandLink style="float:right" styleClass="ui-icon ui-icon-pencil" action="#{userGroupController.selectGroup(userGroup)}"
									update=":editForm" oncomplete="editDialog.show();" title="#{msg['general.edit']}">
									<f:setPropertyActionListener target="#{userGroupController.createNew}" value="#{false}" />
								</p:commandLink>
							</h:panelGroup>
							<p:commandLink style="float:right" styleClass="ui-icon ui-icon-search" action="#{userGroupController.setSelectedGroup(userGroup)}"
								update=":groupForm" title="#{msg['general.select']}" />
						</h:panelGroup>
					</p:column>
				</p:dataTable>
			</p:panel>

			<h:panelGroup rendered="#{userGroupController.selectedGroup != null and  userGroupController.selectedGroup.groupId != null}">
				<br />
				<p:panel header="">
					<f:facet name="header">
						<h:outputText value="#{msg['privilege.userroles']}: #{userGroupController.selectedGroup.groupId}" styleClass="tableHeader" />
					</f:facet>

					<p:dataTable id="entryTable" var="userRole" value="#{userGroupController.selectedRoles}" paginatorPosition="bottom" paginator="true"
						rows="10" rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false">
						<p:column styleClass="colAddBtn">
							<f:facet name="header">
								<p:commandLink title="#{msg['general.add']}" styleClass="ui-icon ui-icon-plusthick" process="@this" update=":editRoleForm"
									oncomplete="editRoleDialog.show();" rendered="#{UserBean.accessLevel == 'WRITE'}" />
							</f:facet>
						</p:column>

						<p:column style="width:500px" headerText="#{msg['privilege.roleid']}" styleClass="groupSearchColumn">
							<h:outputLink value="#{request.contextPath}/pages/user/role.xhtml">
								<f:param name="selectedRoleId" value="#{userRole.roleId}" />
								<h:outputText value="#{userRole.roleId}" />
							</h:outputLink>
						</p:column>
						<p:column headerText="#{msg['privilege.rolename']}" styleClass="groupSearchColumn">
							<h:outputText value="#{userRole.roleName}" />
						</p:column>

						<p:column style="width:60px" headerText="#{msg['privilege.actions']}" rendered="#{UserBean.getAccessLevel() == 'WRITE'}">
							<h:panelGroup>
								<p:commandLink styleClass="ui-icon ui-icon-trash" action="#{userGroupController.selectRole(userRole)}"
									onclick="confirmRoleDelete.show()" title="#{msg['general.delete']}" disabled="#{! userGroupController.isGroupDeletable(userGroup)}" />
							</h:panelGroup>
						</p:column>

					</p:dataTable>
				</p:panel>
			</h:panelGroup>
		</h:form>

		<h:form id="deleteRoleForm">
			<p:confirmDialog header="Delete" id="confirmRoleDelete1" modal="true" widgetVar="confirmRoleDelete"
				message="#{msg['general.confirmPrompt']}">
				<p:commandButton value="#{msg['general.yes']}" actionListener="#{userGroupController.deleteRoleFromGroup}"
					oncomplete="confirmRoleDelete.hide()" update=":groupForm" />
				<p:commandButton value="#{msg['general.no']}" oncomplete="confirmRoleDelete.hide()" />
			</p:confirmDialog>
		</h:form>

		<p:dialog id="editRoleDialog1" header="#{msg['general.addEdit']}" modal="true" widgetVar="editRoleDialog" resizable="false">
			<h:form id="editRoleForm">
				<h:panelGrid id="editRoleTable" columns="2">
					<p:outputLabel for="edRole" value="#{msg['privilege.userroles']}:" />
					<h:panelGrid columns="2">
						<p:selectOneMenu id="edRole" value="#{userGroupController.selectedRoleName}" required="true"
							requiredMessage="#{msg['group.prompt.groupid']}">
							<f:selectItem itemLabel="#{msg['privilege.role.select']}" itemValue="" />
							<f:selectItems value="#{userGroupController.notSelectedRolesNames}" />
						</p:selectOneMenu>
						<p:commandLink title="#{msg['general.add']}" action="#{userGroupController.onAddGroupClick}"
						rendered="#{UserBean.accessLevel == 'WRITE'}" 
						styleClass="ui-icon ui-icon-circle-plus" />
					</h:panelGrid>
				</h:panelGrid>
				<br />
				<p:commandButton value="#{msg['general.save']}" action="#{userGroupController.addRoleToGroup}"
					oncomplete="handleEditRoleRequest(xhr, status, args);" update="@form :groupForm" />
			</h:form>
		</p:dialog>

		<script type="text/javascript">
			function handleEditRoleRequest(xhr, status, args) {
				if (args.validationFailed) {
					editRoleDialog.show();
				} else {
					editRoleDialog.hide();
				}
			}
		</script>

		<h:form id="deleteForm">
			<p:confirmDialog header="#{msg['general.delete']}" id="confirmDelete1" modal="true" widgetVar="confirmDelete"
				message="#{msg['privilege.group.confirmDelete']}">
				<p:commandButton value="#{msg['general.yes']}" actionListener="#{userGroupController.deleteGroup}" oncomplete="confirmDelete.hide()"
					update=":groupForm" />
				<p:commandButton value="#{msg['general.no']}" oncomplete="confirmDelete.hide()" />
			</p:confirmDialog>
		</h:form>

		<p:dialog id="editDialog1" header="#{msg['general.addEdit']}" 
			rendered="#{UserBean.accessLevel == 'WRITE'}"
			visible="#{userGroupController.showAddDialog || userGroupController.userGroups==null || userGroupController.userGroupEmpty}" 
			modal="true" widgetVar="editDialog"
			resizable="false">
			<h:form id="editForm">
				<h:panelGrid id="editTable" columns="2">
					<p:outputLabel for="edGroupId" value="#{msg['privilege.groupid']}:" />
					<p:inputText id="edGroupId" value="#{userGroupController.selectedGroup.groupId}"
						disabled="#{!empty userGroupController.selectedGroup.groupId}" required="true" requiredMessage="#{msg['group.prompt.groupid']}" />
					<p:outputLabel for="edGroupName" value="#{msg['privilege.groupname']}:" />
					<p:inputText id="edGroupName" value="#{userGroupController.selectedGroup.groupName}" />
				</h:panelGrid>
				<br />
				<p:commandButton value="#{msg['general.save']}" action="#{userGroupController.saveGroup}"
					oncomplete="handleAddEditRequest(xhr, status, args)" update="@form :groupForm " />
			</h:form>
		</p:dialog>

		<script type="text/javascript">
			function handleAddEditRequest(xhr, status, args) {
				if (args.validationFailed) {
					editDialog.show();
				} else {
					editDialog.hide();
				}
			}
		</script>
	</ui:define>

</ui:composition>
