<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/master.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<f:metadata>
		<f:viewParam name="selectedRoleId" value="#{userRoleController.selectedRoleId}" />
		<f:viewParam name="showAddDialog" value="#{userRoleController.showAddDialog}" />
	</f:metadata>

	<ui:define name="title">
		#{msg['main.title']} - #{msg['privilege.userroles']}
	</ui:define>

	<ui:define name="pageTitle">
		#{msg['privilege.userroles']}
	</ui:define>

	<ui:define name="content">
		<p:growl id="messages" showDetail="false" autoUpdate="true" globalOnly="false" />
		<h:form id="roleForm">
			<p:panel>
				<f:facet name="header">
					<h:outputText value="#{msg['privilege.userroles']}" styleClass="tableHeader" />
				</f:facet>

				<p:dataTable var="userRole" value="#{userRoleController.userRoles}" paginatorPosition="bottom" paginator="true" rows="10"
					rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false" rowKey="#{userRole.roleId}" selectionMode="single"
					selection="#{userRoleController.selectedRole}">

					<p:ajax event="rowSelect" listener="#{userRoleController.selectRole(userRoleController.selectedRole)}" update=":roleForm" />

					<p:column styleClass="colAddBtn">
						<f:facet name="header">
							<p:commandLink title="#{msg['general.add']}" styleClass="ui-icon ui-icon-plusthick" process="@this"
								action="#{userRoleController.addRole}" update=":editForm" oncomplete="editDialog.show();"
								rendered="#{UserBean.accessLevel == 'WRITE'}">
								<f:setPropertyActionListener target="#{userRoleController.createNew}" value="#{true}" />
							</p:commandLink>
						</f:facet>
					</p:column>

					<p:column headerText="#{msg['privilege.roleid']}" styleClass="roleSearchColumn">
						<h:outputText value="#{userRole.roleId}" />
					</p:column>
					<p:column headerText="#{msg['privilege.rolename']}" styleClass="roleSearchColumn">
						<h:outputText value="#{userRole.roleName}" />
					</p:column>
					<p:column headerText="#{msg['privilege.actions']}" style="width:60px">
						<h:panelGroup>
							<h:panelGroup rendered="#{UserBean.getAccessLevel() == 'WRITE'}">
								<p:commandLink style="float:right" styleClass="ui-icon ui-icon-trash" action="#{userRoleController.selectRole(userRole)}"
									onclick="confirmDelete.show()" title="#{msg['general.delete']}" disabled="#{! userRoleController.isRoleDeletable(userRole)}" />
								<p:commandLink style="float:right" styleClass="ui-icon ui-icon-pencil" action="#{userRoleController.selectRole(userRole)}"
									update=":editForm" oncomplete="editDialog.show();" title="#{msg['general.edit']}"
									disabled="#{! userRoleController.isRoleDeletable(userRole)}">
									<f:setPropertyActionListener target="#{userRoleController.createNew}" value="#{false}" />
								</p:commandLink>
							</h:panelGroup>
							<p:commandLink style="float:right" styleClass="ui-icon ui-icon-search" action="#{userRoleController.selectRole(userRole)}"
								update=":roleForm" title="#{msg['general.select']}" />
						</h:panelGroup>
					</p:column>
				</p:dataTable>
			</p:panel>

			<h:panelGroup rendered="#{userRoleController.selectedRole!=null and userRoleController.selectedRole.roleId!=null}">
				<br />
				<p:panel >
					<f:facet name="header">
						<p:commandButton rendered="#{UserBean.getAccessLevel() == 'WRITE'}" id="addRight" icon="ui-icon-disk" value="#{msg['general.save']}"
							styleClass="tableHeaderButton" update=":roleForm" action="#{userRoleController.editRightsInRole}" title="#{msg['general.save']}"
							>
						</p:commandButton>
						<p:commandButton rendered="#{UserBean.getAccessLevel() == 'WRITE'}" id="refreshRight" icon="ui-icon-refresh"
							value="#{msg['general.refresh']}" styleClass="tableHeaderButton" update=":roleForm"
							action="#{userRoleController.refreshRightsWhenScreenChanges}"
							>
						</p:commandButton>
					</f:facet>
					<p:dataTable id="entryTable" var="userRight" value="#{userRoleController.selectedRights}" paginatorPosition="bottom" paginator="true"
						rows="10" rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false">
	
						<p:column headerText="#{msg['privilege.typeid']}" sortBy="#{userRight.typeId}" styleClass="roleSearchColumn">
							<h:outputText value="#{userRight.typeId}" />
						</p:column>
						<p:column headerText="#{msg['privilege.accesslevel']}" sortBy="#{userRight.accessLevel}" styleClass="roleSearchColumn">
							<h:selectOneMenu value="#{userRight.accessLevel}" disabled="#{UserBean.getAccessLevel() != 'WRITE'}">
								<f:selectItems value="#{userRoleController.levelList}" />
							</h:selectOneMenu>
						</p:column>
					</p:dataTable>
				</p:panel>
			</h:panelGroup>
		</h:form>

		<h:form id="deleteForm">
			<p:confirmDialog header="#{msg['general.delete']}" id="confirmDelete1" modal="true" widgetVar="confirmDelete" message="Are You Sure?">
				<p:commandButton value="#{msg['general.yes']}" actionListener="#{userRoleController.deleteRole}" oncomplete="confirmDelete.hide()"
					update=":roleForm" />
				<p:commandButton value="#{msg['general.no']}" oncomplete="confirmDelete.hide()" />
			</p:confirmDialog>
		</h:form>

		<p:dialog id="editDialog1" header="#{msg['general.addEdit']}" 
				visable="#{userRoleController.userRolesEmpty}"
				rendered="#{UserBean.accessLevel == 'WRITE'}" 
				modal="true" widgetVar="editDialog"
			visible="#{userRoleController.showAddDialog}">
			<h:form id="editForm">
				<h:panelGrid id="editTable" columns="2">
					<p:outputLabel for="edRoleId" value="#{msg['privilege.roleid']}:" />
					<p:inputText id="edRoleId" value="#{userRoleController.selectedRole.roleId}" disabled="#{! empty userRoleController.selectedRole.roleId}" 
								required="true" requiredMessage="#{msg['role.prompt.roleid']}"/>
					<p:outputLabel for="edRoleName" value="#{msg['privilege.rolename']}:" />
					<p:inputText id="edRoleName" value="#{userRoleController.selectedRole.roleName}" />
				</h:panelGrid>
				<br />
				<p:commandButton value="#{msg['general.save']}" action="#{userRoleController.saveRole}"
					oncomplete="handleAddEditRequest(xhr, status, args);" update="@form :roleForm" />
			</h:form>
		</p:dialog>
		<script type="text/javascript">
			function handleAddEditRequest(xhr, status, args) {
				if (args.validationFailed) {
					editDialog.show();
				} else {
					editDialog.hide();
				}
			}
		</script>
	</ui:define>

</ui:composition>
