<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/master.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<ui:define name="title">
		#{msg['main.title']} - #{msg['privilege.users']}
	</ui:define>

	<ui:define name="pageTitle">
		#{msg['privilege.users']}
	</ui:define>	

	<ui:define name="content">
		<p:growl id="growl" showDetail="false" globalOnly="false" autoUpdate="true"/>	
				
		<h:form id="userForm">
			<p:panel >
				<f:facet name="header">
					<h:outputText value="#{msg['privilege.users']}" styleClass="tableHeader" />
				</f:facet>
				<p:dataTable var="consoleUser" value="#{userController.consoleUsers}" paginatorPosition="bottom"
					paginator="true" rows="10" rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false">
					
					<p:column styleClass="colAddBtn" >
						<f:facet name="header">
							<p:commandLink title="#{msg['general.add']}"
									styleClass="ui-icon ui-icon-plusthick" 
									process="@this"	 action="#{userController.addUser}"
									update=":userForm :editForm"							
									oncomplete="editDialog.show();"
									rendered="#{UserBean.accessLevel == 'WRITE'}">
								<f:setPropertyActionListener target="#{userController.createNew}" value="#{true}" />
							</p:commandLink>		
						</f:facet>
					</p:column>
					
					<p:column filterBy="#{consoleUser.userId}" filterMatchMode="contains" headerText="#{msg['privilege.userid']}" styleClass="userSearchColumn">
						<h:outputText value="#{consoleUser.userId}" />
					</p:column>
					<p:column filterBy="#{consoleUser.name}" filterMatchMode="contains" headerText="#{msg['privilege.name']}" styleClass="userSearchColumn">
						<h:outputText value="#{consoleUser.name}" />
					</p:column>
					<p:column filterBy="#{consoleUser.group.groupId}" filterMatchMode="contains" headerText="#{msg['privilege.usergroup']}" styleClass="userSearchColumn">
						<h:outputLink value="#{request.contextPath}/pages/user/group.xhtml">
							<f:param name="selectedGroupId" value="#{consoleUser.group.groupId}"/>
							<h:outputText value="#{consoleUser.group.groupId}" />
						</h:outputLink>
					</p:column>
					<p:column headerText="#{msg['privilege.department']}" styleClass="userSearchColumn">
						<h:outputText value="#{consoleUser.department}" />
					</p:column>
					<p:column headerText="#{msg['privilege.location']}" styleClass="userSearchColumn">
						<h:outputText value="#{consoleUser.location}" />
					</p:column>
					<p:column headerText="#{msg['privilege.status']}" styleClass="userSearchColumn">
						<h:outputText value="#{consoleUser.status}" />
					</p:column>
					<p:column style="width:100px" headerText="#{msg['privilege.loginfailure']}" styleClass="userSearchColumn">
						<h:outputText value="#{consoleUser.loginFailure}" />
					</p:column>	

					<p:column style="width:50px" headerText="#{msg['privilege.actions']}" rendered="#{UserBean.getAccessLevel() == 'WRITE'}" styleClass="userSearchColumn">
						<!-- c:choose isn't working within here... so, ugly workarounds -->
						<h:panelGroup>
<!-- 							<p:button id="view" icon="ui-icon-search" styleClass="smallButton" outcome="groupsearch.xhtml"> -->
<!-- 								<f:param name="selectedGroup(userGroup)" value="#{consoleUser.group.groupId}" /> -->
<!-- 							</p:button> -->							
							<p:commandLink style="float:right" styleClass="ui-icon ui-icon-trash" action="#{userController.selectUser(consoleUser)}"
								onclick="confirmDelete.show()"
								process="@this" 
								title="#{msg['general.delete']}" 
								disabled="#{! userController.isUserDeletable(consoleUser)}"/>
							<p:commandLink style="float:right" styleClass="ui-icon ui-icon-pencil" action="#{userController.selectUser(consoleUser)}"
								update=":editDialog1" 
								process="@this" 
								oncomplete="editDialog.show();" title="#{msg['general.edit']}"
								disabled="#{! userController.isUserEditable(consoleUser)}" >
								<f:setPropertyActionListener target="#{userController.createNew}" value="#{false}" />
							</p:commandLink>	
						</h:panelGroup>
					</p:column>																			
				</p:dataTable>
			</p:panel>
		</h:form>
		
		<h:form id="deleteForm">
			<p:confirmDialog header="#{msg['general.delete']}" id="confirmDelete1" modal="true" widgetVar="confirmDelete" message="#{msg['general.confirmPrompt']}">
				<p:commandButton value="#{msg['general.yes']}" actionListener="#{userController.deleteUser}" 
					oncomplete="confirmDelete.hide()" update=":userForm"/>
				<p:commandButton value="#{msg['general.no']}" oncomplete="confirmDelete.hide()"/>
			</p:confirmDialog>		
		</h:form>

		<p:dialog id="editDialog1" header="#{msg['general.addEdit']}" 
			rendered="#{UserBean.accessLevel == 'WRITE'}"
			visable="#{userController.consoleUserEmpty}" 
			modal="true" widgetVar="editDialog" resizable="false">
			<h:form id="editForm">
				<h:panelGrid id="editTable" columns="2">
					<p:outputLabel for="edUserId" value="#{msg['privilege.userid']}:"/>
					<p:inputText id="edUserId"
						value="#{userController.selectedUser.userId}"
						disabled="#{! empty userController.selectedUser.userId}" required="true"
						requiredMessage="#{msg['user.prompt.userid']}" />
					<p:outputLabel for="edUserName" value="#{msg['privilege.name']}:" />
					<p:inputText id="edUserName" 
						value="#{userController.selectedUser.name}" required="true"
						requiredMessage="#{msg['user.prompt.username']}"/>
					
					<ui:remove>
						<p:outputLabel for="edPassword"  value="#{msg['privilege.password.current']}:" />
						<p:password id="edPassword"
							value="#{userController.passwordCurrent}" redisplay="true"
							title="#{msg['user.prompt.no_password_change']}"
							disabled="#{userController.createNew}"/>
					</ui:remove>
					
					<p:outputLabel for="edPassword1" value="#{msg['privilege.password']}:" />
					<p:password id="edPassword1"
						value="#{userController.password}" redisplay="true" required="#{userController.selectedUser.password == null}" requiredMessage="#{msg['user.prompt.password']}"
						title="#{msg['user.prompt.no_password_change']}"/>
					
					<ui:remove>
						<h:outputText value="#{msg['privilege.password.reenter']}:" />
						<p:password
							value="#{userController.passwordReenter}" redisplay="true"
							id="password2"
							title="#{msg['user.prompt.no_password_change']}"/>	
					</ui:remove>
					
					<p:outputLabel value="#{msg['privilege.department']}:"/>
					<p:inputText value="#{userController.selectedUser.department}" />
						
					<p:outputLabel value="#{msg['privilege.location']}:"/>
					<p:inputText value="#{userController.selectedUser.location}" />
					
					<p:outputLabel for="edStatus" value="#{msg['privilege.status']}:" />	
					<h:selectOneMenu id="edStatus" value="#{userController.selectedUser.status}" required="true">
							<f:selectItems value="#{userController.statuses}"/>
					</h:selectOneMenu>
								
					<p:outputLabel for="edUserGroup" value="#{msg['privilege.usergroup']}:" />
					<h:panelGrid columns="2">
						<h:selectOneMenu id="edUserGroup" value="#{userController.selectedUserGroupId}" required="true" requiredMessage="#{msg['user.prompt.usergroup']}">
							<f:selectItem itemLabel="#{msg['privilege.group.select']}" itemValue="" />
							<f:selectItems value="#{userController.userGroupIds}" />
						</h:selectOneMenu>
		    			<p:commandLink title="#{msg['general.add']} Group" immediate="true" action="#{userController.onAddGroupClick}"
		    			rendered="#{UserBean.accessLevel == 'WRITE'}" 
		    			styleClass="ui-icon ui-icon-circle-plus" />
					</h:panelGrid>								
				</h:panelGrid>
				<br />
				<p:commandButton value="#{msg['general.save']}"
					action="#{userController.saveUser}" process="editForm, @this"
					oncomplete="handleAddEditRequest(xhr, status, args)" update=":userForm :editForm" />
			</h:form>
		</p:dialog>
		
		<script type="text/javascript">  
		    function handleAddEditRequest(xhr, status, args) { 
		        if(args.validationFailed) {
		        	editDialog.show();
		        } else {  
		        	editDialog.hide();
		        }  
		    }  
		</script>

	</ui:define>

</ui:composition>
