<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
   template="/templates/master.xhtml">
   
  <ui:define name="title"> 
		#{msg['main.title']}          
  </ui:define>
  
  <ui:define name="content">	
  	<h:form id="mainForm">
  		<p:growl id="growl" globalOnly="true" autoUpdate="true"/>  		
		
		<p:panel id="pnlBrowse">
	    	<p:treeTable id="tblSys" widgetVar="systemTable"
	    			 value="#{setClockController.entityRoot}" var="entity" 
	    			 selection="#{setClockController.hosts}">
	    		<p:column>
	    			<f:facet name="header">Name</f:facet>
	    			<h:outputText value="#{entity.displayableName}" />
	    		</p:column>
	    		<p:column>
	    			<f:facet name="header">Description</f:facet>
	    			<h:outputText value="#{entity.description}" />
	    		</p:column>
	    		<p:column>
	    			<f:facet name="header">Type</f:facet>
	    			<h:outputText value="#{entity.entityType}" />
	    		</p:column>
	    		<p:column>
	    			<f:facet name="header">Status</f:facet>
	    			<h:outputText value="#{setClockController.displayStatus(entity)}" 
	    					styleClass="#{setClockController.getStatusCssClass(setClockController.displayStatus(entity))}" />
	    		</p:column>
	    		<p:column>
	    			<f:facet name="header">Feedback</f:facet>
	    			<h:outputText value="#{setClockController.feedback(entity)}" />
	    		</p:column>
	    		<p:column>
	    			<p:selectBooleanCheckbox value="#{entity.selected}" rendered="#{setClockController.isHost(entity)}"/>  
	    		</p:column>
	    	</p:treeTable>
	    	
	    </p:panel>
	    <p/>
		<p:panel >
			<p:panelGrid columns="1" >  
			    <f:facet name="header">  
			        #{msg['clock.sync.header']}  
			    </f:facet>
			    <p:calendar value="#{setClockController.time}" pattern="#{sessionBean.webDateFormat}" id="time" showButtonPanel="true">
	            </p:calendar>	
			    <f:facet name="footer">  
			        <p:commandButton type="submit" value="#{msg['clock.sync.button']}" icon="ui-icon-check" 
			        style="margin:0" action="#{setClockController.setClock}" update="tblSys"
			        rendered="#{UserBean.accessLevel=='WRITE'}"/>
			        <p:commandButton type="submit" value="#{msg['general.refresh']}" icon="ui-icon-arrowrefresh-1-s"
			        style="margin:0 position:absolute right:0px" action="setclock?faces-redirect=true"/>    
			    </f:facet>  
			</p:panelGrid>
		
		</p:panel>
		
  	</h:form>
  </ui:define>    
</ui:composition>