<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" template="/templates/master.xhtml">
	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['snmp.title']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msg['snmp.title']}
	</ui:define>

	<ui:define name="content">
		<h:form id="mainForm">
			<p:growl id="growl" showDetail="true" globalOnly="false" autoUpdate="true" />
			<p:layout style="height:750px;margin-right: 2px;" id="layout">

				<p:layoutUnit position="west" minSize="100" resizable="true"  collapsible="true" header="#{msg['snmp.config.list']}" size="340">
					<p:panel rendered="#{snmpBrowseController.snmpRoot!=null and !snmpBrowseController.snmpRoot.leaf}">
						<p:treeTable id="snmpConfig_treetbl_id" widgetVar="snmpConfig_treetbl" value="#{snmpBrowseController.snmpRoot}" var="entity"
							selectionMode="single" selection="#{snmpBrowseController.selectedSnmpNode}">
							<p:ajax event="select" listener="#{snmpBrowseController.onSnmpNodeSelected}" update=":mainForm:pnl_holder, :mainForm:oid_tree" />
							<p:column style="white-space:nowrap; width:230px">
								<f:facet name="header">
									#{msg['general.name']}
								</f:facet>
								<h:outputText value="#{entity.name}" />
							</p:column>
							<p:column style="white-space:nowrap; width:160px">
								<f:facet name="header">
									#{msg['general.type']}
								</f:facet>
								<h:outputText value="#{entity.entityType}" />
							</p:column>
						</p:treeTable>
					</p:panel>
										
					<p:panel rendered="#{snmpBrowseController.snmpRoot == null || snmpBrowseController.snmpRoot.leaf}">
						<p:outputLabel escape="false" value="#{msg['snmp.query.snmpagent.addnew']}"  style="font-style: italic;"/>
					</p:panel>
				</p:layoutUnit>

				<p:layoutUnit id="center_layout" position="center" header="#{msg['snmp.query.header.resultTable']}" size="2000px">
					<p:outputPanel id="pnl_holder">
						<p:panel id="detail_pnl" header="#{snmpBrowseController.header}" rendered="#{snmpBrowseController.oidNodeSelected}">
							<p:commandButton value="#{msg['snmp.walk']}" action="#{snmpBrowseController.query}" update="result_holder"
								disabled="#{!snmpBrowseController.snmpConfigSelected}">
							</p:commandButton>
							<p />
							<p:outputPanel id="result_holder">
								<p:dataTable value="#{snmpBrowseController.results}" var="result">
									<p:column style="width:300px">
										<f:facet name="header">
											<h:outputText value="#{msg['snmp.object']}" />
										</f:facet>
										<h:outputText value="#{snmpBrowseController.getTranslatedOid(result.oid)}" />
									</p:column>
									<p:column style="width:200px">
										<f:facet name="header">
											<h:outputText value="#{msg['snmp.value']}" />
										</f:facet>
										<h:outputText value="#{result.name}" />
									</p:column>
								</p:dataTable>
							</p:outputPanel>
						</p:panel>
						
						<p:panel rendered="#{!snmpBrowseController.oidNodeSelected}">
							<p:outputLabel value="#{msg['snmp.query.empty.noresult.step1']}" style="font-style: italic;"/>
							<br/>
							<p:outputLabel value="#{msg['snmp.query.empty.noresult.step2']}" style="font-style: italic;"/>
						</p:panel>
					</p:outputPanel>
				</p:layoutUnit>
				<p:layoutUnit position="east" minSize="100" resizable="true" collapsible="true" header="#{msg['snmp.query.oid.list.header']}" size="340">
					<p:outputPanel id="oid_tree" >
						<p:tree value="#{snmpBrowseController.oidRoot}" var="trap" animate="true" selectionMode="single"
							selection="#{snmpBrowseController.selectedOidNode}" style="width:99%"
							rendered="#{snmpBrowseController.oidRoot!=null and !snmpBrowseController.oidRoot.leaf}">
							<p:ajax event="select" update=":mainForm:pnl_holder" listener="#{snmpBrowseController.onOidNodeSelected}" />
							<p:treeNode expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed">
								<h:outputText value="#{trap.name}" />
							</p:treeNode>
						</p:tree>
	
						<p:panel rendered="#{snmpBrowseController.oidRoot!=null and snmpBrowseController.oidRoot.leaf}">
							<p:outputLabel escape="false" value="#{msg['snmp.query.mib.addnew']}" style="font-style: italic;"/>
						</p:panel>
	
						<p:panel rendered="#{snmpBrowseController.oidRoot==null}">
							<p:outputLabel escape="false" value="#{msg['snmp.query.mib.snmpagent.notselected']}" style="font-style: italic;"/>
						</p:panel>
					</p:outputPanel>
				</p:layoutUnit>
			</p:layout>
		</h:form>
	</ui:define>
</ui:composition>