<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:viewParam name="lang" value="#{sessionBean.locale}" />
</f:metadata>

<f:view contentType="text/html">
	<h:head>

		<ui:insert name="meta"></ui:insert>
		<title><ui:insert name="title">~~Title~~</ui:insert></title>

		<h:outputStylesheet library="css" name="stylesheet.css" />
		<h:outputStylesheet library="css" name="tracepage.css" />
		<h:outputScript library="scripts" name="scripts.js" />

		<link rel="shortcut icon"
			href="#{request.contextPath}/resources/images/favicon.ico" />
		<ui:insert name="script"></ui:insert>
	</h:head>

	<h:body>
		<audio id="alarm" loop="true" preload="auto"> <source
			src="#{resource['media:alarm.mp3']}" type="audio/mpeg" />
		<div id="alarm_qt"></div>
		</audio>
		<div id="main_container">
			<!-- place this override css here so that it will be placed after primefaces.css after gen -->
			<h:outputStylesheet library="css" name="primefaces_override.css" />

			<!-- style="height: 1024px; width: 99%" -->
			<div class="header">
				<ui:include src="/sections/shared/header.xhtml" />
			</div>
			<div class="service_title ui-widget-header"
				style="padding-left: 10px; background: none; border: none; display: none;">
				<ui:insert name="pageTitle"></ui:insert>
			</div>

			<ui:insert name="content">Where the contents go</ui:insert>

			<div class="footer">
				<ui:include src="/sections/shared/footer.xhtml" />
			</div>
		</div>
	</h:body>
</f:view>
</html>