<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form>
		<p:accordionPanel>
			<p:tab title="Menu 1">
				<br />
				<p:calendar mode="inline" navigator="none" />
				<br />
			</p:tab>

			<p:tab title="Menu 2">
				<h:outputText value="Menu 2 Content" />
			</p:tab>

			<p:tab title="Menu 3">
				<h:outputText value="Menu 3 Content" />
			</p:tab>
		</p:accordionPanel>
	</h:form>

</ui:composition>