<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:parts="http://java.sun.com/jsf/composite/parts"
	template="/templates/master.xhtml">

	<ui:define name="title"> 
	#{msg['main.title']} - #{msg['alarm.title']}          
</ui:define>

	<ui:define name="pageTitle">
	#{msg['alarm.title']}
</ui:define>

	<ui:define name="content">
		<style type="text/css">
.expanded_content {
	padding: 0.7em 0.7em 0.7em 0.7em;
}

.detail_grid {
	min-width: 90%;
}

th.light-color {
	background: #97AC8F !important;
}

.ui-datatable .ui-state-highlight {
	color: blue;
}

.ui-datatable .ui-state-hover {
	background: transparent;
	color: blue;
}
</style>

		<h:form id="cpForm">
			<p:growl id="growl" globalOnly="false" autoUpdate="true" />

			<h:panelGroup id="pollers">
				<p:poll id="poller"
					autoStart="#{!alarmManagementController.stopPoll}"
					stop="#{alarmManagementController.stopPoll}"
					update=":cpForm:pnlAlarm"
					interval="#{alarmManagementController.pollInterval}" />
			</h:panelGroup>


			<p:layout style="height:750px; margin-right: 2px;" id="layout">

				<p:layoutUnit position="center" styleClass="transparent">
					<p:panel id="pnlAlarm">

						<f:facet name="header">
							<h:outputText value="#{msg['alarm.records']}" />

							<!--div style="float: right;">
								<h:panelGroup id="pollswitches">
									<p:commandButton
										style="float:right;height:22px;margin-left:2px;" id="startBtn"
										update="@form" icon="ui-icon-play"
										action="#{alarmManagementController.setStopPoll(false)}"
										rendered="#{alarmManagementController.stopPoll}" />
									<p:commandButton
										style="float:right;height:22px;margin-left:2px;" id="stopBtn"
										update="@form" icon="ui-icon-pause"
										action="#{alarmManagementController.setStopPoll(true)}"
										rendered="#{!alarmManagementController.stopPoll}" />
								</h:panelGroup>
								<p:selectOneMenu
									style="float:right; margin-left:2px;"
									value="#{alarmManagementController.pollInterval}">
									<p:ajax update="@form" />
									<f:selectItem itemLabel="5s" itemValue="5" />
									<f:selectItem itemLabel="10s" itemValue="10" />
									<f:selectItem itemLabel="30s" itemValue="30" />
									<f:selectItem itemLabel="60s" itemValue="60" />
								</p:selectOneMenu>
							</div>

							<div style="float: right; margin-left: 2px; margin-right: 2px;">
								<p:commandButton id="downloadLink"
									style="width:25px;height:22px;"
									title="#{msg['alarm.header.downAsXls']}" ajax="false"
									icon="ui-icon-arrowthick-1-s">
									<p:fileDownload value="#{alarmManagementController.file}" />
								</p:commandButton>
							</div>

							<div style="float: right; margin-right:2px;">
								<p:selectOneMenu id="selectionStatus_id"
									value="#{alarmManagementController.status}"
									rendered="#{UserBean.accessLevel=='WRITE'}">
									<f:selectItems value="#{alarmManagementController.statusList}"
										var="alarmStatus" itemLabel="#{alarmStatus.name}"
										itemValue="#{alarmStatus.name}" />
								</p:selectOneMenu>
								<p:commandButton value="" icon="ui-icon ui-icon-pencil"
									title="#{msg['alarm.header.changeStatus']}"
									style="width:25px; height:22px; margin-left:2px; vertical-align:top;"
									action="#{alarmManagementController.editStatus}"
									process="@this, tblAlarm, selectionStatus_id" update="tblAlarm"
									rendered="#{UserBean.accessLevel=='WRITE'}" />
							</div-->

						</f:facet>

						<p:dataTable id="tblAlarm" widgetVar="alarmTable"
							sortBy="#{entity.lastOccurred}" sortOrder="DESCENDING"
							value="#{alarmManagementController.lazyDataModel}" var="entity"
							emptyMessage="#{msg['alarm.empty.record']}" paginator="true"
							rows="#{alarmManagementController.rowNumber}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="20,50,100" draggableColumns="false"
							lazy="true" editable="false" paginatorAlwaysVisible="false"
							selection="#{alarmManagementController.selectedAlarms}">
							<p:ajax event="rowEdit"
								listener="#{alarmManagementController.onEdit}"
								update=":cpForm:growl" />

							<!--p:column selectionMode="multiple" styleClass="alarm-white"
								style="width:18px" exportable="false" /-->
							<p:column styleClass="colAddBtn" >
							<f:facet name="header">
							<!--p:commandLink title="#{msg['general.add']}"
									styleClass="ui-icon ui-icon-plusthick" 
									process="@this"	 action="#{userController.addUser}"
									update=":userForm :editForm"							
									oncomplete="editDialog.show();"
									rendered="#{UserBean.accessLevel == 'WRITE'}">
								<f:setPropertyActionListener target="#{userController.createNew}" value="#{true}" />
							</p:commandLink-->		
							</f:facet>
							</p:column>	
							<p:column sortBy="#{entity.lastOccurred}"
								styleClass="alarm-white">
								<f:facet name="header">Channel ID</f:facet>
								<h:outputText value="#{entity.lastOccurred}">
									<f:convertDateTime pattern="#{sessionBean.webDateFormat}" />
								</h:outputText>
							</p:column>
							
							<p:column sortBy="#{entity.occurrence}" styleClass="alarm-white"
								style="white-space:nowrap">
								<f:facet name="header">Channel</f:facet>
								<h:outputText value="#{entity.occurrence}" />
							</p:column>
							
							<p:column sortBy="#{entity.level}">
								<f:facet name="header">User ID</f:facet>
								<h:outputText value="#{entity.level}"
									styleClass="#{alarmManagementController.getStatusColor(entity.status)}" />
							</p:column>
							
							<p:column headerText="Priority"
								styleClass="alarm-white" sortBy="#{entity.status}"
								filterBy="#{entity.status}"
								filterOptions="#{alarmManagementController.statusSelectItems}"
								style="width:150px">
								<h:outputText value="#{entity.status}"
									styleClass="#{alarmManagementController.getStatusColor(entity.status)}" />
							</p:column>
							
							<p:column headerText="#{msg['alarm.status']}"
								styleClass="alarm-white" sortBy="#{entity.status}"
								filterBy="#{entity.status}"
								filterOptions="#{alarmManagementController.statusSelectItems}"
								style="width:150px">
								<h:outputText value="#{entity.status}"
									styleClass="#{alarmManagementController.getStatusColor(entity.status)}" />
							</p:column>
							
							
							<p:column styleClass="alarm-white" style="width:57px"
								exportable="false">
								<f:facet name="header">#{msg['alarm.header.details']}</f:facet>
								<h:panelGroup>
<!-- 							<p:button id="view" icon="ui-icon-search" styleClass="smallButton" outcome="groupsearch.xhtml"> -->
<!-- 								<f:param name="selectedGroup(userGroup)" value="#{consoleUser.group.groupId}" /> -->
<!-- 							</p:button> action="#{userController.selectUser(consoleUser)}" #{! userController.isUserDeletable(consoleUser)}									"#{! userController.isUserEditable(consoleUser)}" :editDialog1 -->
							<p:commandLink style="float:right" styleClass="ui-icon ui-icon-trash" 
								onclick="confirmDelete.show()"
								process="@this" 
								title="#{msg['general.delete']}" 
								disabled=""/>
							<p:commandLink style="float:right" styleClass="ui-icon ui-icon-pencil"
								update="" 
								process="@this" 
								oncomplete="editDialog.show();" title="#{msg['general.edit']}"
								disabled="" >
								<!--f:setPropertyActionListener target="#{userController.createNew}" value="#{false}" /-->
							</p:commandLink>	
						</h:panelGroup>
								<!--p:rowToggler /-->
							</p:column>

							<!--p:rowExpansion style="background-color:white;">
								<h:panelGrid columns="2">
									<h:outputText value="#{msg['alarm.header.cause']}" />
									<h:outputText value="#{entity.cause}" />
									<h:outputText value="#{msg['alarm.header.desc']}" />
									<h:outputText value="#{entity.description}" />
									<h:outputText value="#{msg['alarm.header.firstOccurred']}" />
									<h:outputText value="#{entity.firstOccurred}">
										<f:convertDateTime pattern="#{sessionBean.webDateFormat}" />
									</h:outputText>
									<h:outputText value="#{msg['alarm.header.resolver']}" />
									<h:outputText value="#{entity.resolverId}" />
									<h:outputText value="#{msg['alarm.header.resolved']}" />
									<h:outputText value="#{entity.getResolved()}">
										<f:convertDateTime pattern="#{sessionBean.webDateFormat}" />
									</h:outputText>
								</h:panelGrid>
							</p:rowExpansion-->
						</p:dataTable>
					</p:panel>
				</p:layoutUnit>
			</p:layout>
		</h:form>
		<h:form id="deleteForm">
			<p:confirmDialog header="#{msg['general.delete']}" id="confirmDelete1" modal="true" widgetVar="confirmDelete" message="#{msg['general.confirmPrompt']}">
				<p:commandButton value="#{msg['general.yes']}" actionListener="#{userController.deleteUser}" 
					oncomplete="confirmDelete.hide()" update=":cpForm"/>
				<p:commandButton value="#{msg['general.no']}" oncomplete="confirmDelete.hide()"/>
			</p:confirmDialog>		
		</h:form>
	</ui:define>
</ui:composition>