<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<div id="alarm_highlight" style="clear: both; height: 6px;"></div>
	<div id="logo_container" style="height: 70px; padding-left: 10px;">

		<div class="locale-menu">
			<p:outputPanel autoUpdate="true" rendered="false">
				<h:form>
					<h:selectOneMenu value="#{sessionBean.locale}" onchange="submit()">
						<f:selectItems value="#{sessionBean.localeMap}" />
					</h:selectOneMenu>
					<h:selectOneMenu value="#{themeBean.theme}" onchange="submit()">
						<f:selectItems value="#{themeBean.list}" />
					</h:selectOneMenu>
				</h:form>
			</p:outputPanel>
		</div>


		<div style="display: inline-block">
			<h:graphicImage alt="logo" name="logo.png" library="images"
				width="120px" height="68px" />
			<span class="section_title">SMP</span>
		</div>
		<div style="display: inline-block">
			<p:menubar id="menubar" rendered="#{UserBean.loggedIn}">
				<p:menuitem value="Dashboard" url="/pages/home.xhtml"
					rendered="#{UserBean.hasAccess('MONITOR')}" />
				<p:submenu label="#{msg['header.menu.operations.fault_mgt']}"
					rendered="#{UserBean.hasAccess('MONITOR')}">
					<p:submenu label="#{msg['header.menu.operations.statistics']}">
						<p:menuitem
							value="#{msg['header.menu.operations.statistics.genenal_stats']}"
							url="/pages/monitor/statistics.xhtml" />
						<p:menuitem
							value="#{msg['header.menu.operations.statistics.userdef_stats']}"
							url="/pages/monitor/appstat.xhtml" />
						<p:menuitem value="#{msg['header.menu.snmp_query']}"
							rendered="#{UserBean.hasAccess('COMMAND')}"
							url="/pages/commands/snmpquery.xhtml" />
					</p:submenu>
					<p:menuitem value="#{msg['alarm.management']}"
						url="/pages/monitor/alarmMgmt.xhtml" />
					<p:menuitem value="#{msg['header.menu.operations.logs']}"
						url="/pages/monitor/history.xhtml" />
				</p:submenu>
				<p:submenu label="#{msg['header.menu.configuration']}"
					rendered="#{UserBean.hasAccess('CONFIG')}">
					<p:menuitem value="#{msg['header.menu.configuration.site_config']}"
						url="/pages/config/systemconfig.xhtml">
					</p:menuitem>
					<p:submenu
						label="#{msg['header.menu.configuration.userdef_stats']}">
						<p:menuitem
							value="#{msg['header.menu.configuration.userdef_stats.data_def']}"
							url="/pages/config/datadefinition.xhtml" />
						<p:menuitem
							value="#{msg['header.menu.configuration.userdef_stats.snmp_target']}"
							url="/pages/config/snmptargetconfig.xhtml" />
						<p:menuitem
							value="#{msg['header.menu.configuration.userdef_stats.script']}"
							url="/pages/config/scriptconfig.xhtml" />
					</p:submenu>
					<p:submenu label="#{msg['header.menu.configuration.alarm']}">
						<p:menuitem value="#{msg['header.menu.configuration.alarm.def']}"
							url="/pages/config/alarmconfig.xhtml" />
						<p:menuitem
							value="#{msg['header.menu.configuration.alarm.status']}"
							url="/pages/config/alarmstatus.xhtml" />
						<p:menuitem
							value="#{msg['header.menu.configuration.alarm.oid_mapping']}"
							url="/pages/config/oidmapping.xhtml"></p:menuitem>
					</p:submenu>
					<p:submenu label="#{msg['header.menu.configuration.noti_config']}">
						<p:menuitem value="#{msg['header.menu.noti_config.group']}"
							url="/pages/config/noticonfig.xhtml" />
						<p:menuitem value="#{msg['header.menu.noti_config.recipient']}"
							url="/pages/config/recipient.xhtml" />
					</p:submenu>
					<p:menuitem value="#{msg['header.menu.mib_mgmt']}"
						url="/pages/config/mibMgmt.xhtml"></p:menuitem>
				</p:submenu>


				<p:submenu label="Reporting"
					rendered="#{UserBean.hasAccess('MONITOR')}">
					<p:menuitem value="UMB session report"
						url="/pages/blc/reports/umb_session.xhtml" />
					<p:menuitem value="UMB menu hit report"
						url="/pages/blc/reports/umb_menu_hit.xhtml" />
					<p:menuitem value="UMB to BLC transaction report"
						url="/pages/blc/reports/umb_blc_interface.xhtml" />
					<p:menuitem value="BLC transaction report"
						url="/pages/blc/reports/blc_trans_type.xhtml" />
					<p:menuitem value="BLC to external interface report"
						url="/pages/blc/reports/blc_ext_interface.xhtml" />
					<p:menuitem value="BLC to external internal by reason code report"
						url="/pages/blc/reports/blc_ext_interface_by_reason_code.xhtml" />
					<p:menuitem value="Outbound SMS report"
						url="/pages/blc/reports/sms_out.xhtml" />
					<p:menuitem value="Channel report"
						url="/pages/blc/reports/channel.xhtml" />

				</p:submenu>

				<p:menuitem value="Subscription History" url="/pages/blc/trace/subscriptionhistory.xhtml"
					rendered="#{UserBean.hasAccess('MONITOR')}" />

				<p:menuitem value="Trace Transaction" url="/pages/blc/trace/trace.xhtml"
					rendered="#{UserBean.hasAccess('TRACE')}" />

				<!--
				<p:submenu label="Package Management"
					rendered="#{UserBean.hasAccess('CONFIG')}">
					<p:menuitem value="Add-on Package"
						url="/pages/packs/config/addon.xhtml" />
					<p:menuitem value="BlackBerry Package"
						url="/pages/packs/config/blackberry.xhtml" />
					<p:menuitem value="Booster Package"
						url="/pages/packs/config/booster.xhtml" />
					<p:menuitem value="Broadband Package"
						url="/pages/packs/config/broadband.xhtml" />
					<p:menuitem value="iPlan Package"
						url="/pages/packs/config/iplan.xhtml" />
					<p:menuitem value="UMI Package" url="/pages/packs/config/umi.xhtml" />
					<p:menuitem value="Voice Package"
						url="/pages/packs/config/vp.xhtml" />
				</p:submenu>
				-->

				<p:submenu label="#{msg['header.menu.user_mgmt']}"
					rendered="#{UserBean.hasAccess('MANAGE_USER')}">
					<p:menuitem value="#{msg['header.menu.audit_trail']}"
						url="/pages/user/auditTrail.xhtml" />
					<p:menuitem value="#{msg['header.menu.user']}"
						url="/pages/user/user.xhtml"></p:menuitem>
					<p:menuitem value="#{msg['header.menu.user_group']}"
						url="/pages/user/group.xhtml"></p:menuitem>
					<p:menuitem value="#{msg['header.menu.role']}"
						url="/pages/user/role.xhtml"></p:menuitem>
					<p:menuitem value="Manage CP"
							url="/pages/user/manageCp.xhtml"></p:menuitem>
				</p:submenu>

			</p:menubar>
		</div>
		<div style="float: right; display: inline-block; margin-right: 20px;">
			<div style="float: right; display: inline-block">
				<h:form id="logoutForm" rendered="#{UserBean.loggedIn}">
					<h:commandLink value="" action="#{UserBean.logout}">
						<h:graphicImage alt="logo" name="power-icon-th.png"
							library="images" width="25px" height="25px" />
					</h:commandLink>
				</h:form>
			</div>
			<div style="float: right; margin-top: 10px; margin-right: 20px">
				<h:outputText rendered="#{UserBean.loggedIn}"
					value="#{msg['header.loggedInAs']} #{UserBean.user.userId}" />
			</div>
			<div>
				<h:panelGroup style="float: right; margin-top:10px"
					rendered="#{UserBean.loggedIn}" layout="block">

				</h:panelGroup>
			</div>
		</div>
		<p:ajaxStatus>
			<f:facet name="start">
				<h:graphicImage alt="loading" name="ajax-loader-bar.gif"
					library="images" width="208px" height="13px" />
			</f:facet>
			<f:facet name="complete">
				<h:outputText value="" />
			</f:facet>
		</p:ajaxStatus>
	</div>
	<br />

</ui:composition>
