<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/master.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<ui:define name="title">
		#{msg['main.title']}
	</ui:define>

	<ui:define name="pageTitle">
	</ui:define>	

	<ui:define name="content">
		<p:growl id="growl" showDetail="false" globalOnly="false" autoUpdate="true"/>	
				
		<h:form id="ManageCP">
			<p:panel >
				<f:facet name="header">
					<h:outputText value="#{msg['privilege.users']}" styleClass="tableHeader" />
				</f:facet>
				
				<p:dataTable var="managecp" value="#{manageCPController.managecps}" paginatorPosition="bottom"
					paginator="true" rows="10" rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false">
					<p:column styleClass="colAddBtn" >
						<f:facet name="header">
							<!--p:commandLink title="#{msg['general.add']}"
									styleClass="ui-icon ui-icon-plusthick" 
									process="@this"	 action="#{ManageCPController.addCP}"
									update="dlg_holder"							
									oncomplete="addCP_dlg.show();"
									rendered="#{UserBean.accessLevel == 'WRITE'}">
							</p:commandLink-->		
							<!--p:commandLink title="#{msg['general.add']}"
									styleClass="ui-icon ui-icon-plusthick" 
									process="@this"	 
									oncomplete="addCP_dlg.show();"
									>
							</p:commandLink-->
						</f:facet>
					</p:column>
					
					<p:column filterBy="#{managecp.channel_id}" filterMatchMode="contains" headerText="Channel ID" styleClass="userSearchColumn">
						<h:outputText value="#{managecp.channel_id}" />
					</p:column>
					<p:column filterBy="#{managecp.channel}" filterMatchMode="contains" headerText="Channel" styleClass="userSearchColumn">
						<h:outputText value="#{managecp.channel}" />
					</p:column>
					<p:column filterBy="#{managecp.userid}" filterMatchMode="contains" headerText="User ID" styleClass="userSearchColumn">
						<h:outputText value="#{managecp.userid}" />
					</p:column>
					<!--p:column filterBy="#{managecp.group.groupId}" filterMatchMode="contains" headerText="#{msg['privilege.usergroup']}" styleClass="userSearchColumn">
						<h:outputLink value="#{request.contextPath}/pages/user/group.xhtml">
							<f:param name="selectedGroupId" value="#{managecp.group.groupId}"/>
							<h:outputText value="#{managecp.group.groupId}" />
						</h:outputLink>
					</p:column-->
					<p:column headerText="Priority" styleClass="userSearchColumn">
						<h:outputText value="#{managecp.priority}" />
					</p:column>
					<p:column headerText="Status" styleClass="userSearchColumn">
						<h:outputText value="#{managecp.status}" />
					</p:column>
					<p:column headerText="lastUpdatedOn" styleClass="userSearchColumn">
						<h:outputText value="#{managecp.lastUpdatedOn}" />
					</p:column>

					<p:column style="width:50px" headerText="#{msg['privilege.actions']}" rendered="#{UserBean.getAccessLevel() == 'WRITE'}" styleClass="userSearchColumn">
						<h:panelGroup>
							<!--p:commandLink style="float:right" 
								styleClass="ui-icon ui-icon-trash"
								onclick="confirmDelete.show()"
								process="@this" 
								action="#{ManageCPController.deleteCP(managecp)}"
								title="#{msg['general.delete']}"
								update="@form"								
								/>
							<p:commandLink style="float:right" 
								styleClass="ui-icon ui-icon-pencil" 								
								process="@this" 
								action="#{ManageCPController.setmanagecp(managecp)}"	
								update=":dlg_holder"						
								oncomplete="editCP_dlg.show(); return false;"
								title="#{msg['general.edit']}"
							</p:commandLink-->	
						</h:panelGroup>
					</p:column>																			
				</p:dataTable>
			</p:panel>
		</h:form>
		
		<!--p:dialog header="Basic Dialog" widgetVar="addCP_dlg" minHeight="40">
			<h:outputText value="Resistance to PrimeFaces is futile!" />
			
		</p:dialog>
		
		<!--p:outputPanel id="dlg_holder">
			<p:dialog header="#{msg['general.add']} #{msg['site.title']}" id="addCP_id" widgetVar="addCP_dlg"
				 
				modal="true" resizable="false"
				>
				<h:form id="addCP_form">
					<h:panelGrid columns="2">
		    			<p:outputLabel for="editCP_channel" value="Channel"/>
		    			<p:inputText id="editCP_channel" value="channel" required="true"
		    				requiredMessage="channel"/>
		    			
						<p:outputLabel for="editCP_userid" value="User ID"/>
		    			<p:inputText id="editCP_userid" value="user id" required="true"
		    				requiredMessage="#{msg['site.dlg.location']}"/>	    			
		    			
						<p:outputLabel for="editCP_priority" value="Priority"/>
		    			<p:inputText id="editCP_priority" value="prio" />
		    			
						<p:outputLabel for="editCP_status" value="Status"/>
		    			<p:inputText id="editCP_status" value="status"/>
		    			
		    		</h:panelGrid>
		    		<p:commandButton id="addCPSubmitBtn" value="#{msg['general.save']}"
							action="#{manageCPController.addCP()}" update=":ManageCPForm"
							oncomplete="handleAddRequest(xhr, status, args);" 
							onclick="submit"/>
					<script type="text/javascript">  
					    function handleAddRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	addCP_dlg.show();
					        } else {  
					        	addCP_dlg.hide();
					        }  
					    }  
					</script>	
				</h:form>			    		
	    	</p:dialog>		
		
		
		<!--p:dialog header="#{msg['general.edit']} #{msg['site.title']}" id="editCP_id" widgetVar="editCP_dlg"
					modal="true" resizable="false">
				<h:form id="editCP_form">	
		    		<h:panelGrid columns="2">
		    			<p:outputLabel for="editCP_channel" value="Channel"/>
		    			<p:inputText id="editCP_channel" value="#{ManageCPController.dummymanagecp.channel}" required="true"
		    				requiredMessage="channel"/>
		    			
						<p:outputLabel for="editCP_userid" value="User ID"/>
		    			<p:inputText id="editCP_userid" value="#{ManageCPController.dummymanagecp.userid}" required="true"
		    				requiredMessage="#{msg['site.dlg.location']}"/>	    			
		    			
						<p:outputLabel for="editCP_priority" value="Priority"/>
		    			<p:inputText id="editCP_priority" value="#{ManageCPController.dummymanagecp.priority}" />
		    			
						<p:outputLabel for="editCP_status" value="Status"/>
		    			<p:inputText id="editCP_status" value="#{ManageCPController.dummymanagecp.status}"/>
		    			

		    		</h:panelGrid>
		    		<p:commandButton id="editCPSubmitBtn" value="#{msg['general.save']}"
							action="#{ManageCPController.editCP()}" update=":mainForm"
							oncomplete="handleEditRequest(xhr, status, args);" 
							onclick="submit"/>
					<script type="text/javascript">  
					    function handleEditRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editCP_dlg.show();
					        } else {  
					        	editCP_dlg.hide();
					        }  
					    }  
					</script>			
				</h:form>		    		
	    	</p:dialog>		
		
		<p:outputPanel/-->
	</ui:define>

</ui:composition>
