﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="/templates/master.xhtml">

<ui:define name="title">#{msg['main.title']} - #{msg['user.trans']}</ui:define>


<ui:define name="pageTitle">
	#{msg['user.trans']}
</ui:define>	

<ui:define name="content">

<p:growl id="growl" showDetail="false" globalOnly="false" autoUpdate="true"/>	

<h:form id="transform">
	
	<p:panel id="searchPanel">
	
			<f:facet name="header">
				<h:outputText value="#{msg['trace.title']}" styleClass="tableHeader" />
			</f:facet>
				
		<table style="width: 100%;">

			<tr>		
				<td>#{msg['trans.transDate']} : #{msg['general.from1']}</td>
				<td>
					<p:calendar id="transFrom" value="#{traceController.searchFrom}" showOn="button" required="true" requiredMessage="#{msg['report.prompt.start_date']}" binding="#{startDate}"/>
				</td>
				<td>#{msg['general.to1']}</td>
				<td>				
					<p:calendar id="transTo" value="#{traceController.searchTo}"  showOn="button" required="true" requiredMessage="#{msg['report.prompt.end_date']}" validator="TracePageDateValidator" >
					        <f:attribute name="startDate" value="#{startDate}" />
					</p:calendar>					 
				</td>	
															
			</tr>

			<tr>
				<td>
					#{msg['trace.MSISDN']} 
				</td>
				<td colspan="3">									
					<p:inputText value="#{traceController.MSISDN}" required="true" requiredMessage="#{msg['report.prompt.phone_number']}" validator="PhoneValidator" />						
				</td>				
			</tr>

			<tr>	
				<td colspan="4" align="left">
				#{msg['trace.searchLimit']}
				</td>
			</tr>
									
			<tr>	
				<td colspan="4" align="left">
					<p:commandButton value="#{msg['trace.searchTransactions']}" actionListener="#{traceController.traceTransactions}" ajax="false" /> 
				</td>
			</tr>
			
		</table>
	</p:panel>


		<h:panelGroup id="dataPanel" layout="block">
		<p:dataTable id="sessionsTable" var="sessionvar" value="#{traceController.sessions}"  styleClass="customHeader" 
				rendered="#{traceController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="false" rows="50"
				paginatorPosition="bottom"
				sortBy="#{sessionvar.sessionID}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['trace.sessionTitle']}</f:facet>
			
		      <p:column style="width:2%" exportable="false">
		         <p:rowToggler />
		      </p:column>   
		      			
			<p:column >
				<f:facet name="header">#{msg['trace.sessionID']}</f:facet>
				<h:outputText value="#{sessionvar.session_id}">					
				</h:outputText>
			</p:column>

		<p:column>
			<f:facet name="header">#{msg['trace.hostID']}</f:facet>
			<h:outputText value="#{sessionvar.host_id}" />
		</p:column>
		
		<p:column>
			<f:facet name="header">#{msg['trace.shortCode']}</f:facet>
			<h:outputText value="#{sessionvar.short_code}" />
		</p:column>
		
		<p:column>
			<f:facet name="header">#{msg['trace.startDate']}</f:facet>
			<h:outputText value="#{sessionvar.start_date}" />
		</p:column>

		<p:column>
			<f:facet name="header">#{msg['trace.endDate']}</f:facet>
			<h:outputText value="#{sessionvar.end_date}" />
		</p:column>
		
		<p:column>
			<f:facet name="header">#{msg['trace.duration']}</f:facet>
			<h:outputText value="#{sessionvar.duration}" />
		</p:column>
		
		<p:column>
			<f:facet name="header">#{msg['trace.subGroup']}</f:facet>
			<h:outputText value="#{sessionvar.sub_grp_id}" />
		</p:column>
			
			
   <p:rowExpansion>
   
   				<br />
         <p:dataTable id="menuTable" var="menuvar" value="#{sessionvar.menus}" styleClass="customHeader2" > <!-- styleClass="customHeader2" --> <!-- style="color: red;background-color: yellow; background-image: none" -->							      				
						      					
          <f:facet name="header">#{msg['trace.menuTitle']}</f:facet>
          
		      <p:column style="width:2%" exportable="false">
		         <p:rowToggler />
		      </p:column>
		      
           <p:column>
               <f:facet name="header">#{msg['trace.transID']}</f:facet>
              <h:outputText  value="#{menuvar.transaction_id}" />
           </p:column>                    
           
           <p:column >
               <f:facet name="header">#{msg['trace.menuName']}</f:facet>
                 <h:outputText  value="#{menuvar.menu_name}" />
           </p:column>

           <p:column>
               <f:facet name="header">#{msg['trace.startDate']}</f:facet>
                 <h:outputText  value="#{menuvar.start_date}" />
           </p:column>
           
           <p:column>
               <f:facet name="header">#{msg['trace.endDate']}</f:facet>
                 <h:outputText  value="#{menuvar.max_end_date}" />
           </p:column>

           <p:column>
               <f:facet name="header">#{msg['trace.duration']}</f:facet>
                 <h:outputText  value="#{menuvar.max_duration}" />
           </p:column>
           
           <p:column>
               <f:facet name="header">#{msg['trace.menuStatus']}</f:facet>
                 <h:outputText  value="#{menuvar.trans_status}" />
           </p:column>
           
           <p:column>
               <f:facet name="header">#{msg['trace.menuReasonCode']}</f:facet>
                 <h:outputText  value="#{menuvar.reason_code}" />
           </p:column>               
				      
				   <p:rowExpansion>
				   
				   				<br />
				         <p:dataTable id="UMBInterfaceTable" var="UMBInterfacevar" value="#{menuvar.UMBInterfaces}" styleClass="customHeader3" >
											      					
				          <f:facet name="header">#{msg['trace.umbInterfaceTitle']}</f:facet>

							      <p:column style="width:2%" exportable="false">
							         <p:rowToggler />
							      </p:column>
							      
				           <p:column>
				               <f:facet name="header">#{msg['trace.transID']}</f:facet>
				              <h:outputText  value="#{UMBInterfacevar.transaction_id}" />
				           </p:column>          

				           <p:column >
				               <f:facet name="header">#{msg['trace.blcTransType']}</f:facet>
				                 <h:outputText  value="#{UMBInterfacevar.trans_type}" />
				           </p:column>
									           
				           <p:column >
				               <f:facet name="header">#{msg['trace.umbInterfacename']}</f:facet>
				                 <h:outputText  value="#{UMBInterfacevar.in_api_name}" />
				           </p:column>
				
				           <p:column>
				               <f:facet name="header">#{msg['trace.startDate']}</f:facet>
				                 <h:outputText  value="#{UMBInterfacevar.start_date}" />
				           </p:column>
				           
				           <p:column>
				               <f:facet name="header">#{msg['trace.endDate']}</f:facet>
				                 <h:outputText  value="#{UMBInterfacevar.end_date}" />
				           </p:column>
				
				           <p:column>
				               <f:facet name="header">#{msg['trace.duration']}</f:facet>
				                 <h:outputText  value="#{UMBInterfacevar.duration}" />
				           </p:column>
				           
				           <p:column>
				               <f:facet name="header">#{msg['trace.umbInterfaceStatus']}</f:facet>
				                 <h:outputText  value="#{UMBInterfacevar.trans_status}" />
				           </p:column>
				           
				           <p:column>
				               <f:facet name="header">#{msg['trace.umbInterfaceReasonCode']}</f:facet>
				                 <h:outputText  value="#{UMBInterfacevar.reason_code}" />
				           </p:column>                      

									   <p:rowExpansion>
									   
									   				<br />
									         <p:dataTable id="BLCInterfaceTable" var="BLCInterfacevar" value="#{UMBInterfacevar.BLCInterfaces}" styleClass="customHeader4" >
																      					
									          <f:facet name="header">#{msg['trace.blcInterfaceTitle']}</f:facet>																				      
									           <p:column>
									               <f:facet name="header">#{msg['trace.transID']}</f:facet>
									              <h:outputText  value="#{BLCInterfacevar.transaction_id}" />
									           </p:column> 									           
									           									 
									           <p:column >
									               <f:facet name="header">#{msg['trace.blcApiName']}</f:facet>
									                 <h:outputText  value="#{BLCInterfacevar.api_name}" />
									           </p:column>
									           									           									           
									           <p:column >
									               <f:facet name="header">#{msg['trace.blcOutHostID']}</f:facet>
									                 <h:outputText  value="#{BLCInterfacevar.out_host_id}" />
									           </p:column>
									           									 
									           <p:column >
									               <f:facet name="header">#{msg['trace.blcOutChannel']}</f:facet>
									                 <h:outputText  value="#{BLCInterfacevar.out_channel}" />
									           </p:column>

									           <p:column>
									               <f:facet name="header">#{msg['trace.startDate']}</f:facet>									                  
									                 <h:outputText  value="#{BLCInterfacevar.start_date}" />
									           </p:column>
									           
									           <p:column>
									               <f:facet name="header">#{msg['trace.endDate']}</f:facet>
									                 <h:outputText  value="#{BLCInterfacevar.end_date}" />
									           </p:column>
									
									           <p:column>
									               <f:facet name="header">#{msg['trace.duration']}</f:facet>
									                 <h:outputText  value="#{BLCInterfacevar.duration}" />
									           </p:column>
									           
									           <p:column>
									               <f:facet name="header">#{msg['trace.blcInterfaceStatus']}</f:facet>
									                 <h:outputText  value="#{BLCInterfacevar.trans_status}" />
									           </p:column>
									           
									           <p:column>
									               <f:facet name="header">#{msg['trace.blcInterfaceReasonCode']}</f:facet>
									                 <h:outputText  value="#{BLCInterfacevar.reason_code}" />
									           </p:column> 

									           <p:column>
									               <!--f:facet name="header">#{msg['trace.blcInterfaceReserved1']}</f:facet-->
												   <f:facet name="header">Reserved1</f:facet>
									                 <h:outputText  value="#{BLCInterfacevar.reserved1}" />
									           </p:column> 
									           <p:column>
									               <!-- f:facet name="header">#{msg['trace.blcInterfaceReserved2']}</f:facet -->
												   <f:facet name="header">Reserved2</f:facet>
									                 <h:outputText  value="#{BLCInterfacevar.reserved2}" />
									           </p:column> 
									           <p:column>
									               <!-- f:facet name="header">#{msg['trace.blcInterfaceReserved3']}</f:facet -->
												   <f:facet name="header">Reserved3</f:facet>
									                 <h:outputText  value="#{BLCInterfacevar.reserved3}" />
									           </p:column> 											   
					
									           
									         </p:dataTable>
									         
									         
													 <br />
									         
									         <p:dataTable id="blcsmsoutTable" var="blcsmsoutvar" value="#{UMBInterfacevar.SMSOUT}" styleClass="customHeader5" >
																      					
									          <f:facet name="header">#{msg['trace.smsoutTitle']}</f:facet>																				      
									           <p:column>
									               <f:facet name="header">#{msg['trace.sessionID']}</f:facet>
									              <h:outputText  value="#{blcsmsoutvar.session_id}" />
									           </p:column> 
									           
														<p:column >
									               <f:facet name="header">#{msg['trace.smsoutMessageID']}</f:facet>
									                 <h:outputText  value="#{blcsmsoutvar.message_id}" />
									           </p:column>
									           									 
									           <p:column >
									               <f:facet name="header">#{msg['trace.smsoutContent']}</f:facet>
									                 <h:outputText  value="#{blcsmsoutvar.sms_content}" />
									           </p:column>
									           									           									           
									           <p:column >
									               <f:facet name="header">#{msg['trace.smsoutPriority']}</f:facet>
									                 <h:outputText  value="#{blcsmsoutvar.priority_flag}" />
									           </p:column>
									           									 
									           <p:column >
									               <f:facet name="header">#{msg['trace.smsoutReqDate']}</f:facet>
									                 <h:outputText  value="#{blcsmsoutvar.request_date}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutReqStatus']}</f:facet>									                  
									                 <h:outputText  value="#{blcsmsoutvar.request_status}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutReqResCode']}</f:facet>									                  
									                 <h:outputText  value="#{blcsmsoutvar.req_reason_code}" />
									           </p:column>
									           
									           <p:column >
									               <f:facet name="header">#{msg['trace.smsoutSubmitDate']}</f:facet>
									                 <h:outputText  value="#{blcsmsoutvar.submission_date}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutSubmitStatus']}</f:facet>									                  
									                 <h:outputText  value="#{blcsmsoutvar.submission_status}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutSubmitResCode']}</f:facet>									                  
									                 <h:outputText  value="#{blcsmsoutvar.submission_reason_code}" />
									           </p:column>
							       
									           <p:column >
									               <f:facet name="header">#{msg['trace.smsoutDRDate']}</f:facet>
									                 <h:outputText  value="#{blcsmsoutvar.delivery_date}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutDRStatus']}</f:facet>									                  
									                 <h:outputText  value="#{blcsmsoutvar.delivery_status}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutDRResCode']}</f:facet>									                  
									                 <h:outputText  value="#{blcsmsoutvar.delivery_reason_code}" />
									           </p:column>														           
									         </p:dataTable>
									         									         
								
											<br />
								
								      </p:rowExpansion>
				      				           
				         </p:dataTable>
				
							<br />
				
				      </p:rowExpansion>
				      				      
         </p:dataTable>
            			
			<br />
			<br />
			<br />
			<br />
			
			<!--
				         <p:dataTable id="UMBInterfaceFailedTable" var="UMBInterfaceFailedvar" value="#{sessionvar.UMBInterfaces}" styleClass="customHeader3" >
											      					
				          <f:facet name="header">#{msg['trace.umbInterfaceFailedTitle']}</f:facet>

							      <p:column style="width:2%" exportable="false">
							         <p:rowToggler />
							      </p:column>
							      
				           <p:column>
				               <f:facet name="header">#{msg['trace.transID']}</f:facet>
				              <h:outputText  value="#{UMBInterfaceFailedvar.transaction_id}" />
				           </p:column>          

				           <p:column >
				               <f:facet name="header">#{msg['trace.blcTransType']}</f:facet>
				                 <h:outputText  value="#{UMBInterfaceFailedvar.trans_type}" />
				           </p:column>
									           									          
				           <p:column >
				               <f:facet name="header">#{msg['trace.umbInterfacename']}</f:facet>
				                 <h:outputText  value="#{UMBInterfaceFailedvar.in_api_name}" />
				           </p:column>
				
				           <p:column>
				               <f:facet name="header">#{msg['trace.startDate']}</f:facet>
				                 <h:outputText  value="#{UMBInterfaceFailedvar.start_date}" />
				           </p:column>
				           
				           <p:column>
				               <f:facet name="header">#{msg['trace.endDate']}</f:facet>
				                 <h:outputText  value="#{UMBInterfaceFailedvar.end_date}" />
				           </p:column>
				
				           <p:column>
				               <f:facet name="header">#{msg['trace.duration']}</f:facet>
				                 <h:outputText  value="#{UMBInterfaceFailedvar.duration}" />
				           </p:column>
				           
				           <p:column>
				               <f:facet name="header">#{msg['trace.umbInterfaceStatus']}</f:facet>
				                 <h:outputText  value="#{UMBInterfaceFailedvar.trans_status}" />
				           </p:column>
				           
				           <p:column>
				               <f:facet name="header">#{msg['trace.umbInterfaceReasonCode']}</f:facet>
				                 <h:outputText  value="#{UMBInterfaceFailedvar.reason_code}" />
				           </p:column>                      

									   <p:rowExpansion>
									   
									   				<br />
									         <p:dataTable id="BLCInterfaceFailedTable" var="BLCInterfaceFailedvar" value="#{UMBInterfaceFailedvar.BLCInterfaces}" styleClass="customHeader4" >
																      					
									          <f:facet name="header">#{msg['trace.blcInterfaceFailedTitle']}</f:facet>																				      
									           <p:column>
									               <f:facet name="header">#{msg['trace.transID']}</f:facet>
									              <h:outputText  value="#{BLCInterfaceFailedvar.transaction_id}" />
									           </p:column> 
									           										           									 
									           <p:column >
									               <f:facet name="header">#{msg['trace.blcApiName']}</f:facet>
									                 <h:outputText  value="#{BLCInterfaceFailedvar.api_name}" />
									           </p:column>
									           									           									           
									           <p:column >
									               <f:facet name="header">#{msg['trace.blcOutHostID']}</f:facet>
									                 <h:outputText  value="#{BLCInterfaceFailedvar.out_host_id}" />
									           </p:column>
									           									 
									           <p:column >
									               <f:facet name="header">#{msg['trace.blcOutChannel']}</f:facet>
									                 <h:outputText  value="#{BLCInterfaceFailedvar.out_channel}" />
									           </p:column>

									           <p:column>
									               <f:facet name="header">#{msg['trace.startDate']}</f:facet>									                  
									                 <h:outputText  value="#{BLCInterfaceFailedvar.start_date}" />
									           </p:column>
									           
									           <p:column>
									               <f:facet name="header">#{msg['trace.endDate']}</f:facet>
									                 <h:outputText  value="#{BLCInterfaceFailedvar.end_date}" />
									           </p:column>
									
									           <p:column>
									               <f:facet name="header">#{msg['trace.duration']}</f:facet>
									                 <h:outputText  value="#{BLCInterfaceFailedvar.duration}" />
									           </p:column>
									           
									           <p:column>
									               <f:facet name="header">#{msg['trace.blcInterfaceStatus']}</f:facet>
									                 <h:outputText  value="#{BLCInterfaceFailedvar.trans_status}" />
									           </p:column>
									           
									           <p:column>
									               <f:facet name="header">#{msg['trace.blcInterfaceReasonCode']}</f:facet>
									                 <h:outputText  value="#{BLCInterfaceFailedvar.reason_code}" />
									           </p:column>                      
					
									           
									         </p:dataTable>
								
											<br />
								
								      </p:rowExpansion>
								      
				      				           
				         </p:dataTable>		
				  				         
				         
				  -->
				         
				         
      </p:rowExpansion>
      			
		</p:dataTable>
		
		
	   <br />
	   <br />
	   <br />				
		<p:dataTable id="smsinsTable" var="smsinvar" value="#{traceController.smsins}"  styleClass="customHeader" 
				rendered="#{traceController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="false" rows="50"
				paginatorPosition="bottom"
				sortBy="#{smsinvar.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['trace.smsinTitle']}</f:facet>
		      <p:column style="width:2%" exportable="false">
		         <p:rowToggler />
		      </p:column>   
		      
		      
			<p:column >
				<f:facet name="header">#{msg['trace.sessionID']}</f:facet>
				<h:outputText value="#{smsinvar.session_id}">					
				</h:outputText>
			</p:column>

		<p:column>
			<f:facet name="header">#{msg['trace.hostID']}</f:facet>
			<h:outputText value="#{smsinvar.host_id}" />
		</p:column>

		<p:column>
			<f:facet name="header">#{msg['trace.inSmsChannel']}</f:facet>
			<h:outputText value="#{smsinvar.in_sms_channel}" />
		</p:column>
				
		<p:column>
			<f:facet name="header">#{msg['trace.startDate']}</f:facet>
			<h:outputText value="#{smsinvar.start_date}" />
		</p:column>

		<p:column>
			<f:facet name="header">#{msg['trace.endDate']}</f:facet>
			<h:outputText value="#{smsinvar.end_date}" />
		</p:column>
		
		<p:column>
			<f:facet name="header">#{msg['trace.duration']}</f:facet>
			<h:outputText value="#{smsinvar.duration}" />
		</p:column>
		
		<p:column>
			<f:facet name="header">#{msg['trace.smsinStatus']}</f:facet>
			<h:outputText value="#{smsinvar.trans_status}" />
		</p:column>	
		
		<p:column>
			<f:facet name="header">#{msg['trace.smsinReasonCode']}</f:facet>
			<h:outputText value="#{smsinvar.reason_code}" />
		</p:column>
		
		<p:column>
			<f:facet name="header">#{msg['trace.smsinContent']}</f:facet>
			<h:outputText value="#{smsinvar.received_content}" />
		</p:column>
						
				<p:rowExpansion>								
								
				   				<br />
				         <p:dataTable id="SMSBLCINTable" var="smsblcinvar"  value="#{smsinvar.UMBInterfaces}" styleClass="customHeader3" >
											      					
				          <f:facet name="header">#{msg['trace.umbInterfaceTitle']}</f:facet>

							      <p:column style="width:2%" exportable="false">
							         <p:rowToggler />
							      </p:column>

							      
				           <p:column>
				               <f:facet name="header">#{msg['trace.sessionID']}</f:facet>
				              <h:outputText  value="#{smsblcinvar.session_id}" />
				           </p:column>          

				           <p:column >
				               <f:facet name="header">#{msg['trace.blcTransType']}</f:facet>
				                 <h:outputText  value="#{smsblcinvar.trans_type}" />
				           </p:column>
									           
				           <p:column >
				               <f:facet name="header">#{msg['trace.umbInterfacename']}</f:facet>
				                 <h:outputText  value="#{smsblcinvar.in_api_name}" />
				           </p:column>
				
				           <p:column>
				               <f:facet name="header">#{msg['trace.startDate']}</f:facet>
				                 <h:outputText  value="#{smsblcinvar.start_date}" />
				           </p:column>
				           
				           <p:column>
				               <f:facet name="header">#{msg['trace.endDate']}</f:facet>
				                 <h:outputText  value="#{smsblcinvar.end_date}" />
				           </p:column>
				
				           <p:column>
				               <f:facet name="header">#{msg['trace.duration']}</f:facet>
				                 <h:outputText  value="#{smsblcinvar.duration}" />
				           </p:column>
				           
				           <p:column>
				               <f:facet name="header">#{msg['trace.umbInterfaceStatus']}</f:facet>
				                 <h:outputText  value="#{smsblcinvar.trans_status}" />
				           </p:column>
				           
				           <p:column>
				               <f:facet name="header">#{msg['trace.umbInterfaceReasonCode']}</f:facet>
				                 <h:outputText  value="#{smsblcinvar.reason_code}" />
				           </p:column>                      
															
								   <p:rowExpansion>
									   
									   				<br />
									         <p:dataTable id="SMSBLCOUTTable" var="smsblcoutvar" value="#{smsblcinvar.BLCInterfaces}" styleClass="customHeader4" >
																      					
									          <f:facet name="header">#{msg['trace.blcInterfaceTitle']}</f:facet>																				      
									           <p:column>
									               <f:facet name="header">#{msg['trace.sessionID']}</f:facet>
									              <h:outputText  value="#{smsblcoutvar.session_id}" />
									           </p:column> 									           
									           									 
									           <p:column >
									               <f:facet name="header">#{msg['trace.blcApiName']}</f:facet>
									                 <h:outputText  value="#{smsblcoutvar.api_name}" />
									           </p:column>
									           									           									           
									           <p:column >
									               <f:facet name="header">#{msg['trace.blcOutHostID']}</f:facet>
									                 <h:outputText  value="#{smsblcoutvar.out_host_id}" />
									           </p:column>
									           									 
									           <p:column >
									               <f:facet name="header">#{msg['trace.blcOutChannel']}</f:facet>
									                 <h:outputText  value="#{smsblcoutvar.out_channel}" />
									           </p:column>

									           <p:column>
									               <f:facet name="header">#{msg['trace.startDate']}</f:facet>									                  
									                 <h:outputText  value="#{smsblcoutvar.start_date}" />
									           </p:column>
									           
									           <p:column>
									               <f:facet name="header">#{msg['trace.endDate']}</f:facet>
									                 <h:outputText  value="#{smsblcoutvar.end_date}" />
									           </p:column>
									
									           <p:column>
									               <f:facet name="header">#{msg['trace.duration']}</f:facet>
									                 <h:outputText  value="#{smsblcoutvar.duration}" />
									           </p:column>
									           
									           <p:column>
									               <f:facet name="header">#{msg['trace.blcInterfaceStatus']}</f:facet>
									                 <h:outputText  value="#{smsblcoutvar.trans_status}" />
									           </p:column>
									           
									           <p:column>
									               <f:facet name="header">#{msg['trace.blcInterfaceReasonCode']}</f:facet>
									                 <h:outputText  value="#{smsblcoutvar.reason_code}" />
									           </p:column>                      
												<p:column>
									               <!--f:facet name="header">#{msg['trace.blcInterfaceReserved1']}</f:facet-->
												   <f:facet name="header">Reserved1</f:facet>
									                 <h:outputText  value="#{smsblcoutvar.reserved1}" />
									           </p:column> 
									           <p:column>
									               <!-- f:facet name="header">#{msg['trace.blcInterfaceReserved2']}</f:facet -->
												   <f:facet name="header">Reserved2</f:facet>
									                 <h:outputText  value="#{smsblcoutvar.reserved2}" />
									           </p:column> 
									           <p:column>
									               <!-- f:facet name="header">#{msg['trace.blcInterfaceReserved3']}</f:facet -->
												   <f:facet name="header">Reserved3</f:facet>
									                 <h:outputText  value="#{smsblcoutvar.reserved3}" />
									           </p:column> 	
									           
									         </p:dataTable>
								
								
													 <br />
									         
									         <p:dataTable id="smsoutTable" var="smsoutvar" value="#{smsblcinvar.SMSOUT}" styleClass="customHeader5" >
																      					
									          <f:facet name="header">#{msg['trace.smsoutTitle']}</f:facet>																				      
									           <p:column>
									               <f:facet name="header">#{msg['trace.sessionID']}</f:facet>
									              <h:outputText  value="#{smsoutvar.session_id}" />
									           </p:column> 
									           
														<p:column >
									               <f:facet name="header">#{msg['trace.smsoutMessageID']}</f:facet>
									                 <h:outputText  value="#{smsoutvar.message_id}" />
									           </p:column>
									           									 
									           <p:column >
									               <f:facet name="header">#{msg['trace.smsoutContent']}</f:facet>
									                 <h:outputText  value="#{smsoutvar.sms_content}" />
									           </p:column>
									           									           									           
									           <p:column >
									               <f:facet name="header">#{msg['trace.smsoutPriority']}</f:facet>
									                 <h:outputText  value="#{smsoutvar.priority_flag}" />
									           </p:column>
									           									 
									           <p:column >
									               <f:facet name="header">#{msg['trace.smsoutReqDate']}</f:facet>
									                 <h:outputText  value="#{smsoutvar.request_date}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutReqStatus']}</f:facet>									                  
									                 <h:outputText  value="#{smsoutvar.request_status}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutReqResCode']}</f:facet>									                  
									                 <h:outputText  value="#{smsoutvar.req_reason_code}" />
									           </p:column>
									           
									           <p:column >
									               <f:facet name="header">#{msg['trace.smsoutSubmitDate']}</f:facet>
									                 <h:outputText  value="#{smsoutvar.submission_date}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutSubmitStatus']}</f:facet>									                  
									                 <h:outputText  value="#{smsoutvar.submission_status}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutSubmitResCode']}</f:facet>									                  
									                 <h:outputText  value="#{smsoutvar.submission_reason_code}" />
									           </p:column>
							       
									           <p:column >
									               <f:facet name="header">#{msg['trace.smsoutDRDate']}</f:facet>
									                 <h:outputText  value="#{smsoutvar.delivery_date}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutDRStatus']}</f:facet>									                  
									                 <h:outputText  value="#{smsoutvar.delivery_status}" />
									           </p:column>
							
									           <p:column>
									               <f:facet name="header">#{msg['trace.smsoutDRResCode']}</f:facet>									                  
									                 <h:outputText  value="#{smsoutvar.delivery_reason_code}" />
									           </p:column>														           
									         </p:dataTable>
						
								
											<br />
								
								      </p:rowExpansion>
								      																
				         </p:dataTable>				           									         

				</p:rowExpansion>
				           						
		</p:dataTable>			
		
		
	   <br />
	   <br />	

		<p:dataTable id="ARCInterfaceTable" var="ARInterfacevar" value="#{traceController.arInterfaces}"  styleClass="customHeader" 
				rendered="#{traceController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="false" rows="50"
				paginatorPosition="bottom"
				sortBy="#{ARInterfacevar.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['trace.arInterfaceTitle']}</f:facet>
      <p:column style="width:2%" exportable="false">
         <p:rowToggler />
      </p:column>  

		 <p:column>
		     <f:facet name="header">#{msg['trace.transID']}</f:facet>
		    <h:outputText  value="#{ARInterfacevar.transaction_id}" />
		 </p:column> 									           
		 
		 <p:column >
		     <f:facet name="header">#{msg['trace.hostID']}</f:facet>
		       <h:outputText  value="#{ARInterfacevar.host_id}" />
		 </p:column>

			 <!--
       <p:column >
           <f:facet name="header">#{msg['trace.umbInterfacename']}</f:facet>
             <h:outputText  value="#{ARInterfacevar.in_api_name}" />
       </p:column>
			 -->
				
       <p:column>
           <f:facet name="header">#{msg['trace.startDate']}</f:facet>
             <h:outputText  value="#{ARInterfacevar.start_date}" />
       </p:column>
       
       <p:column>
           <f:facet name="header">#{msg['trace.endDate']}</f:facet>
             <h:outputText  value="#{ARInterfacevar.end_date}" />
       </p:column>

       <p:column>
           <f:facet name="header">#{msg['trace.duration']}</f:facet>
             <h:outputText  value="#{ARInterfacevar.duration}" />
       </p:column>
       
         
				<p:rowExpansion>								
								
				   				<br />

								<p:dataTable id="ARBLCInterfaceTable" var="ARBLCInterfacevar" value="#{ARInterfacevar.BLCInterfaces}"  styleClass="customHeader4" >
		 						
									<f:facet name="header">#{msg['trace.arblcInterfaceTitle']}</f:facet>
						
								 <p:column>
								     <f:facet name="header">#{msg['trace.transID']}</f:facet>
								    <h:outputText  value="#{ARBLCInterfacevar.transaction_id}" />
								 </p:column> 									           
								 									 
								 <p:column >
								     <f:facet name="header">#{msg['trace.blcApiName']}</f:facet>
								       <h:outputText  value="#{ARBLCInterfacevar.api_name}" />
								 </p:column>
								 									           									           
								 <p:column >
								     <f:facet name="header">#{msg['trace.blcOutHostID']}</f:facet>
								       <h:outputText  value="#{ARBLCInterfacevar.out_host_id}" />
								 </p:column>
								 									 
								 <p:column >
								     <f:facet name="header">#{msg['trace.blcOutChannel']}</f:facet>
								       <h:outputText  value="#{ARBLCInterfacevar.out_channel}" />
								 </p:column>
								
								 <p:column>
								     <f:facet name="header">#{msg['trace.startDate']}</f:facet>									                  
								       <h:outputText  value="#{ARBLCInterfacevar.start_date}" />
								 </p:column>
								 
								 <p:column>
								     <f:facet name="header">#{msg['trace.endDate']}</f:facet>
								       <h:outputText  value="#{ARBLCInterfacevar.end_date}" />
								 </p:column>
								
								 <p:column>
								     <f:facet name="header">#{msg['trace.duration']}</f:facet>
								       <h:outputText  value="#{ARBLCInterfacevar.duration}" />
								 </p:column>
								 
								 <p:column>
								     <f:facet name="header">#{msg['trace.blcInterfaceStatus']}</f:facet>
								       <h:outputText  value="#{ARBLCInterfacevar.trans_status}" />
								 </p:column>
								 
								 <p:column>
								     <f:facet name="header">#{msg['trace.blcInterfaceReasonCode']}</f:facet>
								       <h:outputText  value="#{ARBLCInterfacevar.reason_code}" />
								 </p:column>                      
					       </p:dataTable>										
		
		
		
					   				<br />

					         <p:dataTable id="arblcsmsoutTable" var="arblcsmsoutvar" value="#{ARInterfacevar.SMSOUT}" styleClass="customHeader5" >
												      					
					          <f:facet name="header">#{msg['trace.arsmsoutTitle']}</f:facet>																				      
					           <p:column>
					               <f:facet name="header">#{msg['trace.transID']}</f:facet>
					              <h:outputText  value="#{arblcsmsoutvar.transaction_id}" />
					           </p:column> 
					           
										<p:column >
					               <f:facet name="header">#{msg['trace.smsoutMessageID']}</f:facet>
					                 <h:outputText  value="#{arblcsmsoutvar.message_id}" />
					           </p:column>
					           									 
					           <p:column >
					               <f:facet name="header">#{msg['trace.smsoutContent']}</f:facet>
					                 <h:outputText  value="#{arblcsmsoutvar.sms_content}" />
					           </p:column>
					           									           									           
					           <p:column >
					               <f:facet name="header">#{msg['trace.smsoutPriority']}</f:facet>
					                 <h:outputText  value="#{arblcsmsoutvar.priority_flag}" />
					           </p:column>
					           									 
					           <p:column >
					               <f:facet name="header">#{msg['trace.smsoutReqDate']}</f:facet>
					                 <h:outputText  value="#{arblcsmsoutvar.request_date}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutReqStatus']}</f:facet>									                  
					                 <h:outputText  value="#{arblcsmsoutvar.request_status}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutReqResCode']}</f:facet>									                  
					                 <h:outputText  value="#{arblcsmsoutvar.req_reason_code}" />
					           </p:column>
					           
					           <p:column >
					               <f:facet name="header">#{msg['trace.smsoutSubmitDate']}</f:facet>
					                 <h:outputText  value="#{arblcsmsoutvar.submission_date}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutSubmitStatus']}</f:facet>									                  
					                 <h:outputText  value="#{arblcsmsoutvar.submission_status}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutSubmitResCode']}</f:facet>									                  
					                 <h:outputText  value="#{arblcsmsoutvar.submission_reason_code}" />
					           </p:column>
			       
					           <p:column >
					               <f:facet name="header">#{msg['trace.smsoutDRDate']}</f:facet>
					                 <h:outputText  value="#{arblcsmsoutvar.delivery_date}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutDRStatus']}</f:facet>									                  
					                 <h:outputText  value="#{arblcsmsoutvar.delivery_status}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutDRResCode']}</f:facet>									                  
					                 <h:outputText  value="#{arblcsmsoutvar.delivery_reason_code}" />
					           </p:column>														           
					         </p:dataTable>					
				</p:rowExpansion>
						 
		</p:dataTable>					         					 									 
		





		<p:dataTable id="ThirdPartyInterfaceTable" var="ThirdPartyInterfacevar" value="#{traceController.chInterfaces}"  styleClass="customHeader" 
				rendered="#{traceController.resultsVisible}"
				dynamic="true" lazy="true"
				paginator="false" rows="50"
				paginatorPosition="bottom"
				sortBy="#{ThirdPartyInterfacevar.start_date}" sortOrder="ASCENDING"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
				rowsPerPageTemplate="5,10,15"
				loadingMessage="... now loading ..."
				style="clear: both; margin-top: 10px;">
			
			<f:facet name="header">#{msg['trace.thirdPartyInterfaceTitle']}</f:facet>
      <p:column style="width:2%" exportable="false">
         <p:rowToggler />
      </p:column>  

		 <p:column>
		     <f:facet name="header">#{msg['trace.thirdPartyChannel']}</f:facet>
		    <h:outputText  value="#{ThirdPartyInterfacevar.channel}" />
		 </p:column> 									           
		 		       
		 <p:column>
		     <f:facet name="header">#{msg['trace.transID']}</f:facet>
		    <h:outputText  value="#{ThirdPartyInterfacevar.transaction_id}" />
		 </p:column> 									           
		 
		 <p:column >
		     <f:facet name="header">#{msg['trace.hostID']}</f:facet>
		       <h:outputText  value="#{ThirdPartyInterfacevar.host_id}" />
		 </p:column>

       <p:column >
             <f:facet name="header">#{msg['trace.blcTransType']}</f:facet>
               <h:outputText  value="#{ThirdPartyInterfacevar.trans_type}" />
         </p:column>
				           
         <p:column >
             <f:facet name="header">#{msg['trace.umbInterfacename']}</f:facet>
               <h:outputText  value="#{ThirdPartyInterfacevar.in_api_name}" />
         </p:column>

         <p:column>
             <f:facet name="header">#{msg['trace.startDate']}</f:facet>
               <h:outputText  value="#{ThirdPartyInterfacevar.start_date}" />
         </p:column>
         
         <p:column>
             <f:facet name="header">#{msg['trace.endDate']}</f:facet>
               <h:outputText  value="#{ThirdPartyInterfacevar.end_date}" />
         </p:column>

         <p:column>
             <f:facet name="header">#{msg['trace.duration']}</f:facet>
               <h:outputText  value="#{ThirdPartyInterfacevar.duration}" />
         </p:column>
         
         <p:column>
             <f:facet name="header">#{msg['trace.umbInterfaceStatus']}</f:facet>
               <h:outputText  value="#{ThirdPartyInterfacevar.trans_status}" />
         </p:column>
         
         <p:column>
             <f:facet name="header">#{msg['trace.umbInterfaceReasonCode']}</f:facet>
               <h:outputText  value="#{ThirdPartyInterfacevar.reason_code}" />
         </p:column>   


				<p:rowExpansion>								
								
				   				<br />

								<p:dataTable id="ThirdPartyBLCInterfaceTable" var="ThirdPartyBLCInterfacevar" value="#{ThirdPartyInterfacevar.BLCInterfaces}"  styleClass="customHeader4" >
		 						
									<f:facet name="header">#{msg['trace.thirdPartyblcInterfaceTitle']}</f:facet>
						
								 <p:column>
								     <f:facet name="header">#{msg['trace.transID']}</f:facet>
								    <h:outputText  value="#{ThirdPartyBLCInterfacevar.transaction_id}" />
								 </p:column> 									           
								 									 
								 <p:column >
								     <f:facet name="header">#{msg['trace.blcApiName']}</f:facet>
								       <h:outputText  value="#{ThirdPartyBLCInterfacevar.api_name}" />
								 </p:column>
								 									           									           
								 <p:column >
								     <f:facet name="header">#{msg['trace.blcOutHostID']}</f:facet>
								       <h:outputText  value="#{ThirdPartyBLCInterfacevar.out_host_id}" />
								 </p:column>
								 									 
								 <p:column >
								     <f:facet name="header">#{msg['trace.blcOutChannel']}</f:facet>
								       <h:outputText  value="#{ThirdPartyBLCInterfacevar.out_channel}" />
								 </p:column>
								
								 <p:column>
								     <f:facet name="header">#{msg['trace.startDate']}</f:facet>									                  
								       <h:outputText  value="#{ThirdPartyBLCInterfacevar.start_date}" />
								 </p:column>
								 
								 <p:column>
								     <f:facet name="header">#{msg['trace.endDate']}</f:facet>
								       <h:outputText  value="#{ThirdPartyBLCInterfacevar.end_date}" />
								 </p:column>
								
								 <p:column>
								     <f:facet name="header">#{msg['trace.duration']}</f:facet>
								       <h:outputText  value="#{ThirdPartyBLCInterfacevar.duration}" />
								 </p:column>
								 
								 <p:column>
								     <f:facet name="header">#{msg['trace.blcInterfaceStatus']}</f:facet>
								       <h:outputText  value="#{ThirdPartyBLCInterfacevar.trans_status}" />
								 </p:column>
								 
								 <p:column>
								     <f:facet name="header">#{msg['trace.blcInterfaceReasonCode']}</f:facet>
								       <h:outputText  value="#{ThirdPartyBLCInterfacevar.reason_code}" />
								 </p:column>                      
					       </p:dataTable>										
		
		
		
					   				<br />

					         <p:dataTable id="thirdPartyblcsmsoutTable" var="thirdPartyblcsmsoutvar" value="#{ThirdPartyInterfacevar.SMSOUT}" styleClass="customHeader5" >
												      					
					          <f:facet name="header">#{msg['trace.thirdPartysmsoutTitle']}</f:facet>																				      
					           <p:column>
					               <f:facet name="header">#{msg['trace.transID']}</f:facet>
					              <h:outputText  value="#{thirdPartyblcsmsoutvar.transaction_id}" />
					           </p:column> 
					           
										<p:column >
					               <f:facet name="header">#{msg['trace.smsoutMessageID']}</f:facet>
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.message_id}" />
					           </p:column>
					           									 
					           <p:column >
					               <f:facet name="header">#{msg['trace.smsoutContent']}</f:facet>
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.sms_content}" />
					           </p:column>
					           									           									           
					           <p:column >
					               <f:facet name="header">#{msg['trace.smsoutPriority']}</f:facet>
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.priority_flag}" />
					           </p:column>
					           									 
					           <p:column >
					               <f:facet name="header">#{msg['trace.smsoutReqDate']}</f:facet>
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.request_date}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutReqStatus']}</f:facet>									                  
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.request_status}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutReqResCode']}</f:facet>									                  
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.req_reason_code}" />
					           </p:column>
					           
					           <p:column >
					               <f:facet name="header">#{msg['trace.smsoutSubmitDate']}</f:facet>
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.submission_date}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutSubmitStatus']}</f:facet>									                  
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.submission_status}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutSubmitResCode']}</f:facet>									                  
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.submission_reason_code}" />
					           </p:column>
			       
					           <p:column >
					               <f:facet name="header">#{msg['trace.smsoutDRDate']}</f:facet>
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.delivery_date}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutDRStatus']}</f:facet>									                  
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.delivery_status}" />
					           </p:column>
			
					           <p:column>
					               <f:facet name="header">#{msg['trace.smsoutDRResCode']}</f:facet>									                  
					                 <h:outputText  value="#{thirdPartyblcsmsoutvar.delivery_reason_code}" />
					           </p:column>														           
					         </p:dataTable>					
				</p:rowExpansion>


		</p:dataTable>				
		

		
	</h:panelGroup>


<script type="text/javascript">

			PrimeFaces.widget.DataTable.prototype.bindExpansionEvents= function() {			
        var $this = this,
        togglerSelector = '> tr > td > div.ui-row-toggler';   
        this.tbody.off('click.datatable-expansion', togglerSelector)
                    .on('click.datatable-expansion', togglerSelector, null, function() {
                        $this.toggleExpansion($(this));
                    });
    		};
    		
</script>
			
</h:form>

</ui:define>

</ui:composition>
</html>