<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/master.xhtml">

	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['system.title']}
  	</ui:define>

	<ui:define name="pageTitle">
		#{msg['system.title']}
	</ui:define>

	<ui:define name="content">
		<style type="text/css">
			.expanded_content {
				padding: 0.7em 0.7em 0.7em 0.7em;
			}
			
			.col1-class {
				width:140px;
			}
			.col2-class {
				width:140px;
			}
			.detailgrid-col1-class {
				width:250px;
			}
			.detailgrid-col2-class {
				width:710px;
			}
			
			.detail_grid {
				min-width: 90%;
			}
			
			th.light-color {
				background: #97AC8F !important;
			}
			
			th.target {
				width: 110px;
			}
			
			th.watermark {
				width: 125px;
			}
			
			th.edit {
				width: 25px;
			}
			
			th.priority {
				width: 110px;
			}
			
			th.twoedit {
				width: 53px;
			}
		</style>
		<h:form id="mainForm">
			<p:growl id="growl" globalOnly="false" autoUpdate="true" showDetail="true"/>

			<table style="width: 100%;">
				<tr>
					<td style="min-width: 300px; vertical-align: top">
						<p:panel id="pnlBrowse">
							<f:facet name="header">
								<h:outputText value="#{msg['system.structure']}" />
								<p:commandLink style="float:right" title="#{msg['general.add']} #{msg['system.system']}"
									styleClass="ui-icon ui-icon-circle-plus" update=":dlg_holder"
									action="#{systemEditer.setNewSystemButtonClicked(true)}"
									process="@this"
									oncomplete="addSystem_Dlg.show(); return false;"
									rendered="#{UserBean.accessLevel == 'WRITE'}" />
							</f:facet>
							<p:contextMenu for="tblSys"
								rendered="#{!systemEditer.processSelected}">
								<p:menuitem value="#{msg['general.add']} #{msg['system.childNode']}" update=":dlg_holder"
									icon="ui-icon-circle-plus"
									action="#{systemEditer.setNewNodeButtonClicked(true)}"
									process="@this" oncomplete="addNode_Dlg.show(); return false;" />
							</p:contextMenu>
							<p:treeTable id="tblSys" widgetVar="systemTable"
								value="#{systemEditer.entityRoot}" var="entity"
								selectionMode="single" selection="#{systemEditer.selectedNode}">
								<p:ajax event="select" listener="#{systemEditer.onEntitySelect}"
									update=":mainForm:pnlDetail" />
								<p:column style="white-space:nowrap;">
									<f:facet name="header">#{msg['monitor.tree.datatable.name.header']}</f:facet>
									<h:outputText value="#{entity.displayableName}" />
								</p:column>
							</p:treeTable>
						</p:panel>
					</td>
					<td style="min-width: 500px; width: 100%; vertical-align: top">
						<p:panel id="pnlDetail" rendered="#{systemEditer.entitySelected}">
							<f:facet name="header">
								<h:outputText value="#{systemEditer.displayName}" />
								<div style="float: right;" >
									
									<p:commandLink style="float:right" title="#{msg['general.delete']} #{msg['system.system']}"
										rendered="#{systemEditer.systemSelected and UserBean.accessLevel == 'WRITE'}"
										styleClass="ui-icon ui-icon-trash"
										process="@this" 
										oncomplete="delSystem_dlg.show()" />
									<p:commandLink style="float:right" title="#{msg['general.delete']} #{msg['system.host']}"
										rendered="#{systemEditer.hostSelected and UserBean.accessLevel == 'WRITE'}"
										styleClass="ui-icon ui-icon-trash"
										process="@this" 
										oncomplete="delHost_dlg.show()" />
									<p:commandLink style="float:right" title="#{msg['general.delete']} #{msg['system.process']}"
										rendered="#{systemEditer.processSelected and UserBean.accessLevel == 'WRITE'}"
										styleClass="ui-icon ui-icon-trash"
										process="@this" 
										oncomplete="delProcess_dlg.show()" />
									<p:commandLink style="float:right" title="#{msg['general.edit']} #{msg['system.system']}"
										rendered="#{systemEditer.systemSelected and UserBean.accessLevel == 'WRITE'}"
										styleClass="ui-icon ui-icon-pencil"
										action="#{systemEditer.setEditButtonClicked(true)}"
										process="@this" update=":dlg_holder"
										oncomplete="editSystem_dlg.show()" />
									<p:commandLink style="float:right" title="#{msg['general.edit']} #{msg['system.host']}"
										rendered="#{systemEditer.hostSelected and UserBean.accessLevel == 'WRITE'}"
										styleClass="ui-icon ui-icon-pencil"
										action="#{systemEditer.setEditButtonClicked(true)}"
										process="@this" update=":dlg_holder"
										oncomplete="editHostPrompt_dlg.show()" />
									<p:commandLink style="float:right" title="#{msg['general.edit']} #{msg['system.process']}"
										rendered="#{systemEditer.processSelected and UserBean.accessLevel == 'WRITE'}"
										styleClass="ui-icon ui-icon-pencil"
										action="#{systemEditer.setEditButtonClicked(true)}"
										process="@this" update=":dlg_holder"
										oncomplete="editProcessPrompt_dlg.show()" />
									
								</div>
							</f:facet>
							<p:confirmDialog id="editHostPromptDlg" width="460" 
								closeOnEscape="true"
								header="#{msg['general.edit']} #{msg['system.host']}" severity="alert"
								widgetVar="editHostPrompt_dlg">
								
								<f:facet name="message">  
								    <p:outputPanel>  
								    	<h:outputFormat value="#{msg['system.host.editPrompt']}" escape="false"/>
								    </p:outputPanel>
							    </f:facet>
         
								<p:commandButton id="editHostPrompt_confirm" value="#{msg['general.yes']}"
									action="#{systemEditer.setEditHost}"
									process="@this"
									oncomplete="editHostPrompt_dlg.hide(); editHost_dlg.show()" />
								<p:commandButton id="editHostPrompt_decline" value="#{msg['general.no']}"
									process="@this"
									onclick="editHostPrompt_dlg.hide()" type="button" />
							</p:confirmDialog>
							<p:confirmDialog id="editProcessPromptDlg"
								header="#{msg['general.edit']} #{msg['system.process']}" severity="alert"
								widgetVar="editProcessPrompt_dlg">
								
								<f:facet name="message">  
								    <p:outputPanel>  
								    	<h:outputFormat value="#{msg['system.process.editPrompt']}" escape="false"/>
								    </p:outputPanel>
								</f:facet>
								    
								<p:commandButton id="editProcessPrompt_confirm" value="#{msg['general.yes']}"
									action="#{systemEditer.setEditProcess}"
									process="@this"
									oncomplete="editProcessPrompt_dlg.hide(); editProcess_dlg.show()" />
								<p:commandButton id="editProcessPrompt_decline" value="#{msg['general.no']}"
									process="@this"
									onclick="editProcessPrompt_dlg.hide()" type="button" />
							</p:confirmDialog>


							<p:panelGrid styleClass="detail_grid" id="sysPanel" columns="2" columnClasses="detailgrid-col1-class, detailgrid-col2-class"
								rendered="#{systemEditer.systemSelected}">
								<p:outputLabel value="#{msg['general.name']}" />
								<p:outputLabel
									value="#{systemEditer.selectedSystem.config.name}" />
								<p:outputLabel value="#{msg['general.desc']}" />
								<p:outputLabel
									value="#{systemEditer.selectedSystem.config.description}" />
								<p:outputLabel value="#{msg['system.enabled']}" />
								<h:graphicImage library="images" name="tick.png" rendered="#{systemEditer.selectedSystem.config.enabled}"/>
								<h:graphicImage library="images" name="cross.png" rendered="#{!systemEditer.selectedSystem.config.enabled}"/>
								
							</p:panelGrid>

							<p:commandButton value="#{msg['general.add']} #{msg['system.host']}" update=":dlg_holder"
								rendered="#{systemEditer.systemSelected and UserBean.accessLevel == 'WRITE'}"
								action="#{systemEditer.setNewNodeButtonClicked(true)}"
								process="@this" oncomplete="addNode_Dlg.show(); return false;" />

							<p:panelGrid styleClass="detail_grid" id="hostPanel" columns="2" columnClasses="detailgrid-col1-class, detailgrid-col2-class"
								rendered="#{systemEditer.hostSelected}">
								<p:outputLabel value="#{msg['general.name']}" />
								<p:outputLabel value="#{systemEditer.selectedHost.config.name}" />
								<p:outputLabel value="#{msg['general.desc']}" />
								<p:outputLabel
									value="#{systemEditer.selectedHost.config.description}" />
								<p:outputLabel value="#{msg['system.host.ip']}" />
								<p:outputLabel
									value="#{systemEditer.selectedHost.config.ipAddr}" />
								<p:outputLabel value="#{msg['system.host.site']}" rendered="#{! empty systemEditer.selectedHost.config.site}"/>
								<p:outputLabel
									value="#{systemEditer.selectedHost.config.site.siteName}" 
									rendered="#{! empty systemEditer.selectedHost.config.site}"/>
									
								<p:outputLabel value="#{msg['system.host.agent.port']}" 
									rendered="#{systemEditer.selectedHost.config.type == 'SCRIPT' || systemEditer.selectedHost.config.type == 'BOTH'}"/>
								<p:outputLabel
									value="#{systemEditer.selectedHost.config.agentJmxPort}" 
									rendered="#{systemEditer.selectedHost.config.type == 'SCRIPT' || systemEditer.selectedHost.config.type == 'BOTH'}"/>


								<p:outputLabel value="#{msg['system.host.type']}" />
								<p:outputLabel
									value="#{systemEditer.selectedHost.config.type}" />
									
								<ui:remove>	
								<p:outputLabel value="#{msg['snmp.community.get']}"
									rendered="#{systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV2' or systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV1'}"/>
								<p:outputLabel
									value="#{systemEditer.selectedHost.config.snmpConfig.communityGet}"
									rendered="#{systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV2' or systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV1'}" />
								<p:outputLabel value="#{msg['snmp.community.set']}"
									rendered="#{systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV2' or systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV1'}"/>
								<p:outputLabel
									value="#{systemEditer.selectedHost.config.snmpConfig.communitySet}"
									rendered="#{systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV2' or systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV1'}" />								
								<p:outputLabel value="#{msg['snmp.engineId']}"
									rendered="#{systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV3'}" />
								<p:outputLabel
									value="#{systemEditer.selectedHost.config.snmpConfig.engineId}"
									rendered="#{systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV3'}" />
								<p:outputLabel value="#{msg['snmp.auth.protocol']}"
									rendered="#{systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV3'}" />
								<p:outputLabel
									value="#{systemEditer.selectedHost.config.snmpConfig.auth}" 
									rendered="#{systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV3'}"/>
								<p:outputLabel value="#{msg['snmp.priv.protocol']}"
									rendered="#{systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV3'}" />
								<p:outputLabel
									value="#{systemEditer.selectedHost.config.snmpConfig.priv}"
									rendered="#{systemEditer.selectedHost.config.snmpConfig.version == 'SNMPV3'}" />
								</ui:remove>	
								<p:outputLabel value="#{msg['system.enabled']}" />
								<h:graphicImage library="images" name="tick.png" rendered="#{systemEditer.selectedHost.config.enabled}"/>
								<h:graphicImage library="images" name="cross.png" rendered="#{!systemEditer.selectedHost.config.enabled}"/>																	
								<p:outputLabel value="#{msg['system.host.agent.status']}" rendered="#{systemEditer.selectedHost.config.type == 'SCRIPT' || systemEditer.selectedHost.config.type == 'BOTH'}"/>
								<p:outputLabel value="#{systemEditer.selectedHost.status}" rendered="#{systemEditer.selectedHost.config.type == 'SCRIPT'|| systemEditer.selectedHost.config.type == 'BOTH'}"
									styleClass="#{systemEditer.getStatusCssClass(systemEditer.selectedHost.statusText)}" />
							</p:panelGrid>
							
							<!-- Process Panel -->
							<p:outputPanel rendered="#{systemEditer.processSelected}">
								<h:outputText style="color:red;"
											  value="#{msg['system.process.agent.notsupported']}" 
											  rendered="#{!systemEditer.selectedProcess.host.config.agentDeployed}"/>
								<p:panelGrid styleClass="detail_grid" id="processPanel"
									columns="2" columnClasses="detailgrid-col1-class, detailgrid-col2-class">
									
									<p:outputLabel value="#{msg['general.name']}" />
									<p:outputLabel value="#{systemEditer.selectedProcess.config.name}" />
									<p:outputLabel value="#{msg['general.desc']}" />
									<p:outputLabel value="#{systemEditer.selectedProcess.config.description}" />
									<p:outputLabel value="#{msg['system.process.adminLink']}" />
									<h:outputLink target="newPopup" value="#{systemEditer.selectedProcess.config.adminLink}" >
										#{systemEditer.selectedProcess.config.adminLink}
									</h:outputLink>
									
									<p:outputLabel value="#{msg['system.process.pidPath']}"/>
									<p:outputLabel value="#{systemEditer.selectedProcess.config.pidPath}"/>	
									<p:outputLabel value="#{msg['system.status']}" />
									<p:outputLabel value="#{systemEditer.selectedProcess.status}" styleClass="#{systemEditer.getStatusCssClass(systemEditer.selectedProcess.statusText)}" />
									<p:outputLabel value="#{msg['system.enabled']}" />
									<h:graphicImage library="images" name="tick.png" rendered="#{systemEditer.selectedProcess.config.enabled}"/>
									<h:graphicImage library="images" name="cross.png" rendered="#{!systemEditer.selectedProcess.config.enabled}"/>
								</p:panelGrid>
							</p:outputPanel>

							<p/>
							
							<p:dataTable id="hostSnmpConfigsTbl" var="entity"
								value="#{systemEditer.selectedHost.config.snmpConfigsAsList}"
								loadingMessage="... now loading ..."
								style="clear: both; margin-top: 10px;"
								rendered="#{systemEditer.hostSelected}">
								<f:facet name="header">#{msg['snmp.config']}</f:facet>
								<p:column styleClass="colAddBtn" >
									<f:facet name="header">
										<p:commandLink style="float:right" title="#{msg['general.add']}"
										styleClass="ui-icon ui-icon-plus"
										update=":dlg_holder"
										process="@this"
										oncomplete="addSnmp_dlg.show(); return false;" />
									</f:facet>		
								</p:column>
								<p:column style="width:100px">
									<f:facet name="header">#{msg['snmp.type']}</f:facet>
									<h:outputText value="#{entity.targetType}" />
								</p:column>
								<p:column>
									<f:facet name="header">#{msg['general.name']}</f:facet>
									<h:outputText value="#{entity.name}" />
								</p:column>		
								<p:column style="width:100px">
									<f:facet name="header">#{msg['snmp.port']}</f:facet>
									<h:outputText value="#{entity.port}" />
								</p:column>	
								<p:column style="width:100px">
									<f:facet name="header">#{msg['snmp.version']}</f:facet>
									<h:outputText value="#{entity.version}" />
								</p:column>						
								<p:column styleClass="twoedit" rendered="#{UserBean.accessLevel == 'WRITE'}">							
									<p:commandLink style="float:right" title="#{msg['general.delete']}" id="deleteSnmpCommandLink_id"
										styleClass="ui-icon ui-icon-trash"
										update=":mainForm:hostSnmpConfigsTbl"
										process="@this"
										oncomplete="delSNMPConfig_dlg.show()" />
									<p:commandLink style="float:right" title="#{msg['general.edit']}" id="editSnmpCommandLink_id"
										styleClass="ui-icon ui-icon-pencil"
										update=":dlg_holder"
										action="#{systemEditer.setDummySnmpConfig(entity)}"
										process="@this"
										oncomplete="editSnmp_dlg.show(); return false;" />	
								</p:column>								
							</p:dataTable>
							
							<p:confirmDialog id="delSNMPConfigConfirmDlg"
								message="#{msg['snmp.agent.delete.confirm']}"
								header="#{msg['general.delete']} '#{entity.name}'" severity="alert" widgetVar="delSNMPConfig_dlg">
								<p:commandButton value="#{msg['general.yes']}" update="hostSnmpConfigsTbl"
									oncomplete="delSNMPConfig_dlg.hide()" process="delSNMPConfigConfirmDlg"
									action="#{systemEditer.deleteSnmp(entity)}" />
								<p:commandButton value="#{msg['general.no']}"
									onclick="delSNMPConfig_dlg.hide()" type="button" />
							</p:confirmDialog>
							
							<p:dataTable id="hostInetTbl" var="entity"
								value="#{systemEditer.selectedHost.config.inetCategoriesAsList}"
								loadingMessage="... now loading ..."
								style="clear: both; margin-top: 10px;"
								rendered="#{systemEditer.hostSelected}">
								<f:facet name="header">#{msg['inet.category']}</f:facet>
								<p:column styleClass="colAddBtn" >
									<f:facet name="header">
										<p:commandLink style="float:right" title="#{msg['general.add']}"
										styleClass="ui-icon ui-icon-plus"
										update=":dlg_holder"
										action="#{systemEditer.resetInetCategory()}"
										process="@this"
										oncomplete="addInetCategory_dlg.show(); return false;" />
									</f:facet>		
								</p:column>
								<p:column style="width:100px">
									<f:facet name="header">#{msg['general.details']}</f:facet>
									<p:rowToggler />
								</p:column>
								<p:column>
									<f:facet name="header">#{msg['general.name']}</f:facet>
									<h:outputText value="#{entity.name}" />
								</p:column>		
								<p:column>
									<f:facet name="header">#{msg['inet.category.inetCount']}</f:facet>
									<h:outputText value="#{entity.inetCount}" />
								</p:column>							
								<p:column styleClass="twoedit" rendered="#{UserBean.accessLevel == 'WRITE'}">							
									<p:commandLink style="float:right" title="#{msg['general.delete']}" id="deleteInetCategoryCommandLink_id"
										styleClass="ui-icon ui-icon-trash"
										update=":mainForm:hostInetTbl"
										process="@this"
										oncomplete="delInetCat_dlg.show()" />
									<p:commandLink style="float:right" title="#{msg['general.edit']}" id="editInetCategoryCommandLink_id"
										styleClass="ui-icon ui-icon-pencil"
										update=":dlg_holder"
										action="#{systemEditer.setDummyInetCategory(entity)}"
										process="@this"
										oncomplete="editInetCategory_dlg.show(); return false;" />	
								</p:column>
							
								<p:rowExpansion style="background-color:white;">
									<p:dataTable styleClass="expanded_content" id="inetTbl"
										value="#{entity.inetsAsList}" var="inet">
										<p:column styleClass="colAddBtn">										
											<f:facet name="header">
												<p:commandLink id="addInetCommandLink_id" style="float:right" title="#{msg['general.add']}"
													styleClass="ui-icon ui-icon-plus"
													update=":dlg_holder"
													action="#{systemEditer.setInetCategory(entity)}"
													oncomplete="addInet_dlg.show(); return false;"
													process="addInetCommandLink_id, @this"/>
											</f:facet>
										</p:column>
										<p:column styleClass="light-color target" >
											<f:facet name="header">#{msg['inet.defaultName']}</f:facet>
											<h:outputText value="#{inet.defaultName}" />
										</p:column>
										<p:column styleClass="light-color watermark">
											<f:facet name="header">#{msg['inet.displayedName']}</f:facet>
											<h:outputText value="#{inet.label}"/>
										</p:column>										
										<p:column styleClass="twoedit" rendered="#{UserBean.accessLevel == 'WRITE'}">
											<p:commandLink id="deleteInetCommandLink_id" style="float:right" title="#{msg['general.delete']}"
												styleClass="ui-icon ui-icon-trash"
												update="inetTbl"
												action="#{systemEditer.deleteInet(inet)}"
												process="deleteInetCommandLink_id, @this"/>
											<p:commandLink id="editInetCommandLink_id" style="float:right" title="#{msg['general.edit']}"
												styleClass="ui-icon ui-icon-pencil"
												update=":dlg_holder"
												action="#{systemEditer.setDummyInet(inet)}"
												oncomplete="editInet_dlg.show(); return false;"
												process="editInetCommandLink_id, @this" />
										</p:column>
									</p:dataTable>
								</p:rowExpansion>
							</p:dataTable>
							
							<p:confirmDialog id="delInetCatConfirmDlg"
								message="#{msg['general.confirmPrompt']}"
								header="#{msg['general.delete']} '#{entity.name}'" severity="alert" widgetVar="delInetCat_dlg">
								<p:commandButton value="#{msg['general.yes']}" update="hostInetTbl"
									oncomplete="delInetCat_dlg.hide()" process="delInetCatConfirmDlg"
									action="#{systemEditer.deleteInetCategory(entity)}" />
								<p:commandButton value="#{msg['general.no']}"
									onclick="delInetCat_dlg.hide()" type="button" />
							</p:confirmDialog>

							<p:dataTable id="hostMonitorTbl" var="entity"
								value="#{systemEditer.selectedHost.config.hostMonitorConfigAsList}"
								loadingMessage="... now loading ..."
								style="clear: both; margin-top: 10px;"
								rendered="#{systemEditer.hostSelected}">
								<f:facet name="header">#{msg['system.monitor']}</f:facet>
								<p:column style="width:100px">
									<f:facet name="header">#{msg['general.details']}</f:facet>
									<p:rowToggler />
								</p:column>
								<p:column>
									<f:facet name="header">#{msg['general.name']}</f:facet>
									<h:outputText value="#{entity.name}" />
								</p:column>
								<ui:remove>
								<p:column rendered="#{systemEditer.selectedHost.config.type == 'SCRIPT'}">
									<f:facet name="header">#{msg['general.name']}</f:facet>
									<h:outputText value="#{entity.script}" />
								</p:column>
								</ui:remove>
								<ui:remove>
								<p:column style="width:150px">
									<f:facet name="header">#{msg['system.monitor.intervalInSec']}</f:facet>
									<h:outputText value="#{entity.monitorInterval}" />
								</p:column>
								</ui:remove>
								<p:column style="width:63px">
									<f:facet name="header">#{msg['system.enabled']}</f:facet>
									<h:graphicImage library="images" name="tick.png" rendered="#{entity.enabled}"/>
									<h:graphicImage library="images" name="cross.png" rendered="#{!entity.enabled}"/>
								</p:column>
								<p:column style="width:25px" rendered="#{UserBean.accessLevel == 'WRITE'}">
									
									<f:facet name="header" >
										<p:commandLink style="float:right" title="#{msg['system.host.initRrd.title']}"
											styleClass="ui-icon ui-icon-gear"
											update=":dlg_holder"
											process="@this"
											disabled="#{!systemEditer.selectedHost.enabled}"
											oncomplete="initStat_dlg.show(); return false;" 
											rendered="false"/>
									</f:facet>
									
									<p:commandLink style="float:right" title="#{msg['general.edit']}"
										styleClass="ui-icon ui-icon-pencil"
										update=":dlg_holder"
										action="#{systemEditer.setDummyHostMonitorConfig(entity)}"
										process="@this"
										oncomplete="editHostMonitor_dlg.show(); return false;" />
								</p:column>
								<p:rowExpansion style="background-color:white;">
									<p:dataTable styleClass="expanded_content" id="thrseholdTbl"
										value="#{entity.thresholdConfigAsList}" var="threshold"
										>
										<p:column styleClass="light-color target" rendered="#{systemEditer.isShowTarget(entity)}"
											>
											<f:facet name="header">#{msg['system.threshold.target']}</f:facet>
											<h:outputText value="#{threshold.target}" />
										</p:column>
										<p:column styleClass="light-color watermark">
											<f:facet name="header">#{msg['system.threshold.watermark']}</f:facet>
											<h:outputText value="#{threshold.watermark}" rendered="#{!systemEditer.isInet(entity)}"/>
											<h:outputText value="DISCONNECTED" rendered="#{systemEditer.isInet(entity)}"/>
										</p:column>
										<p:column styleClass="light-color">
											<f:facet name="header">#{msg['system.threshold.level']}</f:facet>
											<h:outputText value="#{threshold.level}" />
										</p:column>
										<p:column styleClass="twoedit" rendered="#{UserBean.accessLevel == 'WRITE'}">
											<f:facet name="header">
												<p:commandLink id="addThresholdCommandLink_id" style="float:right" title="#{msg['general.add']}"
													styleClass="ui-icon ui-icon-plus"
													update=":dlg_holder"
													action="#{systemEditer.setHostMonitorConfig(entity)}"
													oncomplete="addMonitorThreshold_dlg.show(); return false;"
													rendered="#{systemEditer.isAllowAddThreshold(entity)}" 
													process="addThresholdCommandLink_id, @this"/>
											</f:facet>
											<p:commandLink id="deleteThresholdCommandLink_id" style="float:right" title="#{msg['general.delete']}"
												styleClass="ui-icon ui-icon-trash"
												update="thrseholdTbl"
												action="#{systemEditer.deleteMonitorThresholdConfig(threshold)}"
												rendered="#{systemEditer.isAllowAddThreshold(entity)}"
												process="deleteThresholdCommandLink_id,@this"/>
											<p:commandLink id="editThresholdCommandLink_id" style="float:right" title="#{msg['general.edit']}"
												styleClass="ui-icon ui-icon-pencil"
												update=":dlg_holder"
												action="#{systemEditer.setDummyMonitorThresholdConfig(threshold)}"
												oncomplete="editMonitorThreshold_dlg.show(); return false;"
												process="editThresholdCommandLink_id,@this" />
										</p:column>
									</p:dataTable>
								</p:rowExpansion>
							</p:dataTable>

							<p:dataTable id="eventHandlerTbl" widgetVar="evtHdrTbl"
								value="#{systemEditer.eventHandlers}" var="entity"
								rendered="#{systemEditer.processSelected}">
								<f:facet name="header">
									<h:outputText value="#{msg['system.eventHandler']}" />
								</f:facet>
								<p:column style="width:100px">
									<f:facet name="header">#{msg['system.action']}</f:facet>
									<p:rowToggler />
								</p:column>
								<p:column>
									<f:facet name="header">#{msg['system.eventHandler.type']}</f:facet>
									<h:outputText value="#{entity.eventType}" />
								</p:column>
								<ui:remove>
								<p:column styleClass="twoedit">
									<p:commandLink style="float:right" title="#{msg['general.delete']}"
										styleClass="ui-icon ui-icon-trash"
										action="#{systemEditer.setEventHandlerConfig(entity)}"
										process="@this"
										oncomplete="deleteEventHandlerConfig_dlg.show(); return false;"
										update=":dlg_holder" />
									<p:commandLink style="float:right" title="#{msg['general.edit']}"
										styleClass="ui-icon ui-icon-pencil"
										action="#{systemEditer.setDummyEventHandlerConfig(entity)}"
										process="@this"
										oncomplete="editEventHandlerConfig_dlg.show(); return false;"
										update=":dlg_holder" />
								</p:column>
								</ui:remove>
								<p:rowExpansion>
									<p:dataTable styleClass="expanded_content" id="actionTbl"
										value="#{entity.listActionCommand}" var="action">
										<f:facet name="header">
											<h:outputText value="#{msg['system.action']}" />											
										</f:facet>
										<p:column styleClass="colAddBtn" rendered="#{UserBean.accessLevel == 'WRITE'}">
											<f:facet name="header">
												<p:commandLink style="float:right" title="#{msg['general.add']}"
												styleClass="ui-icon ui-icon-plusthick"
												action="#{systemEditer.setEventHandlerConfig(entity)}"
												process="@this" oncomplete="newActionCommand_dlg.show()"
												update=":mainForm:newActionCommand_dlg_id" />
											</f:facet>
										</p:column>
										<p:column style="width:60px;" styleClass="priority">
											<f:facet name="header">#{msg['system.action.priority']}</f:facet>
											<h:outputText value="#{action.priority}" />
										</p:column>
										<p:column >
											<f:facet name="header">#{msg['system.action.script']}</f:facet>
											<h:outputText value="#{action.script}" />
										</p:column>
										<p:column style="width:60px;" >
											<f:facet name="header">#{msg['system.action.timeout']}</f:facet>
											<h:outputText value="#{action.timeout}" />
										</p:column>
										<p:column style="width:60px;" >
											<f:facet name="header">#{msg['system.action.outputLimit']}</f:facet>
											<h:outputText value="#{action.outputLimit}" />
										</p:column>
										<p:column style="width:80px">
											<f:facet name="header">#{msg['system.action.enabled']}</f:facet>
											<h:graphicImage library="images" name="tick.png" rendered="#{action.enabled}"/>
											<h:graphicImage library="images" name="cross.png" rendered="#{!action.enabled}"/>
										</p:column>
										<p:column styleClass="twoedit" rendered="#{UserBean.accessLevel == 'WRITE'}">
											<p:commandLink style="float:right" title="#{msg['general.delete']}"
												styleClass="ui-icon ui-icon-trash"
												action="#{systemEditer.setActionCommand(action)}"
												process="@this"
												oncomplete="deleteActionCommand_dlg.show(); return false;"
												update=":dlg_holder" />
											<p:commandLink style="float:right" title="#{msg['general.edit']}"
												styleClass="ui-icon ui-icon-pencil"
												action="#{systemEditer.setDummyActionCommand(action)}"
												process="@this"
												oncomplete="editActionCommand_dlg.show(); return false;"
												update=":dlg_holder" />
										</p:column>
									</p:dataTable>
								</p:rowExpansion>
							</p:dataTable>
						</p:panel>
					</td>
				</tr>
			</table>
		</h:form>
		<p:outputPanel id="dlg_holder">
			<p:dialog header="#{msg['general.edit']} #{msg['system.action']}" id="editActionCommand_dlg_id"
				widgetVar="editActionCommand_dlg"
				resizable="false" modal="true">
				<h:form id="editActionCommand_form">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<p:outputLabel for="editActionCommand_priority" value="#{msg['system.action.priority']}" />
						<p:inputText id="editActionCommand_priority"
							value="#{systemEditer.dummyActionCommand.priority}" />
						<p:outputLabel for="editActionCommand_script" value="#{msg['system.action.script']}" />
						<p:inputText id="editActionCommand_script"
							value="#{systemEditer.dummyActionCommand.script}" />
						<p:outputLabel for="editActionCommand_timeout" value="#{msg['system.action.timeout']}" />
						<p:inputText id="editActionCommand_timeout"
							value="#{systemEditer.dummyActionCommand.timeout}" />	
						<p:outputLabel for="editActionCommand_outputLimit" value="#{msg['system.action.outputLimit']}" />
						<p:inputText id="editActionCommand_outputLimit"
							value="#{systemEditer.dummyActionCommand.outputLimit}" />	
						<p:outputLabel for="editActionCommand_auto" value="#{msg['system.action.enabled']}" />
						<p:selectBooleanCheckbox id="editActionCommand_auto"
							value="#{systemEditer.dummyActionCommand.enabled}" />	
					</h:panelGrid>
					<p:commandButton id="editActionCommandSubmitBtn"
						icon="ui-icon-check" value="#{msg['general.save']}"
						action="#{systemEditer.editActionCommand}"
						update=":mainForm:eventHandlerTbl "						
						oncomplete="handleEditEventActionRequest(xhr, status, args)" />
					<p:commandButton id="editActionCommandCancelBtn"  type="button"
						icon="ui-icon-close" value="#{msg['general.cancel']}"
						onclick="editActionCommand_dlg.hide(); return false;"
						/>
					<script type="text/javascript">  
					    function handleEditEventActionRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editActionCommand_dlg.show();
					        } else {  
					        	editActionCommand_dlg.hide();
					        }  
					    }  
					</script>	
				</h:form>	
			</p:dialog>
	
			
							
			<p:dialog header="#{msg['general.add']} #{msg['system.action']}" id="newActionCommand_dlg_id"
				widgetVar="newActionCommand_dlg" 
				resizable="false" modal="true">
				<h:form id="addActionCommand_form">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<p:outputLabel for="actionCommand_priority" value="#{msg['system.action.priority']}" />
						<p:inputText id="actionCommand_priority" required="true" value="#{processManageController.actionCommand.priority}" />
						<p:outputLabel for="actionCommand_script" value="#{msg['system.action.script']}" />
						<p:inputText id="actionCommand_script" required="true" requiredMessage="#{msg['system.process.eventHandler.script.required']}" value="#{processManageController.actionCommand.script}" />
						<p:outputLabel for="actionCommand_timeout" value="#{msg['system.action.timeout']}" />
						<p:inputText id="actionCommand_timeout" required="true" value="#{processManageController.actionCommand.timeout}" />
						<p:outputLabel for="actionCommand_outputLimit" value="#{msg['system.action.outputLimit']}" />
						<p:inputText id="actionCommand_outputLimit" required="true" value="#{processManageController.actionCommand.outputLimit}" />		
						<p:outputLabel for="actionCommand_auto" value="#{msg['system.action.enabled']}" />
						<p:selectBooleanCheckbox id="actionCommand_auto" value="#{processManageController.actionCommand.enabled}" />	
					</h:panelGrid>
					<p:commandButton id="actionCommandSubmitBtn" value="#{msg['general.save']}"
						action="#{systemEditer.addActionCommand}" 
						update=":mainForm:eventHandlerTbl"
						oncomplete="handleAddEventActionRequest(xhr, status, args)" />
					<script type="text/javascript">  
					    function handleAddEventActionRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	newActionCommand_dlg.show();
					        } else {  
					        	newActionCommand_dlg.hide();
					        }  
					    }  
					</script>	
				</h:form>	
			</p:dialog>			
			
			<p:dialog
				header="#{msg['general.edit']} #{systemEditer.monitorThresholdConfig.hostMonitorConfig.name.name()} #{msg['system.threshold']}"
				id="editMonitorThreshold_id"
				widgetVar="editMonitorThreshold_dlg" 
				resizable="false" modal="true">
				<h:form id="editMonitorThreshold_form">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<p:outputLabel for="editMonitorThreshold_target" value="#{msg['system.threshold.target']}"
							rendered="#{systemEditer.allowModifyTarget}" />
						<p:inputText id="editMonitorThreshold_target"
							value="#{systemEditer.dummyMonitorThresholdConfig.target}"
							rendered="#{systemEditer.allowModifyTarget}" />
						<p:outputLabel for="editMonitorThreshold_target_display"
							value="#{msg['system.threshold.target']}" rendered="#{!systemEditer.allowModifyTarget and systemEditer.showTarget}" />
						<h:outputText id="editMonitorThreshold_target_display"
							value="#{systemEditer.dummyMonitorThresholdConfig.target}"
							rendered="#{!systemEditer.allowModifyTarget and systemEditer.showTarget}" />
						<p:outputLabel for="editMonitorThreshold_watermark"
							value="#{msg['system.threshold.watermark']}" rendered="#{!systemEditer.inetMonitorSelected}"/>
						<p:inputText id="editMonitorThreshold_watermark"
							value="#{systemEditer.dummyMonitorThresholdConfig.watermark}" rendered="#{!systemEditer.inetMonitorSelected}"/>
						<p:outputLabel for="editMonitorThreshold_viewWatermark"
							value="#{msg['system.threshold.watermark']}" rendered="#{systemEditer.inetMonitorSelected}"/>
						<h:outputText id="editMonitorThreshold_viewWatermark"
							value="#{msg['system.disconnected']}" rendered="#{systemEditer.inetMonitorSelected}"/>						
						<p:outputLabel
							value="#{msg['system.threshold.level']}" />
						<h:outputText
							value="#{systemEditer.dummyMonitorThresholdConfig.level}" rendered="#{!systemEditer.inetMonitorSelected}"/>
						<p:selectOneMenu value="#{systemEditer.dummyMonitorThresholdConfig.level}" rendered="#{systemEditer.inetMonitorSelected}">
							<f:selectItem itemLabel="WARNING" itemValue="WARNING"/>
							<f:selectItem itemLabel="MINOR" itemValue="MINOR"/>
							<f:selectItem itemLabel="MAJOR" itemValue="MAJOR"/>
						</p:selectOneMenu>	
					</h:panelGrid>
					<p:commandButton id="editMonitorThresholdCfmBtn"
						icon="ui-icon-check" value="#{msg['general.save']}" onclick="submit"
						action="#{systemEditer.editMonitorThresholdConfig}" update=":mainForm:hostMonitorTbl"
						oncomplete="editMonitorThreshold_dlg.hide(); return false;"
						/>
					<p:commandButton id="editMonitorThresholdCancelBtn"
						icon="ui-icon-close" value="#{msg['general.cancel']}"  type="button"
						onclick="editMonitorThreshold_dlg.hide(); return false;" />
				</h:form>		
			</p:dialog>

			<p:dialog
				header="#{msg['general.add']} #{systemEditer.monitorThresholdConfig.hostMonitorConfig.name.name()} #{msg['system.threshold']}"
				id="addMonitorThreshold_id"
				widgetVar="addMonitorThreshold_dlg" 
				resizable="false" modal="true">
				<h:form id="addMonitorThreshold_form">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<p:outputLabel for="addMonitorThreshold_target" value="#{msg['system.threshold.target']}" />
						<h:inputText id="addMonitorThreshold_target"
							value="#{systemEditer.monitorThresholdConfig.target}" />
					</h:panelGrid>
					<p:commandButton id="addMonitorThresholdCfmBtn"
						icon="ui-icon-check" value="#{msg['general.save']}" onclick="submit"
						oncomplete="addMonitorThreshold_dlg.hide();"
						action="#{systemEditer.addMonitorThresholdConfig}"
						update=":mainForm:hostMonitorTbl" />
				</h:form>	
			</p:dialog>

			<p:dialog header="#{systemEditer.hostMonitorConfig.name.name()}"
				id="editHostMonitor_id" widgetVar="editHostMonitor_dlg"
				resizable="false" modal="true" >
				<h:form id="editMonitor_form">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<ui:remove>
						<p:outputLabel for="editHostMonitor_interval"
							value="#{msg['system.monitor.intervalInSec']}" />
						<p:inputText id="editHostMonitor_interval"
							value="#{systemEditer.dummyHostMonitorConfig.monitorInterval}" />
						</ui:remove>
						<p:outputLabel for="editHostMonitor_enabled"
							value="#{msg['system.enabled']}" />
						<p:selectBooleanCheckbox id="editHostMonitor_enabled"
							value="#{systemEditer.dummyHostMonitorConfig.enabled}" />	
					</h:panelGrid>
					<p:commandButton id="editHostMonitorCfmBtn" icon="ui-icon-check"
						value="#{msg['general.save']}" onclick="submit"
						action="#{systemEditer.editHostMonitorConfig}" update=":mainForm:hostMonitorTbl"						
						oncomplete="handleEditHostMonitorRequest(xhr, status, args)" />
					<p:commandButton id="editHostMonitorCancelBtn" icon="ui-icon-close"
						value="#{msg['general.cancel']}" onclick="editHostMonitor_dlg.hide(); return false;"
						type="button" />
					<script type="text/javascript">  
					    function handleEditHostMonitorRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editHostMonitor_dlg.show();
					        } else {  
					        	editHostMonitor_dlg.hide();
					        }  
					    }  
					</script>	
				</h:form>	
			</p:dialog>	

			<p:dialog header="#{msg['general.add']} #{msg['system.system']}" widgetVar="addSystem_Dlg"
				resizable="false" modal="true" visible="#{systemEditer.systemTreeEmpty}">
				<h:form id="addSystem_form">
					<p:panel id="newSystemPanel_id"	>
						<h:panelGrid columns="2" style="margin-bottom:10px">
							<p:outputLabel for="system_name" value="#{msg['general.name']}" />
							<p:inputText id="system_name"
								value="#{systemManageController.system.name}" required="#{true}"
								requiredMessage="#{msg['general.namePrompt']}">
								<f:validator validatorId="NameValidator" />
							</p:inputText>	
							<p:outputLabel for="system_desc" value="#{msg['general.desc']}" />
							<p:inputText id="system_desc"
								value="#{systemManageController.system.description}"
								required="#{true}"
								requiredMessage="#{msg['general.descPrompt']}" />
							<p:outputLabel for="system_enabled" value="#{msg['system.enabled']}" />
							<p:selectBooleanCheckbox id="system_enabled"
								value="#{systemManageController.system.enabled}" />
						</h:panelGrid>
						<p:commandButton id="systemSubmitBtn" value="#{msg['general.save']}"
							action="#{systemEditer.addSystem}" update=":mainForm"
							oncomplete="handleAddSystemRequest(xhr, status, args);" />
					</p:panel>
					<script type="text/javascript">  
					    function handleAddSystemRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	addSystem_Dlg.show();
					        } else {  
					        	addSystem_Dlg.hide();
					        }  
					    }  
					</script>
				</h:form>
			</p:dialog>
	
							

			<p:dialog header="#{msg['general.edit']} #{msg['system.system']}" id="editSystem_dlg_id"
				widgetVar="editSystem_dlg" resizable="false">
				<h:form id="editSystem_form">
					<p:panel rendered="#{systemEditer.systemSelected}">
						<h:panelGrid columns="2" style="margin-bottom:10px">
							<p:outputLabel for="editSystem_name" value="#{msg['general.name']}" />
							<p:inputText id="editSystem_name"
								value="#{systemEditer.dummySystem.name}" required="true"
								requiredMessage="#{msg['general.namePrompt']}" >
								<f:validator validatorId="NameValidator" />
							</p:inputText>	
							<p:outputLabel for="editSystem_desc" value="#{msg['general.desc']}" />
							<p:inputText id="editSystem_desc"
								value="#{systemEditer.dummySystem.description}" required="true"
								requiredMessage="#{msg['general.descPrompt']}" />
							<p:outputLabel for="editSystem_enabled" value="#{msg['system.enabled']}" />
							<p:selectBooleanCheckbox id="editSystem_enabled"
								value="#{systemEditer.dummySystem.enabled}" />
						</h:panelGrid>
						<p:commandButton id="editSystemCfmBtn" icon="ui-icon-check"
							value="#{msg['general.save']}" onclick="submit" action="#{systemEditer.editSystem}"
							update=":mainForm" 
							oncomplete="handleEditSystemRequest(xhr, status, args)"
							/>
						<p:commandButton id="editSystemCancelBtn" icon="ui-icon-close"
							value="#{msg['general.cancel']}" onclick="editSystem_dlg.hide(); return false;"
							type="button"/>
					</p:panel>
					<script type="text/javascript">  
					    function handleEditSystemRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editSystem_dlg.show();
					        } else {  
					        	editSystem_dlg.hide();
					        }  
					    }  
					</script>
				</h:form>	
			</p:dialog>
			
			<!-- right click the tree in the left side panel -->
			<p:dialog header="#{systemEditer.newNodeHeader}"
				widgetVar="addNode_Dlg" 
				resizable="false" modal="true">
				<h:form id="newNode_form">
					<p:panel id="newHostPanel_id"
						rendered="#{systemEditer.systemSelected}">
						<p:outputPanel id="newHost_holder_upper">
							<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">
								<p:outputLabel for="host_name" value="#{msg['general.name']}" />
								<p:inputText id="host_name"
									value="#{hostManageController.host.name}" required="true"
									requiredMessage="#{msg['general.namePrompt']}" >
									<f:validator validatorId="NameValidator" />
								</p:inputText>	
								<p:outputLabel for="host_desc" value="#{msg['general.desc']}" />
								<p:inputText id="host_desc"
									value="#{hostManageController.host.description}" required="true"
									requiredMessage="#{msg['general.descPrompt']}" />
								<p:outputLabel for="host_ip" value="#{msg['system.host.ip']}" />
								<p:inputText id="host_ip"
									value="#{hostManageController.host.ipAddr}" required="true"
									requiredMessage="#{msg['system.host.ipPrompt']}">
									<f:validator validatorId="IPValidator" />
								</p:inputText>
								<p:outputLabel for="host_site" value="#{msg['system.host.site']}" />
								<p:selectOneMenu id="host_site"
									value="#{hostManageController.selectedSite}">
									<f:selectItems itemLabel="#{site.siteName}" itemValue="#{site}" value="#{systemEditer.sites}" var="site" />
									<f:converter converterId="SiteConverter" />
								</p:selectOneMenu>														
								<p:outputLabel for="host_monitor_type" value="#{msg['system.host.type']}" />
								<p:selectOneMenu id="host_monitor_type"
									value="#{hostManageController.host.type}">
									<f:selectItem itemLabel="#{msg['system.host.type.agent']}" itemValue="SCRIPT" />
									<f:selectItem itemLabel="#{msg['system.host.type.snmp']}" itemValue="SNMP" />
									<f:selectItem itemLabel="#{msg['system.host.type.both']}" itemValue="BOTH" />
									<p:ajax update="newHost_holder_middle" />
								</p:selectOneMenu>
								<p:outputLabel for="host_role" value="#{msg['system.host.role']}" />
								<p:selectOneMenu id="host_role"
									value="#{hostManageController.host.role}">
									<f:selectItem itemLabel="ACTIVE" itemValue="ACTIVE" />
									<f:selectItem itemLabel="STANDBY" itemValue="STANDBY" />
								</p:selectOneMenu>								
								<p:outputLabel for="host_enabled" value="#{msg['system.enabled']}" />
								<p:selectBooleanCheckbox id="host_enabled"
									value="#{hostManageController.host.enabled}" />
							</h:panelGrid>	
						</p:outputPanel>
						<p:outputPanel id="newHost_holder_middle">
							<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">
								<p:outputLabel for="host_jmx_port" value="#{msg['system.host.agent.port']}"
									rendered="#{hostManageController.host.type!='SNMP'}"/>
								<p:inputText id="host_jmx_port"
									value="#{hostManageController.host.agentJmxPort}"
									required="true" requiredMessage="#{msg['general.portPrompt']}"
									rendered="#{hostManageController.host.type!='SNMP'}">
									<f:validator validatorId="PortValidator" />	
								</p:inputText>	
							</h:panelGrid>	
						</p:outputPanel>
						<p:commandButton id="hostSubmitBtn" value="#{msg['general.save']}"
							action="#{systemEditer.addHost}"
							update=":mainForm" oncomplete="handleAddNodeRequest(xhr, status, args);" />
					</p:panel>
					<p:panel id="newProcessPanel_id"
						rendered="#{systemEditer.hostSelected}">
						<h:panelGrid columns="2" style="margin-bottom:10px">
							<p:outputLabel for="process_name" value="#{msg['general.name']}" />
							<p:inputText id="process_name"
								value="#{processManageController.process.name}" required="true"
								requiredMessage="#{msg['general.namePrompt']}" >
								<f:validator validatorId="NameValidator" />
							</p:inputText>	
							<p:outputLabel for="process_desc" value="#{msg['general.desc']}" />
							<p:inputText id="process_desc"
								value="#{processManageController.process.description}"
								required="true"
								requiredMessage="#{msg['general.descPrompt']}" />						
							<p:outputLabel for="process_pidPath" value="#{msg['system.process.pidPath']}"/>
							<p:inputText id="process_pidPath"
								value="#{processManageController.process.pidPath}"
								required="true" requiredMessage="#{msg['system.process.pidPathPrompt']}"/>
							<p:outputLabel for="process_adminLink" value="#{msg['system.process.adminLink']}" />
							<p:inputText id="process_adminLink"
								value="#{processManageController.process.adminLink}" />	
								
							<p:outputLabel for="process_enabled" value="#{msg['system.enabled']}" />
							<p:selectBooleanCheckbox id="process_enabled"
								value="#{processManageController.process.enabled}" />
						</h:panelGrid>
						<p:commandButton id="processSubmitBtn" value="#{msg['general.save']}"
							action="#{systemEditer.addProcess}" update=":mainForm"
							oncomplete="handleAddNodeRequest(xhr, status, args);" />
					</p:panel>
					<p:panel rendered="#{systemEditer.processSelected}">
						<h:outputText
							value="Please use section on right for adding configs for process" />
					</p:panel>
					<script type="text/javascript">  
					    function handleAddNodeRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	addNode_Dlg.show();
					        } else {  
					        	addNode_Dlg.hide();
					        }  
					    }  
					</script>
				</h:form>	
			</p:dialog>	

			<p:confirmDialog id="delActionCommandDlg"
				message="#{msg['general.confirmPrompt']}"
				header="#{msg['general.delete']} #{msg['system.action']}" severity="alert"
				widgetVar="deleteActionCommand_dlg">
				<h:form id="deleteActionCommand_form">
					<p:commandButton id="deleteActionCommand_confirm" value="#{msg['general.yes']}"
						update=":mainForm" oncomplete="deleteActionCommand_dlg.hide()"
						action="#{systemEditer.deleteActionCommand}" />
					<p:commandButton id="deleteActionCommand_decline" value="#{msg['general.no']}"
						onclick="deleteActionCommand_dlg.hide()" type="button" />
				</h:form>	
			</p:confirmDialog>

			<p:confirmDialog id="delSystemConfirmDlg"
				message="#{msg['general.confirmPrompt']}"
				header="#{msg['general.delete']} #{msg['system.system']}" severity="alert" widgetVar="delSystem_dlg">
				<h:form id="deleteSystem_form">
					<p:commandButton id="delSystem_confirm" value="#{msg['general.yes']}" update=":mainForm"
						oncomplete="delSystem_dlg.hide()"
						action="#{systemEditer.deleteSystem}" />
					<p:commandButton id="delSystem_decline" value="#{msg['general.no']}"
						onclick="delSystem_dlg.hide()" type="button" />
				</h:form>	
			</p:confirmDialog>
			
			<p:confirmDialog id="delHostConfirmDlg"
				message="#{msg['system.host.deletePrompt']}"
				header="#{msg['general.delete']} #{msg['system.host']}" severity="alert" widgetVar="delHost_dlg">
				<h:form id="deleteHost_form">
					<p:commandButton id="delHost_confirm" value="#{msg['general.yes']}" update=":mainForm"
						oncomplete="delHost_dlg.hide()"
						action="#{systemEditer.deleteHost}" />
					<p:commandButton id="delHost_decline" value="#{msg['general.no']}"
						onclick="delHost_dlg.hide()" type="button" />
				</h:form>	
			</p:confirmDialog>
			
			<p:confirmDialog id="initStat_dlg_id"
				message="#{msg['system.host.initRrd.confirm']}"
				header="#{msg['system.host.initRrd.title']}" severity="alert" widgetVar="initStat_dlg">	
				<h:form id="initStat_form">				
					<p:commandButton id="confirm" value="#{msg['general.yes']}"
						oncomplete="initStat_dlg.hide()"
						action="#{systemEditer.initRrdDB()}" />
					<p:commandButton id="decline" value="#{msg['general.no']}"
					onclick="initStat_dlg.hide()" type="button" />
				</h:form>					
			</p:confirmDialog>
			
			<p:confirmDialog id="delProcessConfirmDlg"
				message="#{msg['general.confirmPrompt']}"
				header="#{msg['general.delete']} #{msg['system.process']}" severity="alert" widgetVar="delProcess_dlg">
				<h:form id="deleteProcess_form">
					<p:commandButton id="delProcess_confirm" value="#{msg['general.yes']}" update=":mainForm"
						oncomplete="delProcess_dlg.hide()" 
						action="#{systemEditer.deleteProcess}" />
					<p:commandButton id="delProcess_decline" value="#{msg['general.no']}"
						onclick="delProcess_dlg.hide()" type="button" />
				</h:form>	
			</p:confirmDialog>
			
			<p:dialog header="#{msg['general.edit']} #{msg['system.process']}" id="editProcess_dlg_id"
				widgetVar="editProcess_dlg" resizable="false" modal="true">
				<h:form id="editProcess_form">
					<p:panel rendered="#{systemEditer.processSelected}">
						<h:panelGrid columns="2" style="margin-bottom:10px">
							<p:outputLabel for="editProcess_name" value="#{msg['general.name']}" />
							<p:inputText id="editProcess_name"
								value="#{systemEditer.dummyProcess.name}" required="true"
								requiredMessage="#{msg['general.namePrompt']}" >
								<f:validator validatorId="NameValidator" />
							</p:inputText>	
							<p:outputLabel for="editProcess_desc" value="#{msg['general.desc']}" />
							<p:inputText id="editProcess_desc"
								value="#{systemEditer.dummyProcess.description}" required="true"
								requiredMessage="#{msg['general.descPrompt']}" />
							<p:outputLabel for="editProcess_pidPath" value="#{msg['system.process.pidPath']}"/>
							<p:inputText id="editProcess_pidPath"
								value="#{systemEditer.dummyProcess.pidPath}"
								required="true" requiredMessage="#{msg['system.process.pidPathPrompt']}"/>
							<p:outputLabel for="editProcess_adminLink" value="#{msg['system.process.adminLink']}" />
							<p:inputText id="editProcess_adminLink"
								value="#{systemEditer.dummyProcess.adminLink}" />
							<p:outputLabel for="editProcess_enabled" value="#{msg['system.enabled']}" />
							<p:selectBooleanCheckbox id="editProcess_enabled"
								value="#{systemEditer.dummyProcess.enabled}" />
						</h:panelGrid>
						<p:commandButton id="editProcessCfmBtn" icon="ui-icon-check"
							value="#{msg['general.save']}" onclick="submit"
							oncomplete="handleEditProcessRequest(xhr, status, args);"
							action="#{systemEditer.editProcess}" update=":mainForm" />
						<p:commandButton id="editProcessCancelBtn" icon="ui-icon-close"
							value="#{msg['general.cancel']}" onclick="editProcess_dlg.hide(); return false;"
							type="button"/>
					</p:panel>
					<script type="text/javascript">  
					    function handleEditProcessRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editProcess_dlg.show();
					        } else {  
					        	editProcess_dlg.hide();
					        }  
					    }  
					</script>
				</h:form>
			</p:dialog>
			
			<p:dialog header="#{msg['general.edit']} #{msg['system.host']}" id="editHost_dlg_id"
				widgetVar="editHost_dlg" resizable="false" modal="true">
				<h:form id="editHost_form">
					<p:panel rendered="#{systemEditer.hostSelected}">
						<p:outputPanel id="editHost_holder_upper">
							<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">
								<p:outputLabel for="editHost_name" value="#{msg['general.name']}" />
								<p:inputText id="editHost_name"
									value="#{systemEditer.dummyHost.name}" required="true"
									requiredMessage="#{msg['general.namePrompt']}" >
									<f:validator validatorId="NameValidator" />
								</p:inputText>	
								<p:outputLabel for="editHost_desc" value="#{msg['general.desc']}" />
								<p:inputText id="editHost_desc"
									value="#{systemEditer.dummyHost.description}" required="true"
									requiredMessage="#{msg['general.descPrompt']}" />
								<p:outputLabel for="editHost_ip" value="#{msg['system.host.ip']}" />
								<p:inputText id="editHost_ip"
									value="#{systemEditer.dummyHost.ipAddr}" required="true"
									requiredMessage="#{msg['system.host.ipPrompt']}">
									<f:validator validatorId="IPValidator" />
								</p:inputText>
								<p:outputLabel for="editHost_site" value="#{msg['system.host.site']}" />
								<p:selectOneMenu id="editHost_site"
									value="#{systemEditer.selectedSite}">
									<f:selectItems itemLabel="#{site.siteName}" itemValue="#{site}" value="#{systemEditer.sites}" var="site" />
									<f:converter converterId="SiteConverter" />
								</p:selectOneMenu>								
								<p:outputLabel for="editHost_monitor_type" value="#{msg['system.host.type']}" />
								<p:selectOneMenu id="editHost_monitor_type"
									value="#{systemEditer.dummyHost.type}">
									<p:ajax update="editHost_holder_lower, editHost_holder_middle"/>
									<f:selectItem itemLabel="#{msg['system.host.type.agent']}" itemValue="SCRIPT" />
									<f:selectItem itemLabel="#{msg['system.host.type.snmp']}" itemValue="SNMP" />
									<f:selectItem itemLabel="#{msg['system.host.type.both']}" itemValue="BOTH" />
								</p:selectOneMenu>
								<p:outputLabel for="editHost_role" value="#{msg['system.host.role']}" />
								<p:selectOneMenu id="editHost_role"
									value="#{systemEditer.dummyHost.role}">
									<f:selectItem itemLabel="ACTIVE" itemValue="ACTIVE" />
									<f:selectItem itemLabel="STANDBY" itemValue="STANDBY" />
								</p:selectOneMenu>
									
								<p:outputLabel for="editHost_enabled" value="#{msg['system.enabled']}" />
								<p:selectBooleanCheckbox id="editHost_enabled"
									value="#{systemEditer.dummyHost.enabled}" />
							</h:panelGrid>
						</p:outputPanel>
						<p:outputPanel id="editHost_holder_middle">
							<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">		
								<p:outputLabel for="editHost_jmx_port" value="#{msg['system.host.agent.port']}" 
									rendered="#{systemEditer.dummyHost.type != 'SNMP'}"/>
								<p:inputText id="editHost_jmx_port"
									value="#{systemEditer.dummyHost.agentJmxPort}"
									rendered="#{systemEditer.dummyHost.type != 'SNMP'}">
									<f:validator validatorId="PortValidator" />
								</p:inputText>
							</h:panelGrid>
						</p:outputPanel>
						<p:outputPanel id="editHost_holder_lower">
							
						</p:outputPanel>	
						<p:commandButton id="editHostCfmBtn" icon="ui-icon-check"
							value="#{msg['general.save']}" onclick="submit" action="#{systemEditer.editHost}"
							oncomplete="handleEditHostRequest(xhr, status, args)"
							update=":mainForm" />
						<p:commandButton id="editHostCancelBtn" icon="ui-icon-close"
							value="#{msg['general.cancel']}" onclick="editHost_dlg.hide(); return false;"
							type="button"/>
					</p:panel>
					<script type="text/javascript">  
					    function handleEditHostRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editHost_dlg.show();
					        } else {  
					        	editHost_dlg.hide();
					        }  
					    }  
					</script>
				</h:form>	
			</p:dialog>
			
			<p:dialog header="#{msg['general.add']} #{msg['snmp.config']}" id="addSnmp_dlg_id"
				widgetVar="addSnmp_dlg" resizable="false" modal="true">
				<h:form id="addSnmp_form">
					<p:panel rendered="#{systemEditer.hostSelected}">
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">	
							<p:outputLabel for="addSnmp_name" value="#{msg['general.name']}" />
							<p:inputText id="addSnmp_name" value="#{systemEditer.snmpConfig.name}" required="true"
							requiredMessage="#{msg['general.namePrompt']}" />
							<p:outputLabel for="addSnmp_port" value="#{msg['snmp.port']}"/>
							<p:inputText id="addSnmp_port"
								value="#{systemEditer.snmpConfig.port}"  required="true"
							requiredMessage="#{msg['snmp.portPrompt']}">
								<f:validator validatorId="PortValidator" />
							</p:inputText>
							<p:outputLabel for="addSnmp_targetType" value="#{msg['snmp.type']}" />
							<p:selectOneMenu id="addSnmp_targetType"
								value="#{systemEditer.snmpConfig.targetType}">
								<f:selectItem itemLabel="HOST" itemValue="HOST" />
								<f:selectItem itemLabel="APP" itemValue="APP" />
							</p:selectOneMenu>	
							<p:outputLabel for="addSnmp_version" value="#{msg['snmp.version']}" />
							<p:selectOneMenu id="addSnmp_version"
								value="#{systemEditer.snmpConfig.version}">
								<p:ajax update="addSnmp_bottom_pnl"/>
								<f:selectItem itemLabel="SNMPV1" itemValue="SNMPV1" />
								<f:selectItem itemLabel="SNMPV2" itemValue="SNMPV2" />
								<f:selectItem itemLabel="SNMPV3" itemValue="SNMPV3" />
							</p:selectOneMenu>	
							<p:outputLabel for="addSnmp_mibNames" value="#{msg['snmp.mib']}" />
							<p:selectCheckboxMenu id="addSnmp_mibNames"
								value="#{systemEditer.selectedMibNames}">
								<f:selectItems value="#{systemEditer.mibNameList}" />
							</p:selectCheckboxMenu>					
						</h:panelGrid>
						<p:outputPanel id="addSnmp_bottom_pnl">
							<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">	
								<p:outputLabel for="addSnmp_community_get" value="#{msg['snmp.community.get']}"
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV2' or systemEditer.snmpConfig.version == 'SNMPV1'}" />
								<p:inputText id="addSnmp_community_get"
									value="#{systemEditer.snmpConfig.communityGet}"
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV2' or systemEditer.snmpConfig.version == 'SNMPV1'}">
								</p:inputText>
								<!--  TODO take the outputPanel out when Community(SET) is needed again -->
								<p:outputPanel rendered="false">
	 								<p:outputLabel for="addSnmp_community_set" value="#{msg['snmp.community.set']}"
										rendered="#{systemEditer.snmpConfig.version == 'SNMPV2' or systemEditer.snmpConfig.version == 'SNMPV1'}" />
									<p:inputText id="addSnmp_community_set"
										value="#{systemEditer.snmpConfig.communitySet}"
										rendered="#{systemEditer.snmpConfig.version == 'SNMPV2' or systemEditer.snmpConfig.version == 'SNMPV1'}">
									</p:inputText>
								</p:outputPanel>
								<p:outputLabel for="addSnmp_engineId" value="#{msg['snmp.engineId']}" 
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}"/>
								<p:inputText id="addSnmp_engineId"
									value="#{systemEditer.snmpConfig.engineId}"
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
								</p:inputText>
								<p:outputLabel for="addSnmp_username" value="#{msg['snmp.username']}" 
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}"/>
								<p:inputText id="addSnmp_username"
									value="#{systemEditer.snmpConfig.username}"
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
								</p:inputText>
								<p:outputLabel for="addSnmp_authPassword" value="#{msg['snmp.auth.password']}" 
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}"/>
								<p:password id="addSnmp_authPassword"
									value="#{systemEditer.snmpConfig.authPassword}"
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
								</p:password>
								<p:outputLabel for="addSnmp_authProtocol" value="#{msg['snmp.auth.protocol']}" 
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}"/>
								<p:selectOneMenu id="addSnmp_authProtocol"
									value="#{systemEditer.snmpConfig.auth}"
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
									<f:selectItem itemLabel="" itemValue="NONE" />
									<f:selectItem itemLabel="MD5" itemValue="MD5" />
									<f:selectItem itemLabel="SHA" itemValue="SHA" />
								</p:selectOneMenu>							
								<p:outputLabel for="addSnmp_privPassword" value="#{msg['snmp.priv.password']}" 
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}" />
								<p:password id="addSnmp_privPassword"
									value="#{systemEditer.snmpConfig.privPassword}"
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
								</p:password>
								<p:outputLabel for="addSnmp_privProtocol" value="#{msg['snmp.priv.protocol']}"  
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}"/>
								<p:selectOneMenu id="addSnmp_privProtocol"
									value="#{systemEditer.snmpConfig.priv}"
									rendered="#{systemEditer.snmpConfig.version == 'SNMPV3'}">
									<f:selectItem itemLabel="" itemValue="NONE" />
									<f:selectItem itemLabel="DES" itemValue="DES" />
									<f:selectItem itemLabel="3DES" itemValue="TRIPLE_DES" />
									<f:selectItem itemLabel="AES128" itemValue="AES128" />
									<f:selectItem itemLabel="AES192" itemValue="AES192" />
									<f:selectItem itemLabel="AES256" itemValue="AES256" />
								</p:selectOneMenu>								
							</h:panelGrid>
						</p:outputPanel>
						<p:commandButton id="addSnmpCfmBtn" icon="ui-icon-check"
							value="#{msg['general.save']}" onclick="submit" action="#{systemEditer.addSnmp}"
							oncomplete="handleAddSNMPRequest(xhr, status, args)"
							update=":mainForm" />
						<p:commandButton id="addSnmpCancelBtn" icon="ui-icon-close" type="button"
							value="#{msg['general.cancel']}" onclick="addSnmp_dlg.hide(); return false;"/>
					</p:panel>				
					<script type="text/javascript">  
					    function handleAddSNMPRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	addSnmp_dlg.show();
					        } else {  
					        	addSnmp_dlg.hide();
					        }  
					    }  
					</script>
				</h:form>
			</p:dialog>
			
			<p:dialog header="#{msg['general.edit']} #{msg['snmp.config']}" id="editSnmp_dlg_id"
				widgetVar="editSnmp_dlg" resizable="false"  modal="true">
				<h:form id="editSnmp_form">
					<p:panel rendered="#{systemEditer.hostSelected}">
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">	
							<p:outputLabel for="editSnmp_name" value="#{msg['general.name']}" />
							<p:inputText id="editSnmp_name" value="#{systemEditer.dummySnmpConfig.name}" required="true"
							requiredMessage="#{msg['general.namePrompt']}" />
							<p:outputLabel for="editSnmp_port" value="#{msg['snmp.port']}" />
							<p:inputText id="editSnmp_port"
								value="#{systemEditer.dummySnmpConfig.port}" required="true"
								requiredMessage="#{msg['snmp.portPrompt']}">
								<f:validator validatorId="PortValidator" />
							</p:inputText>
							<p:outputLabel for="editSnmp_targetType" value="#{msg['snmp.type']}" />
							<p:selectOneMenu id="editSnmp_targetType"
								value="#{systemEditer.dummySnmpConfig.targetType}">
								<f:selectItem itemLabel="HOST" itemValue="HOST" />
								<f:selectItem itemLabel="APP" itemValue="APP" />
							</p:selectOneMenu>	
							<p:outputLabel for="editSnmp_version" value="#{msg['snmp.version']}" />
							<p:selectOneMenu id="editSnmp_version"
								value="#{systemEditer.dummySnmpConfig.version}">
								<p:ajax update="editSnmp_bottom_pnl"/>
								<f:selectItem itemLabel="SNMPV1" itemValue="SNMPV1" />
								<f:selectItem itemLabel="SNMPV2" itemValue="SNMPV2" />
								<f:selectItem itemLabel="SNMPV3" itemValue="SNMPV3" />
							</p:selectOneMenu>
							<p:outputLabel for="editSnmp_mibNames" value="#{msg['snmp.mib']}" />
							<p:selectCheckboxMenu id="editSnmp_mibNames"
								value="#{systemEditer.selectedMibNames}">
								<f:selectItems value="#{systemEditer.mibNameList}" />
							</p:selectCheckboxMenu>						
						</h:panelGrid>
						<p:outputPanel id="editSnmp_bottom_pnl">
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">	
							<p:outputLabel for="editSnmp_community_get" value="#{msg['snmp.community.get']}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV2' or systemEditer.dummySnmpConfig.version == 'SNMPV1'}" />
							<p:inputText id="editSnmp_community_get"
								value="#{systemEditer.dummySnmpConfig.communityGet}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV2' or systemEditer.dummySnmpConfig.version == 'SNMPV1'}">
							</p:inputText>
							<!--  TODO take the outputPanel out when Community(SET) is needed again -->
							<p:outputPanel rendered="false">
								<p:outputLabel for="editSnmp_community_set" value="#{msg['snmp.community.set']}"
									rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV2' or systemEditer.dummySnmpConfig.version == 'SNMPV1'}" />
								<p:inputText id="editSnmp_community_set"
									value="#{systemEditer.dummySnmpConfig.communitySet}"
									rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV2' or systemEditer.dummySnmpConfig.version == 'SNMPV1'}">
								</p:inputText>
							</p:outputPanel>
							<p:outputLabel for="editSnmp_engineId" value="#{msg['snmp.engineId']}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}"/>
							<p:inputText id="editSnmp_engineId"
								value="#{systemEditer.dummySnmpConfig.engineId}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
							</p:inputText>
							<p:outputLabel for="editSnmp_username" value="#{msg['snmp.username']}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}"/>
							<p:inputText id="editSnmp_username"
								value="#{systemEditer.dummySnmpConfig.username}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
							</p:inputText>
							<p:outputLabel for="editSnmp_authPassword" value="#{msg['snmp.auth.password']}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}"/>
							<p:password id="editSnmp_authPassword" redisplay="true"
								value="#{systemEditer.dummySnmpConfig.authPassword}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
							</p:password>
							<p:outputLabel for="editSnmp_authProtocol" value="#{msg['snmp.auth.protocol']}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}"/>
							<p:selectOneMenu id="editSnmp_authProtocol"
								value="#{systemEditer.dummySnmpConfig.auth}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
								<f:selectItem itemLabel="" itemValue="NONE" />
								<f:selectItem itemLabel="MD5" itemValue="MD5" />
								<f:selectItem itemLabel="SHA" itemValue="SHA" />
							</p:selectOneMenu>							
							<p:outputLabel for="editSnmp_privPassword" value="#{msg['snmp.priv.password']}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}" />
							<p:password id="editSnmp_privPassword" redisplay="true"
								value="#{systemEditer.dummySnmpConfig.privPassword}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
							</p:password>
							<p:outputLabel for="editSnmp_privProtocol" value="#{msg['snmp.priv.protocol']}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}"/>
							<p:selectOneMenu id="editSnmp_privProtocol"
								value="#{systemEditer.dummySnmpConfig.priv}"
								rendered="#{systemEditer.dummySnmpConfig.version == 'SNMPV3'}">
								<f:selectItem itemLabel="" itemValue="NONE" />
								<f:selectItem itemLabel="DES" itemValue="DES" />
								<f:selectItem itemLabel="3DES" itemValue="TRIPLE_DES" />
								<f:selectItem itemLabel="AES128" itemValue="AES128" />
								<f:selectItem itemLabel="AES192" itemValue="AES192" />
								<f:selectItem itemLabel="AES256" itemValue="AES256" />
							</p:selectOneMenu>								
						</h:panelGrid>
						</p:outputPanel>
						<p:commandButton id="editSnmpCfmBtn" icon="ui-icon-check"
							value="#{msg['general.save']}" onclick="submit" action="#{systemEditer.editSnmp}"
							oncomplete="handleEditSNMPRequest(xhr, status, args)"
							update=":mainForm" />
						<p:commandButton id="editSnmpCancelBtn" icon="ui-icon-close" type="button"
							value="#{msg['general.cancel']}" onclick="editSnmp_dlg.hide(); return false;"/>
					</p:panel>	
					<script type="text/javascript">  
					    function handleEditSNMPRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editSnmp_dlg.show();
					        } else {  
					        	editSnmp_dlg.hide();
					        }  
					    }  
					</script>	
				</h:form>			
			</p:dialog>
			
			<p:dialog header="#{msg['general.add']} #{msg['inet.category']}" id="addInetCategory_dlg_id"
				widgetVar="addInetCategory_dlg" resizable="false"  modal="true"	>
				<h:form id="addInetCategory_form">
					<p:panel rendered="#{systemEditer.hostSelected}">
						<h:panelGrid columns="2" style="margin-bottom:10px">
							<p:outputLabel for="addInetCategory_name" value="#{msg['general.name']}" />
							<p:inputText id="addInetCategory_name"
								value="#{systemEditer.inetCategory.name}" required="true"
								requiredMessage="#{msg['general.namePrompt']}" />							
						</h:panelGrid>
						<p:commandButton id="addInetCategoryCfmBtn" icon="ui-icon-check"
							value="#{msg['general.save']}"  onclick="submit" action="#{systemEditer.addInetCategory}"
							oncomplete="addInetCategory_dlg.hide(); return false;"
							update=":mainForm" />
						<p:commandButton id="addInetCategoryCancelBtn" icon="ui-icon-close" type="button"
							value="#{msg['general.cancel']}"  onclick="addInetCategory_dlg.hide(); return false;"/>
					</p:panel>
				</h:form>
			</p:dialog>
			<p:dialog header="#{msg['general.edit']} #{msg['inet.category']}" id="editInetCategory_dlg_id"
				widgetVar="editInetCategory_dlg" resizable="false" modal="true"	>
				<h:form id="editInetCategory_form">
					<p:panel rendered="#{systemEditer.hostSelected}">
						<h:panelGrid columns="2" style="margin-bottom:10px">
							<p:outputLabel for="editInetCategory_name" value="#{msg['general.name']}"  />
							<p:inputText id="editInetCategory_name"
								value="#{systemEditer.dummyInetCategory.name}" required="true"
								requiredMessage="#{msg['general.namePrompt']}"  />							
						</h:panelGrid>
						<p:commandButton id="editInetCategoryCfmBtn" icon="ui-icon-check"
							value="#{msg['general.save']}"  onclick="submit" action="#{systemEditer.editInetCategory}"
							oncomplete="editInetCategory_dlg.hide(); return false;"
							update=":mainForm" />
						<p:commandButton id="editInetCategoryCancelBtn" icon="ui-icon-close" type="button"
							value="#{msg['general.cancel']}"  onclick="editInetCategory_dlg.hide(); return false;"/>
					</p:panel>
				</h:form>	
			</p:dialog>
			<p:dialog header="#{msg['general.add']} #{msg['inet.inet']}" id="addInet_dlg_id"
				widgetVar="addInet_dlg" resizable="false" modal="true">
				<h:form id="addInet_form">
					<p:panel rendered="#{systemEditer.hostSelected}">
						<h:panelGrid columns="2" style="margin-bottom:10px">
							<p:outputLabel for="addInet_defaultName" value="#{msg['inet.defaultName']}" />
							<p:inputText id="addInet_defaultName"
								value="#{systemEditer.inet.defaultName}" required="true"
								requiredMessage="#{msg['inet.defaultNamePrompt']}" />	
							<p:outputLabel for="addInet_label" value="#{msg['inet.displayedName']}" />
							<p:inputText id="addInet_label"
								value="#{systemEditer.inet.label}" required="true"
								requiredMessage="#{msg['inet.displayedNamePrompt']}" />								
						</h:panelGrid>
						<p:commandButton id="addInetCfmBtn" icon="ui-icon-check"
							value="#{msg['general.save']}" onclick="submit" action="#{systemEditer.addInet}"	
							oncomplete="addInet_dlg.hide(); return false;"						
							update=":mainForm" />
						<p:commandButton id="addInetCancelBtn" icon="ui-icon-close" type="button"
							value="#{msg['general.cancel']}" onclick="addInet_dlg.hide(); return false;"/>
					</p:panel>
				</h:form>
			</p:dialog>
			<p:dialog header="#{msg['general.edit']} #{msg['inet.inet']}" id="editInet_dlg_id"
				widgetVar="editInet_dlg" resizable="false"  modal="true">
				<h:form id="editInet_form">
					<p:panel rendered="#{systemEditer.hostSelected}">
						<h:panelGrid columns="2" style="margin-bottom:10px">
							<p:outputLabel for="editInet_defaultName" value="#{msg['inet.defaultName']}" />
							<p:inputText id="editInet_defaultName"
								value="#{systemEditer.dummyInet.defaultName}" required="true"
								requiredMessage="#{msg['inet.defaultNamePrompt']}" />	
							<p:outputLabel for="editInet_label" value="#{msg['inet.displayedName']}" />
							<p:inputText id="editInet_label"
								value="#{systemEditer.dummyInet.label}" required="true"
								requiredMessage="#{msg['inet.displayedNamePrompt']}" />								
						</h:panelGrid>
						<p:commandButton id="editInetCfmBtn" icon="ui-icon-check"
							value="#{msg['general.save']}" onclick="submit" action="#{systemEditer.editInet}"
							oncomplete="editInet_dlg.hide(); return false;"										
							update=":mainForm" />
						<p:commandButton id="editInetCancelBtn" icon="ui-icon-close" type="button"
							value="#{msg['general.cancel']}" onclick="editInet_dlg.hide(); return false;"/>
					</p:panel>
				</h:form>
			</p:dialog>
		</p:outputPanel>
		
	</ui:define>
</ui:composition>