<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/master.xhtml">

	<ui:define name="title"> 
	#{msg['main.title']} - #{msg['alarm.config.title']}          
</ui:define>

	<ui:define name="pageTitle">
	#{msg['alarm.config.title']}
</ui:define>

	<ui:define name="content">

		<h:form id="mainForm">
			<p:growl id="growl" globalOnly="false" autoUpdate="true" />

			<!-- dialogs -->
			<!-- Alarm Status -->
			<p:dialog id="dlgEditAlarmStatus" widgetVar="dlg_editAlarmStatus"
				header="#{msg['general.addEdit']} #{msg['alarm.config.status']}"
				modal="true" resizable="false">
				<h:panelGrid columns="2"
					rendered="#{alarmStatusConfigController.selectedAlarmStatus != null}">
					<h:outputText value="#{msg['alarm.config.status.name']}" />
					<p:inputText
						value="#{alarmStatusConfigController.selectedAlarmStatus.name}"
						disabled="#{! empty alarmStatusConfigController.selectedAlarmStatus.name}" />

					<h:outputText value="#{msg['alarm.config.status.category']}" />
					<p:selectOneMenu
						value="#{alarmStatusConfigController.selectedAlarmStatus.category}">
						<f:selectItems value="#{alarmStatusConfigController.statusCats}"
							var="cat" itemLabel="#{cat.name()}" itemValue="#{cat}" />
					</p:selectOneMenu>

					<h:outputText value="#{msg['alarm.config.status.color']}" />
					<p:selectOneMenu
						value="#{alarmStatusConfigController.selectedAlarmStatus.textColor}">
						<f:selectItems value="#{alarmStatusConfigController.textColors}"
							var="color" itemLabel="#{color.name()}" itemValue="#{color}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<br />
				<p:commandButton id="btnSaveAlarmStatus"
					value="#{msg['general.save']}"
					action="#{alarmStatusConfigController.saveAlarmStatus}"
					process="@parent" update=":mainForm:tblAlarmStatus"
					oncomplete="dlg_editAlarmStatus.hide()" icon="ui-icon-check" />
				<p:commandButton value="#{msg['general.cancel']}" type="button"
					onclick="dlg_editAlarmStatus.hide()" icon="ui-icon-close" />
			</p:dialog>

			<p:confirmDialog id="cdDeleteAlarmStatus"
				widgetVar="cd_deleteAlarmStatus" severity="info"
				header="#{msg['general.delete.header']}"
				message="#{msg['general.delete.confirm']} [#{alarmStatusConfigController.selectedAlarmStatus.name}]?">
				<p:commandButton value="#{msg['general.yes']}"
					action="#{alarmStatusConfigController.deleteAlarmStatus}"
					process="@parent" update=":mainForm:tblAlarmStatus"
					oncomplete="cd_deleteAlarmStatus.hide()" icon="ui-icon-check" />
				<p:commandButton value="#{msg['general.cancel']}" type="button"
					onclick="cd_deleteAlarmStatus.hide()" icon="ui-icon-close" />
			</p:confirmDialog>

			<!-- visible layouts -->
			<p:panel id="pnlTop" style="margin: 0px 2px 0px 2px;">
				<!-- Alarm Status -->
				<p:dataTable id="tblAlarmStatus"
					value="#{alarmStatusConfigController.alarmStatus}"
					var="alarmStatus"
					rowStyleClass="#{alarmStatus.textColor.styleClass()}"
					filteredValue="#{alarmStatusConfigController.filteredAlarmStatus}">
					<f:facet name="header">
				#{msg['alarm.config.status']}
			</f:facet>

					<p:column styleClass="colAddBtn">
						<f:facet name="header">
							<p:commandLink id="btnAddAlarmStatus"
								action="#{alarmStatusConfigController.prepareAddAlarmStatus}"
								value="#{msg['general.add']}" process="@this"
								update=":mainForm:dlgEditAlarmStatus"
								oncomplete="dlg_editAlarmStatus.show();"
								rendered="#{UserBean.accessLevel=='WRITE'}"
								styleClass="ui-icon ui-icon-plusthick" style="float: left;" />
						</f:facet>
					</p:column>
					<p:column sortBy="#{alarmStatus.name}">
						<f:facet name="header">#{msg['alarm.config.status.name']}</f:facet>
						<h:outputText value="#{alarmStatus.name}" />
					</p:column>
					<p:column sortyBy="#{alarmStatus.category}"
						filterBy="#{alarmStatus.category}"
						filterOptions="#{alarmStatusConfigController.statusCatFilters}">
						<f:facet name="header">#{msg['alarm.config.status.category']}</f:facet>
						<h:outputText value="#{alarmStatus.category}" />
					</p:column>
					<p:column sortyBy="#{alarmStatus.textColor}">
						<f:facet name="header">#{msg['alarm.config.status.color']}</f:facet>
						<h:outputText value="#{alarmStatus.textColor}" />
					</p:column>
					<p:column style="width: 60px"
						rendered="#{UserBean.accessLevel=='WRITE'}">
						<p:commandLink title="Delete"
							rendered="#{! alarmStatus.isDefault()}" process="@this"
							update=":mainForm:cdDeleteAlarmStatus"
							oncomplete="cd_deleteAlarmStatus.show()"
							styleClass="ui-icon ui-icon-trash" style="float: right">
							<f:setPropertyActionListener value="#{alarmStatus}"
								target="#{alarmStatusConfigController.selectedAlarmStatus}" />
						</p:commandLink>
						<p:commandLink title="Edit"
							rendered="#{! alarmStatus.isDefault()}" process="@this"
							update=":mainForm:dlgEditAlarmStatus"
							oncomplete="dlg_editAlarmStatus.show()"
							styleClass="ui-icon ui-icon-pencil" style="float: right">
							<f:setPropertyActionListener value="#{alarmStatus}"
								target="#{alarmStatusConfigController.selectedAlarmStatus}" />
						</p:commandLink>
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>

	</ui:define>

</ui:composition>