<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/master.xhtml">

	<ui:define name="title"> 
	#{msg['main.title']} - #{msg['alarm.config.title']}          
</ui:define>

	<ui:define name="pageTitle">
	#{msg['alarm.config.title']}
</ui:define>

	<ui:define name="content">

		<script>

function refreshSort(){
	jQuery('#tableDiv').find('.ui-state-active').trigger('click');
	jQuery('#tableDiv').find('.ui-state-active').trigger('click');
	}
	
</script>

		<h:form id="mainForm">
			<p:growl id="growl" globalOnly="false" showDetail="true"
				autoUpdate="true" />

			<!-- dialogs -->
			<!-- Alarm Definition -->

			<!-- visible layouts -->
			<p:layout style="height:800px; margin: 0px 2px 0px 2px;" id="layout">
				<!-- alarm definition -->
				<p:layoutUnit position="west" header="#{msg['alarm.config.def']}"
					collapsible="true" resizable="true">
					<p:panel>
						<div id="tableDiv">
							<p:dataTable id="tblAlarmDefs"
								value="#{alarmConfigController.alarmDefinitions}" var="alarmDef"
								sortBy="#{alarmDef.name}" sortOrder="ASCENDING" paginator="true"
								rowsPerPageTemplate="20,50,100"
								fiteredValues="#{alarmConfigController.filteredAlarmDefinitions}"
								paginatorAlwaysVisible="false" paginatorPosition="bottom"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								selection="#{alarmConfigController.selectedAlarmDef}"
								selectionMode="single" rowKey="#{alarmDef.id}">

								<p:ajax event="rowSelect"
									listener="#{alarmConfigController.onAlarmDefSelect}"
									update=":mainForm:pnlAlarmMap" />

								<p:column sortBy="#{alarmDef.name}" filterBy="#{alarmDef.name}"
									filterMatchMode="contains">
									<f:facet name="header">#{msg['alarm.config.def.name']}</f:facet>
									<h:outputText value="#{alarmDef.name}" />
								</p:column>
								<p:column sortBy="#{alarmDef.level}"
									filterBy="#{alarmDef.level}"
									filterOptions="#{webUtilBean.warningLevelFilters}">
									<f:facet name="header">#{msg['alarm.config.def.level']}</f:facet>
									<span
										class="#{webUtilBean.getWarningLevelStyleClass(alarmDef.level.name())}">
										<h:outputText value="#{alarmDef.level}" />
									</span>
								</p:column>
								<p:column sortBy="#{alarmDef.enabled}" resizable="true">
									<f:facet name="header">#{msg['alarm.config.def.enabled']}</f:facet>
									<h:outputText value="#{alarmDef.enabled}" />
								</p:column>
								<p:column style="width: 35px"
									rendered="#{UserBean.accessLevel=='WRITE'}">
									<f:facet name="header">
										<p:commandLink id="btnAddAlarmDef"
											action="#{alarmConfigController.prepareAddAlarmDef}"
											value="#{msg['general.add']}" process="@this"
											update=":dlg_holder,:mainForm:tblAlarmDefs"
											oncomplete="dlg_editAlarmDef.show();"
											rendered="#{UserBean.accessLevel=='WRITE'}"
											style="margin-left: 10px;" styleClass="ui-icon ui-icon-plusthick" />
									</f:facet>
									<p:commandLink title="#{msg['general.delete']}"
										update=":dlg_holder" process="@this"
										oncomplete="cd_deleteAlarmDef.show()"
										styleClass="ui-icon ui-icon-trash" style="float: right">
										<f:setPropertyActionListener value="#{alarmDef}"
											target="#{alarmConfigController.selectedAlarmDef}" />
									</p:commandLink>
									<p:commandLink title="#{msg['general.edit']}"
										update=":dlg_holder" process="@this"
										oncomplete="dlg_editAlarmDef.show()"
										styleClass="ui-icon ui-icon-pencil" style="float: right">
										<f:setPropertyActionListener value="#{alarmDef}"
											target="#{alarmConfigController.selectedAlarmDef}" />
									</p:commandLink>
								</p:column>
							</p:dataTable>
						</div>
					</p:panel>
					<br />
					<p:separator></p:separator>
					<br />
					<p:panelGrid id="tblDefaultTrapAlarm" columns="2">
						<f:facet name="header">#{msg['alarm.config.prompt.unmappedTrapAlarm']}</f:facet>

						<h:outputText value="#{msg['system.enabled']}" />
						<p:selectOneMenu
							value="#{alarmConfigController.defaultTrapAlarmEnabled}">
							<f:selectItems value="#{webUtilBean.booleanOptions}" />
						</p:selectOneMenu>

						<h:outputText value="#{msg['alarm.config.levelReq']}" />
						<p:selectOneMenu
							value="#{alarmConfigController.defaultTrapAlarmThreshold}">
							<f:selectItems value="#{webUtilBean.warningLevelOptions}" />
						</p:selectOneMenu>

						<f:facet name="footer">
							<p:commandButton value="#{msg['general.save']}"
								action="#{alarmConfigController.saveDefaultTrapAlarmConfig}"
								rendered="#{UserBean.accessLevel=='WRITE'}" icon="ui-icon-check"
								process="@parent" update="@parent" style="float: right" />
						</f:facet>
					</p:panelGrid>
				</p:layoutUnit>

				<!-- alarm mapping -->
				<p:layoutUnit position="center"
					header="#{msg['alarm.config.mapping']}">
					<h:panelGroup id="pnlAlarmMap" layout="block">
						<h:outputText value="#{msg['alarm.config.prompt.noSelectDef']}"
							style="font-style: italic"
							rendered="#{alarmConfigController.selectedAlarmDef == null}" />
						<h:outputText
							value="#{msg['alarm.config.prompt.selectDef']} [#{alarmConfigController.selectedAlarmDef}]"
							style="padding: 2px 2px 2px 2px"
							rendered="#{alarmConfigController.selectedAlarmDef != null}" />

						<p:panel id="pnlTrapAlarmMap"
							header="#{msg['alarm.config.trapMap']}"
							rendered="#{alarmConfigController.selectedAlarmDef != null}">
							<p:dataTable id="tblTraps"
								value="#{alarmConfigController.allOidsRows}" var="entry"
								filteredValue="#{alarmConfigController.filteredOidsRows}"
								style="height: 300px; width: 60%; float: left; overflow: auto">
								<f:facet name="header">#{msg['alarm.config.availableTrap']}</f:facet>

								<p:column>
									<p:rowToggler />
								</p:column>

								<p:column sortBy="#{entry.causeId}" filterBy="#{entry.causeId}"
									filterMatchMode="contains">
									<f:facet name="header">#{msg['alarm.config.trapName']}</f:facet>
									<h:outputText value="#{entry.causeId}" />
								</p:column>
								<!-- 
						<p:column>
							<f:facet name="header">OID</f:facet>
							<h:outputText value="#{entry.oidStr}" />
						</p:column>
						 -->
								<p:column style="width:20px">
									<p:commandLink title="#{msg['general.add']}"
										update=":dlg_holder"
										action="#{alarmConfigController.prepareAddAlarmMap(entry)}"
										process="@this" oncomplete="dlg_editAlarmMap.show()"
										styleClass="ui-icon ui-icon-plusthick" style="float: right"
										rendered="#{UserBean.accessLevel=='WRITE'}" />
								</p:column>

								<p:rowExpansion>
									<h:panelGrid columns="2">
										<h:outputText value="#{msg['alarm.config.oid']}" />
										<h:outputText value="#{entry.oidStr}" />
									</h:panelGrid>
								</p:rowExpansion>
							</p:dataTable>

							<p:dataTable id="tblMappedTraps"
								value="#{alarmConfigController.trapAlarmMapRows}" var="entry"
								sortBy="#{entry.causeId}" sortOrder="ASCENDING"
								filteredValue="#{alarmConfigController.filteredTrapAlarmMapRows}"
								style="height: 300px; width: 39%; float: right; overflow: auto">
								<f:facet name="header">#{msg['alarm.config.def.selectedTrigger']}</f:facet>
								<p:column sortBy="#{entry.causeId}" filterBy="#{entry.causeId}"
									filterMatchMode="contains">
									<f:facet name="header">#{msg['alarm.config.trapName']}</f:facet>
									<h:outputText value="#{entry.causeId}" />
								</p:column>
								<p:column>
									<f:facet name="header">#{msg['alarm.config.def.warningLevel']}</f:facet>
									<h:outputText value="#{entry.levelStr}" />
								</p:column>
								<p:column style="width: 20px"
									rendered="#{UserBean.accessLevel=='WRITE'}">
									<p:commandLink title="#{msg['general.delete']}"
										update=":dlg_holder" process="@this"
										oncomplete="cd_deleteAlarmMap.show()"
										styleClass="ui-icon ui-icon-trash" style="float: right">
										<f:setPropertyActionListener value="#{entry}"
											target="#{alarmConfigController.selectedAlarmMapRow}" />
									</p:commandLink>
									<p:commandLink title="#{msg['general.edit']}"
										update=":dlg_holder"
										action="#{alarmConfigController.prepareEditAlarmMap(entry)}"
										process="@this" oncomplete="dlg_editAlarmMap.show()"
										styleClass="ui-icon ui-icon-pencil" style="float: right">
										<f:setPropertyActionListener value="#{entry}"
											target="#{alarmConfigController.selectedAlarmMapRow}" />
									</p:commandLink>
								</p:column>
							</p:dataTable>
							<div style="clear: both;" />
						</p:panel>

						<br />

						<p:panel id="pnlEventAlarmMap"
							header="#{msg['alarm.config.eventMap']}"
							rendered="#{alarmConfigController.selectedAlarmDef != null}">
							<p:dataTable id="tblEvents"
								value="#{alarmConfigController.allEventsRows}" var="entry"
								sortBy="#{entry.eventType.eventClassName}" sortOrder="ASCENDING"
								filteredValue="#{alarmConfigController.filteredEventsRows}"
								style="height: 300px; width: 60%; float: left; overflow: auto">
								<f:facet name="header">#{msg['alarm.config.event.available']}</f:facet>
								<p:column sortBy="#{entry.eventType.eventClassName}"
									filterBy="#{entry.eventType.eventClassName}">
									<f:facet name="header">#{msg['alarm.config.event.class']}</f:facet>
									<h:outputText value="#{entry.eventType.eventClassName}" />
								</p:column>
								<p:column sortBy="#{entry.eventType.eventSubTypeName}"
									filterBy="#{entry.eventType.eventSubTypeName}">
									<f:facet name="header">#{msg['alarm.config.event.subType']}</f:facet>
									<h:outputText value="#{entry.eventType.eventSubTypeName}" />
								</p:column>
								<p:column>
									<f:facet name="header">#{msg['alarm.config.event.remark']}</f:facet>
									<h:outputText value="#{entry.remarks}" />
								</p:column>
								<p:column style="width: 20px"
									rendered="#{UserBean.accessLevel=='WRITE'}">
									<!-- 
							<p:commandLink title="Add" update=":mainForm:dlgEditAlarmMap" action="#{alarmConfigController.prepareAddAlarmMap(entry)}"
									process="@this" oncomplete="dlg_editAlarmMap.show()" styleClass="ui-icon ui-icon-plusthick" style="float: right" />
							-->
									<p:commandLink title="#{msg['general.add']}"
										update=":mainForm:pnlEventAlarmMap"
										action="#{alarmConfigController.addEventAlarmMap(entry)}"
										rendered="#{entry.enabled}" process="@this"
										styleClass="ui-icon ui-icon-plusthick" style="float: right" />
								</p:column>
							</p:dataTable>

							<p:dataTable id="tblMappedEvents"
								value="#{alarmConfigController.eventAlarmMapRows}" var="entry"
								sortBy="#{entry.causeId}" sortOrder="ASCENDING"
								filteredValue="#{alarmConfigController.filteredEventAlarmMapRows}"
								style="height: 300px; width: 39%; float: right; overflow: auto">
								<f:facet name="header">
							#{msg['alarm.config.def.selectedTrigger']}
						</f:facet>
								<p:column sortBy="#{entry.causeId}" filterBy="#{entry.causeId}">
									<f:facet name="header">#{msg['alarm.config.event']}</f:facet>
									<h:outputText value="#{entry.causeId}" />
								</p:column>
								<!-- 
						<p:column>
							<f:facet name="header">Warning Levels</f:facet>
							<h:outputText value="#{entry.levelStr}" />
						</p:column>
						-->
								<p:column style="width: 60px"
									rendered="#{UserBean.accessLevel=='WRITE'}">
									<p:commandLink title="#{msg['general.delete']}"
										update=":dlg_holder" process="@this"
										oncomplete="cd_deleteAlarmMap.show()"
										styleClass="ui-icon ui-icon-trash" style="float: right">
										<f:setPropertyActionListener value="#{entry}"
											target="#{alarmConfigController.selectedAlarmMapRow}" />
									</p:commandLink>
									<!-- 
							<p:commandLink title="#{msg['general.edit']}" update=":mainForm:dlgEditAlarmMap" 
									process="@this" oncomplete="dlg_editAlarmMap.show()" styleClass="ui-icon ui-icon-pencil" style="float: right">
								<f:setPropertyActionListener value="#{entry}" target="#{alarmConfigController.selectedAlarmMapRow}" />
							</p:commandLink>
							-->
								</p:column>
							</p:dataTable>
							<div style="clear: both;" />
						</p:panel>
					</h:panelGroup>
				</p:layoutUnit>
			</p:layout>
		</h:form>

		<p:outputPanel id="dlg_holder">
			<p:dialog id="dlgEditAlarmDef" widgetVar="dlg_editAlarmDef"
				header="#{msg['general.addEdit']} #{msg['alarm.config.def']}"
				modal="true">
				<h:form id="editAlarmDef_form">
					<h:panelGrid columns="2"
						rendered="#{alarmConfigController.selectedAlarmDef != null}">
						<h:outputText value="#{msg['alarm.config.def.name']}" />
						<p:inputText
							value="#{alarmConfigController.selectedAlarmDef.name}"
							disabled="#{! empty alarmConfigController.selectedAlarmDef.name}" />

						<h:outputText value="#{msg['alarm.config.def.level']}" />
						<p:selectOneMenu
							value="#{alarmConfigController.selectedAlarmDef.level}">
							<f:selectItems value="#{webUtilBean.warningLevelOptions}"
								var="level" itemLabel="#{level.name()}" itemValue="#{level}" />
						</p:selectOneMenu>

						<h:outputText value="#{msg['alarm.config.def.enabled']}" />
						<p:selectOneMenu
							value="#{alarmConfigController.selectedAlarmDef.enabled}">
							<f:selectItems value="#{webUtilBean.booleanOptions}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<br />
					<p:commandButton id="btnSaveAlarmDef"
						value="#{msg['general.save']}"
						action="#{alarmConfigController.saveAlarmDef}"
						update=":mainForm:tblAlarmDefs,:mainForm:pnlAlarmMap"
						oncomplete="refreshSort();dlg_editAlarmDef.hide();"
						icon="ui-icon-check" />
					<p:commandButton value="#{msg['general.cancel']}" type="button"
						onclick="dlg_editAlarmDef.hide()" icon="ui-icon-close" />
				</h:form>
			</p:dialog>

			<h:form id="delAlarmDef_form">
				<p:confirmDialog id="cdDeleteAlarmDef" widgetVar="cd_deleteAlarmDef"
					severity="info" header="#{msg['general.delete.header']}"
					message="#{msg['general.delete.confirm']} [#{alarmConfigController.selectedAlarmDef.name}]?">
					<p:commandButton value="#{msg['general.yes']}"
						action="#{alarmConfigController.deleteAlarmDef}"
						icon="ui-icon-check" process="@parent"
						update=":mainForm:tblAlarmDefs,:mainForm:pnlAlarmMap"
						oncomplete="refreshSort();cd_deleteAlarmDef.hide();" />
					<p:commandButton value="#{msg['general.cancel']}" type="button"
						onclick="cd_deleteAlarmDef.hide()" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
			<!-- alarm mapping dialogs -->
			<p:dialog id="dlgEditAlarmMap" widgetVar="dlg_editAlarmMap"
				header="#{msg['general.addEdit']} #{msg['alarm.config.map']}"
				modal="true">
				<h:form id="editAlarmMap_form">
					<h:panelGroup layout="block"
						rendered="#{alarmConfigController.selectedAlarmMapRow != null}">
						<h:outputText
							value="Selected Trigger: #{alarmConfigController.selectedAlarmMapRow.causeId}" />

						<p:selectManyCheckbox
							value="#{alarmConfigController.selectedAlarmMapRow.selectedLevels}"
							layout="pageDirection">
							<f:selectItems
								value="#{alarmConfigController.alarmMapLevelOptions}" />
						</p:selectManyCheckbox>
					</h:panelGroup>
					<br />
					<p:commandButton id="btnSaveAlarmMap"
						value="#{msg['general.save']}"
						action="#{alarmConfigController.saveAlarmMap}"
						update=":mainForm:pnlAlarmMap"
						oncomplete="dlg_editAlarmMap.hide()" />
					<p:commandButton value="#{msg['general.cancel']}" type="button"
						onclick="dlg_editAlarmMap.hide()" />
				</h:form>
			</p:dialog>
			<h:form id="delAlarmMap_form">
				<p:confirmDialog id="cdDeleteAlarmMap" widgetVar="cd_deleteAlarmMap"
					severity="info" header="#{msg['general.delete.header']}"
					message="#{msg['general.delete.confirm']} [#{alarmConfigController.selectedAlarmMapRow.causeId}]?">
					<p:commandButton value="#{msg['general.yes']}"
						action="#{alarmConfigController.deleteAlarmMap}" process="@this"
						update=":mainForm:pnlAlarmMap"
						oncomplete="cd_deleteAlarmMap.hide()" />
					<p:commandButton value="#{msg['general.cancel']}" type="button"
						onclick="cd_deleteAlarmMap.hide()" />
				</p:confirmDialog>
			</h:form>

		</p:outputPanel>

	</ui:define>

</ui:composition>