<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"	
	template="/templates/master.xhtml">
	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['rrd.title']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msg['rrd.title']}
	</ui:define>

	<ui:define name="content">	
		<style type="text/css">			
			.col1-class {
				width:140px;
			}
			.col2-class {
				width:190px;
			}
			.expanded_content {
				padding: 0.7em 0.7em 0.7em 0.7em;
			}
			th.twoedit {
				width: 53px;
			}
			th.light-color {
				background: #97AC8F !important;
			}
		</style>	
		<h:form id="mainForm">	
			<p:growl id="growl" showDetail="true" globalOnly="false" autoUpdate="true" life="3000"/>	
			<p:layout style="height:750px;margin-right: 2px;" id="layout">  
				
			    <p:layoutUnit position="west" collapsible="true"
			    header="#{msg['rrd.def.list']}" size="300">		
			    	<p:panel>
			    		<p:outputPanel id="tree_tbl_holder" >
						<p:treeTable id="def_treetbl_id" widgetVar="def_treetbl"
							value="#{rrdController.defRoot}" var="entity"
							selectionMode="single" selection="#{rrdController.selectedNode}">
							<p:ajax event="select" listener="#{rrdController.onNodeSelected}" 
								update=":mainForm:pnl_holder, :mainForm:delete_def_link, :mainForm:edit_def_link"/>							
							<p:column style="white-space:nowrap; width:230px">		
								<f:facet name="header">
									<h:outputText value="#{msg['general.name']}" />
									<p:commandLink style="float:right" title="#{msg['general.add']}"
									styleClass="ui-icon ui-icon-plusthick"
									action="#{rrdController.resetRrdDef()}"
									process="@this" oncomplete="addDef_dlg.show()"
									update="@form"
									rendered="#{UserBean.accessLevel == 'WRITE'}" />
								</f:facet>													
								<h:outputText value="#{entity.name}" />
							</p:column>
						</p:treeTable>
						</p:outputPanel>
				    </p:panel>
				</p:layoutUnit>
				
				<p:layoutUnit id="center_layout" position="center"> 
					
		    		<p:panel id="detail_pnl">	
		    		<f:facet name="header">
						<h:outputText value="#{msg['general.details']}" />
						<p:commandLink title="#{msg['rrd.advanced.expl']}" value="#{msg['rrd.advanced']}" action="#{rrdController.setSimpleMode(false)}" disabled="#{!rrdController.simpleMode}" style="float:right; vertical-align:middle" update="@form" process="@this" />
						<p:spacer width="10" height="10" style="float:right; vertical-align:middle" />
						<p:commandLink title="#{msg['rrd.simple.expl']}" value="#{msg['rrd.simple']}" action="#{rrdController.setSimpleMode(true)}" disabled="#{rrdController.simpleMode}" style="float:right; vertical-align:middle" update="@form" process="@this" />
						<p:spacer width="10" height="10" style="float:right; vertical-align:middle" />						
						<p:commandLink style="float:right; vertical-align:middle" title="#{msg['general.delete']}" id="delete_def_link"
							styleClass="ui-icon ui-icon-trash"
							process="@this"
							oncomplete="deleteDef_dlg.show(); return false;"
							disabled="#{empty rrdController.selectedRrdDef}"
							rendered="#{UserBean.accessLevel == 'WRITE'}" />
						<p:commandLink style="float:right; vertical-align:middle" title="#{msg['general.edit']}" id="edit_def_link"
							styleClass="ui-icon ui-icon-pencil"
							action="#{rrdController.setDummyRrdDef(rrdController.selectedRrdDef)}"
							process="@this"
							oncomplete="editDef_dlg.show(); return false;"
							update=":editDef_form"
							disabled="#{empty rrdController.selectedRrdDef}"
							rendered="#{UserBean.accessLevel == 'WRITE'}" />						
		    		</f:facet>
		    		<p:outputPanel id="pnl_holder">   
		    			<h:outputText value="#{msg['appkpi.selectDefPrompt']}" rendered="#{empty rrdController.selectedRrdDef}"/> 			
   				 		<p:panelGrid columns="2" rendered="#{! empty rrdController.selectedRrdDef}">
   				 			<p:outputLabel value="#{msg['general.name']}" />
   				 			<h:outputText value="#{rrdController.selectedRrdDef.name}" />
   				 			<p:outputLabel value="#{msg['rrd.def.step']}" rendered="#{! rrdController.simpleMode}" />
   				 			<h:outputText value="#{rrdController.selectedRrdDef.step}" rendered="#{! rrdController.simpleMode}" />
   				 			<p:outputLabel value="#{msg['rrd.def.locked']}" />
   				 			<h:graphicImage library="images" name="tick.png" rendered="#{rrdController.selectedRrdDef.locked}"/>
							<h:graphicImage library="images" name="cross.png" rendered="#{!rrdController.selectedRrdDef.locked}"/>
   				 			<p:outputLabel value="#{msg['rrd.def.enabled']}" />
							<h:graphicImage library="images" name="tick.png" rendered="#{rrdController.selectedRrdDef.enabled}"/>
							<h:graphicImage library="images" name="cross.png" rendered="#{!rrdController.selectedRrdDef.enabled}"/> 		
   				 			<p:outputLabel value="#{msg['rrd.def.createDate']}" />
   				 			<p:outputPanel>
	   				 			<h:outputText value="#{rrdController.selectedRrdDef.createDate}" />
	   				 			<h:outputText value="#{msg['rrd.def.notcreated']}" rendered="#{rrdController.selectedRrdDef.createDate==null}"/>
   				 			</p:outputPanel>
   				 			<p:outputLabel value="#{msg['rrd.def.lastUpdate']}" />
   				 			<h:outputText value="#{rrdController.selectedRrdDef.lastUpdate}" />			 		
   				 		</p:panelGrid>
   				 		<p/>
   				 		<p:dataTable id="rrdDsTbl" rendered="#{! empty rrdController.selectedRrdDef}"
							value="#{rrdController.selectedRrdDef.rrdDsConfigsAsList}" var="ds">
							<f:facet name="header">
								<h:outputText value="#{msg['rrd.ds']}" />											
							</f:facet>
							<p:column styleClass="colAddBtn" rendered="#{UserBean.accessLevel == 'WRITE'}">							
								<f:facet name="header">
									<p:commandLink style="float:right" title="#{msg['general.add']}"
									styleClass="ui-icon ui-icon-plusthick"
									action="#{rrdController.resetRrdDs(rrdController.selectedRrdDef)}"
									process="@this" oncomplete="addDs_dlg.show()"
									update=":addDs_form"
									disabled="#{rrdController.selectedRrdDef.locked}" />
								</f:facet>
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msg['general.name']}" />
								</f:facet>
								<h:outputText value="#{ds.name}" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msg['rrd.ds.type']}" />
								</f:facet>
								<h:outputText value="#{ds.type}" />
							</p:column>
							<p:column style="width:70px;" rendered="#{!rrdController.simpleMode}" >
								<f:facet name="header">
									<h:outputText value="#{msg['rrd.ds.heartbeat']}" />
								</f:facet>
								<h:outputText value="#{ds.heartbeat}" />
							</p:column>
							<p:column style="width:60px;">
								<f:facet name="header">
									<h:outputText value="#{msg['rrd.ds.min']}" />
								</f:facet>
								<h:outputText value="#{ds.minimum}" />
							</p:column>
							<p:column style="width:60px;">
								<f:facet name="header">
									<h:outputText value="#{msg['rrd.ds.max']}" />
								</f:facet>
								<h:outputText value="#{ds.maximum}" />
							</p:column>
							<p:column >
								<f:facet name="header">
									<h:outputText value="#{msg['rrd.ds.procedure']}" />
								</f:facet>
								<h:outputText value="#{ds.displayableDataCollectProc}" />
							</p:column>
							<p:column styleClass="twoedit" rendered="#{UserBean.accessLevel == 'WRITE'}">
								<p:commandLink style="float:right" title="#{msg['general.delete']}"
									styleClass="ui-icon ui-icon-trash"
									action="#{rrdController.deleteRrdDs(ds)}"
									process="@this"
									update=":mainForm:rrdDsTbl"
									disabled="#{rrdController.selectedRrdDef.locked}" />
								<p:commandLink style="float:right" title="#{msg['general.edit']}"
									styleClass="ui-icon ui-icon-pencil"
									action="#{rrdController.setDummyRrdDs(ds)}"
									process="@this"
									oncomplete="editDs_dlg.show(); return false;"
									update=":editDs_form"
									disabled="#{rrdController.selectedRrdDef.locked}" />
							</p:column>
						</p:dataTable>
						
						<p/>
						
						<p:outputPanel id="archive_holder">
							<p:commandButton value="#{msg['rrd.archive.generateDefault']}"
							process="@this"
							icon="ui-icon-gear"
							update=":mainForm:archive_holder"
							action="#{rrdController.generateDefaultArchives()}"
							rendered="#{(! empty rrdController.selectedRrdDef) and rrdController.selectedRrdDef.rrdArchiveConfigs.size()==0 and rrdController.simpleMode}" />
							
							<ui:remove>
							</ui:remove>
							<p/>						
				
							<p:dataTable id="rrdArchiveTbl" rendered="#{! empty rrdController.selectedRrdDef}"
								value="#{rrdController.selectedRrdDef.rrdArchiveConfigsAsList}" var="archive">
								<f:facet name="header">
									<h:outputText value="#{msg['rrd.archive']}" />											
								</f:facet>
								<p:column styleClass="colAddBtn" rendered="#{UserBean.accessLevel == 'WRITE'}">
									<f:facet name="header">
										<p:commandLink style="float:right" title="#{msg['general.add']}"
										styleClass="ui-icon ui-icon-plusthick"
										action="#{rrdController.resetRrdArchive(rrdController.selectedRrdDef)}"
										process="@this" oncomplete="addArchive_dlg.show()"
										update=":addArchive_form"
										disabled="#{rrdController.selectedRrdDef.locked}" />
									</f:facet>
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['general.name']}" />
									</f:facet>
									<h:outputText value="#{archive.name}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['rrd.archive.cf']}" />
									</f:facet>
									<h:outputText value="#{archive.type}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['rrd.archive.unit']}" />
									</f:facet>
									<h:outputText value="#{archive.unit}" />
								</p:column>
								<p:column rendered="#{!rrdController.simpleMode}">
									<f:facet name="header">
										<h:outputText value="#{msg['rrd.archive.xff']}" />
									</f:facet>
									<h:outputText value="#{archive.xff}" />
								</p:column>
								<p:column style="width:70px;" rendered="#{rrdController.simpleMode}">
									<f:facet name="header">
										<h:outputText value="#{msg['rrd.archive.frequency']}" />
									</f:facet>
									<h:outputText value="#{archive.frequency} #{archive.frequencyType}" />
								</p:column>
								<p:column style="width:70px;" rendered="#{rrdController.simpleMode}">
									<f:facet name="header">
										<h:outputText value="#{msg['rrd.archive.length']}" />
									</f:facet>
									<h:outputText value="#{archive.length} #{archive.lengthType}" />
								</p:column>
								<p:column style="width:70px;" rendered="#{!rrdController.simpleMode}">
									<f:facet name="header">
										<h:outputText value="#{msg['rrd.archive.step']}" />
									</f:facet>
									<h:outputText value="#{archive.step}" />
								</p:column>
								<p:column style="width:100px;" rendered="#{!rrdController.simpleMode}">
									<f:facet name="header">
										<h:outputText value="#{msg['rrd.archive.row']}" />
									</f:facet>
									<h:outputText value="#{archive.row}" />
								</p:column>									
								<p:column styleClass="twoedit" rendered="#{UserBean.accessLevel == 'WRITE'}">
									<p:commandLink style="float:right" title="#{msg['general.delete']}"
										styleClass="ui-icon ui-icon-trash"
										action="#{rrdController.deleteRrdArchive(archive)}"
										process="@this"
										update=":mainForm:archive_holder"
										disabled="#{archive.locked}" />
									<p:commandLink style="float:right" title="#{msg['general.edit']}"
										styleClass="ui-icon ui-icon-pencil"
										action="#{rrdController.setDummyRrdArchive(archive)}"
										process="@this"
										oncomplete="editArchive_dlg.show(); return false;"
										update=":editArchive_form"
										disabled="#{archive.locked}" />
								</p:column>
							</p:dataTable>
						</p:outputPanel>
	    			</p:outputPanel>		    			
		    		</p:panel>
		    		
		    	</p:layoutUnit>			    	
			</p:layout>
				    
		</h:form>
		
		<p:outputPanel id="dlg_holder">
			<p:dialog id="addDef_id" widgetVar="addDef_dlg" 
					  header="#{msg['general.add']} #{msg['rrd.def']}" resizable="false"
					  visible="#{rrdController.ddfEmpty}" modal="true"
					  rendered="#{UserBean.accessLevel == 'WRITE'}">
				<h:form id="addDef_form">
					<p:panelGrid columns="2" columnClasses="col1-class, col2-class">
		    			 <p:outputLabel for="addDef_name" value="#{msg['general.name']}" />
		    			 <p:inputText id="addDef_name" value="#{rrdController.rrdDef.name}" required="true" requiredMessage="#{msg['general.namePrompt']}" >
		    			 	<f:validator validatorId="NameValidator" />
		    			 </p:inputText>
		    			 <p:outputLabel for="addDef_step" value="#{msg['rrd.def.step']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:inputText id="addDef_step" value="#{rrdController.rrdDef.step}" required="true" requiredMessage="#{msg['rrd.def.stepPrompt']}" rendered="#{!rrdController.simpleMode}">
		    			 	<f:validateLongRange minimum="1" />
		    			 </p:inputText>
		    		</p:panelGrid>
		    		<p:commandButton id="addDefSubmitBtn" value="#{msg['general.save']}"
							action="#{rrdController.addRrdDef()}" update=":mainForm:tree_tbl_holder"
							onclick="submit" oncomplete="handleAddDefRequest(xhr, status, args)"
							/>
					<script type="text/javascript">  
					    function handleAddDefRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					            addDef_dlg.show();
					        } else {  
					        	addDef_dlg.hide();
					        }  
					    }  
					</script>		
				</h:form>		
			</p:dialog>
			

			<p:dialog id="editDef_id" widgetVar="editDef_dlg" header="#{msg['general.edit']} #{msg['rrd.def']}" 
					resizable="false" modal="true">
				<h:form id="editDef_form">
					<p:panelGrid columns="2" columnClasses="col1-class, col2-class">
		    			 <p:outputLabel for="editDef_name" value="#{msg['general.name']}" />
		    			 <p:inputText id="editDef_name" value="#{rrdController.dummyRrdDef.name}" required="true" requiredMessage="#{msg['general.namePrompt']}" >
		    			 	<f:validator validatorId="NameValidator" />
		    			 </p:inputText>
		    			 <p:outputLabel for="editDef_step" value="#{msg['rrd.def.step']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:inputText id="editDef_step" value="#{rrdController.dummyRrdDef.step}" required="true" requiredMessage="#{msg['rrd.def.stepPrompt']}" rendered="#{!rrdController.simpleMode}">
		    			 	<f:validateLongRange minimum="1" />
		    			 </p:inputText>	
		    			 <h:outputText value="#{msg['rrd.def.locked']}" />		    			 
		    			 <p:selectBooleanCheckbox value="#{rrdController.dummyRrdDef.locked}" valueChangeListener="#{rrdController.onDefLockChange}">
		    			 	<p:ajax update="unlockWarn_holder" />
		    			 </p:selectBooleanCheckbox>
		    			 <h:outputText value="#{msg['rrd.def.enabled']}" />		    			 
		    			 <p:selectBooleanCheckbox value="#{rrdController.dummyRrdDef.enabled}" />
		    		</p:panelGrid>
		    		<p:outputPanel id="unlockWarn_holder" >
		    			<p:separator rendered="#{rrdController.displayLockPrompt}" />
		    			<h:outputText value="#{msg['rrd.def.unlockWarn']}" rendered="#{rrdController.displayLockPrompt}" />		    			
		    			<p/>		    		
		    		<p:commandButton id="editDefSubmitBtn" value="#{msg['general.save']}"
							action="#{rrdController.editRrdDef(false)}" update=":mainForm:tree_tbl_holder, :mainForm:pnl_holder"
							oncomplete="handleEditDefRequest(xhr, status, args)"
							onclick="submit"
							rendered="#{!rrdController.displayLockPrompt}"/>
					<p:commandButton id="editDefSubmitBtn_backup" value="#{msg['general.save.backup.xml']}"
							action="#{rrdController.editRrdDef(true)}" update=":mainForm:tree_tbl_holder, :mainForm:pnl_holder"
							oncomplete="editDef_dlg.hide();" 
							onclick="submit"
							rendered="#{rrdController.displayLockPrompt}"/>
					<p:commandButton id="editDefSubmitBtn_noBackup" value="#{msg['general.save.nobackup']}"
							action="#{rrdController.editRrdDef(false)}" update=":mainForm:tree_tbl_holder, :mainForm:pnl_holder"
							onclick="submit" oncomplete="handleEditDefRequest(xhr, status, args)"
							rendered="#{rrdController.displayLockPrompt}"/>
					</p:outputPanel>	
					<script type="text/javascript">  
					    function handleEditDefRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editDef_dlg.show();
					        } else {  
					        	editDef_dlg.hide();
					        }  
					    }  
					</script>
				</h:form>					
			</p:dialog>
			
			
			<p:confirmDialog id="deleteDef_id" widgetVar="deleteDef_dlg" message="#{msg['rrd.def.deletePrompt']}"  
               header="#{msg['general.delete']} #{msg['rrd.def']}" severity="alert">
                <h:form id="deleteDef_form">
					<h:outputText value="#{msg['rrd.def.deleteFilePrompt']}: " />  
	      				<p:selectBooleanCheckbox value="#{rrdController.deleteFile}" />
	      				<p/>
		    		<p:commandButton id="delDefConfirm" value="#{msg['general.yes']}" update=":mainForm" action="#{rrdController.deleteRrdDef()}" oncomplete="deleteDef_dlg.hide()"  
	                   />  
	      			<p:commandButton id="delDefDecline" value="#{msg['general.no']}" onclick="deleteDef_dlg.hide()" type="button" />
      			</h:form>	
			</p:confirmDialog>
				
			<p:dialog id="addDs_id" widgetVar="addDs_dlg" header="#{msg['general.add']} #{msg['rrd.ds']}" 
					resizable="false" modal="true">
				<h:form id="addDs_form">
					<p:panelGrid  columns="2" columnClasses="col1-class, col2-class">
		    			 <p:outputLabel for="addDs_name" value="#{msg['general.name']}" />
		    			 <p:inputText id="addDs_name" value="#{rrdController.rrdDs.name}" required="true" requiredMessage="#{msg['general.namePrompt']}" >
		    			 	<f:validateLength minimum="1" maximum="20" />
		    			 	<f:validator validatorId="NameValidator" />
		    			 </p:inputText>
		    			 <h:outputText value="#{msg['rrd.ds.type']}" />
		    			 <p:selectOneMenu value="#{rrdController.rrdDs.type}" >
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.type.counter']}" itemValue="COUNTER" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.type.gauge']}" itemValue="GAUGE" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.type.absolute']}" itemValue="ABSOLUTE" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.type.derive']}" itemValue="DERIVE" />
		    			 </p:selectOneMenu>
		    			 <p:outputLabel for="addDs_heartbeat" value="#{msg['rrd.ds.heartbeat']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:inputText id="addDs_heartbeat" value="#{rrdController.rrdDs.heartbeat}" required="true" requiredMessage="#{msg['rrd.ds.heartbeatPrompt']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:outputLabel for="addDs_min" value="#{msg['rrd.ds.min']}" />
		    			 <p:inputText id="addDs_min" value="#{rrdController.rrdDs.minimum}" />
		    			 <p:outputLabel for="addDs_max" value="#{msg['rrd.ds.max']}" />
		    			 <p:inputText id="addDs_max" value="#{rrdController.rrdDs.maximum}" />
		    			 <h:outputText value="#{msg['rrd.ds.procedure']}" />
		    			 <p:selectOneMenu value="#{rrdController.selectedType}" >
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.procedure.script']}" itemValue="SCRIPT" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.procedure.snmp']}" itemValue="SNMP" />
		    			 	<p:ajax update="addDs_lower_left,addDs_lower_right" />
		    			 </p:selectOneMenu>
		    			 <h:outputText value="#{msg['rrd.ds.targetHost']}" />
		    			 <p:selectOneMenu value="#{rrdController.selectedHost}" >
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.default.host']}" itemValue="" />
			    			<f:selectItems value="#{rrdController.hostOptions}" var="option" itemLabel="#{option}" itemValue="#{option}" />
		    			 	<p:ajax update="addDs_lower_left,addDs_lower_right" />
		    			 </p:selectOneMenu>		    			 
		    			 
			    		<p:outputPanel id="addDs_lower_left">
		    				<h:outputText value="#{msg['script']}" rendered="#{rrdController.selectedType=='SCRIPT'}" />
		    				<h:outputText value="#{msg['snmp.target']}" rendered="#{rrdController.selectedType=='SNMP'}" />
			    		</p:outputPanel>
			    		
			    		<p:outputPanel id="addDs_lower_right">
							<p:panelGrid columns="2"  styleClass="borderlessGrid" rendered="#{rrdController.selectedType=='SCRIPT'}">
			    				<p:selectOneMenu value="#{rrdController.selectedOption}" >
			    			 		<f:selectItem itemLabel="#{msg['rrd.ds.default.script']}" itemValue="" />
			    					<f:selectItems value="#{rrdController.scriptOptions}" var="option" itemLabel="#{option}" itemValue="#{option}" />
			    				</p:selectOneMenu>
			    				<p:commandLink title="#{msg['general.add']} new script" 
			    					immediate="true" ajax="false" action="scriptconfig.xhtml"
					    			styleClass="ui-icon ui-icon-circle-plus" />
				    		</p:panelGrid>
				    		
							<p:panelGrid cellpadding="0" columns="2" styleClass="borderlessGrid" rendered="#{rrdController.selectedType=='SNMP'}">
			    				<p:selectOneMenu value="#{rrdController.selectedOption}" >
			    			 		<f:selectItem itemLabel="#{msg['rrd.ds.default.snmp.target']}" itemValue="" />
			    					<f:selectItems value="#{rrdController.snmpOptions}" var="option" itemLabel="#{option}" itemValue="#{option}" />
			    				</p:selectOneMenu>
			    				<p:commandLink title="#{msg['general.add']} new SNMP target" 
			    					immediate="true" ajax="false" action="snmptargetconfig.xhtml" 
					    			styleClass="ui-icon ui-icon-circle-plus" />
				    		</p:panelGrid>
			    		</p:outputPanel>
		    		</p:panelGrid>
		    		<p:commandButton id="addDsSubmitBtn" value="#{msg['general.save']}"
							action="#{rrdController.addRrdDs()}" update=":mainForm:rrdDsTbl"
							onclick="submit" oncomplete="handleAddDsRequest(xhr, status, args)"
							/>
					<script type="text/javascript">  
					    function handleAddDsRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	addDs_dlg.show();
					        } else {  
					        	addDs_dlg.hide();
					        }  
					    }  
					</script>		
				</h:form>		
			</p:dialog>
			
			<p:dialog id="editDs_id" widgetVar="editDs_dlg" header="#{msg['general.edit']} #{msg['rrd.ds']}" 
					resizable="false" modal="true">
				<h:form id="editDs_form">
					<p:panelGrid columns="2" columnClasses="col1-class, col2-class">
		    			 <p:outputLabel for="editDs_name" value="#{msg['general.name']}" />
		    			 <p:inputText id="editDs_name" value="#{rrdController.dummyRrdDs.name}" required="true" requiredMessage="#{msg['general.namePrompt']}" >
		    			 	<f:validateLength minimum="1" maximum="20" />
		    			 	<f:validator validatorId="NameValidator" />
		    			 </p:inputText>
		    			 <h:outputText value="#{msg['rrd.ds.type']}" />
		    			 <p:selectOneMenu value="#{rrdController.dummyRrdDs.type}" >
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.type.counter']}" itemValue="COUNTER" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.type.gauge']}" itemValue="GAUGE" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.type.absolute']}" itemValue="ABSOLUTE" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.type.derive']}" itemValue="DERIVE" />
		    			 </p:selectOneMenu>
		    			 <p:outputLabel for="editDs_heartbeat" value="#{msg['rrd.ds.heartbeat']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:inputText id="editDs_heartbeat" value="#{rrdController.dummyRrdDs.heartbeat}" required="true" requiredMessage="#{msg['rrd.ds.heartbeatPrompt']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:outputLabel for="editDs_min" value="#{msg['rrd.ds.min']}" />
		    			 <p:inputText id="editDs_min" value="#{rrdController.dummyRrdDs.minimum}"  />
		    			 <p:outputLabel for="editDs_max" value="#{msg['rrd.ds.max']}" />
		    			 <p:inputText id="editDs_max" value="#{rrdController.dummyRrdDs.maximum}"  />
		    			 <h:outputText value="#{msg['rrd.ds.procedure']}" />
		    			 <p:selectOneMenu value="#{rrdController.selectedType}" >
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.procedure.script']}" itemValue="SCRIPT" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.procedure.snmp']}" itemValue="SNMP" />
		    			 	<p:ajax update="editDs_lower" />
		    			 </p:selectOneMenu>
		    			 <h:outputText value="#{msg['rrd.ds.targetHost']}" />
		    			 <p:selectOneMenu value="#{rrdController.selectedHost}" >
		    			 	<f:selectItem itemLabel="#{msg['rrd.ds.default.host']}" itemValue="" />
			    			<f:selectItems value="#{rrdController.hostOptions}" var="option" itemLabel="#{option}" itemValue="#{option}" />
		    			 	<p:ajax update="editDs_lower" />
		    			 </p:selectOneMenu>
		    		</p:panelGrid>
		    		<p:outputPanel id="editDs_lower">
	    			<p:panelGrid columns="2" columnClasses="col1-class, col2-class">
	    				<h:outputText value="#{msg['script']}" rendered="#{rrdController.selectedType=='SCRIPT'}" />
	    				<h:outputText value="#{msg['snmp.target']}" rendered="#{rrdController.selectedType=='SNMP'}" />
	    				<p:selectOneMenu value="#{rrdController.selectedOption}" rendered="#{rrdController.selectedType=='SCRIPT'}">
	    					<f:selectItem itemLabel="#{msg['rrd.ds.default.script']}" itemValue="" />
	    					<f:selectItems value="#{rrdController.scriptOptions}" var="option" itemLabel="#{option}" itemValue="#{option}" />
	    				</p:selectOneMenu> 	
	    				<p:selectOneMenu value="#{rrdController.selectedOption}" rendered="#{rrdController.selectedType=='SNMP'}">
	    					<f:selectItem itemLabel="#{msg['rrd.ds.default.snmp.target']}" itemValue="" />
	    					<f:selectItems value="#{rrdController.snmpOptions}" var="option" itemLabel="#{option}" itemValue="#{option}" />
	    				</p:selectOneMenu>
	    			</p:panelGrid>
		    		</p:outputPanel>
		    		<p:commandButton id="editDsSubmitBtn" value="#{msg['general.save']}"
							action="#{rrdController.editRrdDs()}" update=":mainForm:rrdDsTbl"
							onclick="submit" oncomplete="handleEditDsRequest(xhr, status, args)"
							/>
					<script type="text/javascript">  
					    function handleEditDsRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editDs_dlg.show();
					        } else {  
					        	editDs_dlg.hide();
					        }  
					    }  
					</script>		
				</h:form>			
			</p:dialog>
			
			
			<p:dialog id="addArchive_id" widgetVar="addArchive_dlg" header="#{msg['general.add']} #{msg['rrd.archive']}" 
					resizable="false" modal="true">
				<h:form id="addArchive_form">
					<p:panelGrid columns="2" columnClasses="col1-class, col2-class">	
						 <p:outputLabel for="addArchive_name" value="#{msg['general.name']}" />
						 <p:inputText id="addArchive_name" value="#{rrdController.rrdArchive.name}" required="true" requiredMessage="#{msg['general.namePrompt']}" />
						 <p:outputLabel for="addArchive_unit" value="#{msg['rrd.archive.unit']}" />
						 <p:inputText id="addArchive_unit" value="#{rrdController.rrdArchive.unit}"  />
						 <h:outputText value="#{msg['rrd.archive.cf']}" />
		    			 <p:selectOneMenu value="#{rrdController.rrdArchive.type}" >
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.average']}" itemValue="AVERAGE" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.min']}" itemValue="MINIMUM" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.max']}" itemValue="MAXIMUM" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.first']}" itemValue="FIRST" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.last']}" itemValue="LAST" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.total']}" itemValue="TOTAL" />
		    			 </p:selectOneMenu>
						 <h:outputText value="#{msg['rrd.archive.frequency']}" rendered="#{rrdController.simpleMode}" />
		    			 <p:outputPanel rendered="#{rrdController.simpleMode}">
		    			 	 <p:inputText value="#{rrdController.rrdArchive.frequency}" style="width:50px; vertical-align:middle;"/>
			    			 <p:selectOneMenu value="#{rrdController.rrdArchive.frequencyType}" rendered="#{rrdController.simpleMode}" style="vertical-align:middle;">
			    			 	
			    			 	<f:selectItem itemLabel="#{msg['general.second']}" itemValue="SECOND" />
			    			 	<f:selectItem itemLabel="#{msg['general.minute']}" itemValue="MINUTE" />
			    			 	<f:selectItem itemLabel="#{msg['general.hour']}" itemValue="HOUR" />
			    			 	<f:selectItem itemLabel="#{msg['general.day']}" itemValue="DAY" />
			    			 	<f:selectItem itemLabel="#{msg['general.week']}" itemValue="WEEK" />
			    			 	<f:selectItem itemLabel="#{msg['general.month']}" itemValue="MONTH" />
			    			 	<f:selectItem itemLabel="#{msg['general.year']}" itemValue="YEAR" />
			    			 </p:selectOneMenu> 
		    			 </p:outputPanel>
		    			 <h:outputText value="#{msg['rrd.archive.length']}" rendered="#{rrdController.simpleMode}" />
		    			 <p:outputPanel rendered="#{rrdController.simpleMode}">
		    			 	 <p:inputText value="#{rrdController.rrdArchive.length}" style="width:50px; vertical-align:middle;"/>
			    			 <p:selectOneMenu value="#{rrdController.rrdArchive.lengthType}" rendered="#{rrdController.simpleMode}" style="vertical-align:middle;">
			    			 	
			    			 	<f:selectItem itemLabel="#{msg['general.second']}" itemValue="SECOND" />
			    			 	<f:selectItem itemLabel="#{msg['general.minute']}" itemValue="MINUTE" />
			    			 	<f:selectItem itemLabel="#{msg['general.hour']}" itemValue="HOUR" />
			    			 	<f:selectItem itemLabel="#{msg['general.day']}" itemValue="DAY" />
			    			 	<f:selectItem itemLabel="#{msg['general.week']}" itemValue="WEEK" />
			    			 	<f:selectItem itemLabel="#{msg['general.month']}" itemValue="MONTH" />
			    			 	<f:selectItem itemLabel="#{msg['general.year']}" itemValue="YEAR" />
			    			 </p:selectOneMenu> 
		    			 </p:outputPanel>
		    		</p:panelGrid>
		    		<p:panelGrid columns="2" columnClasses="col1-class, col2-class" id="addArchive_lower">		
		    			 <ui:remove>	    		
			    			 <h:outputText value="#{msg['rrd.archive.numberOfPeriod']}" rendered="#{rrdController.simpleMode}" />
			    			 <p:inputText value="#{rrdController.rrdArchive.numberOfPeriod}" required="true" requiredMessage="#{msg['rrd.archive.numberOfPeriodPrompt']}" 
			    			 rendered="#{rrdController.simpleMode}" />		    		
		    			 </ui:remove>
		    			 <p:outputLabel for="addArchive_xff" value="#{msg['rrd.archive.xff']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:inputText id="addArchive_xff" value="#{rrdController.rrdArchive.xff}" required="true" requiredMessage="#{msg['rrd.archive.xffPrompt']}" 
		    			 title="#{msg['rrd.archive.xff.expl']}" rendered="#{!rrdController.simpleMode}" />
		    			 
		    			 <p:outputLabel for="addArchive_step" value="#{msg['rrd.archive.step']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:inputText id="addArchive_step" value="#{rrdController.rrdArchive.step}" required="true" requiredMessage="#{msg['rrd.archive.stepPrompt']}"
		    			 title="#{msg['rrd.archive.step.expl']}" rendered="#{!rrdController.simpleMode}" >
		    			 	<f:validateLongRange minimum="1" />
		    			 </p:inputText>
		    			 <p:outputLabel for="addArchive_row" value="#{msg['rrd.archive.row']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:inputText id="addArchive_row" value="#{rrdController.rrdArchive.row}" required="true" requiredMessage="#{msg['rrd.archive.rowPrompt']}"
		    			 rendered="#{!rrdController.simpleMode}" >
		    			 	<f:validateLongRange minimum="2" />
		    			 </p:inputText>
		    		</p:panelGrid>
		    		<p:commandButton id="addArchiveSubmitBtn" value="#{msg['general.save']}"
							action="#{rrdController.addRrdArchive()}" update=":mainForm:rrdArchiveTbl"
							onclick="submit" oncomplete="handleAddDaRequest(xhr, status, args)"
							/>
					<script type="text/javascript">  
					    function handleAddDaRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	addArchive_dlg.show();
					        } else {  
					        	addArchive_dlg.hide();
					        }  
					    }  
					</script>
				</h:form>		
			</p:dialog>				
			
			
			<p:dialog id="editArchive_id" widgetVar="editArchive_dlg" header="#{msg['general.edit']} #{msg['rrd.archive']}"  
					resizable="false" modal="true">
				<h:form id="editArchive_form">
					<p:panelGrid columns="2" columnClasses="col1-class, col2-class">
						 <p:outputLabel for="editArchive_name" value="#{msg['general.name']}" />
						 <p:inputText id="editArchive_name" value="#{rrdController.dummyRrdArchive.name}" required="true" requiredMessage="#{msg['general.namePrompt']}" />
						 <p:outputLabel for="editArchive_unit" value="#{msg['rrd.archive.unit']}" />
						 <p:inputText id="editArchive_unit" value="#{rrdController.dummyRrdArchive.unit}"  />
						 <h:outputText value="#{msg['rrd.archive.cf']}" />
		    			 <p:selectOneMenu value="#{rrdController.dummyRrdArchive.type}" >
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.average']}" itemValue="AVERAGE" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.min']}" itemValue="MINIMUM" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.max']}" itemValue="MAXIMUM" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.first']}" itemValue="FIRST" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.last']}" itemValue="LAST" />
		    			 	<f:selectItem itemLabel="#{msg['rrd.archive.cf.total']}" itemValue="TOTAL" />
		    			 </p:selectOneMenu>
						 <h:outputText value="#{msg['rrd.archive.frequency']}" rendered="#{rrdController.simpleMode}" />
		    			 <p:outputPanel rendered="#{rrdController.simpleMode}">
		    			 	 <p:inputText value="#{rrdController.dummyRrdArchive.frequency}" style="width:50px; vertical-align:middle;"/>
			    			 <p:selectOneMenu value="#{rrdController.dummyRrdArchive.frequencyType}" rendered="#{rrdController.simpleMode}" style="vertical-align:middle;">
			    			 	
			    			 	<f:selectItem itemLabel="#{msg['general.second']}" itemValue="SECOND" />
			    			 	<f:selectItem itemLabel="#{msg['general.minute']}" itemValue="MINUTE" />
			    			 	<f:selectItem itemLabel="#{msg['general.hour']}" itemValue="HOUR" />
			    			 	<f:selectItem itemLabel="#{msg['general.day']}" itemValue="DAY" />
			    			 	<f:selectItem itemLabel="#{msg['general.week']}" itemValue="WEEK" />
			    			 	<f:selectItem itemLabel="#{msg['general.month']}" itemValue="MONTH" />
			    			 	<f:selectItem itemLabel="#{msg['general.year']}" itemValue="YEAR" />
			    			 </p:selectOneMenu> 
		    			 </p:outputPanel>
		    			 <h:outputText value="#{msg['rrd.archive.length']}" rendered="#{rrdController.simpleMode}" />
		    			 <p:outputPanel rendered="#{rrdController.simpleMode}">
		    			 	 <p:inputText value="#{rrdController.dummyRrdArchive.length}" style="width:50px; vertical-align:middle;"/>
			    			 <p:selectOneMenu value="#{rrdController.dummyRrdArchive.lengthType}" rendered="#{rrdController.simpleMode}" style="vertical-align:middle;">
			    			 	
			    			 	<f:selectItem itemLabel="#{msg['general.second']}" itemValue="SECOND" />
			    			 	<f:selectItem itemLabel="#{msg['general.minute']}" itemValue="MINUTE" />
			    			 	<f:selectItem itemLabel="#{msg['general.hour']}" itemValue="HOUR" />
			    			 	<f:selectItem itemLabel="#{msg['general.day']}" itemValue="DAY" />
			    			 	<f:selectItem itemLabel="#{msg['general.week']}" itemValue="WEEK" />
			    			 	<f:selectItem itemLabel="#{msg['general.month']}" itemValue="MONTH" />
			    			 	<f:selectItem itemLabel="#{msg['general.year']}" itemValue="YEAR" />
			    			 </p:selectOneMenu> 
		    			 </p:outputPanel>						
		    			 
		    		</p:panelGrid>
		    		<p:panelGrid columns="2" columnClasses="col1-class, col2-class" id="editArchive_lower">	 
		    			 <ui:remove>
			    			 <h:outputText value="#{msg['rrd.archive.numberOfPeriod']}" rendered="#{rrdController.simpleMode}" />
			    			 <p:inputText value="#{rrdController.dummyRrdArchive.numberOfPeriod}" required="true" requiredMessage="#{msg['rrd.archive.numberOfPeriodPrompt']}" 
			    			 rendered="#{rrdController.simpleMode}" />
		    			 </ui:remove>
		    			 <p:outputLabel for="editArchive_xff" value="#{msg['rrd.archive.xff']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:inputText id="editArchive_xff" value="#{rrdController.dummyRrdArchive.xff}" required="true" requiredMessage="#{msg['rrd.archive.xffPrompt']}" 
		    			 title="#{msg['rrd.archive.xff.expl']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:outputLabel for="editArchive_step" value="#{msg['rrd.archive.step']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:inputText id="editArchive_step" value="#{rrdController.dummyRrdArchive.step}" required="true" requiredMessage="#{msg['rrd.archive.stepPrompt']}"
		    			 title="#{msg['rrd.archive.step.expl']}" rendered="#{!rrdController.simpleMode}" >
		    			 	<f:validateLongRange minimum="1" />
		    			 </p:inputText>
		    			 <p:outputLabel for="editArchive_row" value="#{msg['rrd.archive.row']}" rendered="#{!rrdController.simpleMode}" />
		    			 <p:inputText id="editArchive_row" value="#{rrdController.dummyRrdArchive.row}" required="true" requiredMessage="#{msg['rrd.archive.rowPrompt']}" 
		    			 rendered="#{!rrdController.simpleMode}" >
		    			 	<f:validateLongRange minimum="2" />
		    			 </p:inputText>
		    		</p:panelGrid>
		    		<p:commandButton id="editArchiveSubmitBtn" value="#{msg['general.save']}"
							action="#{rrdController.editRrdArchive()}" update=":mainForm:rrdArchiveTbl"
							onclick="submit" oncomplete="handleEditDaRequest(xhr, status, args)"
							/>
					<script type="text/javascript">  
					    function handleEditDaRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editArchive_dlg.show();
					        } else {  
					        	editArchive_dlg.hide();
					        }  
					    }  
					</script>			
				</h:form>			
			</p:dialog>
			
					
		</p:outputPanel>
	</ui:define>
</ui:composition>