<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
   	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:parts="http://java.sun.com/jsf/composite/parts"
    template="/templates/master.xhtml">
   
<ui:define name="title"> 
	#{msg['main.title']} - #{msg['mibMgmt.title']}
</ui:define>

<ui:define name="pageTitle">
	#{msg['mibMgmt.title']}
</ui:define>	
	
<ui:define name="content">
	<style type="text/css">
		.expanded_content {
	 		padding:0.7em 0.7em 0.7em 0.7em;
	 	}
	 	.detail_grid {
	 		min-width:90%;
	 	}
		th.light-color {
			background: #97AC8F !important;
		}	
		.ui-datatable .ui-state-highlight {
		    color: blue;
		}
		.ui-datatable .ui-state-hover {
			background: transparent;
		    color: blue;
		}
		.col1-class {
			width:140px;
		}
		.col2-class {
			width:140px;
		}
	</style>
				
	<h:form id="mainForm">
		<p:growl id="growl" showDetail="true" globalOnly="false" autoUpdate="true"/>	
		<p:layout style="height:750px;margin-right: 2px;" id="layout">  
		  	<p:layoutUnit position="center" 
		    	styleClass="transparent" size="2000px" id="centerLayout">
		    	<p:outputPanel id="detail_pnl_holder"> 	
		    		<p:panel id="mib_pnl" >
						<p:dataTable id="mib_tbl_id" widgetVar="mib_tbl" value="#{importController.mibList}" var="entity">
							<p:ajax event="rowEdit" listener="#{importController.onMibTableEdit}" update="mib_tbl_id" />
							<p:column width="50" style="text-align: center;">
								<p:commandLink style="float:right" title="#{msg['general.delete']}"
								process="@this"
								action="#{importController.setMib(entity)}"
								oncomplete="deleteMib_dlg.show();"								
								styleClass="ui-icon ui-icon-trash"
								update=":mainForm:dlg_holder" />
							</p:column>
							<p:column>
								<f:facet name="header">
									<h:outputText value="#{msg['mibMgmt.mib']}"/>
								</f:facet>
								<h:outputText value="#{entity.name}"/>
							</p:column>
							<ui:remove>
							<p:column width="50" style="text-align: center;" headerText="#{msg['mibMgmt.loaded']}">									
								<h:graphicImage library="images" name="tick.png" rendered="#{entity.loaded}"/>
								<h:graphicImage library="images" name="cross.png" rendered="#{!entity.loaded}"/>									
							</p:column>
							</ui:remove>												
						</p:dataTable>		   
						<p/>
						<h:form enctype="multipart/form-data" id="uploadForm">    
						    <p:fileUpload fileUploadListener="#{importController.handleMibFileUpload}"  
						            mode="advanced" multiple="false" fileLimit="1"
						            sizeLimit="5000000"   
						            update=":mainForm:mib_pnl"
						            label="#{msg['mibMgmt.choose']}"
						            uploadLabel="#{msg['mibMgmt.upload']}"
						            cancelLabel="#{msg['mibMgmt.cancel']}"
						            />  
						</h:form> 		
					</p:panel>	   
				</p:outputPanel> 	
		    </p:layoutUnit>
		      
		</p:layout>
		<p:outputPanel id="dlg_holder">
			<p:confirmDialog id="deleteMib_id" widgetVar="deleteMib_dlg" message="#{msg['mibMgmt.delete.confirm']}"  
               header="#{msg['general.delete']} #{msg['mibMgmt.mib']}" severity="alert">				
	    		<p:commandButton id="confirm" value="#{msg['general.yes']}" update=":mainForm" action="#{importController.deleteMib()}" onclick="deleteMib_dlg.hide()"  
                   process="@this" />  
      			<p:commandButton id="decline" value="#{msg['general.no']}" onclick="deleteMib_dlg.hide()" type="button" process="@this" />
			</p:confirmDialog>	    	
	    </p:outputPanel>		
	</h:form>
	
</ui:define>
</ui:composition>