<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
   	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:parts="http://java.sun.com/jsf/composite/parts"
    template="/templates/master.xhtml">
   
<ui:define name="title"> 
	#{msg['main.title']} - #{msg['noticonfig.title']}          
</ui:define>

<ui:define name="pageTitle">
	#{msg['noticonfig.title']}
</ui:define>	
	
<ui:define name="content">
	<style type="text/css">
		.alarm-red {
			background: red;
		}
		.alarm-white {
			background: white;
		}
		.alarm-orange {
			background: orange;
		}	
		.expanded_content {
	 		padding:0.7em 0.7em 0.7em 0.7em;
	 	}
	 	.detail_grid {
	 		min-width:90%;
	 	}
		th.light-color {
			background: #97AC8F !important;
		}	
		.ui-datatable .ui-state-highlight {
		    color: blue;
		}
		.ui-datatable .ui-state-hover {
			background: transparent;
		    color: blue;
		}
		.col1-class {
			width:140px;
		}
		.col2-class {
			width:140px;
		}
		.ui-picklist .ui-picklist-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: auto;
			height: 200px;
			width: 250px;
		}
		.ui-picklist .ui-picklist-filter {
			padding-right: 15px;
			width: 92%;
		}
	</style>
				
	<h:form id="mainForm">
		<p:growl id="growl" showDetail="true" globalOnly="false" autoUpdate="true"/>	
		<p:layout style="height:750px;margin-right: 2px;" id="layout">  
		    <p:layoutUnit position="west" collapsible="true" 
		    header="#{msg['general.option.panel']}" styleClass="transparent" >  	
	    		<p:outputPanel id="pnlBrowse">
	    			<p:panel>					
					<p:treeTable id="notigroup_pnl_tbl_id" widgetVar="notigroup_pnl_tbl"
						value="#{notificationConfigController.notiGroupEntityRoot}" var="entity"
						selectionMode="single" selection="#{notificationConfigController.notiGroupSelectedNode}">
						<p:ajax event="select" listener="#{notificationConfigController.onNotiGroupEntitySelect}"
							update="@form" />
						<p:column style="white-space:nowrap; width:200px">
							<f:facet name="header">
								<h:outputText value="#{msg['noticonfig.name']}" style="float:left"/>
								<p:commandLink style="float:right" title="#{msg['noticonfig.delete']}"
										process="@this"										
										styleClass="ui-icon ui-icon-trash"
										oncomplete="deleteNotificationGroup_dlg.show()"
										rendered="#{UserBean.accessLevel == 'WRITE'}" />
							</f:facet>
							<h:outputText value="#{entity.label}" />
						</p:column>
					</p:treeTable>	
					</p:panel>										
				</p:outputPanel>
							
		    </p:layoutUnit>  
		  	<p:layoutUnit position="center" header="#{notificationConfigController.group.type} #{msg['noticonfig.suffix.alarmconfig']}" 
		    	styleClass="transparent" size="2000px" id="centerLayout">
		    	<p:outputPanel id="detail_pnl_holder"> 	
		    	<p:panel id="detail_pnl" rendered="#{notificationConfigController.groupSelected}">
		    		<p:panelGrid columns="2">		    			  	
				    	<h:outputLabel for="group_name" value="#{msg['general.name']}"/>
				    	<p:inputText id="group_name" value="#{notificationConfigController.group.name}" required="true"
				    	requiredMessage="#{msg['general.namePrompt']}"/>	
				    </p:panelGrid>
				    <p/>
				    <p:panel>
				    	<f:facet name="header">#{msg['noticonfig.criteria']}</f:facet>	
				    	<h:outputText value="#{msg['noticonfig.alarmType.label']}" />
				    	<p:selectOneRadio id="options" value="#{notificationConfigController.group.wildcard}">  
				            <f:selectItem itemLabel="#{msg['noticonfig.alarmType.wildcard.false']}" itemValue="false" />  
				            <f:selectItem itemLabel="#{msg['noticonfig.alarmType.wildcard.true']}" itemValue="true" /> 
				            <p:ajax update="picklist_pnl" />
				        </p:selectOneRadio>
				    	<p/>
				    	<p:outputPanel id="picklist_pnl">
				    		<h:outputText value="#{msg['noticonfig.alarmType.tip']}" rendered="#{notificationConfigController.group.wildcard}"/>
				    		<p:pickList id="groupPickList" value="#{notificationConfigController.group.dualList}" var="alarm"  rendered="#{! notificationConfigController.group.wildcard}"
			                    itemValue="#{alarm}" itemLabel="#{alarm.keyString}" converter="AlarmDefinitionConverter"  
			                    showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" style="width:400px" >
						        <f:facet name="sourceCaption">#{msg['noticonfig.available']}</f:facet>  
						        <f:facet name="targetCaption">#{msg['noticonfig.triggerList']}</f:facet>  				  
						    </p:pickList>
					    </p:outputPanel>
					    <p/>
					    
					    <p:outputPanel rendered="#{notificationConfigController.group.type == 'UNATTENDED'}">			 			
				 			<p:panelGrid columns="2" style="width:400px;">
				    			<f:facet name="header">#{msg['noticonfig.threshold']}</f:facet>				    	
						        <h:outputText value="#{msg['noticonfig.day']}" />  
						        <p:inputText value="#{notificationConfigController.day}"/>
						        <h:outputText value="#{msg['noticonfig.hour']}" />  
						        <p:inputText value="#{notificationConfigController.hour}"/>
						        <h:outputText value="#{msg['noticonfig.minute']}" />  
						        <p:inputText value="#{notificationConfigController.minute}"/>	
						        <h:outputText value="#{msg['noticonfig.occurence']}" />  
						        <p:inputText value="#{notificationConfigController.group.occurence}"/>	
						    	<h:outputLabel for="threshold_menu" value="#{msg['noticonfig.unattendThreshold']}" />
						    	<h:selectOneMenu id="threshold_menu" value="#{notificationConfigController.group.triggerer}">
						    		<f:selectItems value="#{notificationConfigController.unattendedTriggerList}" var="triggerer" itemLabel="#{notificationConfigController.getUnattendedTriggerString(triggerer)}" itemValue="#{triggerer}" />
						    	</h:selectOneMenu>   
						    </p:panelGrid>
			 			</p:outputPanel>
				    </p:panel>	 	
				 		<p/>
		    		<p:outputPanel>	
			    		<p:panelGrid columns="2"  style="width:400px;">
			    			<f:facet name="header">#{msg['noticonfig.notifyBy']}</f:facet>		
			    			<ui:remove>		    	
						        <h:outputText value="#{msg['noticonfig.sms']}" />  
						        <p:selectBooleanCheckbox value="#{notificationConfigController.group.sms}">  
						            <p:ajax update="recipientTbl_holder"/>  
						        </p:selectBooleanCheckbox>
					        </ui:remove>
					        <h:outputText value="#{msg['noticonfig.email']}" />  
					        <p:selectBooleanCheckbox value="#{notificationConfigController.group.email}">  
					            <p:ajax update="recipientTbl_holder"/>  
					        </p:selectBooleanCheckbox>
					        
					        <h:outputText value="#{msg['noticonfig.trap']}" rendered="#{notificationConfigController.group.type == 'NEW'}"/>  
					        <p:selectBooleanCheckbox value="#{notificationConfigController.group.trap}" rendered="#{notificationConfigController.group.type == 'NEW'}">  
					            <p:ajax update="snmpConfigTbl_holder"/>  
					        </p:selectBooleanCheckbox>
					    </p:panelGrid>
					</p:outputPanel> 	
				 		<p/>
		    		<p:outputPanel id="recipientTbl_holder">		   
			    		<p:dataTable id="recipientTbl" value="#{notificationConfigController.group.contactsAsList}" var="contact"
			    			rendered="#{notificationConfigController.group.sms or notificationConfigController.group.email}">
			 				<f:facet name="header">
								<h:outputText value="Contact Person"/>
							</f:facet>
			 				<p:column>
								<f:facet name="header">#{msg['general.name']}</f:facet>
								<h:outputText value="#{contact.name}"/>
							</p:column>
							<p:column rendered="#{notificationConfigController.group.sms}">
								<f:facet name="header">#{msg['recipient.phone']}</f:facet>
								<h:outputText value="#{contact.phone}"/>
							</p:column>
							<p:column rendered="#{notificationConfigController.group.email}">
								<f:facet name="header">#{msg['recipient.email']}</f:facet>
								<h:outputText value="#{contact.email}"/>
							</p:column>
							<p:column style="width:26px" rendered="#{UserBean.accessLevel == 'WRITE'}">
								<f:facet name="header">
									<p:commandLink style="float:right" title="#{msg['general.add']}"
										styleClass="ui-icon ui-icon-plusthick"
										oncomplete="newContact_dlg.show(); return false;"
										process="@this"
										disabled="#{empty notificationConfigController.contactList}"
										update=":dlg_holder" />
								</f:facet>
								<p:commandLink style="float:right" title="#{msg['general.delete']}"
										process="@this"
										action="#{notificationConfigController.deleteContact(contact)}"
										styleClass="ui-icon ui-icon-trash"
										update="recipientTbl" />								
							</p:column>		
				 		</p:dataTable>   
				 	</p:outputPanel>	 	
				 	<p/>
				 	
 				 	<p:outputPanel id="snmpConfigTbl_holder">	
				 		<p:dataTable  id="snmpConfigTbl" value="#{notificationConfigController.group.snmpConfigsAsList}" var="snmp" 
				 			rendered="#{notificationConfigController.group.trap}">
				 			<f:facet name="header">
								<h:outputText value="#{msg['snmp.endpoint']}"/>
							</f:facet>
				 			<p:column>
								<f:facet name="header">#{msg['general.name']}</f:facet>
								<h:outputText value="#{snmp.name}"/>
							</p:column>
							<p:column>
								<f:facet name="header">#{msg['snmp.ip']}</f:facet>
								<h:outputText value="#{snmp.ip}"/>
							</p:column>
							<p:column style="width:70px">
								<f:facet name="header">#{msg['snmp.port']}</f:facet>
								<h:outputText value="#{snmp.port}"/>
							</p:column>
							<p:column style="width:90px">
								<f:facet name="header">#{msg['snmp.version']}</f:facet>
								<h:outputText value="#{snmp.version}"/>
							</p:column>
							<p:column style="width:26px" rendered="#{UserBean.accessLevel == 'WRITE'}">
								<f:facet name="header">
									<p:commandLink style="float:right" title="#{msg['general.add']}"
										styleClass="ui-icon ui-icon-plusthick"
										oncomplete="newSnmp_dlg.show(); return false;"
										process="@this"
										disabled="#{empty notificationConfigController.snmpConfigList}"
										update=":dlg_holder" />
								</f:facet>
								<p:commandLink style="float:right" title="#{msg['general.delete']}"
										process="@this"
										action="#{notificationConfigController.deleteSnmp(snmp)}"
										styleClass="ui-icon ui-icon-trash"
										update="snmpConfigTbl" />
							</p:column>	
				 		</p:dataTable>
			 		</p:outputPanel>
			 		<p/> 
			 		<p:commandButton id="saveGroupBtn" icon="ui-icon-check"
						value="#{msg['general.save']}" onclick="submit" action="#{notificationConfigController.saveGroup()}"
						process="@this, detail_pnl, groupPickList"
						update="@form"
						rendered="#{UserBean.accessLevel == 'WRITE'}" />											
				</p:panel>	   
				</p:outputPanel> 	
		    </p:layoutUnit>
		      
		</p:layout>
				
	</h:form>
	<p:outputPanel id="dlg_holder">		
    	<p:dialog id="newContact_id" widgetVar="newContact_dlg" header="#{msg['general.add']} #{msg['recipient.contact']}">
    		<h:form id="addContact_form">				
	    		<p:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">	    						
					<h:outputLabel for="newContact_name" value="#{msg['recipient.contact']}" />
					<p:selectOneMenu id="newContact_name"
						value="#{notificationConfigController.newContactName}">
						<f:selectItems value="#{notificationConfigController.contactList}" var="contact" itemLabel="#{contact}" itemValue="#{contact}" />
					</p:selectOneMenu>						   					
				</p:panelGrid>
	    		<p:commandButton id="newContactSubmitBtn" value="#{msg['general.save']}"
					action="#{notificationConfigController.addNewContact()}" update=":mainForm:recipientTbl_holder"
					oncomplete="newContact_dlg.hide();" 
					/>
			</h:form>			    		
    	</p:dialog>
    	
    	
    	<p:dialog header="#{msg['general.add']} #{msg['snmp.config']}" id="newSnmp_dlg_id"
			widgetVar="newSnmp_dlg" resizable="false">	
			<h:form id="addSnmp_form">
				<p:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">							
					<h:outputLabel for="newSnmp_name" value="#{msg['snmp.config']}" />
					<p:selectOneMenu id="newSnmp_name"
						value="#{notificationConfigController.newSnmpName}">
						<f:selectItems value="#{notificationConfigController.snmpConfigList}" var="snmp" itemLabel="#{snmp}" itemValue="#{snmp}" />
					</p:selectOneMenu>						   					
				</p:panelGrid>					
				<p:commandButton id="newSnmpCfmBtn" icon="ui-icon-check"
					value="#{msg['general.save']}" onclick="submit" action="#{notificationConfigController.addNewSnmp()}"
					oncomplete="newSnmp_dlg.hide()"
					update=":mainForm:snmpConfigTbl_holder" />
			</h:form>		
		</p:dialog>
		<h:form id="deleteGroup_form">
	    	<p:confirmDialog id="deleteNotificationGroup_id" modal="true"
				message="#{msg['noticonfig.dlg.prompt.deleteNotiGroup.message']}"
				header="#{msg['noticonfig.dlg.prompt.deleteNotiGroup.header']}" severity="alert"
				widgetVar="deleteNotificationGroup_dlg">
				<p:commandButton id="deleteNotificationGroup_confirm" value="#{msg['general.yes']}"
					update=":mainForm" oncomplete="deleteNotificationGroup_dlg.hide()"
					action="#{notificationConfigController.deleteGroup}"/>
				<p:commandButton id="deleteNotificationGroup_decline" value="#{msg['general.no']}"
					onclick="deleteNotificationGroup_dlg.hide()" type="button" />
			</p:confirmDialog>
		</h:form>
    </p:outputPanel>
</ui:define>
</ui:composition>