<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:parts="http://java.sun.com/jsf/composite/parts"
	template="/templates/master.xhtml">

	<ui:define name="title"> 
	#{msg['main.title']} - #{msg['oid.correspondent.title']}          
</ui:define>

	<ui:define name="pageTitle">
	#{msg['oid.correspondent.title']}
</ui:define>

	<ui:define name="content">
		<style type="text/css">
.alarm-red {
	background: red;
}

.alarm-white {
	background: white;
}

.alarm-orange {
	background: orange;
}

.expanded_content {
	padding: 0.7em 0.7em 0.7em 0.7em;
}

.detail_grid {
	min-width: 90%;
}

th.light-color {
	background: #97AC8F !important;
}

.ui-datatable .ui-state-highlight {
	color: blue;
}

.ui-datatable .ui-state-hover {
	background: transparent;
	color: blue;
}
</style>

		<h:form id="mainForm">
			<p:growl id="growl" showDetail="true" globalOnly="false"
				autoUpdate="true" />
			<p:layout style="height:750px;margin-right: 2px;" id="layout">
				<p:layoutUnit position="west" collapsible="true"
					header="#{msg['general.option.panel']}" styleClass="transparent">
					<p:outputPanel id="traplist_pnl">
						<p:panel>
							<p:treeTable id="productgroup_treetbl_id"
								widgetVar="productgroup_treetbl_tbl"
								value="#{oidMapController.groupEntityRoot}" var="entity"
								selectionMode="single"
								selection="#{oidMapController.selectedGroupNode}">
								<p:ajax event="select"
									listener="#{oidMapController.onGroupSelect}"
									update=":mainForm:traplist_pnl" />

								<p:column style="white-space:nowrap; width:230px">
									<f:facet name="header">
										<h:outputText value="#{msg['oid.panel.mib_group']}"
											style="float:left" />
										<p:commandLink style="float:right"
											title="#{msg['oid.panel.mib_group.delete']}"
											styleClass="ui-icon ui-icon-trash" process="@this"
											oncomplete="deleteProductGroup_dlg.show();"
											rendered="#{UserBean.accessLevel == 'WRITE'}" />
										<p:commandLink style="float:right"
											title="#{msg['oid.panel.mib_group.edit']}" process="@this"
											styleClass="ui-icon ui-icon-pencil"
											update=":mainForm:dlg_holder"
											oncomplete="editProductGroup_dlg.show(); return false;"
											rendered="#{UserBean.accessLevel == 'WRITE'}" />
										<p:commandLink style="float:right"
											title="#{msg['oid.panel.mib_group.new']}"
											styleClass="ui-icon ui-icon-plusthick" process="@this"
											oncomplete="newProductGroup_dlg.show(); return false;"
											update=":mainForm:dlg_holder"
											rendered="#{UserBean.accessLevel == 'WRITE'}" />
									</f:facet>
									<h:outputText value="#{entity.oidAsTrapName}" />
								</p:column>
							</p:treeTable>
							<p />
							<p:treeTable id="traplist_treetbl_id"
								widgetVar="traplist_treetbl_tbl"
								value="#{oidMapController.trapEntityRoot}" var="entity"
								selectionMode="single"
								selection="#{oidMapController.selectedTrapNode}">
								<p:ajax event="select"
									listener="#{oidMapController.onTrapSelect}"
									update=":mainForm:detail_pnl_holder" />
								<p:column style="white-space:nowrap; width:230px">
									<f:facet name="header">
										<h:outputText value="#{msg['oid.panel.trap']}"
											style="float:left" />
										<p:commandLink style="float:right"
											title="#{msg['oid.panel.trap.delete']}"
											styleClass="ui-icon ui-icon-trash" process="@this"
											oncomplete="deleteOidMap_dlg.show()"
											rendered="#{UserBean.accessLevel == 'WRITE'}" />
										<p:commandLink style="float:right"
											title="#{msg['oid.panel.trap.new']}"
											styleClass="ui-icon ui-icon-plusthick" process="@this"
											update=":mainForm:dlg_holder" oncomplete="newTrap_dlg.show()"
											rendered="#{UserBean.accessLevel == 'WRITE'}" />
									</f:facet>
									<h:outputText value="#{entity.oidAsTrapName}" />
								</p:column>
							</p:treeTable>
						</p:panel>
					</p:outputPanel>
				</p:layoutUnit>

				<p:layoutUnit id="layoutunit_id" position="center"
					styleClass="transparent" size="2000px">
					<p:outputPanel id="detail_pnl_holder">
						<p:panel id="detail_pnl"
							rendered="#{oidMapController.oidMapSelected}"
							header="#{oidMapController.header}">
							<p:dataTable id="dummyDisplayList_id"
								value="#{oidMapController.dummyDisplayList}" var="oidMap">
								<f:facet name="header">
									<h:outputText value="#{msg['oid.center.trap.info']}" />
								</f:facet>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['oid.center.trap.mibgroup']}" />
									</f:facet>
									<h:outputText value="#{oidMap.parent.oidAsTrapName}" />
								</p:column>
								<p:column style="width:333px">
									<f:facet name="header">
										<h:outputText value="#{msg['oid.center.trap']}" />
									</f:facet>
									<h:outputText value="#{oidMap.oidAsTrapName}" />
								</p:column>
								<p:column style="width:333px">
									<f:facet name="header">
										<h:outputText value="#{msg['oid.center.trap.mapped']}" />
									</f:facet>
									<h:outputText value="#{oidMap.mappedOidAsTrapName}" />
								</p:column>
								<p:column style="width:25px"
									rendered="#{UserBean.accessLevel=='WRITE'}">
									<f:facet name="header">
									</f:facet>
									<p:commandLink style="float:right"
										title="#{msg['oid.center.trap.edit']}"
										styleClass="ui-icon ui-icon-pencil"
										action="#{oidMapController.setDummyOidMap}" process="@this"
										update=":mainForm:dlg_holder"
										oncomplete="editOidMap_dlg.show()" />
								</p:column>
							</p:dataTable>
							<p />
							<p:dataTable id="objName_tbl"
								value="#{oidMapController.oidMap.objectNamesAsList}"
								var="objName" sortBy="#{objName}">
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['oid.center.objectname']}" />
									</f:facet>
									<h:outputText value="#{objName.oidAsTrapName}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['oid.center.objectname.mapped']}" />
									</f:facet>
									<h:outputText value="#{objName.mappedOidAsTrapName}" />
								</p:column>
								<p:column style="width:53px"
									rendered="#{UserBean.accessLevel=='WRITE'}">
									<f:facet name="header">
										<p:commandLink style="float:right"
											title="#{msg['oid.center.objectname.add']}"
											styleClass="ui-icon ui-icon-plusthick" process="@this"
											update=":mainForm:dlg_holder"
											oncomplete="addObjectName_dlg.show()" />
									</f:facet>
									<p:commandLink style="float:right"
										title="#{msg['oid.center.objectname.delete']}"
										styleClass="ui-icon ui-icon-trash"
										action="#{oidMapController.deleteObjectName(objName)}"
										process="@this" update=":mainForm:detail_pnl_holder" />
									<p:commandLink style="float:right"
										title="#{msg['oid.center.objectname.edit']}"
										styleClass="ui-icon ui-icon-pencil"
										action="#{oidMapController.setDummyObjectName(objName)}"
										process="@this" update=":mainForm:dlg_holder"
										oncomplete="editObjectName_dlg.show()" />
								</p:column>
							</p:dataTable>
							<p />
							<p:dataTable id="objNameMap_tbl"
								value="#{oidMapController.objectNameMapList}" var="objName"
								sortBy="#{objName}">
								<f:facet name="header">
									<h:outputText value="#{msg['oid.center.valuemap']}" />
								</f:facet>
								<p:column style="width:333px">
									<f:facet name="header">
										<h:outputText value="#{msg['oid.center.objectname']}" />
									</f:facet>
									<h:outputText value="#{objName.oidAsTrapName}" />
								</p:column>
								<p:column style="width:333px">
									<f:facet name="header">
										<h:outputText value="#{msg['oid.center.valuemap.incoming']}" />
									</f:facet>
									<h:outputText value="#{objName.value}" />
								</p:column>
								<p:column>
									<f:facet name="header">
										<h:outputText value="#{msg['oid.center.valuemap.mapped']}" />
									</f:facet>
									<h:outputText value="#{objName.mappedValue}" />
								</p:column>
								<p:column style="width:53px"
									rendered="#{UserBean.accessLevel=='WRITE'}">
									<f:facet name="header">
										<p:commandLink style="float:right"
											title="#{msg['oid.center.valuemap.new']}"
											styleClass="ui-icon ui-icon-plusthick" process="@this"
											oncomplete="newOidNameValueMap_dlg.show(); return false;"
											update=":mainForm:dlg_holder"
											rendered="#{UserBean.accessLevel == 'WRITE'}" />
									</f:facet>
									<p:commandLink style="float:right"
										title="#{msg['oid.center.valuemap.delete']}"
										styleClass="ui-icon ui-icon-trash"
										action="#{oidMapController.deleteObjectNameMap(objName)}"
										process="@this" update=":mainForm:detail_pnl_holder" />
									<p:commandLink style="float:right"
										title="#{msg['oid.center.valuemap.edit']}"
										styleClass="ui-icon ui-icon-pencil"
										action="#{oidMapController.setDummyObjectNameMap(objName)}"
										process="@this" update=":mainForm:dlg_holder"
										oncomplete="editOidNameValueMap_dlg.show()" />
								</p:column>
							</p:dataTable>
						</p:panel>
					</p:outputPanel>
				</p:layoutUnit>
			</p:layout>
			<p:outputPanel id="dlg_holder">
				<p:dialog header="#{msg['oid.center.valuemap.new']}"
					id="newOidNameValueMap_id" widgetVar="newOidNameValueMap_dlg"
					resizable="false" modal="true"
					rendered="#{oidMapController.oidMapSelected}">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<h:outputLabel for="newOidNameValueMap_key"
							value="#{msg['oid.dlg.valuemap.original_objectname']}" />
						<h:selectOneMenu id="newOidNameValueMap_key"
							value="#{oidMapController.objectNameMap.oid}">
							<f:selectItems
								value="#{oidMapController.oidMap.objectNamesAsList}" var="name"
								itemLabel="#{name.oidAsTrapName}" itemValue="#{name.oid}" />
							<f:converter converterId="OidConverter" />
						</h:selectOneMenu>
						<h:outputLabel for="newOidNameValueMap_value"
							value="#{msg['oid.center.valuemap.incoming']}" />
						<p:inputText id="newOidNameValueMap_value"
							value="#{oidMapController.objectNameMap.value}" required="true"
							requiredMessage="#{msg['oid.dlg.prompt.incomingValue']}" />
						<h:outputLabel for="newOidNameValueMap_mappedValue"
							value="#{msg['oid.center.valuemap.mapped']}" />
						<p:inputText id="newOidNameValueMap_mappedValue"
							value="#{oidMapController.objectNameMap.mappedValue}"
							required="true"
							requiredMessage="#{msg['oid.dlg.prompt.mappedValue']}" />
					</h:panelGrid>
					<p:commandButton id="newOidNameValueMapSubmitBtn"
						value="#{msg['general.save']}"
						process="@this, newOidNameValueMap_id"
						action="#{oidMapController.addObjectNameMap}"
						update="@form, :mainForm:detail_pnl_holder"
						oncomplete="newOidNameValueMap_dlg.hide();" />
				</p:dialog>

				<p:dialog header="#{msg['oid.panel.trap.new']}" id="newTrap_id"
					widgetVar="newTrap_dlg" resizable="false" modal="true">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<h:outputLabel for="newTrap_oid" value="#{msg['oid.dlg.oid']}" />
						<p:inputText id="newTrap_oid"
							value="#{oidMapController.newOidMap.oid}" required="true"
							requiredMessage="#{msg['oid.dlg.prompt.oid']}">
							<f:converter converterId="OidConverter" />
							<p:ajax />
						</p:inputText>
						<h:outputLabel for="newTrap_name" value="#{msg['oid.dlg.name']}" />
						<p:inputText id="newTrap_name"
							value="#{oidMapController.newOidMap.name}" required="true"
							requiredMessage="#{msg['oid.dlg.prompt.trapName']}">
							<p:ajax />
						</p:inputText>
						<h:outputText value="#{msg['oid.center.trap.mapped']}" />
						<h:selectOneMenu id="newTrap_mappedOid"
							value="#{oidMapController.newOidMap.mappedOid}">
							<f:selectItems value="#{oidMapController.svrTrapList}" var="trap"
								itemLabel="#{trap.name}" itemValue="#{trap.oid}" />
							<f:converter converterId="OidConverter" />
							<p:ajax />
						</h:selectOneMenu>
						<h:outputLabel for="newTrap_product"
							value="#{msg['oid.center.trap.mibgroup']}" />
						<h:selectOneMenu id="newTrap_product"
							value="#{oidMapController.newOidMap.parent}">
							<f:selectItems value="#{oidMapController.groups}" var="group"
								itemLabel="#{group.name}" itemValue="#{group}" />
							<f:converter converterId="ProductGroupConverter" />
							<p:ajax />
						</h:selectOneMenu>
					</h:panelGrid>
					<p:commandButton id="newTrapSubmitBtn"
						value="#{msg['general.save']}" process="@this, newTrap_id"
						action="#{oidMapController.addOidMap}"
						update="@form, :mainForm:traplist_pnl" immediate="true"
						oncomplete="newTrap_dlg.hide();">
						<p:ajax />
					</p:commandButton>
				</p:dialog>

				<p:dialog header="#{msg['oid.center.valuemap.edit']}"
					id="editOidNameValueMap_id" widgetVar="editOidNameValueMap_dlg"
					resizable="false" modal="true"
					rendered="#{oidMapController.oidMapSelected}">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<h:outputLabel for="editOidNameValueMap_key"
							value="#{msg['oid.dlg.valuemap.original_objectname']}" />
						<h:selectOneMenu id="editOidNameValueMap_key"
							value="#{oidMapController.dummyObjectNameMap.oid}">
							<f:selectItems
								value="#{oidMapController.oidMap.objectNamesAsList}" var="name"
								itemLabel="#{name.oidAsTrapName}" itemValue="#{name.oid}" />
							<f:converter converterId="OidConverter" />
						</h:selectOneMenu>
						<h:outputLabel for="editOidNameValueMap_value"
							value="#{msg['oid.center.valuemap.incoming']}" />
						<p:inputText id="editOidNameValueMap_value"
							value="#{oidMapController.dummyObjectNameMap.value}"
							required="true"
							requiredMessage="#{msg['oid.dlg.prompt.incomingValue']}" />
						<h:outputLabel for="editOidNameValueMap_mappedValue"
							value="#{msg['oid.center.valuemap.mapped']}" />
						<p:inputText id="editOidNameValueMap_mappedValue"
							value="#{oidMapController.dummyObjectNameMap.mappedValue}"
							required="true"
							requiredMessage="#{msg['oid.dlg.prompt.mappedValue']}" />
					</h:panelGrid>
					<p:commandButton id="editOidNameValueMapSubmitBtn"
						value="#{msg['general.save']}"
						process="@this, editOidNameValueMap_id"
						action="#{oidMapController.editObjectNameMap}"
						update="@form, :mainForm:detail_pnl_holder"
						oncomplete="editOidNameValueMap_dlg.hide();" />
				</p:dialog>

				<p:dialog header="#{msg['oid.center.objectname.add']}"
					id="addObjectName_id" widgetVar="addObjectName_dlg"
					resizable="false" modal="true"
					rendered="#{oidMapController.oidMapSelected}">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<h:outputLabel for="addObjectName_key"
							value="#{msg['oid.dlg.oid']}" />
						<p:inputText id="addObjectName_key"
							value="#{oidMapController.newObjectName.oid}" required="true"
							requiredMessage="#{msg['oid.dlg.prompt.objectName']}">
							<f:converter converterId="OidConverter" />
						</p:inputText>
						<h:outputLabel for="addObjectName_mappedOid"
							value="#{msg['oid.center.objectname.mapped']}" />
						<h:selectOneMenu id="addObjectName_mappedOid"
							value="#{oidMapController.newObjectName.mappedOid}">
							<f:selectItems value="#{oidMapController.svrConstantTraps}"
								var="trap" itemLabel="#{trap.name}" itemValue="#{trap.oid}" />
							<f:converter converterId="OidConverter" />
						</h:selectOneMenu>
					</h:panelGrid>
					<p:commandButton id="addObjectNameSubmitBtn"
						value="#{msg['general.save']}" process="@this, addObjectName_id"
						action="#{oidMapController.addObjectName}"
						update="@form, :mainForm:detail_pnl_holder"
						oncomplete="addObjectName_dlg.hide();" />
				</p:dialog>

				<p:dialog header="#{msg['oid.center.objectname.edit']}"
					id="editObjectName_id" widgetVar="editObjectName_dlg"
					resizable="false" modal="true"
					rendered="#{oidMapController.oidMapSelected}">
					<h:panelGrid columns="2" style="margin-bottom:10px">
						<h:outputLabel for="editObjectName_key"
							value="#{msg['oid.center.objectname']}" />
						<h:outputText id="editObjectName_key"
							value="#{oidMapController.dummyObjectName.oidAsTrapName}">
						</h:outputText>
						<h:outputLabel for="editObjectName_mappedOid"
							value="#{msg['oid.center.objectname.mapped']}" />
						<h:selectOneMenu id="editObjectName_mappedOid"
							value="#{oidMapController.dummyObjectName.mappedOid}">
							<f:selectItems value="#{oidMapController.svrConstantTraps}"
								var="trap" itemLabel="#{trap.name}" itemValue="#{trap.oid}" />
							<f:converter converterId="OidConverter" />
						</h:selectOneMenu>
					</h:panelGrid>
					<p:commandButton id="editObjectNameSubmitBtn"
						value="#{msg['general.save']}" process="@this, editObjectName_id"
						action="#{oidMapController.editObjectName}"
						update="@form, :mainForm:detail_pnl_holder"
						oncomplete="editObjectName_dlg.hide();" />
				</p:dialog>
				<p:dialog header="#{msg['oid.center.trap.edit']}" id="editOidMap_id"
					widgetVar="editOidMap_dlg" resizable="false" modal="true"
					rendered="#{oidMapController.oidMapSelected}">
					<p:panelGrid columns="2">
						<f:facet name="header">
							<h:outputText value="#{msg['oid.center.trap.edit']}" />
						</f:facet>
						<h:outputText value="#{msg['oid.dlg.name']}" />
						<h:outputText
							value="#{oidMapController.dummyOidMap.oidAsTrapName}" />
						<ui:remove>
							<h:outputText value="#{msg['oid.dlg.trap.newname']}" />
							<p:inputText value="#{oidMapController.dummyOidMap.name}"
								title="Leave this field blank for using default name">
								<p:ajax />
							</p:inputText>
						</ui:remove>
						<h:outputText value="#{msg['oid.center.trap.mapped']}" />
						<h:selectOneMenu id="editOidMap_mappedOid"
							value="#{oidMapController.dummyOidMap.mappedOid}">
							<f:selectItems value="#{oidMapController.svrTrapList}" var="trap"
								itemLabel="#{trap.name}" itemValue="#{trap.oid}" />
							<f:converter converterId="OidConverter" />
							<p:ajax />
						</h:selectOneMenu>
						<h:outputLabel for="editOidMap_product"
							value="#{msg['oid.center.trap.mibgroup']}" />
						<h:selectOneMenu id="editOidMap_product"
							value="#{oidMapController.dummyOidMap.parent}">
							<f:selectItems value="#{oidMapController.groups}" var="group"
								itemLabel="#{group.name}" itemValue="#{group}" />
							<f:converter converterId="ProductGroupConverter" />
							<p:ajax />
						</h:selectOneMenu>
					</p:panelGrid>
					<p:commandButton id="editOidMapSubmitBtn"
						value="#{msg['general.save']}" process="@this, editOidMap_id"
						immediate="true" action="#{oidMapController.editOidMap}"
						update="@form, :mainForm:traplist_pnl, :mainForm:detail_pnl_holder"
						oncomplete="editOidMap_dlg.hide();">
						<p:ajax />
					</p:commandButton>
				</p:dialog>
				<p:dialog id="editProductGroup_id" widgetVar="editProductGroup_dlg">
					<p:panelGrid columns="2">
						<h:outputLabel for="editProductGroup_name"
							value="#{msg['oid.dlg.name']}" />
						<p:inputText id="editProductGroup_name"
							value="#{oidMapController.dummyProductGroup.name}"
							required="true"
							requiredMessage="#{msg['oid.dlg.prompt.groupName']}" />
						<h:outputLabel for="editProductGroup_oid"
							value="#{msg['oid.dlg.oid']}" />
						<p:inputText id="editProductGroup_oid"
							value="#{oidMapController.dummyProductGroup.oid}" required="true"
							requiredMessage="#{msg['oid.dlg.prompt.oid']}">
							<f:converter converterId="OidConverter" />
						</p:inputText>
					</p:panelGrid>
					<p:commandButton id="editProductGroupSubmitBtn"
						value="#{msg['general.save']}"
						action="#{oidMapController.editProductGroup()}" update="@form"
						oncomplete="editProductGroup_dlg.hide();"
						process="@this, editProductGroup_id" />
				</p:dialog>
				<p:dialog header="#{msg['oid.panel.mib_group.new']}"
					id="newProductGroup_id" widgetVar="newProductGroup_dlg">
					<p:panelGrid columns="2">
						<h:outputLabel for="newProductGroup_name"
							value="#{msg['oid.dlg.name']}" />
						<p:inputText id="newProductGroup_name"
							value="#{oidMapController.newProductGroup.name}" required="true"
							requiredMessage="#{msg['oid.dlg.prompt.groupName']}" />
						<h:outputLabel for="newProductGroup_phone"
							value="#{msg['oid.dlg.oid']}" />
						<p:inputText id="newProductGroup_phone"
							value="#{oidMapController.newProductGroup.oid}" required="true"
							requiredMessage="#{msg['oid.dlg.prompt.oid']}">
							<f:converter converterId="OidConverter" />
						</p:inputText>
					</p:panelGrid>
					<p:commandButton id="newProductGroupSubmitBtn"
						value="#{msg['general.save']}"
						action="#{oidMapController.addNewProductGroup()}" update="@form"
						oncomplete="newProductGroup_dlg.hide();"
						process="@this, newProductGroup_id" />
				</p:dialog>
				<p:confirmDialog id="deleteOidMap_id" modal="true"
					message="#{msg['oid.dlg.prompt.deleteTrap.message']}"
					header="#{msg['oid.dlg.prompt.deleteTrap.header']}"
					severity="alert" widgetVar="deleteOidMap_dlg">
					<p:commandButton id="deleteOidMap_confirm"
						value="#{msg['general.yes']}" update="@form"
						oncomplete="deleteOidMap_dlg.hide()"
						action="#{oidMapController.deleteOidMap()}" process="@this" />
					<p:commandButton id="deleteOidMap_decline"
						value="#{msg['general.no']}" onclick="deleteOidMap_dlg.hide()"
						type="button" />
				</p:confirmDialog>
				<p:confirmDialog id="deleteProductGroup_id" modal="true"
					message="#{msg['oid.dlg.prompt.deleteProductGroup.message']}"
					header="#{msg['oid.dlg.prompt.deleteProductGroup.header']}"
					severity="alert" widgetVar="deleteProductGroup_dlg">
					<p:commandButton id="deleteProductGroup_confirm"
						value="#{msg['general.yes']}" update="@form"
						oncomplete="deleteProductGroup_dlg.hide()"
						action="#{oidMapController.deleteProductGroup()}" process="@this" />
					<p:commandButton id="deleteProductGroup_decline"
						value="#{msg['general.no']}"
						onclick="deleteProductGroup_dlg.hide()" type="button" />
				</p:confirmDialog>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>