<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/master.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<ui:define name="title">
		#{msg['main.title']} - #{msg['recipient.title']}
	</ui:define>

	<ui:define name="pageTitle">
		#{msg['recipient.title']}
	</ui:define>	

	<ui:define name="content">
	
		<style type="text/css">			
			.expanded_content {
		 		padding:0.7em 0.7em 0.7em 0.7em;
		 	}
		 	.detail_grid {
		 		min-width:90%;
		 	}
			th.light-color {
				background: #97AC8F !important;
			}	
			.ui-datatable .ui-state-highlight {
			    color: blue;
			}
			.ui-datatable .ui-state-hover {
				background: transparent;
			    color: blue;
			}
			.col1-class {
				width:140px;
			}
			.col2-class {
				width:140px;
			}
		</style>
	
		<p:growl id="messages" autoUpdate="true" showDetail="true" globalOnly="false"/>
			
		<h:form id="mainForm">
			<p:panel>		
				<p:outputPanel id="recipientTbl_holder">		
				<p:dataTable id="recipientTbl" value="#{recipientController.contacts}" var="contact">
	 				<f:facet name="header">
						<h:outputText value="#{msg['recipient.contact']}"/>
					</f:facet>
					<p:column styleClass="colAddBtn" rendered="#{UserBean.accessLevel == 'WRITE'}">				
						<f:facet name="header">
							<p:commandLink style="float:right" title="#{msg['general.add']}"
								styleClass="ui-icon ui-icon-plusthick"
								oncomplete="newContact_dlg.show(); return false;"
								process="@this"
								update=":dlg_holder" />
						</f:facet>
					</p:column>
	 				<p:column>
						<f:facet name="header">#{msg['general.name']}</f:facet>
						<h:outputText value="#{contact.name}"/>
					</p:column>
					<p:column>
						<f:facet name="header">#{msg['recipient.phone']}</f:facet>
						<h:outputText value="#{contact.phone}"/>
					</p:column>
					<p:column>
						<f:facet name="header">#{msg['recipient.email']}</f:facet>
						<h:outputText value="#{contact.email}"/>
					</p:column>
					<p:column style="width:53px" rendered="#{UserBean.getAccessLevel() == 'WRITE'}">
						<p:commandLink style="float:right" title="#{msg['general.delete']}"
								process="@this"
								action="#{recipientController.deleteContact(contact)}"
								styleClass="ui-icon ui-icon-trash"
								update=":mainForm:recipientTbl_holder" />
						<p:commandLink style="float:right" title="#{msg['general.edit']}"
								process="@this"
								action="#{recipientController.setDummyContact(contact)}"
								styleClass="ui-icon ui-icon-pencil"
								update=":dlg_holder"
								oncomplete="editContact_dlg.show(); return false;"/>
					</p:column>		
		 		</p:dataTable>
		 		</p:outputPanel>
		 		<h:panelGroup>
					<br />
					<br />
				</h:panelGroup>
				<p:outputPanel id="snmpConfigTbl_holder">
				<p:dataTable  id="snmpConfigTbl" value="#{recipientController.snmps}" var="snmp">
					<f:facet name="header">
						<h:outputText value="SNMP Relay Endpoint"/>
					</f:facet>
		 			<p:column styleClass="colAddBtn" rendered="#{UserBean.accessLevel == 'WRITE'}">
						<f:facet name="header">
							<p:commandLink style="float:right" title="#{msg['general.add']}"
								styleClass="ui-icon ui-icon-plusthick"
								oncomplete="newSnmp_dlg.show(); return false;"
								process="@this"
								update=":dlg_holder" />
						</f:facet>
					</p:column>
		 			<p:column>
						<f:facet name="header">#{msg['snmp.endpoint']}</f:facet>
						<h:outputText value="#{snmp.name}"/>
					</p:column>
					<p:column>
						<f:facet name="header">#{msg['snmp.ip']}</f:facet>
						<h:outputText value="#{snmp.ip}"/>
					</p:column>
					<p:column style="width:70px">
						<f:facet name="header">#{msg['snmp.port']}</f:facet>
						<h:outputText value="#{snmp.port}"/>
					</p:column>
					<p:column style="width:90px">
						<f:facet name="header">#{msg['snmp.version']}</f:facet>
						<h:outputText value="#{snmp.version}"/>
					</p:column>
					<p:column style="width:53px" rendered="#{UserBean.getAccessLevel() == 'WRITE'}">
						<p:commandLink style="float:right" title="#{msg['general.delete']}"
								process="@this"
								action="#{recipientController.deleteSnmp(snmp)}"
								styleClass="ui-icon ui-icon-trash"
								update=":mainForm:snmpConfigTbl_holder" />
						<p:commandLink style="float:right" title="#{msg['general.edit']}"
								process="@this"
								action="#{recipientController.setDummySnmp(snmp)}"
								styleClass="ui-icon ui-icon-pencil"
								update=":dlg_holder"
								oncomplete="editSnmp_dlg.show(); return false;"/>
					</p:column>	
		 		</p:dataTable>
		 		</p:outputPanel>
			</p:panel>						
		</h:form>
		
		<p:outputPanel id="dlg_holder">		
	    	<p:dialog id="newContact_id" widgetVar="newContact_dlg" header="#{msg['general.add']} #{msg['recipient.contact']}"
	    			modal="true" resizable="false">
	    		<h:form id="addContact_form">
		    		<h:panelGrid columns="2">
		    			<p:outputLabel for="newContact_name" value="#{msg['general.name']}"/>
		    			<p:inputText id="newContact_name" value="#{recipientController.newContact.name}" 
		    			required="true" requiredMessage="#{msg['general.namePrompt']}">
		    				<f:validator validatorId="NameValidator" />
		    			</p:inputText>
		    			<p:outputLabel for="newContact_phone" value="#{msg['recipient.phone']}"/>
		    			<p:inputText id="newContact_phone" value="#{recipientController.newContact.phone}" />
		    			<p:outputLabel for="newContact_email" value="#{msg['recipient.email']}"/>
		    			<p:inputText id="newContact_email" value="#{recipientController.newContact.email}" required="true" requiredMessage="#{msg['recipient.email.required']}">
		    				<f:validator validatorId="EmailValidator" />
		    			</p:inputText>
		    		</h:panelGrid>
		    		<p:commandButton id="newContactSubmitBtn" value="#{msg['general.save']}"
							action="#{recipientController.addContact()}" update=":mainForm:recipientTbl_holder"
							oncomplete="newContact_dlg.hide();" 
							/>
				</h:form>			    		
	    	</p:dialog>
	    	<p:dialog id="editContact_id" widgetVar="editContact_dlg" header="#{msg['general.edit']} #{msg['recipient.contact']}"
	    			modal="true" resizable="false">
	    		<h:form id="editContact_form">
		    		<h:panelGrid columns="2">
		    			<p:outputLabel for="editContact_name" value="#{msg['general.name']}"/>
		    			<p:inputText id="editContact_name" value="#{recipientController.dummyContact.name}" 
		    			required="true" requiredMessage="#{msg['general.namePrompt']}">
		    				<f:validator validatorId="NameValidator" />
		    			</p:inputText>
		    			<p:outputLabel for="editContact_phone" value="#{msg['recipient.phone']}"/>
		    			<p:inputText id="editContact_phone" value="#{recipientController.dummyContact.phone}" />
		    			<p:outputLabel for="editContact_email" value="#{msg['recipient.email']}"/>
		    			<p:inputText id="editContact_email" value="#{recipientController.dummyContact.email}" >
		    				<f:validator validatorId="EmailValidator" />
		    			</p:inputText>
		    		</h:panelGrid>
		    		<p:commandButton id="editContactSubmitBtn" value="#{msg['general.save']}"
							action="#{recipientController.editContact()}" update=":mainForm:recipientTbl_holder"
							oncomplete="editContact_dlg.hide();"
							/>	
				</h:form>		    		
	    	</p:dialog>
	    	<p:dialog header="#{msg['general.edit']} #{msg['snmp.config']}" id="editSnmp_dlg_id"
				widgetVar="editSnmp_dlg" modal="true" resizable="false">
				<h:form id="editSnmp_form">
					<p:outputPanel id="editSnmp_upper">				
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">
							<p:outputLabel for="editSnmp_name" value="#{msg['general.name']}" />
							<p:inputText id="editSnmp_name"
								value="#{recipientController.dummySnmp.name}" required="true"
								requiredMessage="#{msg['general.namePrompt']}" />					
							<p:outputLabel for="editSnmp_ip" value="#{msg['snmp.ip']}" />
							<p:inputText id="editSnmp_ip"
								value="#{recipientController.dummySnmp.ip}" required="true"
								requiredMessage="#{msg['snmp.ipPrompt']}">
								<f:validator validatorId="IPValidator" />
							</p:inputText>					
							<p:outputLabel for="editSnmp_port" value="#{msg['snmp.port']}" />
							<p:inputText id="editSnmp_port"
								value="#{recipientController.dummySnmp.port}" required="true"
								requiredMessage="#{msg['snmp.portPrompt']}">
								<f:validator validatorId="PortValidator" />
							</p:inputText>
							<p:outputLabel for="editSnmp_version" value="#{msg['snmp.version']}" />
							<p:selectOneMenu id="editSnmp_version"
								value="#{recipientController.dummySnmp.version}">
								<p:ajax update="editSnmp_lower"/>
								<f:selectItem itemLabel="SNMP V1" itemValue="SNMPV1" />
								<f:selectItem itemLabel="SNMP V2" itemValue="SNMPV2" />
								<f:selectItem itemLabel="SNMP V3" itemValue="SNMPV3" />
							</p:selectOneMenu>
							
						</h:panelGrid>					
					</p:outputPanel>
					<p:outputPanel id="editSnmp_lower">		
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">		
							<p:outputLabel for="editSnmp_community_trap" value="#{msg['snmp.community.trap']}" rendered="#{recipientController.dummySnmp.version=='SNMPV2' or recipientController.dummySnmp.version=='SNMPV1'}"/>
							<p:inputText id="editSnmp_community_trap" rendered="#{recipientController.dummySnmp.version=='SNMPV2' or recipientController.dummySnmp.version=='SNMPV1'}"
								value="#{recipientController.dummySnmp.communityTrap}" required="true" requiredMessage="#{msg['snmp.prompt.community.trap']}">
							</p:inputText>					
							<p:outputLabel for="editSnmp_engineId" value="#{msg['snmp.engineId']}" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}"/>
							<p:inputText id="editSnmp_engineId" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}"
								value="#{recipientController.dummySnmp.engineId}">
							</p:inputText>
							<p:outputLabel for="editSnmp_username" value="#{msg['snmp.username']}" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}"/>
							<p:inputText id="editSnmp_username" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}"
								value="#{recipientController.dummySnmp.username}">
							</p:inputText>
							<p:outputLabel for="editSnmp_authPassword" value="#{msg['snmp.auth.password']}" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}"/>
							<p:password id="editSnmp_authPassword" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}" redisplay="true"
								value="#{recipientController.dummySnmp.authPassword}">
							</p:password>
							<p:outputLabel for="editSnmp_authProtocol" value="#{msg['snmp.auth.protocol']}" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}"/>
							<p:selectOneMenu id="editSnmp_authProtocol" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}"
								value="#{recipientController.dummySnmp.auth}">
								<f:selectItem itemLabel="" itemValue="NONE" />
								<f:selectItem itemLabel="MD5" itemValue="MD5" />
								<f:selectItem itemLabel="SHA" itemValue="SHA" />
							</p:selectOneMenu>							
							<p:outputLabel for="editSnmp_snmp_privPassword" value="#{msg['snmp.priv.password']}" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}"/>
							<p:password id="editSnmp_snmp_privPassword" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}" redisplay="true"
								value="#{recipientController.dummySnmp.privPassword}">
							</p:password>
							<p:outputLabel for="editSnmp_snmp_privProtocol" value="#{msg['snmp.priv.protocol']}" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}"/>
							<p:selectOneMenu id="editSnmp_snmp_privProtocol" rendered="#{recipientController.dummySnmp.version=='SNMPV3'}"
								value="#{recipientController.dummySnmp.priv}">
								<f:selectItem itemLabel="" itemValue="NONE" />
								<f:selectItem itemLabel="DES" itemValue="DES" />
								<f:selectItem itemLabel="3DES" itemValue="TRIPLE_DES" />
								<f:selectItem itemLabel="AES128" itemValue="AES128" />
								<f:selectItem itemLabel="AES192" itemValue="AES192" />
								<f:selectItem itemLabel="AES256" itemValue="AES256" />
							</p:selectOneMenu>					
						</h:panelGrid>
					</p:outputPanel>
					<p:commandButton id="editSnmpCfmBtn" icon="ui-icon-check"
						value="#{msg['general.save']}" onclick="submit" action="#{recipientController.editSnmp()}"
						oncomplete="editSnmp_dlg.hide()"
						update=":mainForm:snmpConfigTbl_holder" />
				</h:form>				
			</p:dialog>
	    	
	    	<p:dialog header="#{msg['general.add']} #{msg['snmp.config']}" id="newSnmp_dlg_id"
				widgetVar="newSnmp_dlg" modal="true" resizable="false">	
				<h:form id="addSnmp_form">	
					<p:outputPanel id="newSnmp_upper"> 		
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">	
							<p:outputLabel for="newSnmp_name" value="#{msg['general.name']}" />
							<p:inputText id="newSnmp_name"
								value="#{recipientController.newSnmp.name}" required="true"
								requiredMessage="#{msg['general.namePrompt']}" />					
							<p:outputLabel for="newSnmp_ip" value="#{msg['snmp.ip']}" />
							<p:inputText id="newSnmp_ip"
								value="#{recipientController.newSnmp.ip}" required="true"
								requiredMessage="#{msg['snmp.ipPrompt']}">
								<f:validator validatorId="IPValidator" />
							</p:inputText>					
							<p:outputLabel for="newSnmp_port" value="#{msg['snmp.port']}" />
							<p:inputText id="newSnmp_port"
								value="#{recipientController.newSnmp.port}" required="true"
								requiredMessage="#{msg['snmp.portPrompt']}">
								<f:validator validatorId="PortValidator" />
							</p:inputText>
							<p:outputLabel for="newSnmp_trap_type" value="#{msg['snmp.version']}" />
							<p:selectOneMenu id="newSnmp_trap_type"
								value="#{recipientController.newSnmp.version}">
								<p:ajax update="newSnmp_lower"/>
								<f:selectItem itemLabel="SNMP V1" itemValue="SNMPV1" />
								<f:selectItem itemLabel="SNMP V2" itemValue="SNMPV2" />
								<f:selectItem itemLabel="SNMP V3" itemValue="SNMPV3" />
							</p:selectOneMenu>     					
						</h:panelGrid>
					</p:outputPanel>	
					<p:outputPanel id="newSnmp_lower">
						<h:panelGrid columns="2" columnClasses="col1-class, col2-class" style="margin-bottom:10px">	
							<p:outputLabel for="newSnmp_community_trap" value="#{msg['snmp.community.trap']}" rendered="#{recipientController.newSnmp.version=='SNMPV2' or recipientController.newSnmp.version=='SNMPV1'}"/>
							<p:inputText id="newSnmp_community_trap" rendered="#{recipientController.newSnmp.version=='SNMPV2' or recipientController.newSnmp.version=='SNMPV1'}"
								value="#{recipientController.newSnmp.communityTrap}" required="true" requiredMessage="#{msg['snmp.prompt.community.trap']}">
							</p:inputText>					
							<p:outputLabel for="newSnmp_engineId" value="#{msg['snmp.engineId']}" rendered="#{recipientController.newSnmp.version=='SNMPV3'}"/>
							<p:inputText id="newSnmp_engineId" rendered="#{recipientController.newSnmp.version=='SNMPV3'}"
								value="#{recipientController.newSnmp.engineId}">
							</p:inputText>
							<p:outputLabel for="newSnmp_username" value="#{msg['snmp.username']}" rendered="#{recipientController.newSnmp.version=='SNMPV3'}"/>
							<p:inputText id="newSnmp_username" rendered="#{recipientController.newSnmp.version=='SNMPV3'}"
								value="#{recipientController.newSnmp.username}">
							</p:inputText>
							<p:outputLabel for="newSnmp_authPassword" value="#{msg['snmp.auth.password']}" rendered="#{recipientController.newSnmp.version=='SNMPV3'}"/>
							<p:password id="newSnmp_authPassword" rendered="#{recipientController.newSnmp.version=='SNMPV3'}"
								value="#{recipientController.newSnmp.authPassword}">
							</p:password>
							<p:outputLabel for="newSnmp_authProtocol" value="#{msg['snmp.auth.protocol']}" rendered="#{recipientController.newSnmp.version=='SNMPV3'}"/>
							<p:selectOneMenu id="newSnmp_authProtocol" rendered="#{recipientController.newSnmp.version=='SNMPV3'}" redisplay="true"
								value="#{recipientController.newSnmp.auth}">
								<f:selectItem itemLabel="" itemValue="NONE" />
								<f:selectItem itemLabel="MD5" itemValue="MD5" />
								<f:selectItem itemLabel="SHA" itemValue="SHA" />
							</p:selectOneMenu>							
							<p:outputLabel for="newSnmp_snmp_privPassword" value="#{msg['snmp.priv.password']}" rendered="#{recipientController.newSnmp.version=='SNMPV3'}"/>
							<p:password id="newSnmp_snmp_privPassword" rendered="#{recipientController.newSnmp.version=='SNMPV3'}" redisplay="true"
								value="#{recipientController.newSnmp.privPassword}">
							</p:password>
							<p:outputLabel for="newSnmp_snmp_privProtocol" value="#{msg['snmp.priv.protocol']}" rendered="#{recipientController.newSnmp.version=='SNMPV3'}"/>
							<p:selectOneMenu id="newSnmp_snmp_privProtocol" rendered="#{recipientController.newSnmp.version=='SNMPV3'}"
								value="#{recipientController.newSnmp.priv}">
								<f:selectItem itemLabel="" itemValue="NONE" />
								<f:selectItem itemLabel="DES" itemValue="DES" />
								<f:selectItem itemLabel="3DES" itemValue="TRIPLE_DES" />
								<f:selectItem itemLabel="AES128" itemValue="AES128" />
								<f:selectItem itemLabel="AES192" itemValue="AES192" />
								<f:selectItem itemLabel="AES256" itemValue="AES256" />
							</p:selectOneMenu>					
						</h:panelGrid>
					</p:outputPanel>	
					<p:commandButton id="newSnmpCfmBtn" icon="ui-icon-check"
						value="#{msg['general.save']}" onclick="submit" action="#{recipientController.addSnmp()}"
						oncomplete="newSnmp_dlg.hide()"
						update=":mainForm:snmpConfigTbl_holder" />	
				</h:form>	
			</p:dialog>		    	
	    </p:outputPanel>
	</ui:define>
</ui:composition>
