<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"	
	template="/templates/master.xhtml">
	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['script.title']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msg['script.title']}
	</ui:define>

	<ui:define name="content">	
		<style type="text/css">			
			.col1-class {
				width:140px;
			}
			.col2-class {
				width:190px;
			}
			.expanded_content {
				padding: 0.7em 0.7em 0.7em 0.7em;
			}
			th.twoedit {
				width: 53px;
			}
			th.light-color {
				background: #97AC8F !important;
			}
		</style>	
		<h:form id="mainForm">	
			<p:growl id="growl" showDetail="true" globalOnly="false" autoUpdate="true"/>	
			<p:layout style="height:750px;margin-right: 2px;" id="layout">  
				
			    <p:layoutUnit position="west" collapsible="true"
			    header="#{msg['system.host.list']}" size="400">		
			    	<p:panel>
						<p:treeTable id="host_treetbl_id" widgetVar="host_treetbl"
							value="#{scriptController.hostRoot}" var="entity"
							selectionMode="single" selection="#{scriptController.selectedNode}">
							<p:ajax event="select" listener="#{scriptController.onHostNodeSelected}" 
								update=":mainForm:pnl_holder, :mainForm:dlg_holder"/>							
							<p:column style="white-space:nowrap; width:230px">		
								<f:facet name="header">
									#{msg['general.name']}
								</f:facet>													
								<h:outputText value="#{entity.name}" />
							</p:column>
							<p:column style="white-space:nowrap; width:160px">		
								<f:facet name="header">
									#{msg['general.type']}
								</f:facet>													
								<h:outputText value="#{entity.entityType}" />								
							</p:column>
						</p:treeTable>
						
				    </p:panel>
				</p:layoutUnit>
				
				<p:layoutUnit id="center_layout" position="center" header="#{msg['general.details']}"> 
		    		
		    		<p:panel id="detail_pnl">	
		    		<p:outputPanel id="pnl_holder">   
		    			<h:outputText value="#{msg['general.selectHostPrompt']}" rendered="#{empty scriptController.selectedHost}"/> 			
	    				<p:dataTable value="#{scriptController.scripts}" var="script" rendered="#{! empty scriptController.selectedHost}">    					
	    					<p:column style="width:200px">
	    						<f:facet name="header">
	    							<h:outputText value="#{msg['general.name']}" />
	    						</f:facet>
	    						<h:outputText value="#{script.name}" />
	    					</p:column>	    					
	    					<p:column >
	    						<f:facet name="header">
	    							<h:outputText value="#{msg['script.path']}" />
	    						</f:facet>
	    						<h:outputText value="#{script.path}" />
	    					</p:column>	
	    					<p:column style="width:60px" rendered="#{UserBean.accessLevel=='WRITE'}">
	    						<f:facet name="header">
	    							<p:commandLink style="float:right" title="#{msg['general.add']}"
									styleClass="ui-icon ui-icon-plusthick"	
									process="@this"	
									action="#{scriptController.reset()}"
									update=":mainForm:dlg_holder"							
									oncomplete="addScript_dlg.show()"/>
	    						</f:facet>
	    						<p:commandLink style="float:right" title="#{msg['general.delete']}"
									styleClass="ui-icon ui-icon-trash"	
									process="@this"	
									update=":mainForm:pnl_holder"
									disabled="#{script.locked}" />
	    						<p:commandLink style="float:right" title="#{msg['general.edit']}"
									styleClass="ui-icon ui-icon-pencil"	
									process="@this"	
									action="#{scriptController.setDummyScript(script)}"
									update=":mainForm:dlg_holder"							
									oncomplete="editScript_dlg.show()" 
									disabled="#{script.locked}" />
	    					</p:column>
	    				</p:dataTable>	
	    			</p:outputPanel>		    			
		    		</p:panel>
		    		
		    	</p:layoutUnit>			    	
			</p:layout>
			<p:outputPanel id="dlg_holder">
				<p:dialog id="addScript_dlg_id" widgetVar="addScript_dlg">
					
					<p:panelGrid columns="2" style="margin-top:10px">  
				        <p:outputLabel for="addScript_name" value="#{msg['general.name']}" />
				        <p:inputText id="addScript_name" value="#{scriptController.script.name}" required="true" requiredMessage="#{msg['general.namePrompt']}" />
				        <p:outputLabel for="addScript_path" value="#{msg['script.path']}" />  
				        <p:inputText id="addScript_path" value="#{scriptController.script.path}" disabled="true" />
				    </p:panelGrid>
				    
				    <p:inputTextarea value="#{scriptController.content}" size="200" cols="150"/>
				    <ui:remove>
					<p:editor id="addScriptEditor" value="#{scriptController.content}" width="600" controls="undo redo cut copy paste"/>  
	  				</ui:remove>
				    <p:panelGrid columns="2" style="margin-top:10px">  
				        <p:commandButton id="addScriptSubmitButton" value="#{msg['general.save']}" update="pnl_holder" oncomplete="addScript_dlg.hide()" action="#{scriptController.addScript()}" 
				                        process="@this, addScript_dlg_id" icon="ui-icon-disk" />  
				        <p:commandButton id="addScriptClearButton" type="button" value="#{msg['general.clear']}" onclick="addScriptEditor.clear()"  
				                        process="@this, addScript_dlg_id" icon="ui-icon-close" />  
				    </p:panelGrid>					
				</p:dialog>
				<p:dialog id="editScript_dlg_id" widgetVar="editScript_dlg">
					<p:panelGrid columns="2" style="margin-top:10px">  
				        <p:outputLabel for="editScript_name" value="#{msg['general.name']}" />
				        <p:inputText id="editScript_name" value="#{scriptController.dummyScript.name}" required="true" requiredMessage="#{msg['general.namePrompt']}" />
				        <p:outputLabel for="editScript_path" value="#{msg['script.path']}" />  
				        <p:inputText id="editScript_path" value="#{scriptController.dummyScript.path}" disabled="true" />
				    </p:panelGrid>
					<p:inputTextarea value="#{scriptController.content}" size="200" cols="150"/>
				    <ui:remove>
					<p:editor id="editScriptEditor" value="#{scriptController.content}" width="600" controls="undo redo cut copy paste"/>  
	  				</ui:remove>
				    <p:panelGrid columns="2" style="margin-top:10px">  
				        <p:commandButton id="editScriptSubmitButton" value="#{msg['general.save']}" update="pnl_holder" oncomplete="editScript_dlg.hide()" action="#{scriptController.editScript()}" 
				                        process="@this, editScript_dlg_id" icon="ui-icon-disk" />  
				        <p:commandButton id="editScriptClearButton" type="button" value="#{msg['general.clear']}" onclick="editScriptEditor.clear()"  
				                        process="@this, editScript_dlg_id" icon="ui-icon-close" />  
				    </p:panelGrid>					
				</p:dialog>
			</p:outputPanel>	    
		</h:form>
	</ui:define>
</ui:composition>