<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/master.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
		
	<ui:define name="title">
		#{msg['main.title']} - #{msg['site.title']}
	</ui:define>

	<ui:define name="pageTitle">
		#{msg['site.title']}
	</ui:define>	

	<ui:define name="content">
		<style type="text/css">
			.expanded_content {
				padding: 0.7em 0.7em 0.7em 0.7em;
			}
			
			.col1-class {
				width:140px;
			}
			.col2-class {
				width:140px;
			}
			.detailgrid-col1-class {
				width:250px;
			}
			.detailgrid-col2-class {
				width:710px;
			}
			
			.detail_grid {
				min-width: 90%;
			}
			
			th.light-color {
				background: #97AC8F !important;
			}
			
			th.target {
				width: 110px;
			}
			
			th.watermark {
				width: 125px;
			}
			
			th.edit {
				width: 25px;
			}
			
			th.priority {
				width: 110px;
			}
			
			th.threeedit {
				width: 70px;
			}
		</style>
		<p:growl id="growl" showDetail="true" globalOnly="false" autoUpdate="true"/>
			
		<h:form id="mainForm">
			<p:panel>
				<f:facet name="header">
					<h:outputText value="#{msg['site.title']}" styleClass="tableHeader" />
				</f:facet>
				
				<p:dataTable var="site" value="#{siteController.sites}" paginatorPosition="bottom"
					selectionMode="single" selection="#{siteController.selectedSite}" rowKey="#{site.id}"
					paginator="true" rows="10" rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false">
					<p:ajax event="rowSelect" update=":mainForm:tbl_holder" />
					<p:column styleClass="colAddBtn" >
						<f:facet name="header">
							<p:commandLink style="float:right" title="#{msg['general.add']}"
									styleClass="ui-icon ui-icon-plusthick"	
									process="@this"	
									update=":dlg_holder"							
									oncomplete="addSite_dlg.show()"
									rendered="#{UserBean.accessLevel == 'WRITE'}"/>
						</f:facet>
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msg['site.siteName']}"/>
						</f:facet>
						<h:outputText value="#{site.siteName}" />
					</p:column>	
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msg['site.location']}"/>
						</f:facet>
						<h:outputText value="#{site.location}" />
					</p:column>	
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msg['site.contact_person']}"/>
						</f:facet>
						<h:outputText value="#{site.contactPerson}" />
					</p:column>	
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msg['site.phone']}"/>
						</f:facet>
						<h:outputText value="#{site.phone}" />
					</p:column>	
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msg['site.email']}"/>
						</f:facet>
						<h:outputText value="#{site.email}" />
					</p:column>		
					<p:column>
						<f:facet name="header">
							<h:outputText value="#{msg['site.host_count']}"/>
						</f:facet>
						<h:outputText value="#{site.hostCount}" />
					</p:column>
					<p:column styleClass="threeedit">				
						<p:commandLink style="float:right" title="#{msg['general.delete']}"
									styleClass="ui-icon ui-icon-trash"	
									process="@this"								
									action="#{siteController.deleteSite(site)}"
									rendered="#{UserBean.accessLevel == 'WRITE'}"
									disabled="#{site.hostCount!=0}"
									update="@form"/>
						<p:commandLink style="float:right" title="#{msg['general.edit']}"
									styleClass="ui-icon ui-icon-pencil"	
									process="@this"	
									action="#{siteController.setDummySite(site)}"	
									update=":dlg_holder"						
									oncomplete="editSite_dlg.show(); return false;"
									rendered="#{UserBean.accessLevel == 'WRITE'}"
									/>
						<p:commandLink style="float:right" styleClass="ui-icon ui-icon-search" action="#{siteController.setSelectedSite(site)}"
								update=":mainForm:tbl_holder"
								process="@this"
								title="#{msg['general.select']}" />									
					</p:column>															
				</p:dataTable>
				
				<p:outputPanel id="tbl_holder">

					<h:panelGroup rendered="#{! empty siteController.selectedSite}">
						<br />
						<br />
					</h:panelGroup>
	
					<p:dataTable id="hostTable" paginatorPosition="bottom" 
						var="host" value="#{siteController.selectedSite.hostsAsList}" 
						rendered="#{! empty siteController.selectedSite}"
						paginator="true" rows="10" rowsPerPageTemplate="10,20,50" paginatorAlwaysVisible="false">
						<f:facet name="header">										
							<h:outputText value="#{siteController.selectedSite.siteName}"/>
						</f:facet>	
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['site.system']}"/>
							</f:facet>
							<h:outputText value="#{host.systemConfig.name}" />
						</p:column>	
						<p:column>
							<f:facet name="header">
								<h:outputText value="#{msg['site.host']}"/>
							</f:facet>
							<h:outputText value="#{host.name}" />
						</p:column>						
					</p:dataTable>
				</p:outputPanel>				
			</p:panel>			
		</h:form>
		<p:outputPanel id="dlg_holder">
			<p:dialog header="#{msg['general.add']} #{msg['site.title']}" id="addSite_id" widgetVar="addSite_dlg"
				rendered="#{UserBean.accessLevel == 'WRITE'}" 
				modal="true" resizable="false"
				visible="#{siteController.sitesEmpty}">
				<h:form id="addSite_form">
					<h:panelGrid columns="2">
		    			<p:outputLabel for="addSite_siteName" value="#{msg['site.siteName']}"/>
		    			<p:inputText id="addSite_siteName" value="#{siteController.site.siteName}" required="true"
		    			requiredMessage="#{msg['site.dlg.siteName']}"/>
		    			<p:outputLabel for="addSite_location" value="#{msg['site.location']}"/>
		    			<p:inputText id="addSite_location" value="#{siteController.site.location}" required="true"
		    			requiredMessage="#{msg['site.dlg.location']}"/>	    			
		    			<p:outputLabel for="addSite_contactPerson" value="#{msg['site.contact_person']}"/>
		    			<p:inputText id="addSite_contactPerson" value="#{siteController.site.contactPerson}" />
		    			<p:outputLabel for="addSite_phone" value="#{msg['site.phone']}"/>
		    			<p:inputText id="addSite_phone" value="#{siteController.site.phone}"/>
		    			<p:outputLabel for="addSite_email" value="#{msg['site.email']}"/>
		    			<p:inputText id="addSite_email" value="#{siteController.site.email}">
		    				<f:validator validatorId="EmailValidator" />
		    			</p:inputText>
		    		</h:panelGrid>
		    		<p:commandButton id="addSiteSubmitBtn" value="#{msg['general.save']}"
							action="#{siteController.addSite()}" update=":mainForm"
							oncomplete="handleAddRequest(xhr, status, args);" 
							onclick="submit"/>
					<script type="text/javascript">  
					    function handleAddRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	addSite_dlg.show();
					        } else {  
					        	addSite_dlg.hide();
					        }  
					    }  
					</script>	
				</h:form>			    		
	    	</p:dialog>			    	

			
	    	
	    	<p:dialog header="#{msg['general.edit']} #{msg['site.title']}" id="editSite_id" widgetVar="editSite_dlg"
					modal="true" resizable="false">
				<h:form id="editSite_form">	
		    		<h:panelGrid columns="2">
		    			<p:outputLabel for="editSite_siteName" value="#{msg['site.siteName']}"/>
		    			<p:inputText id="editSite_siteName" value="#{siteController.dummySite.siteName}" required="true"
		    				requiredMessage="#{msg['site.dlg.siteName']}"/>
		    			<p:outputLabel for="editSite_location" value="#{msg['site.location']}"/>
		    			<p:inputText id="editSite_location" value="#{siteController.dummySite.location}" required="true"
		    				requiredMessage="#{msg['site.dlg.location']}"/>	    			
		    			<p:outputLabel for="editSite_contactPerson" value="#{msg['site.contact_person']}"/>
		    			<p:inputText id="editSite_contactPerson" value="#{siteController.dummySite.contactPerson}" />
		    			<p:outputLabel for="editSite_phone" value="#{msg['site.phone']}"/>
		    			<p:inputText id="editSite_phone" value="#{siteController.dummySite.phone}"/>
		    			<p:outputLabel for="editSite_email" value="#{msg['site.email']}"/>
		    			<p:inputText id="editSite_email" value="#{siteController.dummySite.email}">
		    				<f:validator validatorId="EmailValidator" />
		    			</p:inputText>
		    		</h:panelGrid>
		    		<p:commandButton id="editSiteSubmitBtn" value="#{msg['general.save']}"
							action="#{siteController.editSite()}" update=":mainForm"
							oncomplete="handleEditRequest(xhr, status, args);" 
							onclick="submit"/>
					<script type="text/javascript">  
					    function handleEditRequest(xhr, status, args) { 
					        if(args.validationFailed) {
					        	editSite_dlg.show();
					        } else {  
					        	editSite_dlg.hide();
					        }  
					    }  
					</script>			
				</h:form>		    		
	    	</p:dialog>			    	

						
		</p:outputPanel>
	</ui:define>

</ui:composition>
