<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"	
	template="/templates/master.xhtml">
	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['snmp.target.title']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msg['snmp.target.title']}
	</ui:define>

	<ui:define name="content">	
		<style type="text/css">			
			.col1-class {
				width:140px;
			}
			.col2-class {
				width:140px;
			}
		</style>	
		<h:form id="mainForm">	
		<p:growl id="growl" showDetail="true" globalOnly="false" autoUpdate="true"/>	
			<p:layout style="height:750px;margin-right: 2px;" id="layout">  
				
			    <p:layoutUnit position="west" collapsible="true" resizable="true"
			    header="#{msg['snmp.config.list']}" size="300">		
			    	<p:panel>
						<p:treeTable id="snmpConfig_treetbl_id" widgetVar="snmpConfig_treetbl"
							value="#{snmpBrowseController.snmpRoot}" var="entity"
							selectionMode="single" selection="#{snmpTargetController.selectedSnmpNode}">
							<p:ajax event="select" listener="#{snmpTargetController.onSnmpNodeSelected}" 
								update=":mainForm:pnl_holder, :mainForm:dlg_holder"/>							
							<p:column style="white-space:nowrap; width:230px">		
								<f:facet name="header">
									#{msg['general.name']}
								</f:facet>													
								<h:outputText value="#{entity.name}" />
							</p:column>
							<p:column style="white-space:nowrap; width:160px">		
								<f:facet name="header">
									#{msg['general.type']}
								</f:facet>													
								<h:outputText value="#{entity.entityType}" />								
							</p:column>
						</p:treeTable>
						
				    </p:panel>
				</p:layoutUnit>
				
				<p:layoutUnit id="center_layout" position="center" header="#{msg['snmp.target.table_header']}">  
		    		<p:outputPanel id="pnl_holder">
		    		<p:panel id="detail_pnl">
		    			<h:outputText value="#{msg['snmp.target.snmpConfigPrompt']}" rendered="#{empty snmpTargetController.snmpConfig}" />	    			
	    				<p:dataTable value="#{snmpTargetController.targets}" var="target" rendered="#{! empty snmpTargetController.snmpConfig}" >
	    					<p:column styleClass="colAddBtn" rendered="#{UserBean.accessLevel == 'WRITE'}">	    					
	    						<f:facet name="header">
	    							<p:commandLink style="float:right" title="#{msg['general.add']}"
										styleClass="ui-icon ui-icon-plusthick"
										action="#{snmpTargetController.reset()}"	
										process="@this"	
										update=":mainForm:dlg_holder"							
										oncomplete="editTarget_dlg.show()">
										<f:setPropertyActionListener target="#{snmpTargetController.createNew}" value="true"/>
									</p:commandLink>
	    						</f:facet>
	    					</p:column>
	    					<p:column style="width:200px">
	    						<f:facet name="header">
	    							<h:outputText value="#{msg['general.name']}" />
	    						</f:facet>
	    						<h:outputText value="#{target.name}" />
	    					</p:column>
	    					<p:column style="width:200px">
	    						<f:facet name="header">
	    							<h:outputText value="#{msg['snmp.target.methodType']}" />
	    						</f:facet>
	    						<h:outputText value="#{target.methodType}" />
	    					</p:column>	    					
	    					<p:column style="width:200px" rendered="false">
	    						<f:facet name="header">
	    							<h:outputText value="#{msg['snmp.target.walkDir']}" />
	    						</f:facet>
	    						<h:outputText value="#{snmpTargetController.getWalkDirStr(target)}" />
	    					</p:column>
	    					<p:column style="width:200px">
	    						<f:facet name="header">
	    							<h:outputText value="#{msg['snmp.target.valueDir']}" />
	    						</f:facet>
	    						<h:outputText value="#{snmpTargetController.getValueDirStr(target)}" />
	    					</p:column>
	    					<p:column style="width:200px">
	    						<f:facet name="header">
	    							<h:outputText value="#{msg['snmp.target.keyDir']}" />
	    						</f:facet>
	    						<h:outputText value="#{snmpTargetController.getKeyDirStr(target)}" />
	    					</p:column>
	    					<p:column>
	    						<f:facet name="header">
	    							<h:outputText value="#{msg['snmp.target.targetString']}" />
	    						</f:facet>
	    						<h:outputText value="#{target.keyString}" />
	    					</p:column>
	    					<p:column>
	    						<f:facet name="header">
	    							<h:outputText value="#{msg['snmp.target.suffix']}" />
	    						</f:facet>
	    						<h:outputText value="#{target.suffixString}" />
	    					</p:column>
	    					<p:column style="width:60px" rendered="#{UserBean.accessLevel=='WRITE'}" >
	    						<p:commandLink style="float:right" title="#{msg['general.delete']}"
									styleClass="ui-icon ui-icon-trash"	
									process="@this"	
									action="#{snmpTargetController.deleteSnmpTarget(target)}"
									update=":mainForm:pnl_holder"
									disabled="#{snmpTargetController.isLocked(target)}" />
	    						<p:commandLink style="float:right" title="#{msg['general.edit']}"
									styleClass="ui-icon ui-icon-pencil"	
									process="@this"	
									action="#{snmpTargetController.setTarget(target)}"
									update=":mainForm:editTarget_id"							
									oncomplete="editTarget_dlg.show()" 
									disabled="#{snmpTargetController.isLocked(target)}">
									<f:setPropertyActionListener target="#{snmpTargetController.createNew}" value="false"/>
								</p:commandLink>	
	    					</p:column>
	    				</p:dataTable>		    			
		    		</p:panel>
		    		</p:outputPanel>
		    	</p:layoutUnit>			    	
			</p:layout>
			<p:outputPanel id="dlg_holder">
				<p:dialog id="editTarget_id" widgetVar="editTarget_dlg" header="#{msg['general.addEdit']} #{msg['snmp.target']}"
						   resizable="false" modal="true">
					<h:panelGrid columns="2" columnClasses="col1-class, col2-class">
		    			<p:outputLabel for="editTarget_name" value="#{msg['general.name']}" />
		    			<p:inputText id="editTarget_name" value="#{snmpTargetController.target.name}" required="true" requiredMessage="#{msg['general.namePrompt']}" />
		    			<p:outputLabel for="editTarget_methodType" value="#{msg['snmp.target.methodType']}"/>
		    			<p:selectOneMenu id="editTarget_methodType" value="#{snmpTargetController.target.methodType}">  			              
				              <f:selectItem itemLabel="#{msg['snmp.target.methodType.static']}" itemValue="STATIC" />
				              <f:selectItem itemLabel="#{msg['snmp.target.methodType.dynamic']}" itemValue="DYNAMIC" />
				              <p:ajax update="editTarget_pnl_lower"/>
				        </p:selectOneMenu>				        		    			
		    		</h:panelGrid>
		    		<p:outputPanel id="editTarget_pnl_lower">
		    		<h:panelGrid columns="2" columnClasses="col1-class, col2-class">
		    			<ui:remove>
			    			<p:outputLabel for="editTarget_walkDir" value="#{msg['snmp.target.walkDir']}" rendered="#{snmpTargetController.target.methodType=='DYNAMIC'}" />
			    			<p:selectOneMenu id="editTarget_walkDir" value="#{snmpTargetController.target.walkDir}" rendered="#{snmpTargetController.target.methodType=='DYNAMIC'}" 
			    			filter="true" filterMatchMode="contains" >  			              
					              <f:selectItems value="#{snmpTargetController.containers}" var="container" itemLabel="#{container.name}" itemValue="#{container.oid.toString()}" />
					        </p:selectOneMenu>
				        </ui:remove>
				        <p:outputLabel for="editTarget_keyDir" value="#{msg['snmp.target.keyDir']}" rendered="#{snmpTargetController.target.methodType=='DYNAMIC'}" />
		    			<p:selectOneMenu id="editTarget_keyDir" value="#{snmpTargetController.selectedKeyDir}" rendered="#{snmpTargetController.target.methodType=='DYNAMIC'}" editable="true"
		    				filter="true" filterMatchMode="contains" >  			              
				              <f:selectItems value="#{snmpTargetController.oidNames}" var="name" itemLabel="#{name}" itemValue="#{name}" />
				        </p:selectOneMenu>				        
				        <p:outputLabel for="editTarget_targetString" value="#{msg['snmp.target.targetString']}" rendered="#{snmpTargetController.target.methodType=='DYNAMIC'}" />
		    			<p:inputText id="editTarget_targetString" value="#{snmpTargetController.target.targetString}" rendered="#{snmpTargetController.target.methodType=='DYNAMIC'}" />
		    			
		    			<p:outputLabel for="editTarget_keyType" value="#{msg['snmp.target.keyType']}" rendered="#{snmpTargetController.target.methodType=='DYNAMIC'}" />	
				        <p:selectOneMenu id="editTarget_keyType" value="#{snmpTargetController.target.keyType}" rendered="#{snmpTargetController.target.methodType=='DYNAMIC'}" >  			              
				              <f:selectItem itemLabel="#{msg['snmp.target.keyType.integer']}" itemValue="INTEGER" />
				              <f:selectItem itemLabel="#{msg['snmp.target.keyType.string']}" itemValue="STRING" />
				        </p:selectOneMenu>
		    			
				        <p:outputLabel for="editTarget_valueDir" value="#{msg['snmp.target.valueDir']}"/>
		    			<p:selectOneMenu id="editTarget_valueDir" value="#{snmpTargetController.selectedValueDir}" filter="true" filterMatchMode="contains"  editable="true">  			              
				              <f:selectItems value="#{snmpTargetController.oidNames}" var="name" itemLabel="#{name}" itemValue="#{name}" />
				        </p:selectOneMenu>
				        <p:outputLabel for="editTarget_suffix" value="#{msg['snmp.target.suffix']}" rendered="#{snmpTargetController.target.methodType=='STATIC'}" />
		    			<p:inputText id="editTarget_suffix" value="#{snmpTargetController.target.suffix}" rendered="#{snmpTargetController.target.methodType=='STATIC'}" />
		    		</h:panelGrid>
		    		</p:outputPanel>
		    		<p:commandButton id="editTargetSubmitBtn" value="#{msg['general.save']}"
							action="#{snmpTargetController.saveSnmpTarget()}" update=":mainForm:pnl_holder"
							oncomplete="editTarget_dlg.hide();" 
							onclick="submit"
							process="@this, editTarget_id"/>
				</p:dialog>				
			</p:outputPanel>	    
		</h:form>
	</ui:define>
</ui:composition>