<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:config="http://java.sun.com/jsf/composite/ui/config"
	template="/templates/master.xhtml">

	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['system.title']}
  	</ui:define>

	<ui:define name="pageTitle">
		#{msg['system.title']}
	</ui:define>

	<ui:define name="content">
		<style type="text/css">
.expanded_content {
	padding: 0.7em 0.7em 0.7em 0.7em;
}

.col1-class {
	width: 140px;
}

.col2-class {
	width: 140px;
}

.detailgrid-col1-class {
	width: 250px;
}

.detailgrid-col2-class {
	width: 710px;
}

.detail_grid {
	min-width: 90%;
}

th.light-color {
	background: #97AC8F !important;
}

th.target {
	width: 110px;
}

th.watermark {
	width: 125px;
}

th.edit {
	width: 25px;
}

th.priority {
	width: 110px;
}

th.twoedit {
	width: 53px;
}
</style>
		
		<p:tabView id="dataTabView"  widgetVar="configTabView" dynamic="true" cache="false">
			<p:ajax event="tabChange" listener="#{configController.onTabChange}"/>

			<p:tab id="configSite" title="Site">
				<p:growl id="growSite" globalOnly="false" autoUpdate="true" showDetail="true" />	
				<config:site/>
			</p:tab>
			
			<p:tab id="configSystem" title="System">
				<p:growl id="growSystem" globalOnly="false" autoUpdate="true" showDetail="true" />
				<config:system/>
			</p:tab>

			<p:tab id="configHost" title="Host">
				<config:host/>
			</p:tab>

			<p:tab id="configMonitor" title="Monitor">
				<config:monitor/>
			</p:tab>

			<p:tab id="configTrigger" title="Trigger">
				<config:trigger/>
			</p:tab>

		</p:tabView>

		<script type="text/javascript">							
			if ("#{param.tabid}" =="")
				configTabView.select(0);
			else
				configTabView.select(#{param.tabid});
		</script>

	</ui:define>
</ui:composition>