<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:parts="http://java.sun.com/jsf/composite/parts"
	template="/templates/master.xhtml">

	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['template.title']}          
	</ui:define>

	<ui:define name="pageTitle">
		#{msg['template.title']}
	</ui:define>

	<f:metadata>
		<f:viewParam name="priority" value="#{templateController.priority}" />
		<f:viewParam name="selectedTemplate"
			value="#{templateController.selectedTemplate}" />
		<f:viewParam name="selectedTemplate"
			value="#{templateController.oldTemplate}" />
	</f:metadata>

	<ui:define name="content">
		<script type="text/javascript"
			src="#{request.contextPath}/resources/scripts/plugins/jqplot.dateAxisRenderer.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
		<style type="text/css">
.alarm-red {
	background: red;
}

.alarm-white {
	background: white;
}

.alarm-orange {
	background: orange;
}

.expanded_content {
	padding: 0.7em 0.7em 0.7em 0.7em;
}

.detail_grid {
	min-width: 90%;
}

th.light-color {
	background: #97AC8F !important;
}

.ui-datatable .ui-state-highlight {
	color: blue;
}

.ui-datatable .ui-state-hover {
	background: transparent;
	color: blue;
}

.col1-class {
	width: 140px;
}

.col2-class {
	width: 140px;
}

.checkbox_grid {
	vertical-align: top;
	width: 200px;
}
</style>

		<h:form id="mainForm">
			<p:growl id="growl" showDetail="true" globalOnly="false"
				autoUpdate="true" />
			<p:layout style="height:780px;margin-right: 2px;" id="layout">
				<p:layoutUnit position="west" collapsible="true"
					header="#{msg['template.layout.left.title']}"
					styleClass="transparent">
					<p:outputPanel id="pnlBrowse">
						<p:panel>
							<p:treeTable id="template_tbl_id" widgetVar="template_tbl"
								value="#{templateController.root}" var="entity"
								selectionMode="single"
								selection="#{templateController.selectedNode}">
								<p:ajax event="select"
									listener="#{templateController.onNodeSelected}" update="@form" />
								<p:column style="white-space:nowrap; width:200px">
									<f:facet name="header">
										<h:outputText value="#{msg['general.name']}"
											style="float:left" />
										<p:commandLink style="float:right"
											title="#{msg['general.delete']}" process="@this"
											styleClass="ui-icon ui-icon-trash"
											oncomplete="deleteTemplate_dlg.show()"
											rendered="#{UserBean.accessLevel == 'WRITE'}" />
										<ui:remove>
											<p:commandLink style="float:right"
												title="#{msg['general.add']}" process="@this"
												styleClass="ui-icon ui-icon-plus"
												action="#{templateController.prepareAddTemplate()}"
												update=":mainForm:pnl_holder"
												rendered="#{UserBean.accessLevel == 'WRITE'}" />

										</ui:remove>
									</f:facet>
									<h:outputText value="#{entity.label}" />
								</p:column>
							</p:treeTable>
						</p:panel>
					</p:outputPanel>

				</p:layoutUnit>
				<p:layoutUnit position="center"
					header="#{msg['template.layout.center.title']}"
					styleClass="transparent" size="2000px" id="centerLayout">
					<p:outputPanel id="pnl_holder">
						<p:panel id="detail_pnl">
							<h:outputText value="#{msg['template.selectTemplatePrompt']}"
								rendered="#{empty templateController.template}" />
							<p:outputPanel rendered="#{! empty templateController.template}">
								<p:panelGrid columns="2">
									<p:outputLabel for="template_name"
										value="#{msg['general.name']}" />
									<p:inputText id="template_name"
										value="#{templateController.template.name}" required="true"
										requiredMessage="#{msg['general.namePrompt']}">
										<p:ajax process="template_name" />
									</p:inputText>
									<p:outputLabel for="template_vlabel"
										value="#{msg['template.vlabel']}" />
									<p:inputText id="template_vlabel"
										value="#{templateController.template.verticalLabel}">
										<p:ajax update=":mainForm:graph_holder" />
									</p:inputText>
									<p:outputLabel for="template_enabled"
										value="#{msg['general.enabled']}" />
									<p:selectBooleanCheckbox id="template_enabled"
										value="#{templateController.template.enabled}" />
									<h:outputText value="#{msg['appkpi.viewTimeRange']}" />
									<p:outputPanel>
										<p:inputText value="#{templateController.template.timeRange}"
											style="width:50px; vertical-align:middle;">
											<p:ajax update=":mainForm:graph_holder" />
										</p:inputText>
										<p:selectOneMenu
											value="#{templateController.template.timeRangeType}"
											style="vertical-align:middle;">
											<p:ajax update=":mainForm:graph_holder" />
											<f:selectItem itemLabel="#{msg['general.second']}"
												itemValue="SECOND" />
											<f:selectItem itemLabel="#{msg['general.minute']}"
												itemValue="MINUTE" />
											<f:selectItem itemLabel="#{msg['general.hour']}"
												itemValue="HOUR" />
											<f:selectItem itemLabel="#{msg['general.day']}"
												itemValue="DAY" />
											<f:selectItem itemLabel="#{msg['general.week']}"
												itemValue="WEEK" />
											<f:selectItem itemLabel="#{msg['general.month']}"
												itemValue="MONTH" />
											<f:selectItem itemLabel="#{msg['general.year']}"
												itemValue="YEAR" />
										</p:selectOneMenu>
									</p:outputPanel>
								</p:panelGrid>
								<p />
								<p:outputPanel id="checkbox_holder">
									<h:panelGrid columns="3"
										columnClasses="checkbox_grid,checkbox_grid,checkbox_grid">
										<p:panel>
											<f:facet name="header">
												<h:outputText value="#{msg['rrd.def']}" />
												<!-- 												
												<p:commandButton style="height:16px; float:right" id="dataDefinitionBtn"
													icon="ui-icon-gear"
													action="#{templateController.redirectDataDefinition()}"
													rendered="#{UserBean.accessLevel=='WRITE'}" />
 -->
											</f:facet>
											<p:selectManyMenu showCheckbox="true"
												value="#{templateController.selectedDef}"
												rendered="#{! empty templateController.defList}"
												style="width:200px" layout="pageDirection">
												<f:selectItems value="#{templateController.defList}" />
												<p:ajax update="checkbox_holder" />
											</p:selectManyMenu>
										</p:panel>
										<p:panel header="#{msg['rrd.ds']}">
											<h:outputText value="#{msg['template.selectDefPrompt']}"
												rendered="#{empty templateController.dsList}" />
											<p:selectManyMenu showCheckbox="true"
												value="#{templateController.selectedDs}"
												rendered="#{! empty templateController.dsList}"
												style="width:250px" layout="pageDirection">
												<f:selectItems value="#{templateController.dsList}" />
												<p:ajax />
											</p:selectManyMenu>
										</p:panel>
										<p:panel header="#{msg['rrd.archive']}">
											<h:outputText value="#{msg['template.selectDefPrompt']}"
												rendered="#{empty templateController.archiveList}" />
											<p:selectManyMenu showCheckbox="true"
												value="#{templateController.selectedArchive}"
												rendered="#{! empty templateController.archiveList}"
												style="width:280px" layout="pageDirection">
												<f:selectItems value="#{templateController.archiveList}" />
												<p:ajax />
											</p:selectManyMenu>
										</p:panel>
									</h:panelGrid>
								</p:outputPanel>
								<p:commandButton id="saveBtn" icon="ui-icon-check"
									value="#{msg['general.save']}" onclick="submit"
									action="#{templateController.saveTemplate()}" />
								<p:commandButton id="previewBtn" icon="ui-icon-search"
									value="#{msg['template.preview']}" onclick="submit"
									action="#{templateController.preview()}"
									process="@this, detail_pnl" ajax="false"
									update="graph_holder, :mainForm:template_name" />
								<p:outputPanel id="graph_holder">
									<h:outputText value="#{msg['template.data.unavailable']}"
										rendered="#{templateController.showGraph and templateController.graph.series.size()==0}" />
									<p:lineChart id="custom_graph"
										value="#{templateController.graph}" legendPosition="e"
										style="height:300px; width:90%"
										extender="#{templateController.template.extender}"
										showMarkers="false" shadow="false" zoom="true"
										widgetVar="custom_graph_wv"
										rendered="#{templateController.showGraph and templateController.graph.series.size()>0}">
									</p:lineChart>
									<ui:include src="/resources/scripts/customChart.xhtml">
										<ui:param name="title"
											value="#{templateController.template.name}" />
										<ui:param name="extender"
											value="#{templateController.template.extender}" />
										<ui:param name="start"
											value="#{templateController.template.start}" />
										<ui:param name="vLabel"
											value="#{templateController.template.verticalLabel}" />
									</ui:include>
								</p:outputPanel>
							</p:outputPanel>
						</p:panel>

					</p:outputPanel>
				</p:layoutUnit>

			</p:layout>
			<p:outputPanel id="dlg_holder">
				<p:confirmDialog id="deleteTemplate_dlg_id" modal="true"
					message="#{msg['template.delete.message']}"
					header="#{msg['template.delete.header']}" severity="alert"
					widgetVar="deleteTemplate_dlg">
					<p:commandButton id="deleteTemplate_confirm"
						value="#{msg['general.yes']}" update="@form"
						oncomplete="deleteTemplate_dlg.hide()"
						action="#{templateController.deleteTemplate}" process="@this" />
					<p:commandButton id="deleteTemplate_decline"
						value="#{msg['general.no']}" onclick="deleteTemplate_dlg.hide()"
						type="button" />
				</p:confirmDialog>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>