<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/master.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">
	<ui:define name="toptoolsbar" />
	<ui:define name="content">

		<h:form>
			<h:panelGrid columns="2" cellpadding="5" styleClass="center" style="width: 700px">
				<h:panelGroup layout="block">
					<h:outputText value="#{msg.errPage_notAuthorizedHeader}" style="font-size: x-large" />
					<br />
					<br />
					<h:outputText value="#{msg.errPage_notAuthorizedMessage}" />
					<br />
				</h:panelGroup>
				<h:panelGroup>
					<h:graphicImage library="images" name="emblem-readonly-2.png" />
				</h:panelGroup>
			</h:panelGrid>
		</h:form>

	</ui:define>
</ui:composition>
