<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
   	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:parts="http://java.sun.com/jsf/composite/parts"
    template="/templates/master.xhtml">   
	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['history.title']}
	</ui:define>		
	<ui:define name="pageTitle">
		#{msg['history.title']}
	</ui:define>		
	
	<ui:define name="content">	
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.dateAxisRenderer.js"></script>
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
		<h:form id="mainForm">
			<p:layout style="height:750px;margin-right: 2px;" id="layout">
				<p:layoutUnit position="west" collapsible="true" 
				header="#{msg['history.search.option.title']}" styleClass="transparent">  		       
					
					<p:panel id="pnlBrowse">
						<parts:entitySelector />
						<p:separator id="separator"/>				
						<p:panelGrid columns="2" style="width: 100%">
							<f:facet name="header">#{msg['history.search.title']}</f:facet>
							
							<h:outputText value="#{msg['general.from']}" />
							<p:calendar value="#{historyController.searchFrom}" pattern="yyyy/MM/dd HH:mm:ss">
								<p:ajax event="dateSelect" listener="#{historyController.onDateSelect}" />  
							</p:calendar>
							<h:outputText value="#{msg['general.to']}" />
							<p:calendar value="#{historyController.searchTo}" pattern="yyyy/MM/dd HH:mm:ss">
								<p:ajax event="dateSelect" listener="#{historyController.onDateSelect}" />
							</p:calendar>
							
							<f:facet name="footer">
								<p:commandButton value="#{msg['general.refresh']}" actionListener="#{historyController.refresh}" 
										update="dataTabView" />
							</f:facet>
						</p:panelGrid>						
					</p:panel>		
				</p:layoutUnit>  
				<p:layoutUnit position="center" styleClass="transparent">  
					<p:tabView id="dataTabView" activeIndex="#{historyController.activeTab}" dynamic="true">
						<p:ajax event="tabChange" listener="#{historyController.onTabChange}"
								update="tblEvtLog" />
						
						<p:tab title="#{msg['history.eventLog']}">
							<p:dataTable id="tblEvtLog" value="#{historyController.eventLogs}" var="entry"
									paginator="true" rows="50"
									paginatorPosition="bottom"
									paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
									sortBy="#{entry.eventTime}" sortOrder="DESCENDING">
								<p:column sortBy="#{entry.eventTime}" style="white-space:nowrap">
									<f:facet name="header">#{msg['history.header.time']}</f:facet>
									<h:outputText value="#{entry.eventTime}" />
								</p:column>
								<p:column sortBy="#{entry.severity}" filterBy="#{entry.severity}"
										filterOptions="historyController.severityOptions">
									<f:facet name="header">#{msg['history.header.severity']}</f:facet>
									<h:outputText value="#{entry.severity}" styleClass="#{historyController.getStatusCssClass(entry.severity)}"/>
								</p:column>
								<p:column>
									<f:facet name="header">#{msg['history.header.type']}</f:facet>
									<h:outputText value="#{entry.sourceType}" />
								</p:column>
								<p:column sortBy="#{entry.source}" filterBy="#{entry.source}">
									<f:facet name="header">#{msg['history.header.source']}</f:facet>
									<h:outputText value="#{entry.source}" />
								</p:column>
								<p:column>
									<f:facet name="header">#{msg['history.header.details']}</f:facet>
									<h:outputText value="#{entry.details}" />
								</p:column>
							</p:dataTable>
						</p:tab>

						<p:tab title="#{msg['history.stats']}">
							<h:outputText value="Select a Host or Process to view its stats"
									rendered="#{historyController.selectedEntityType != 'HOST' and historyController.selectedEntityType != 'PROCESS'}"/>
							<h:panelGroup id="pnlHostStats" layout="block" 
									rendered="#{historyController.selectedEntityType == 'HOST'}">
								<p:dataTable id="tblCpuStats" value="#{historyController.hostStats}" var="stats"
										paginator="true" rows="50" paginatorPosition="bottom"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
										style="overflow: auto;" sortBy="#{stats.ts}" sortOrder="DESCENDING">
									<f:facet name="header">CPU Usage stats</f:facet>
									<p:column style="white-space:nowrap"
										sortBy="#{stats.ts}">
										<f:facet name="header">Timestamp</f:facet>
										<h:outputText value="#{stats.ts}" />
									</p:column>
									<p:columns value="#{historyController.cpuStatsCols}" var="column" columnIndexVar="colIndex">
										<f:facet name="header">
											#{column.header}
										</f:facet>
										<h:outputText value="#{((stats[column.statsType])[column.index])[column.statsField]}">
											<f:convertNumber maxFractionDigits="3" />
										</h:outputText>
									</p:columns>
								</p:dataTable>
								<br />
								<p:dataTable id="tblMemStats" value="#{historyController.hostStats}" var="stats"
										paginator="true" rows="50" paginatorPosition="bottom"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
										style="overflow: auto;" sortBy="#{stats.ts}" sortOrder="DESCENDING">
									<f:facet name="header">Memory Stats</f:facet>
									<p:column style="white-space:nowrap"
										sortBy="#{stats.ts}">
										<f:facet name="header">Timestamp</f:facet>
										<h:outputText value="#{stats.ts}" />
									</p:column>
									<p:columns value="#{historyController.memStatsCols}" var="column" columnIndexVar="colIndex">
										<f:facet name="header">
											#{column.header}
										</f:facet>
										<h:outputText value="#{((stats[column.statsType])[column.index])[column.statsField]}">
											<f:convertNumber maxFractionDigits="3" />
										</h:outputText>
									</p:columns>
								</p:dataTable>
								<br />
								<p:dataTable id="tblDiskStats" value="#{historyController.hostStats}" var="stats"
										paginator="true" rows="50" paginatorPosition="bottom"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
										style="overflow: auto;" sortBy="#{stats.ts}" sortOrder="DESCENDING">
									<f:facet name="header">Disk Stats</f:facet>
									<p:column style="white-space:nowrap"
										sortBy="#{stats.ts}">
										<f:facet name="header">Timestamp</f:facet>
										<h:outputText value="#{stats.ts}" />
									</p:column>
									<p:columns value="#{historyController.diskStatsCols}" var="column" columnIndexVar="colIndex">
										<f:facet name="header">
											#{column.header}
										</f:facet>
										<h:outputText value="#{((stats[column.statsType])[column.index])[column.statsField]}">
											<f:convertNumber maxFractionDigits="3" />
										</h:outputText>
									</p:columns>
								</p:dataTable>
								<br />
								<p:dataTable id="tblInetStats" value="#{historyController.hostStats}" var="stats"
										paginator="true" rows="50" paginatorPosition="bottom"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
										style="overflow: auto;" sortBy="#{stats.ts}" sortOrder="DESCENDING">
									<f:facet name="header">Inet Stats (kbps)</f:facet>
									<p:column style="white-space:nowrap"
										sortBy="#{stats.ts}">
										<f:facet name="header">Timestamp</f:facet>
										<h:outputText value="#{stats.ts}" />
									</p:column>
									<p:columns value="#{historyController.inetStatsCols}" var="column" columnIndexVar="colIndex">
										<f:facet name="header">
											#{column.header}
										</f:facet>
										<h:outputText value="#{((stats[column.statsType])[column.index])[column.statsField]}">
											<f:convertNumber maxFractionDigits="3" />
										</h:outputText>
									</p:columns>
								</p:dataTable>
							</h:panelGroup>
							
							<h:panelGroup id="pnlProcStats" layout="block" 
									rendered="#{historyController.selectedEntityType == 'PROCESS'}">
								<p:dataTable id="tblProcStats" value="#{historyController.procStats}" var="stats"
										paginator="true" rows="50" paginatorPosition="bottom"
										paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
										style="overflow: auto;" sortBy="#{stats.ts}" sortOrder="DESCENDING">
									<f:facet name="header">Process stats</f:facet>
									
									<p:column style="white-space:nowrap"
										sortBy="#{stats.ts}">
										<f:facet name="header">Timestamp</f:facet>
										<h:outputText value="#{stats.ts}" />
									</p:column>
									<p:column>
										<f:facet name="header">CPU usage</f:facet>
										<h:outputText value="#{stats.cpu}" />
									</p:column>
									<p:column>
										<f:facet name="header">Memory Usage</f:facet>
										<h:outputText value="#{stats.mem}" />
									</p:column>
								</p:dataTable>
							</h:panelGroup>
						</p:tab>

					</p:tabView>
				</p:layoutUnit>  
			</p:layout>	
		</h:form>
	</ui:define>
</ui:composition>