<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
   	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:parts="http://java.sun.com/jsf/composite/parts"
    template="/templates/master.xhtml">
   
<ui:define name="title"> 
	#{msg['main.title']} - #{msg['history.title']}          
</ui:define>

<ui:define name="pageTitle">
	#{msg['history.title']}
</ui:define>	
	
<ui:define name="content">
	<style type="text/css">
		.alarm-red {
			background: red;
		}
		.alarm-white {
			background: white;
		}
		.alarm-orange {
			background: orange;
		}	
		.expanded_content {
	 		padding:0.7em 0.7em 0.7em 0.7em;
	 	}
	 	.detail_grid {
	 		min-width:90%;
	 	}
		th.light-color {
			background: #97AC8F !important;
		}	
		.ui-datatable .ui-state-highlight {
		    color: blue;
		}
		.ui-datatable .ui-state-hover {
			background: transparent;
		    color: blue;
		}
		.text-red {
			color: red;
		}
		.text-green {
			color: green;
		}
		.text-orange {
			color: orange;
		}
		
	</style>
				
	<h:form id="alarmForm">
		<p:growl id="growl" globalOnly="false" />
		<p:layout style="height:750px;margin-right: 2px;" id="layout">  
		    <p:layoutUnit position="west" collapsible="true" 
		    header="#{msg['alarm.search.option.title']}" styleClass="transparent">  	
		    	
				<p:panel id="pnlBrowse" >	       
					<parts:entitySelector />
					<p:separator id="separator"/>				
					<p:panelGrid columns="2" style="width: 100%" >  
					    <f:facet name="header">  
					        #{msg['alarm.search.by.time.title']}  
					    </f:facet>  	
					    				  
					    <h:outputLabel value="#{msg['general.from']}" />  
					    <p:calendar value="#{alarmHistoryController.timeFrom}" pattern="#{sessionBean.webDateFormat}" id="timeFromCal" >
					    	<p:ajax event="dateSelect" listener="#{alarmHistoryController.onDateSelect}" />
					    </p:calendar>
			            <h:outputLabel value="#{msg['general.to']}" />  
					    <p:calendar value="#{alarmHistoryController.timeTo}" pattern="#{sessionBean.webDateFormat}" id="timeToCal" >
			            	<p:ajax event="dateSelect" listener="#{alarmHistoryController.onDateSelect}" />		    
			            </p:calendar>	
					    <f:facet name="footer">  
					        <p:commandButton type="submit" value="#{msg['general.search']}" icon="ui-icon-check" style="margin:0" action="#{alarmHistoryController.search}" update="tblAlarm"/>
					        <p:commandButton type="submit" value="#{msg['general.refresh']}" icon="ui-icon-arrowrefresh-1-s" style="margin:0 position:absolute right:0px" action="alarm?faces-redirect=true"/>    
					    </f:facet>  
					</p:panelGrid>
					
				</p:panel>				 
		    </p:layoutUnit>  
		  
		    <p:layoutUnit position="center" header="Event History" 
		    styleClass="transparent" size="2000px">  
		    	<p:panel>
			    	<p:dataTable id="tblAlarm" widgetVar="alarmTable" sortBy="#{entity.time}" sortOrder="DESCENDING"
			    			 value="#{alarmHistoryController.lazyDataModel}" var="entity" emptyMessage="#{msg['alarm.empty.record']}"
			    			 rowStyleClass="#{alarmHistoryController.getAlarmColor(entity)}"
			    			 paginator="true" rows="#{alarmHistoryController.rowNumber}"  
                			 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                			 rowsPerPageTemplate="20,50,100" draggableColumns="true" lazy="true"
                			 editable="false"
                			 selection="#{alarmHistoryController.selectedAlarms}" >
                		<f:facet name="header">     
                			<h:outputText value="Details" /> 
                		</f:facet>	 
                		<!--  <p:ajax event="rowSelect" listener="#{alarmHistoryController.onRowSelect}" update=":alarmForm:dlg_holder" oncomplete="alarmDialog.show()" process="@this"/>-->	 
			    		<p:ajax event="rowEdit" listener="#{alarmHistoryController.onEdit}" update=":alarmForm:growl" />
			    		<!--  <p:column>
							<f:facet name="header">Details</f:facet>							 
						</p:column> -->						
			    		<p:column styleClass="alarm-white" style="width:23px"> 
				            <p:rowToggler rendered="true"/> 
				        </p:column>			    				    		
			    		<p:column sortBy="#{entity.time}" styleClass="alarm-white" style="white-space:nowrap">
							<f:facet name="header">#{msg['alarm.header.time']}</f:facet>
							<h:outputText value="#{entity.time}" >
								<f:convertDateTime pattern="#{sessionBean.webDateFormat}" />  
							</h:outputText>	
						</p:column>
						<p:column filterBy="#{entity.source}" styleClass="alarm-white">
							<f:facet name="header">#{msg['alarm.header.source']}</f:facet>
							<h:outputText value="#{entity.displayableSource}" />
						</p:column>
						<p:column sortBy="#{entity.trapAlarmLevel}" filterBy="#{entry.trapAlarmLevel}">
							<f:facet name="header">#{msg['alarm.header.alarmlevel']}</f:facet>
							<h:outputText value="#{entity.trapAlarmLevel}" />
						</p:column >
 						<!--<p:column styleClass="alarm-white">
							<f:facet name="header">#{msg['alarm.header.alarmid']}</f:facet>
							<h:outputText value="#{entity.trapAlarmId}" />
						</p:column> -->
						<p:column filterBy="#{entity.trapName}" styleClass="alarm-white">
							<f:facet name="header">#{msg['alarm.header.trapname']}</f:facet>
							<h:outputText id="trapName" value="#{entity.trapName}" />
							<p:tooltip for="trapName" value="#{entity.oid}">
								<p:panelGrid columns="2">
									<h:outputLabel value="OID:" />
									<h:outputText value="#{entity.oid}" />
									<h:outputLabel value="Desc:" />
									<h:outputText value="#{entity.trapDescription}" />
								</p:panelGrid>
							</p:tooltip>
						</p:column >
						<p:column filterBy="#{entity.trapAppName}" styleClass="alarm-white">
							<f:facet name="header">#{msg['alarm.header.appname']}</f:facet>
							<h:outputText value="#{entity.trapAppName}" />
						</p:column>
						<p:column styleClass="alarm-white">
							<f:facet name="header">#{msg['alarm.header.alarmdesc']}</f:facet>
							<h:outputText value="#{entity.alarmDescription}" />
						</p:column>
						<p:rowExpansion style="background-color:white;">
					 		<p:dataTable  styleClass="expanded_content" id="variableTbl" value="#{entity.listVariables}" var="variable">
				 				<p:column styleClass="light-color">
									<f:facet name="header">Original OID</f:facet>
									<h:outputText value="#{variable.oid}"/>
								</p:column>
								<p:column styleClass="light-color">
									<f:facet name="header">Mapped Trap Name</f:facet>
									<h:outputText value="#{variable.mappedOid}"/>
								</p:column>
								<p:column styleClass="light-color">
									<f:facet name="header">Value</f:facet>
									<h:outputText value="#{variable.value}"/>
								</p:column>		
					 		</p:dataTable>
					 	</p:rowExpansion>
			    	</p:dataTable>
		    	</p:panel>
		    	<!-- 
		    	<p:outputPanel id="dlg_holder">
			    	<p:dialog header="Alarm Detail" widgetVar="alarmDialog" resizable="false">  
				        <p:dataTable  styleClass="expanded_content" id="varTbl" value="#{alarmHistoryController.selectedAlarm.listVariables}" var="variable"
				        rendered="#{alarmHistoryController.selectedAlarm!=null}">
			 				<p:column styleClass="light-color">
								<f:facet name="header">Original OID</f:facet>
								<h:outputText value="#{variable.oid}"/>
							</p:column>
			 				<p:column styleClass="light-color">
								<f:facet name="header">Mapped Trap Name</f:facet>
								<h:outputText value="#{variable.mappedOid}"/>
							</p:column>
							<p:column styleClass="light-color">
								<f:facet name="header">Value</f:facet>
								<h:outputText value="#{variable.value}"/>
							</p:column>		
				 		</p:dataTable>
				    </p:dialog>
			    </p:outputPanel>
			     -->
		    </p:layoutUnit>  
		</p:layout>		
	</h:form>
</ui:define>
</ui:composition>