<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
   	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:parts="http://java.sun.com/jsf/composite/parts"
    template="/templates/master.xhtml">
   
<ui:define name="title"> 
	#{msg['main.title']} - #{msg['oid.correspondent.title']}          
</ui:define>

<ui:define name="pageTitle">
	#{msg['oid.correspondent.title']}
</ui:define>	
	
<ui:define name="content">
	<style type="text/css">
		.alarm-red {
			background: red;
		}
		.alarm-white {
			background: white;
		}
		.alarm-orange {
			background: orange;
		}	
		.expanded_content {
	 		padding:0.7em 0.7em 0.7em 0.7em;
	 	}
	 	.detail_grid {
	 		min-width:90%;
	 	}
		th.light-color {
			background: #97AC8F !important;
		}	
		.ui-datatable .ui-state-highlight {
		    color: blue;
		}
		.ui-datatable .ui-state-hover {
			background: transparent;
		    color: blue;
		}
	</style>
				
	<h:form id="mainForm">
		<p:growl id="growl" globalOnly="false" />	
		
		
		
			
		<p:panel>
			<p:dataTable id="oidRuleTbl" widgetVar="tbl" 
	    			 value="#{oidRuleController.oidRuleList}" var="entity" emptyMessage="#{msg['alarm.empty.record']}"
	    			 paginator="true"
	       			 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
	       			 rowsPerPageTemplate="20,50,100">	        	
	    		
	    		<p:column style="width:42px">  
	    			<f:facet name="header">
	    				<p:commandLink style="float:right" title="New Rule"
							styleClass="ui-icon ui-icon-plusthick"
							process="@this"
							oncomplete="newOidRule_dlg.show(); return false;"
							update=":mainForm:dlg_holder" />
					</f:facet>
		            <p:commandLink style="float:right" title="Delete"
							styleClass="ui-icon ui-icon-trash"
							process="@this"
							action="#{oidRuleController.deleteRule(entity)}"
							update="oidRuleTbl" />
					<p:commandLink style="float:right" title="Edit"
							styleClass="ui-icon ui-icon-pencil"
							process="@this"
							oncomplete="editOidRule_dlg.show(); return false;"
							action="#{oidRuleController.setDummyRule(entity)}"
							update=":mainForm:dlg_holder" /> 		  
		        </p:column>
	    		<p:column headerText="Original OID" sortBy="#{entity.key}">  
		            <h:outputText value="#{entity.key}" />  
		        </p:column>			    		
	    		<p:column headerText="Mapped OID" sortBy="#{entity.value}">  
		            <h:outputText value="#{entity.value}" />  
		        </p:column>	
				<p:column sortBy="#{entity.trapName}">
					<f:facet name="header">Mapped Trap Name</f:facet>
					<h:outputText value="#{entity.trapName}" />
				</p:column>
				<p:column headerText="Comment">  
		            <h:outputText value="#{entity.comment}" />  
		        </p:column>	
	    	</p:dataTable>		
		</p:panel>
		 
		<p:outputPanel id="dlg_holder">
	    	<p:dialog header="New Rule" id="newOidRule_id" widgetVar="newOidRule_dlg" resizable="false">  
		        <h:panelGrid columns="2" style="margin-bottom:10px">
					<h:outputLabel for="newOidRule_key" value="Original OID:" />
					<p:inputText id="newOidRule_key"
						value="#{oidRuleController.rule.key}" />
					<h:outputLabel for="newOidRule_value" value="Mapped OID:" />
					<p:inputText id="newOidRule_value"
						value="#{oidRuleController.rule.value}" />
					<h:outputLabel for="newOidRule_comment" value="Comment:" />
					<p:inputText id="newOidRule_comment"
						value="#{oidRuleController.rule.comment}" />
				</h:panelGrid>
				<p:commandButton id="newOidRuleSubmitBtn" value="Submit"
					action="#{oidRuleController.addRule}" update="@form"
					process="@this, newOidRule_id"
					oncomplete="newOidRule_dlg.hide();" />
		    </p:dialog>
		    <p:dialog header="Edit Rule" id="editOidRule_id" widgetVar="editOidRule_dlg" resizable="false">  
		        <h:panelGrid columns="2" style="margin-bottom:10px">
					<h:outputLabel for="editOidRule_key" value="Original OID:" />
					<p:inputText id="editOidRule_key"
						value="#{oidRuleController.dummyRule.key}" />
					<h:outputLabel for="editOidRule_value" value="Mapped OID:" />
					<p:inputText id="editOidRule_value"
						value="#{oidRuleController.dummyRule.value}" />
					<h:outputLabel for="editOidRule_comment" value="Comment:" />
					<p:inputText id="editOidRule_comment"
						value="#{oidRuleController.dummyRule.comment}" />
				</h:panelGrid>
				<p:commandButton id="editOidRuleSubmitBtn" value="Submit"
					action="#{oidRuleController.editRule}" update="@form"
					process="@this, editOidRule_id"
					oncomplete="editOidRule_dlg.hide();" />
		    </p:dialog>
	    </p:outputPanel>
	</h:form>
</ui:define>
</ui:composition>