<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	
	template="/templates/master.xhtml">
	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['statistics.title']}
	</ui:define>
	<ui:define name="pageTitle">
		#{msg['statistics.title']}
	</ui:define>

	<ui:define name="content">
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.dateAxisRenderer.js"></script>
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
		<script type="text/javascript" src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
		<h:form id="mainForm">
			
			<p:layout style="height:750px;margin-right: 2px;" id="layout">
				
				<p:layoutUnit position="west" collapsible="true"
					header="#{msg['history.search.option.title']}"
					styleClass="transparent">
					
					<p:panel id="pnlBrowse">
						<p:treeTable id="tblSys" widgetVar="systemTable"
							value="#{statisticsViewer.entityRoot}" var="entity"
							selectionMode="multiple"
							selection="#{statisticsViewer.selectedNodes}">
							<p:ajax event="select"
								listener="#{statisticsViewer.onEntitySelect}"
								update=":mainForm:dataTabView" process="@this" />
							<p:column>
								<f:facet name="header">#{msg['entityselector.name']}</f:facet>
								<h:outputText value="#{entity.name}" />
							</p:column>
							<p:column>
								<f:facet name="header">#{msg['entityselector.type']}</f:facet>
								<h:outputText value="#{entity.entityType}" />
							</p:column>
						</p:treeTable>
						<p:separator id="separator" />
						<p:panelGrid columns="2" style="width: 100%"
							id="calendar_input_grid">
							<f:facet name="header">#{msg['history.search.title']}</f:facet>

							<h:outputText value="#{msg['general.from']}" />
							<p:calendar value="#{statisticsViewer.searchFrom}"
								pattern="yyyy/MM/dd HH:mm:ss">
							</p:calendar>
							<h:outputText value="#{msg['general.to']}" />
							<p:calendar value="#{statisticsViewer.searchTo}"
								pattern="yyyy/MM/dd HH:mm:ss">
							</p:calendar>
							<f:facet name="footer">
								<p:commandButton value="#{msg['general.search']}"
									action="#{statisticsViewer.searchStat}"
									process="calendar_input_grid, @this"
									update=":mainForm:dlg_holder"
									oncomplete="custom_stat_dlg.show(); return false;" />
								<p:commandButton value="#{msg['general.refresh']}"
									update="dataTabView" />
							</f:facet>
						</p:panelGrid>
					</p:panel>
				</p:layoutUnit>
				<p:layoutUnit position="center" styleClass="transparent">
					<p:tabView id="dataTabView"
						activeIndex="#{statisticsViewer.activeTab}" dynamic="true">
						<p:ajax event="tabChange" update="cpu, mem, disk, inet" />
						<p:tab title="CPU">
							<h:outputText value="Select a Host or Process to view its stats"
								rendered="#{!statisticsViewer.statAvailable}" />
							<p:panel id="cpu" header="CPU"
								rendered="#{statisticsViewer.statAvailable}">
								<p:lineChart id="cpu_hour"
									value="#{statisticsViewer.cpuModel.hour}" legendPosition="e"
									title="Hourly Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_cpuhour() {								      
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="cpu_day"
									value="#{statisticsViewer.cpuModel.day}" legendPosition="e"
									title="Daily Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_cpu_day() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="cpu_week"
									value="#{statisticsViewer.cpuModel.week}" legendPosition="e"
									title="Weekly Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_cpu_week() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="cpu_month"
									value="#{statisticsViewer.cpuModel.month}" legendPosition="e"
									title="Monthly Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_cpu_month() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
							</p:panel>

						</p:tab>
						<p:tab title="Memory">
							<h:outputText value="Select a Host or Process to view its stats"
								rendered="#{!statisticsViewer.statAvailable}" />
							<p:panel id="mem" header="Memory"
								rendered="#{statisticsViewer.statAvailable}">
								<p:lineChart id="mem_hour"
									value="#{statisticsViewer.memModel.hour}" legendPosition="e"
									title="Hourly Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_mem_hour() {
								      this.cfg.axes = {
							    		  xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         		},	
								          yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="mem_day"
									value="#{statisticsViewer.memModel.day}" legendPosition="e"
									title="Daily Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_mem_day() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="mem_week"
									value="#{statisticsViewer.memModel.week}" legendPosition="e"
									title="Weekly Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_mem_week() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="mem_month"
									value="#{statisticsViewer.memModel.month}" legendPosition="e"
									title="Monthly Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_mem_month() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
							</p:panel>
						</p:tab>
						<p:tab title="Disk">
							<h:outputText value="Select a Host or Process to view its stats"
								rendered="#{!statisticsViewer.statAvailable}" />
							<h:outputText value="Selected host(s) currently have no available statistics"
								rendered="#{statisticsViewer.statAvailable and !statisticsViewer.diskModelDisplayable}" />	
							<p:panel id="disk" header="Disk"
								rendered="#{statisticsViewer.statAvailable and statisticsViewer.diskModelDisplayable}">
								<p:lineChart id="disk_hour"
									value="#{statisticsViewer.diskModel.hour}" legendPosition="e"
									title="Hourly Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_disk_hour() {
								      this.cfg.axes = {
							    		  xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         		},	
								          yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="disk_day"
									value="#{statisticsViewer.diskModel.day}" legendPosition="e"
									title="Daily Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_disk_day() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="disk_week"
									value="#{statisticsViewer.diskModel.week}" legendPosition="e"
									title="Weekly Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_disk_week() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="disk_month"
									value="#{statisticsViewer.diskModel.month}" legendPosition="e"
									title="Monthly Statistics" style="height:300px;" showMarkers="false">
								</p:lineChart>
								<script type="text/javascript">
								function ext_disk_month() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
							</p:panel>
						</p:tab>
						<p:tab title="Network Interface">
							<h:outputText value="Select a Host or Process to view its stats"
								rendered="#{!statisticsViewer.statAvailable}" />
							<h:outputText value="Selected host(s) currently have no available statistics"
								rendered="#{statisticsViewer.statAvailable and !statisticsViewer.inetModelDisplayable}" />	
							<p:panel id="inet" header="Network Interface"
								rendered="#{statisticsViewer.statAvailable and statisticsViewer.inetModelDisplayable}">
								<p:lineChart id="inet_hour"
									value="#{statisticsViewer.inetModel.hour}" legendPosition="e" showMarkers="false"
									title="Hourly Statistics">
								</p:lineChart>
								<script type="text/javascript">
								function ext_inet_hour() {
								      this.cfg.axes = {
							    		  xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								   				min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         		},	
								          yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="inet_day"
									value="#{statisticsViewer.inetModel.day}" legendPosition="e" showMarkers="false"
									title="Daily Statistics" style="height:300px;">
								</p:lineChart>
								<script type="text/javascript">
								function ext_inet_day() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="inet_week" 
									value="#{statisticsViewer.inetModel.week}" legendPosition="e" showMarkers="false"
									title="Weekly Statistics" style="height:300px;">
								</p:lineChart>
								<script type="text/javascript">
								function ext_inet_week() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
								<p:lineChart id="inet_month"
									value="#{statisticsViewer.inetModel.month}" legendPosition="e" showMarkers="false"
									title="Monthly Statistics" style="height:300px;">
								</p:lineChart>
								<script type="text/javascript">
								function ext_inet_month() {
								      this.cfg.axes = {
								          xaxis:{
								        	  	label:'Time',
								        	  	renderer:$.jqplot.DateAxisRenderer,
								        	  	min: #{statisticsViewer.hourStart},
								        	 	rendererOptions:{tickRenderer:$.jqplot.CanvasAxisTickRenderer},
								                tickOptions:{ formatString:'%d/%m/%Y', fontSize:'8pt' }
								         	},	
								         	yaxis:{
								        	  	label:'Percentage (%)',
								        	  	labelRenderer: $.jqplot.CanvasAxisLabelRenderer
								         	}
								      };
								      this.cfg.seriesDefaults = {		
								          showMarker: false,	  
								          markerOptions: {
								              show: false,
								              size: 1
								          }
								      }
								   }
								</script>
							</p:panel>
						</p:tab>
					</p:tabView>
				</p:layoutUnit>
			</p:layout>
			<p:outputPanel id="dlg_holder" style="width:100%">
				<p:dialog id="custom_stat_dlg_id" widgetVar="custom_stat_dlg"
					style="width:700px" rendered="#{statisticsViewer.hostSelected}"
					header="#{statisticsViewer.statDlgHeader}">
					<p:lineChart id="cpu_custom"
						value="#{statisticsViewer.cpuModel.custom}" legendPosition="e"
						title="CPU" style="height:300px; width:100%" showMarkers="false">
					</p:lineChart>
					
					<p:lineChart id="mem_custom"
						value="#{statisticsViewer.memModel.custom}" legendPosition="e"
						title="Memory" style="height:300px; width:100%" showMarkers="false">
					</p:lineChart>
					<p:lineChart id="disk_custom"
						value="#{statisticsViewer.diskModel.custom}" legendPosition="e"
						title="Disks" style="height:300px; width:100%" showMarkers="false">
					</p:lineChart>
					<p:lineChart id="inet_custom"
						value="#{statisticsViewer.inetModel.custom}" legendPosition="e"
						title="Network Interfaces" style="height:300px; width:100%" showMarkers="false">
					</p:lineChart>
				</p:dialog>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>