<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/templates/master.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	
	<ui:define name="title">
		#{msg['main.title']} - #{msg['header.change_password']}
	</ui:define>

	<ui:define name="pageTitle">
		#{msg['header.change_password']}
	</ui:define>	

	<ui:define name="content">
		<p:growl id="growl" showDetail="true" globalOnly="false" autoUpdate="true"/>	
				
		<h:form id="mainForm">
			
			<p:panelGrid columns="2">
				<h:outputText value="#{msg['privilege.password.current']}:" />
				<p:password
					value="#{passwordController.passwordCurrent}" redisplay="true">
					
				</p:password>
				
				<h:outputText value="#{msg['privilege.password']}:" />
				<p:password id="password1"
					value="#{passwordController.password}" redisplay="true">
					
				</p:password>
					
				<h:outputText value="#{msg['privilege.password.reenter']}:" />
				<p:password id="password2"
					value="#{passwordController.passwordReenter}" redisplay="true">
					
				</p:password>
					
				<f:facet name="footer">  
			        <p:commandButton type="submit" value="#{msg['general.save']}" icon="ui-icon-check" 
			        style="margin:0" action="#{passwordController.changePassword}" update="@form"/>			           
			    </f:facet>	
			</p:panelGrid>	
			
		</h:form>

<script type="text/javascript">
PrimeFaces.validator['custom.PasswordCheck'] = {

		pattern : /^(?=.*[0-9]).{8,}$/,

		validate : function(element, value) {
			// use element.data() to access validation metadata, in this case there
			// is none.
			if (!this.pattern.test(value)) {
				throw {
					summary : 'Validation Error',
					detail : 'Not a valid password.'
				}
			}
		}
	};
</script>
		
	</ui:define>

</ui:composition>

