<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/master.xhtml">


	<ui:define name="title"> 
		#{msg['main.title']} - #{msg['monitor.title']}      
  </ui:define>

	<ui:define name="pageTitle">
		Dashboard
	</ui:define>

	<ui:define name="content">
		<style type="text/css">
.ui-dashboard-column {
	width: 33%;
	float: left;
	margin-left: 4px;
}

.dashboard-panel {
	overflow: hidden;
}

.align-center {
	margin-left: auto;
	margin-right: auto;
}

.panel-header {
	float: right;
	margin-top: -0.2em;
}
</style>
		<script>
  	var intId = null;
	function alarmOn() {
		
		var alarmObj = document.getElementById("alarm");

		if(alarmObj.paused){
			alarmObj.currentTime = 0;
			alarmObj.play();
		}
		
		if(document.getElementById("alarm_qt").innerHTML==''){
			document.getElementById("alarm_qt").innerHTML='<embed src="#{resource['media:alarm.mp3']}" type="audio/mpeg" hidden="true" repeat="true" playcount="true" autostart="true" loop="true"></embed>';
		}

		if (intId==null) {
			intId = setInterval(function() {
				$('#alarm_highlight').show('highlight',{color: '#FF0000'},'fast');
			}, 2000);
		}
	}
	function alarmOff() {
		var alarmObj = document.getElementById('alarm');
		if(typeof alarmObj.paused != 'undefined'){
			document.getElementById('alarm').pause();
		}
		
		if(document.getElementById('alarm_qt').innerHTML!=''){
			document.getElementById('alarm_qt').innerHTML='';
		}
		
		if(intId!=null){
			clearInterval(intId);
			intId=null;
		}
	}
		</script>
		<script type="text/javascript"
			src="#{request.contextPath}/resources/scripts/plugins/jqplot.dateAxisRenderer.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
		<script type="text/javascript"
			src="#{request.contextPath}/resources/scripts/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>

		<p:dialog widgetVar="dlg" showEffect="fade" modal="true"
			header="#{msg['statistics.viewAsPng']}" resizable="false">
			<p:outputPanel id="output" layout="block"
				style="width:500px;height:300px" />
		</p:dialog>

		<script type="text/javascript">
		
		function exportChart(chartVarName) {
				
	    //export image
	    if (chartVarName == "chart1")
	    	$('#output').empty().append(chart1.exportAsImage());
	    else if (chartVarName == "chart2")
	    	$('#output').empty().append(chart2.exportAsImage());
	    else if (chartVarName == "chart3")
	    	$('#output').empty().append(chart3.exportAsImage());
	    else if (chartVarName == "chart4")
	    	$('#output').empty().append(chart4.exportAsImage());
	    		    		    							 
	    //show the dialog
	    dlg.show();
	    
	  	}
		</script>

		<h:form id="mainForm">

			<p:growl id="growl" redisplay="false" globalOnly="true"
				autoUpdate="true" showDetail="true" showSummary="true" />

			<span id="alarm"></span>

			<h:panelGroup id="pollers">
				<p:poll id="poller" listener="#{monitorController.onPoll}"
					autoStart="#{!monitorController.stopPoll}"
					stop="#{monitorController.stopPoll}"
					update=":mainForm:pnlBrowse,:mainForm:ctxMenus"
					interval="#{monitorController.pollInterval}" />
				<p:poll id="subpoller" listener="#{monitorController.onSubPoll}"
					autoStart="#{!monitorController.stopSubPoll}"
					stop="#{monitorController.stopSubPoll}"
					update=":mainForm:pnlBrowse,:mainForm:ctxMenus,:mainForm:pollers"
					interval="#{monitorController.subPollInterval}" />
			</h:panelGroup>

			<h:panelGroup id="confirmDialogs">
				<p:confirmDialog
					message="#{msg['monitor.tree.ctxmenu.startAll.prompt']} [#{monitorController.selectedSystem.fullName}]?"
					header="#{msg['monitor.tree.ctxmenu.system.start.tooltip']}"
					severity="alert" widgetVar="cdSystemStart">
					<p:commandButton value="#{msg['general.yes']}"
						actionListener="#{monitorController.startSystem}"
						update=":mainForm:pnlBrowse,:mainForm:ctxMenus"
						oncomplete="cdSystemStart.hide()" />
					<p:commandButton value="#{msg['general.no']}"
						onclick="cdSystemStart.hide();" type="button" />
				</p:confirmDialog>

				<p:confirmDialog
					message="#{msg['monitor.tree.ctxmenu.stopAll.prompt']} [#{monitorController.selectedSystem.fullName}]?"
					header="#{msg['monitor.tree.ctxmenu.system.stop.tooltip']}"
					severity="alert" widgetVar="cdSystemStop">
					<p:commandButton value="#{msg['general.yes']}"
						actionListener="#{monitorController.stopSystem}"
						update=":mainForm:pnlBrowse,:mainForm:ctxMenus"
						oncomplete="cdSystemStop.hide()" />
					<p:commandButton value="#{msg['general.no']}"
						onclick="cdSystemStop.hide();" type="button" />
				</p:confirmDialog>

				<p:confirmDialog
					message="#{msg['monitor.tree.ctxmenu.startAll.prompt']} [#{monitorController.selectedHost.fullName}]?"
					header="#{msg['monitor.tree.ctxmenu.host.start.tooltip']}"
					severity="alert" widgetVar="cdHostStart">
					<p:commandButton value="#{msg['general.yes']}"
						actionListener="#{monitorController.startHost}"
						update=":mainForm:pnlBrowse,:mainForm:ctxMenus"
						oncomplete="cdHostStart.hide()" />
					<p:commandButton value="#{msg['general.no']}"
						onclick="cdHostStart.hide();" type="button" />
				</p:confirmDialog>

				<p:confirmDialog
					message="#{msg['monitor.tree.ctxmenu.stopAll.prompt']} [#{monitorController.selectedHost.fullName}]?"
					header="#{msg['monitor.tree.ctxmenu.host.stop.tooltip']}"
					severity="alert" widgetVar="cdHostStop">
					<p:commandButton value="#{msg['general.yes']}"
						actionListener="#{monitorController.stopHost}"
						update=":mainForm:pnlBrowse,:mainForm:ctxMenus"
						oncomplete="cdHostStop.hide()" />
					<p:commandButton value="#{msg['general.no']}"
						onclick="cdHostStop.hide();" type="button" />
				</p:confirmDialog>

				<p:confirmDialog
					message="#{msg['monitor.tree.ctxmenu.start.prompt']} [#{monitorController.selectedProcess.fullName}]?"
					header="#{msg['monitor.tree.ctxmenu.process.start.tooltip']}"
					severity="alert" widgetVar="cdProcessStart">
					<p:commandButton value="#{msg['general.yes']}"
						actionListener="#{monitorController.startProcess}"
						update=":mainForm:pnlBrowse,:mainForm:ctxMenus"
						oncomplete="cdProcessStart.hide()" />
					<p:commandButton value="#{msg['general.no']}"
						onclick="cdProcessStart.hide();" type="button" />
				</p:confirmDialog>

				<p:confirmDialog
					message="#{msg['monitor.tree.ctxmenu.stop.prompt']} [#{monitorController.selectedProcess.fullName}]?"
					header="#{msg['monitor.tree.ctxmenu.process.stop.tooltip']}"
					severity="alert" widgetVar="cdProcessStop">
					<p:commandButton value="#{msg['general.yes']}"
						actionListener="#{monitorController.stopProcess}"
						update=":mainForm:pnlBrowse,:mainForm:ctxMenus"
						oncomplete="cdProcessStop.hide()" />
					<p:commandButton value="#{msg['general.no']}"
						onclick="cdProcessStop.hide();" type="button" />
				</p:confirmDialog>
			</h:panelGroup>

			<h:panelGroup id="ctxMenus">
				<p:contextMenu for="tblSys" nodeType="SYSTEM">
					<p:menuitem
						value="#{msg['monitor.tree.ctxmenu.system.start.label']}"
						icon="ui-icon-play"
						title="#{msg['monitor.tree.ctxmenu.system.start.tooltip']}"
						onclick="cdSystemStart.show()"
						rendered="#{UserBean.accessLevel=='WRITE'}" />
					<p:menuitem
						value="#{msg['monitor.tree.ctxmenu.system.stop.label']}"
						icon="ui-icon-stop"
						title="#{msg['monitor.tree.ctxmenu.system.stop.tooltip']}"
						onclick="cdSystemStop.show()"
						rendered="#{UserBean.accessLevel=='WRITE'}" />
				</p:contextMenu>

				<p:contextMenu for="tblSys" nodeType="HOST">
					<p:menuitem value="#{msg['monitor.tree.ctxmenu.host.start.label']}"
						icon="ui-icon-play"
						title="#{msg['monitor.tree.ctxmenu.host.start.tooltip']}"
						onclick="cdHostStart.show()"
						rendered="#{UserBean.accessLevel=='WRITE'}" />
					<p:menuitem value="#{msg['monitor.tree.ctxmenu.host.stop.label']}"
						icon="ui-icon-stop"
						title="#{msg['monitor.tree.ctxmenu.host.stop.tooltip']}"
						onclick="cdHostStop.show()"
						rendered="#{UserBean.accessLevel=='WRITE'}" />
				</p:contextMenu>

				<p:contextMenu for="tblSys" nodeType="PROCESS">
					<p:menuitem
						value="#{msg['monitor.tree.ctxmenu.process.start.label']}"
						icon="ui-icon-play"
						title="#{msg['monitor.tree.ctxmenu.process.start.tooltip']}"
						onclick="cdProcessStart.show()"
						rendered="#{UserBean.accessLevel=='WRITE'}" />
					<p:menuitem
						value="#{msg['monitor.tree.ctxmenu.process.stop.label']}"
						icon="ui-icon-stop"
						title="#{msg['monitor.tree.ctxmenu.process.stop.tooltip']}"
						onclick="cdProcessStop.show()"
						rendered="#{UserBean.accessLevel=='WRITE'}" />
				</p:contextMenu>
<!-- 
				<p:contextMenu for="graph_a_holder">
					<p:menuitem value="#{msg['template.config']}" icon="ui-icon-gear"
						action="#{monitorController.redirectNewTemplateConfig(1)}"
						rendered="#{UserBean.accessLevel=='WRITE'}" />
				</p:contextMenu>

				<p:contextMenu for="graph_b_holder">
					<p:menuitem value="#{msg['template.config']}" icon="ui-icon-gear"
						action="#{monitorController.redirectNewTemplateConfig(2)}"
						rendered="#{UserBean.accessLevel=='WRITE'}" />
				</p:contextMenu>

				<p:contextMenu for="graph_c_holder">
					<p:menuitem value="#{msg['template.config']}" icon="ui-icon-gear"
						action="#{monitorController.redirectNewTemplateConfig(3)}"
						rendered="#{UserBean.accessLevel=='WRITE'}" />
				</p:contextMenu>

				<p:contextMenu for="graph_d_holder">
					<p:menuitem value="#{msg['template.config']}" icon="ui-icon-gear"
						action="#{monitorController.redirectNewTemplateConfig(4)}"
						rendered="#{UserBean.accessLevel=='WRITE'}" />
				</p:contextMenu>

				<p:contextMenu for="custom_graph_a"
					rendered="#{(UserBean.accessLevel=='WRITE')
							and(monitorController.graphOne!=null)}">
					<p:menuitem value="#{msg['template.config']}" icon="ui-icon-gear"
						action="#{monitorController.redirectTemplateConfig(monitorController.template1, 1)}" />
					<p:menuitem value="#{msg['statistics.viewAsPng']}"
						icon="ui-icon-extlink" onclick="exportChart('chart1')" />
				</p:contextMenu>

				<p:contextMenu for="custom_graph_b"
					rendered="#{(UserBean.accessLevel=='WRITE')
							and(monitorController.graphTwo!=null)}">
					<p:menuitem value="#{msg['template.config']}" icon="ui-icon-gear"
						action="#{monitorController.redirectTemplateConfig(monitorController.template2, 2)}" />
					<p:menuitem value="#{msg['statistics.viewAsPng']}"
						icon="ui-icon-extlink" onclick="exportChart('chart2')" />
				</p:contextMenu>

				<p:contextMenu for="custom_graph_c"
					rendered="#{(UserBean.accessLevel=='WRITE')
							and(monitorController.graphThree!=null)}">
					<p:menuitem value="#{msg['template.config']}" icon="ui-icon-gear"
						action="#{monitorController.redirectTemplateConfig(monitorController.template3, 3)}" />
					<p:menuitem value="#{msg['statistics.viewAsPng']}"
						icon="ui-icon-extlink" onclick="exportChart('chart3')" />
				</p:contextMenu>

				<p:contextMenu for="custom_graph_d"
					rendered="#{(UserBean.accessLevel=='WRITE')
							and(monitorController.graphFour!=null)}">
					<p:menuitem value="#{msg['template.config']}" icon="ui-icon-gear"
						action="#{monitorController.redirectTemplateConfig(monitorController.template4, 4)}" />
					<p:menuitem value="#{msg['statistics.viewAsPng']}"
						icon="ui-icon-extlink" onclick="exportChart('chart4')" />
				</p:contextMenu>
  -->				
			</h:panelGroup>

			<p:panel>
				<f:facet name="header">
				Dashboard > <h:outputText value="System Performance" />
					<div style="float: right;">
						<h:panelGroup id="audioswitches">
							<p:commandButton style="float:right;height:24px;margin-left:2px;"
								id="audioOnBtn" update=":mainForm:audioswitches"
								icon="ui-icon-volume-on"
								action="#{monitorController.setAudio(false)}"
								rendered="#{monitorController.audio}" />
							<p:commandButton style="float:right;height:24px;margin-left:2px;"
								id="audioOffBtn" update=":mainForm:audioswitches"
								icon="ui-icon-volume-off"
								action="#{monitorController.setAudio(true)}"
								rendered="#{!monitorController.audio}" />
						</h:panelGroup>
						<p:selectOneMenu style="height:22px;margin-left:2px;"
							value="#{monitorController.pollInterval}">
							<p:ajax update="@form" />
							<f:selectItem itemLabel="5s" itemValue="5" />
							<f:selectItem itemLabel="10s" itemValue="10" />
							<f:selectItem itemLabel="30s" itemValue="30" />
							<f:selectItem itemLabel="60s" itemValue="60" />
						</p:selectOneMenu>
						<h:panelGroup id="pollswitches">
							<p:commandButton style="float:right;height:24px;margin-left:2px;"
								id="startBtn" update="@form" icon="ui-icon-play"
								action="#{monitorController.setStopPoll(false)}"
								rendered="#{monitorController.stopPoll}" />
							<p:commandButton style="float:right;height:24px;margin-left:2px;"
								id="stopBtn" update="@form" icon="ui-icon-pause"
								action="#{monitorController.setStopPoll(true)}"
								rendered="#{!monitorController.stopPoll}" />
						</h:panelGroup>
					</div>
				</f:facet>
			</p:panel>
			<p:panel id="pnlBrowse"
				style="min-width:68%;margin-right: 20px; margin-bottom: 0.2em;overflow: auto;height: 400; display: inline-block; vertical-align: top;">
				<p:treeTable id="tblSys" widgetVar="systemTable"
					value="#{monitorController.entityRoot}" var="entity"
					emptyMessage="#{msg['general.nodata']}" selectionMode="single"
					selection="#{monitorController.selectedNode}">
					<p:ajax event="select"
						listener="#{monitorController.onEntitySelect}"
						update=":mainForm:confirmDialogs,:mainForm:pollswitches" />

					<p:column>
						<f:facet name="header">#{msg['monitor.tree.datatable.name.header']}</f:facet>
						<h:outputText value="#{entity.displayableName}" />
					</p:column>
					<p:column>
						<f:facet name="header">#{msg['monitor.tree.datatable.desc.header']}</f:facet>
						<h:outputText value="#{entity.description}" />
					</p:column>
					<p:column>
						<f:facet name="header">#{msg['monitor.tree.datatable.type.header']}</f:facet>
						<h:outputText value="#{entity.entityType}" />
					</p:column>
					<p:column>
						<f:facet name="header">#{msg['monitor.tree.datatable.status.header']}</f:facet>
						<h:outputText value="#{entity.statusText}"
							styleClass="#{monitorController.getStatusCssClass(entity.statusText)}" />
					</p:column>
					<p:column>
						<f:facet name="header">#{msg['monitor.tree.datatable.cpu.header']}</f:facet>
						<h:outputText value="#{entity.currentCpuUsage}">
						</h:outputText>
					</p:column>
					<p:column>
						<f:facet name="header">#{msg['monitor.tree.datatable.memory.header']}</f:facet>
						<h:outputText value="#{entity.currentMemoryUsage}">
						</h:outputText>
					</p:column>
					<p:column>
						<f:facet name="header">#{msg['monitor.tree.datatable.duration.header']}</f:facet>
						<h:outputText value="#{entity.duration}" />
					</p:column>
					<p:column>
						<f:facet name="header">#{msg['monitor.tree.datatable.last_checked.header']}</f:facet>
						<h:outputText value="#{entity.lastChecked}">
							<f:convertDateTime pattern="#{config['web.date.format']}" />
						</h:outputText>
					</p:column>
				</p:treeTable>

				<p:dataTable id="monStatTable"
					var="monstatvar"
					value="#{monStatController.monstats}"
					rendered="true"
					dynamic="true" lazy="true" paginator="false" rows="100"
					paginatorPosition="bottom"
					sortBy="#{monstatvar.mon_time}"
					sortOrder="ASCENDING"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15" loadingMessage="... now loading ..."
					style="clear: both; margin-top: 10px;">

					<f:facet name="header">#{msg['mon_stat.title']}</f:facet>

					<p:column >
						<f:facet name="header">#{msg['mon_stat.server_name']}</f:facet>
						<h:outputText value="#{monstatvar.server_ip}">
						</h:outputText>
					</p:column>					
					
					<p:column >
						<f:facet name="header">#{msg['mon_stat.mon_item_name']}</f:facet>
						<h:outputText value="#{monstatvar.mon_item_name}">
						</h:outputText>
					</p:column>					
					
						<p:column >
						<f:facet name="header">#{msg['mon_stat.status']}</f:facet>
						<h:outputText value="#{monstatvar.status}" styleClass="#{monstatvar.status}" />						
					</p:column>					
					
										
				</p:dataTable>

			</p:panel>

			<!--add here -->

<!-- 
			<p:outputPanel id="graph_a"
				style="margin-top:5px; margin-bottom:10px; min-width:29%; display:inline-block"
				styleClass="dashboard-panel">
				<p:outputPanel id="graph_a_holder"
					style="height:250px; display: flex; justify-content: center; align-items: center;"
					rendered="#{monitorController.graphOne==null}">
					<h4>
						<h:outputText value="#{msg['template.config.hints']}" />
					</h4>
				</p:outputPanel>
				<p:outputPanel id="custom_graph_a"
					rendered="#{monitorController.graphOne!=null}">
					<p:lineChart widgetVar="chart1"
						value="#{monitorController.graphOne}" legendPosition="e"
						style="height:250px;"
						extender="#{monitorController.template1.extender}"
						showMarkers="false" shadow="false" zoom="true"
						rendered="#{monitorController.graphOne.series.size()>0}">
					</p:lineChart>
					<p:outputPanel
						style="height:250px; display: flex; justify-content: center; align-items: center;"
						rendered="#{monitorController.graphOne.series.size()==0}">
						<h4>
							<h:outputText value="#{msg['template.data.unavailable']}" />
						</h4>
					</p:outputPanel>
					<ui:include src="/resources/scripts/customChart.xhtml">
						<ui:param name="title" value="#{monitorController.template1.name}" />
						<ui:param name="extender"
							value="#{monitorController.template1.extender}" />
						<ui:param name="start"
							value="#{monitorController.template1.start}" />
						<ui:param name="vLabel"
							value="#{monitorController.template1.verticalLabel}" />
					</ui:include>
				</p:outputPanel>
			</p:outputPanel>
 
			<p:outputPanel id="graph_holder">
				<p:dashboard model="#{monitorController.dashboard}"
					id="dashboard_id">

					<p:panel id="graph_b" styleClass="dashboard-panel">
						<p:outputPanel id="graph_b_holder"
							style="height:250px; display: flex; justify-content: center; align-items: center;"
							rendered="#{monitorController.graphTwo==null}">
							<h4>
								<h:outputText value="#{msg['template.config.hints']}" />
							</h4>
						</p:outputPanel>
						<p:outputPanel id="custom_graph_b"
							rendered="#{monitorController.graphTwo!=null}">
							<p:lineChart widgetVar="chart2"
								value="#{monitorController.graphTwo}" legendPosition="e"
								style="height:250px;"
								extender="#{monitorController.template2.extender}"
								showMarkers="false" shadow="false" zoom="true"
								rendered="#{monitorController.graphTwo.series.size()>0}">
							</p:lineChart>
							<p:outputPanel
								style="height:250px; display: flex; justify-content: center; align-items: center;"
								rendered="#{monitorController.graphTwo.series.size()==0}">
								<h4>
									<h:outputText value="#{msg['template.data.unavailable']}" />
								</h4>
							</p:outputPanel>
							<ui:include src="/resources/scripts/customChart.xhtml">
								<ui:param name="title"
									value="#{monitorController.template2.name}" />
								<ui:param name="extender"
									value="#{monitorController.template2.extender}" />
								<ui:param name="start"
									value="#{monitorController.template2.start}" />
								<ui:param name="vLabel"
									value="#{monitorController.template2.verticalLabel}" />
							</ui:include>
						</p:outputPanel>
					</p:panel>
					<p:panel id="graph_c" styleClass="dashboard-panel">
						<p:outputPanel id="graph_c_holder"
							style="height:250px; display: flex; justify-content: center; align-items: center;"
							rendered="#{monitorController.graphThree==null}">
							<h4>
								<h:outputText value="#{msg['template.config.hints']}" />
							</h4>
						</p:outputPanel>
						<p:outputPanel id="custom_graph_c"
							rendered="#{monitorController.graphThree!=null}">
							<p:lineChart widgetVar="chart3"
								value="#{monitorController.graphThree}" legendPosition="e"
								style="height:250px;"
								extender="#{monitorController.template3.extender}"
								showMarkers="false" shadow="false" zoom="true"
								rendered="#{monitorController.graphThree.series.size()>0}">
							</p:lineChart>
							<p:outputPanel
								style="height:250px; display: flex; justify-content: center; align-items: center;"
								rendered="#{monitorController.graphThree.series.size()==0}">
								<h4>
									<h:outputText value="#{msg['template.data.unavailable']}" />
								</h4>
							</p:outputPanel>
							<ui:include src="/resources/scripts/customChart.xhtml">
								<ui:param name="title"
									value="#{monitorController.template3.name}" />
								<ui:param name="extender"
									value="#{monitorController.template3.extender}" />
								<ui:param name="start"
									value="#{monitorController.template3.start}" />
								<ui:param name="vLabel"
									value="#{monitorController.template3.verticalLabel}" />
							</ui:include>
						</p:outputPanel>
					</p:panel>
					<p:panel id="graph_d" styleClass="dashboard-panel">
						<p:outputPanel id="graph_d_holder"
							style="height:250px; display: flex; justify-content: center; align-items: center;"
							rendered="#{monitorController.graphFour==null}">
							<h4>
								<h:outputText value="#{msg['template.config.hints']}" />
							</h4>
						</p:outputPanel>
						<p:outputPanel id="custom_graph_d"
							rendered="#{monitorController.graphFour!=null}">
							<p:lineChart widgetVar="chart4"
								value="#{monitorController.graphFour}" legendPosition="e"
								style="height:250px;"
								extender="#{monitorController.template4.extender}"
								showMarkers="false" shadow="false" zoom="true"
								rendered="#{monitorController.graphFour.series.size()>0}">
							</p:lineChart>
							<p:outputPanel
								style="height:250px; display: flex; justify-content: center; align-items: center;"
								rendered="#{monitorController.graphFour.series.size()==0}">
								<h4>
									<h:outputText value="#{msg['template.data.unavailable']}" />
								</h4>
							</p:outputPanel>
							<ui:include src="/resources/scripts/customChart.xhtml">
								<ui:param name="title"
									value="#{monitorController.template4.name}" />
								<ui:param name="extender"
									value="#{monitorController.template4.extender}" />
								<ui:param name="start"
									value="#{monitorController.template4.start}" />
								<ui:param name="vLabel"
									value="#{monitorController.template4.verticalLabel}" />
							</ui:include>
						</p:outputPanel>
					</p:panel>
				</p:dashboard>
			</p:outputPanel>
 -->				
 			
		</h:form>
	</ui:define>
</ui:composition>